<ng-template #innerHtml>
  <ng-container *ngFor="let item of getItemList(); index as i">
    <ng-template #noStrong>
      <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
    </ng-template>
    <li>
          <a *ngIf="item.href"
             [href]="item.href | externalHref" [target]="item.target"
             [class]="['flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', item.classes] | makeHtmlList"
             [ngClass]="{'pointer-events-none': item.disabled}"
             [attr.aria-disabled]="item.disabled ? 'true' : null"
             [attr.tabindex]="item.disabled ? -1 : item.tabindex"
             [attr.id]="getItemId(item, i)"
             [desyAppAccessibility]="item"
             [attr.aria-current]="item.active ? 'page' : item.ariaCurrent ? item.ariaCurrent : null"
             (keydown.arrowUp)="movePrevious($event, i)"
             (keydown.arrowDown)="moveNext($event, i)"
             (click)="onClick($event, item)"
             (keydown.space)="simulateClick($event, item, i)"
             (keydown.enter)="simulateClick($event, item, i)">
             <strong class="font-bold" *ngIf="item.active; else noStrong">
              <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
            </strong>
            <svg *ngIf="item.disabled" viewBox="0 0 140 140" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" class="inline-block align-middle flex-initial ml-sm text-neutral-base fill-current" aria-hidden="true" focusable="false" ><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zM20 70a50 50 0 0174.8-43.4 2.51 2.51 0 011.23 1.84 2.48 2.48 0 01-.71 2.1L30.54 95.32a2.51 2.51 0 01-3.94-.52A49.63 49.63 0 0120 70zm100 0a50 50 0 01-74.8 43.4 2.51 2.51 0 01-1.23-1.84 2.48 2.48 0 01.71-2.1l64.78-64.78a2.51 2.51 0 013.94.52A49.63 49.63 0 01120 70z"/></svg>
          </a>
          <a *ngIf="!item.href"
               [routerLink]="item.routerLink" [fragment]="item.fragment" [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
               [class]="['flex items-center px-base py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', item.classes] | makeHtmlList"
               [ngClass]="{'pointer-events-none': item.disabled}"
               [attr.aria-disabled]="item.disabled ? 'true' : null"
               [attr.tabindex]="item.disabled ? -1 : item.tabindex"
               [attr.id]="getItemId(item, i)"
               [desyAppAccessibility]="item"
               [attr.aria-current]="item.active ? 'page' : item.ariaCurrent ? item.ariaCurrent : null"
               (keydown.arrowUp)="movePrevious($event, i)"
               (keydown.arrowDown)="moveNext($event, i)"
               (click)="onClick($event, item)"
               (keydown.space)="simulateClick($event, item, i)"
               (keydown.enter)="simulateClick($event, item, i)">
               <strong class="font-bold" *ngIf="item.active; else noStrong">
                <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
              </strong>
            <svg *ngIf="item.disabled" viewBox="0 0 140 140" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" class="inline-block align-middle flex-initial ml-sm text-neutral-base fill-current" aria-hidden="true" focusable="false" ><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zM20 70a50 50 0 0174.8-43.4 2.51 2.51 0 011.23 1.84 2.48 2.48 0 01-.71 2.1L30.54 95.32a2.51 2.51 0 01-3.94-.52A49.63 49.63 0 0120 70zm100 0a50 50 0 01-74.8 43.4 2.51 2.51 0 01-1.23-1.84 2.48 2.48 0 01.71-2.1l64.78-64.78a2.51 2.51 0 013.94.52A49.63 49.63 0 01120 70z"/></svg>
          </a>
    </li>
    <li *ngIf="item.divider" class="my-sm border-b border-neutral-base" aria-hidden="true">
        <div class="sr-only">Separador</div>
    </li>
  </ng-container>
</ng-template>


<ul *ngIf="!hasNav; else wrapIntoNav"
    [class]="['text-sm', classes] | makeHtmlList"
    [desyAppAccessibility]="this">
  <ng-container *ngTemplateOutlet="innerHtml"></ng-container>
</ul>
<ng-template #wrapIntoNav>
  <nav [class]="['text-sm', classes] | makeHtmlList"
     [id]="id"
     [desyAppAccessibility]="this">
    <ul>
      <ng-container *ngTemplateOutlet="innerHtml"></ng-container>
    </ul>
  </nav>
</ng-template>
