<div [attr.id]="id ? id : null" [class]="(classes ? 'c-notification ' + classes : type==='success' ? 'c-notification c-notification--success' : type==='alert' ? 'c-notification c-notification--alert' : 'c-notification c-notification--primary') "
     *ngIf="isOpen && !isDismissing"
     @displayNotification
     [desyAppAccessibility]="this">
  <div *ngIf="iconComponent || icon || type" class="h-full mr-base">
    <ng-container *desyCustomInnerContent="{ component: iconComponent, html: icon ? icon.html : null }"></ng-container>
    <ng-container *ngIf="type && !iconComponent && !icon">
      <ng-container [ngSwitch]="getType()">
        <svg *ngSwitchCase="'success'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 text-success-dark" aria-label="Éxito" focusable="false" role="img"><path d="M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z" fill="currentColor"/></svg>
        <svg *ngSwitchCase="'alert'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 text-alert-base" aria-label="Error" focusable="false" role="img"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>
        <svg *ngSwitchCase="'info'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 text-primary-base" aria-label="Información" focusable="false" role="img"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>
      </ng-container>
    </ng-container>
  </div>
  <div class="lg:flex flex-1 self-center">
    <div class="lg:flex-1 lg:self-center">
      <ng-container *ngIf="titleComponent || titleNotification" [ngSwitch]="headingLevel">
        <h1 *ngSwitchCase="1" [id]="id ? id + '-titleNotification' : null" tabindex="-1"
            [class]="['font-bold pr-base focus:outline-none focus:underline', titleComponent ? titleComponent.classes : titleNotification.classes] | makeHtmlList">
          <ng-container *desyCustomInnerContent="{
            component: titleComponent,
            html: titleNotification ? titleNotification.html : null,
            text: titleNotification ? titleNotification.text : null
          }"></ng-container>
        </h1>
        <h2 *ngSwitchCase="2" [id]="id ? id + '-titleNotification' : null" tabindex="-1"
            [class]="['font-bold pr-base focus:outline-none focus:underline', titleComponent ? titleComponent.classes : titleNotification.classes] | makeHtmlList">
          <ng-container *desyCustomInnerContent="{
            component: titleComponent,
            html: titleNotification ? titleNotification.html : null,
            text: titleNotification ? titleNotification.text : null
          }"></ng-container>
        </h2>
        <h3 *ngSwitchCase="3" [id]="id ? id + '-titleNotification' : null" tabindex="-1"
            [class]="['font-bold pr-base focus:outline-none focus:underline', titleComponent ? titleComponent.classes : titleNotification.classes] | makeHtmlList">
          <ng-container *desyCustomInnerContent="{
            component: titleComponent,
            html: titleNotification ? titleNotification.html : null,
            text: titleNotification ? titleNotification.text : null
          }"></ng-container>
        </h3>
        <h4 *ngSwitchCase="4" [id]="id ? id + '-titleNotification' : null" tabindex="-1"
            [class]="['font-bold pr-base focus:outline-none focus:underline', titleComponent ? titleComponent.classes : titleNotification.classes] | makeHtmlList">
          <ng-container *desyCustomInnerContent="{
            component: titleComponent,
            html: titleNotification ? titleNotification.html : null,
            text: titleNotification ? titleNotification.text : null
          }"></ng-container>
        </h4>
        <h5 *ngSwitchCase="5" [id]="id ? id + '-titleNotification' : null" tabindex="-1"
            [class]="['font-bold pr-base focus:outline-none focus:underline', titleComponent ? titleComponent.classes : titleNotification.classes] | makeHtmlList">
          <ng-container *desyCustomInnerContent="{
            component: titleComponent,
            html: titleNotification ? titleNotification.html : null,
            text: titleNotification ? titleNotification.text : null
          }"></ng-container>
        </h5>
        <p *ngSwitchDefault [id]="id ? id + '-titleNotification' : null" tabindex="-1"
           [class]="['font-bold pr-base focus:outline-none focus:underline', titleComponent ? titleComponent.classes : titleNotification.classes] | makeHtmlList">
          <ng-container *desyCustomInnerContent="{
            component: titleComponent,
            html: titleNotification ? titleNotification.html : null,
            text: titleNotification ? titleNotification.text : null
          }"></ng-container>
        </p>
      </ng-container>
      <div *ngIf="descriptionComponent || description && description.html" [ngClass]="descriptionComponent?.classes || description?.classes">
        <ng-container *desyCustomInnerContent="{
          component: descriptionComponent,
          html: description ? description.html : null
        }"></ng-container>
      </div>
      <p *ngIf="description && description.text && !description.html && !descriptionComponent" [ngClass]="description?.classes">
        <ng-container *desyCustomInnerContent="{
          text: description ? description.text : null
        }"></ng-container>
      </p>
      <ul *ngIf="(itemCompontents && itemCompontents.length > 0) || items">
        <ng-container *ngFor="let item of getItems(); index as i">
          <li *ngIf="item.routerLink || item.href">
            <a *ngIf="item.routerLink" class="c-link"
               [routerLink]="item.routerLink"
               [fragment]="item.fragment"
               [ngClass]="{'c-link--alert': type==='alert'}"
               [attr.id]="item.id ? item.id : null"
               [desyAppAccessibility]="item">
              <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
            </a>
            <a *ngIf="!item.routerLink && item.href" class="c-link"
               [href]="item.href | externalHref"
               [target]="item.target"
               [ngClass]="{'c-link--alert': type==='alert'}"
               [attr.id]="item.id ? item.id : null"
               [desyAppAccessibility]="item">
              <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
            </a>
          </li>
          <li *ngIf="!item.routerLink && !item.href">
            <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
          </li>
        </ng-container>
      </ul>
      <div *ngIf="contentComponent || content && content.html" [ngClass]="contentComponent?.classes || content?.classes || 'text-sm'">
        <ng-container *desyCustomInnerContent="{
          component: contentComponent,
          html: content ? content.html : null
        }"></ng-container>
      </div>
      <p *ngIf="content && content.text && !content.html && !contentComponent" [ngClass]="content?.classes || 'text-sm'">
        <ng-container *desyCustomInnerContent="{
          text: content ? content.text : null
        }"></ng-container>
      </p>
    </div>
    <ng-container *ngIf="isDismissible">
      <div class="absolute top-0 right-0 p-sm">
        <button (click)="dismiss()" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar notificación" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 pointer-events-none" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>
        </button>
      </div>
    </ng-container>
  </div>
</div>
