<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="InputGroup configurable con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-input-group [id]="id + '-withNgModelContent'"
                  [(ngModel)]="value"
                  [classes]="classes"
                  [formGroupClasses]="formGroupClasses"
                  [namePrefix]="namePrefix" 
                  [role]="role"
                  [ariaLabel]="ariaLabel"
                  [ariaDescribedBy]="ariaDescribedBy"
                  [ariaLabelledBy]="ariaLabelledBy"
                  [ariaHidden]="ariaHidden"
                  [ariaDisabled]="ariaDisabled"
                  [ariaControls]="ariaControls"
                  [ariaCurrent]="ariaCurrent"
                  [ariaLive]="ariaLive"
                  [ariaExpanded]="ariaExpanded"
                  [ariaErrorMessage]="ariaErrorMessage"
                  [ariaHasPopup]="ariaHasPopup"
                  [tabindex]="tabindex">
  <ng-container *ngFor="let item of items">
    <desy-input-group-input *ngIf="!item.isSelect && !item.divider"
                            [id]="item.id"
                            [classes]="item.classes"
                            [name]="item.name"
                            [(value)]="item.value"
                            [formGroupClasses]="item.formGroupClasses"
                            [type]="item.type"
                            [inputmode]="item.inputmode"
                            [autocomplete]="item.autocomplete"
                            [placeholder]="item.placeholder"
                            [pattern]="item.pattern"
                            [maxlength]="item.maxlength"
                            [disabled]="item.disabled"
                            [role]="item.role"
                            [ariaLabel]="item.ariaLabel"
                            [ariaDescribedBy]="item.ariaDescribedBy"
                            [ariaLabelledBy]="item.ariaLabelledBy"
                            [ariaHidden]="item.ariaHidden"
                            [ariaDisabled]="item.ariaDisabled"
                            [ariaControls]="item.ariaControls"
                            [ariaCurrent]="item.ariaCurrent"
                            [ariaLive]="item.ariaLive"
                            [ariaExpanded]="item.ariaExpanded"
                            [ariaErrorMessage]="item.ariaErrorMessage"
                            [ariaHasPopup]="item.ariaHasPopup"
                            [tabindex]="item.tabindex">
      <desy-label [classes]="item?.labelData?.classes">
        <ng-container *appCustomInnerContent="{ html: item?.labelData?.html, text: item?.labelText }"></ng-container>
      </desy-label>
    </desy-input-group-input>
    <desy-input-group-select *ngIf="item.isSelect"
                             [id]="item.id"
                             [classes]="item.classes"
                             [name]="item.name"
                             [(value)]="item.value"
                             [formGroupClasses]="item.formGroupClasses"
                             [disabled]="item.disabled">
      <desy-label>
        <ng-container *appCustomInnerContent="{ html: item?.labelData?.html, text: item?.labelText }"></ng-container>
      </desy-label>
      <desy-option *ngFor="let option of item.selectItems"
                   [value]="option.value"
                   [selected]="option.selected"
                   [disabled]="option.disabled">{{option.text}}</desy-option>
    </desy-input-group-select>
    <desy-input-group-divider *ngIf="!item.isSelect && item.divider"
                              [classes]="item.divider.classes">
      <ng-container *appCustomInnerContent="{ html: item.divider.html, text: item.divider.text }"></ng-container>
    </desy-input-group-divider>
  </ng-container>
  <desy-fieldset [id]="fieldsetData.id"
                 [classes]="fieldsetData.classes"
                 [role]="fieldsetData.role"
                 [ariaLabel]="fieldsetData.ariaLabel"
                 [ariaLabelledBy]="fieldsetData.ariaLabelledBy"
                 [ariaHidden]="fieldsetData.ariaHidden"
                 [ariaDisabled]="fieldsetData.ariaDisabled"
                 [ariaControls]="fieldsetData.ariaControls"
                 [ariaCurrent]="fieldsetData.ariaCurrent"
                 [ariaLive]="fieldsetData.ariaLive"
                 [ariaExpanded]="fieldsetData.ariaExpanded"
                 [ariaHasPopup]="fieldsetData.ariaHasPopup"
                 [tabindex]="fieldsetData.tabindex">
    <desy-legend [classes]="fieldsetData.legend.classes"
                 [isPageHeading]="fieldsetData.legend.isPageHeading">
      <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
    </desy-legend>
  </desy-fieldset>
  <desy-hint [classes]="hintData.classes"
             [role]="hintData.role"
             [ariaLabel]="hintData.ariaLabel"
             [ariaDescribedBy]="hintData.ariaDescribedBy"
             [ariaLabelledBy]="hintData.ariaLabelledBy"
             [ariaHidden]="hintData.ariaHidden"
             [ariaDisabled]="hintData.ariaDisabled"
             [ariaControls]="hintData.ariaControls"
             [ariaCurrent]="hintData.ariaCurrent"
             [ariaLive]="hintData.ariaLive"
             [ariaExpanded]="hintData.ariaExpanded"
             [ariaErrorMessage]="hintData.ariaErrorMessage"
             [ariaHasPopup]="hintData.ariaHasPopup"
             [tabindex]="hintData.tabindex">
    <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
  </desy-hint>
  <desy-error-message *ngIf="!tdFormContent.valid"
                      [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                      [classes]="errorMessageData.classes"
                      [role]="errorMessageData.role"
                      [ariaLabel]="errorMessageData.ariaLabel"
                      [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                      [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                      [ariaHidden]="errorMessageData.ariaHidden"
                      [ariaDisabled]="errorMessageData.ariaDisabled"
                      [ariaControls]="errorMessageData.ariaControls"
                      [ariaCurrent]="errorMessageData.ariaCurrent"
                      [ariaLive]="errorMessageData.ariaLive"
                      [ariaExpanded]="errorMessageData.ariaExpanded"
                      [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                      [ariaHasPopup]="errorMessageData.ariaHasPopup"
                      [tabindex]="errorMessageData.tabindex">
    <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
  </desy-error-message>
</desy-input-group>
<p *ngIf="value">Valor: {{ value | json }}</p>
<app-spaced></app-spaced>

<app-implementation-info info="InputGroup configurable con ngModelGroup"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<form class="form"
      #tdFormContent="ngForm">
  <desy-input-group [id]="id + '-tdDateContent'"
                    ngModelGroup="tdDate"
                    [classes]="classes"
                    [formGroupClasses]="formGroupClasses"
                    [namePrefix]="namePrefix"
                    [role]="role"
                    [ariaLabel]="ariaLabel"
                    [ariaDescribedBy]="ariaDescribedBy"
                    [ariaLabelledBy]="ariaLabelledBy"
                    [ariaHidden]="ariaHidden"
                    [ariaDisabled]="ariaDisabled"
                    [ariaControls]="ariaControls"
                    [ariaCurrent]="ariaCurrent"
                    [ariaLive]="ariaLive"
                    [ariaExpanded]="ariaExpanded"
                    [ariaErrorMessage]="ariaErrorMessage"
                    [ariaHasPopup]="ariaHasPopup"
                    [tabindex]="tabindex">
    <ng-container *ngFor="let item of items">
      <desy-input-group-input *ngIf="!item.isSelect && !item.divider"
                              [id]="item.id"
                              [classes]="item.classes"
                              [name]="item.name"
                              [(value)]="item.value"
                              [formGroupClasses]="item.formGroupClasses"
                              [type]="item.type"
                              [inputmode]="item.inputmode"
                              [autocomplete]="item.autocomplete"
                              [placeholder]="item.placeholder"
                              [pattern]="item.pattern"
                              [maxlength]="item.maxlength"
                              [disabled]="item.disabled"
                              [role]="item.role"
                              [ariaLabel]="item.ariaLabel"
                              [ariaDescribedBy]="item.ariaDescribedBy"
                              [ariaLabelledBy]="item.ariaLabelledBy"
                              [ariaHidden]="item.ariaHidden"
                              [ariaDisabled]="item.ariaDisabled"
                              [ariaControls]="item.ariaControls"
                              [ariaCurrent]="item.ariaCurrent"
                              [ariaLive]="item.ariaLive"
                              [ariaExpanded]="item.ariaExpanded"
                              [ariaErrorMessage]="item.ariaErrorMessage"
                              [ariaHasPopup]="item.ariaHasPopup"
                              [tabindex]="item.tabindex">
        <desy-label [classes]="item?.labelData?.classes">
          <ng-container *appCustomInnerContent="{ html: item?.labelData?.html, text: item?.labelText }"></ng-container>
        </desy-label>
      </desy-input-group-input>
      <desy-input-group-select *ngIf="item.isSelect"
                               [id]="item.id"
                               [classes]="item.classes"
                               [name]="item.name"
                               [(value)]="item.value"
                               [formGroupClasses]="item.formGroupClasses">
        <desy-label>
          <ng-container *appCustomInnerContent="{ html: item?.labelData?.html, text: item?.labelText }"></ng-container>
        </desy-label>
        <desy-option *ngFor="let option of item.selectItems"
                     [value]="option.value"
                     [selected]="option.selected"
                     [disabled]="option.disabled">{{option.text}}</desy-option>
      </desy-input-group-select>
      <desy-input-group-divider *ngIf="!item.isSelect && item.divider"
                                [classes]="item.divider.classes">
        <ng-container *appCustomInnerContent="{ html: item.divider.html, text: item.divider.text }"></ng-container>
      </desy-input-group-divider>
    </ng-container>
    <desy-fieldset [id]="fieldsetData.id"
                   [classes]="fieldsetData.classes"
                   [role]="fieldsetData.role"
                   [ariaLabel]="fieldsetData.ariaLabel"
                   [ariaLabelledBy]="fieldsetData.ariaLabelledBy"
                   [ariaHidden]="fieldsetData.ariaHidden"
                   [ariaDisabled]="fieldsetData.ariaDisabled"
                   [ariaControls]="fieldsetData.ariaControls"
                   [ariaCurrent]="fieldsetData.ariaCurrent"
                   [ariaLive]="fieldsetData.ariaLive"
                   [ariaExpanded]="fieldsetData.ariaExpanded"
                   [ariaHasPopup]="fieldsetData.ariaHasPopup"
                   [tabindex]="fieldsetData.tabindex">
      <desy-legend [classes]="fieldsetData.legend.classes"
                   [isPageHeading]="fieldsetData.legend.isPageHeading">
        <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
      </desy-legend>
    </desy-fieldset>
    <desy-hint [classes]="hintData.classes"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message *ngIf="!tdFormContent.valid"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
  </desy-input-group>
</form>
<p>Valor: {{ tdFormContent.value['tdDate'] | json }}</p>
<desy-button (clickEvent)="tdFormContent.reset(); tdFormContent.form.get('tdDate').setErrors({'reset': true})">Reset</desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="InputGroup configurable con reactiveForm"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<form class="form"
      [formGroup]="formContent">
  <desy-input-group [id]="id + '-withReactiveFormContent'"
                    formGroupName="date"
                    [classes]="classes"
                    [formGroupClasses]="formGroupClasses"
                    [role]="role"
                    [ariaLabel]="ariaLabel"
                    [ariaDescribedBy]="ariaDescribedBy"
                    [ariaLabelledBy]="ariaLabelledBy"
                    [ariaHidden]="ariaHidden"
                    [ariaDisabled]="ariaDisabled"
                    [ariaControls]="ariaControls"
                    [ariaCurrent]="ariaCurrent"
                    [ariaLive]="ariaLive"
                    [ariaExpanded]="ariaExpanded"
                    [ariaErrorMessage]="ariaErrorMessage"
                    [ariaHasPopup]="ariaHasPopup"
                    [tabindex]="tabindex">
    <ng-container *ngFor="let item of items">
      <desy-input-group-input *ngIf="!item.isSelect && !item.divider"
                              [id]="item.id"
                              [classes]="formNumberClassesContent"
                              [name]="item.name"
                              [(value)]="item.value"
                              [formGroupClasses]="item.formGroupClasses"
                              [type]="item.type"
                              [inputmode]="item.inputmode"
                              [autocomplete]="item.autocomplete"
                              [placeholder]="item.placeholder"
                              [pattern]="item.pattern"
                              [maxlength]="item.maxlength"
                              [disabled]="item.disabled"
                              [role]="item.role"
                              [ariaLabel]="item.ariaLabel"
                              [ariaDescribedBy]="item.ariaDescribedBy"
                              [ariaLabelledBy]="item.ariaLabelledBy"
                              [ariaHidden]="item.ariaHidden"
                              [ariaDisabled]="item.ariaDisabled"
                              [ariaControls]="item.ariaControls"
                              [ariaCurrent]="item.ariaCurrent"
                              [ariaLive]="item.ariaLive"
                              [ariaExpanded]="item.ariaExpanded"
                              [ariaErrorMessage]="item.ariaErrorMessage"
                              [ariaHasPopup]="item.ariaHasPopup"
                              [tabindex]="item.tabindex">
        <desy-label [classes]="item?.labelData?.classes">
          <ng-container *appCustomInnerContent="{ html: item?.labelData?.html, text: item?.labelText }"></ng-container>
        </desy-label>
      </desy-input-group-input>
      <desy-input-group-select *ngIf="item.isSelect"
                               [id]="item.id"
                               [classes]="formTypeClassesContent"
                               [name]="item.name"
                               [(value)]="item.value"
                               [formGroupClasses]="item.formGroupClasses">
        <desy-label>
          <ng-container *appCustomInnerContent="{ html: item?.labelData?.html, text: item?.labelText }"></ng-container>
        </desy-label>
        <desy-option *ngFor="let option of item.selectItems"
                     [value]="option.value"
                     [selected]="option.selected"
                     [disabled]="option.disabled">{{option.text}}</desy-option>
      </desy-input-group-select>
      <desy-input-group-divider *ngIf="!item.isSelect && item.divider"
                                [classes]="item.divider.classes">
        <ng-container *appCustomInnerContent="{ html: item.divider.html, text: item.divider.text }"></ng-container>
      </desy-input-group-divider>
    </ng-container>
    <desy-fieldset [id]="fieldsetData.id"
                   [classes]="fieldsetData.classes"
                   [role]="fieldsetData.role"
                   [ariaLabel]="fieldsetData.ariaLabel"
                   [ariaLabelledBy]="fieldsetData.ariaLabelledBy"
                   [ariaHidden]="fieldsetData.ariaHidden"
                   [ariaDisabled]="fieldsetData.ariaDisabled"
                   [ariaControls]="fieldsetData.ariaControls"
                   [ariaCurrent]="fieldsetData.ariaCurrent"
                   [ariaLive]="fieldsetData.ariaLive"
                   [ariaExpanded]="fieldsetData.ariaExpanded"
                   [ariaHasPopup]="fieldsetData.ariaHasPopup"
                   [tabindex]="fieldsetData.tabindex">
      <desy-legend [classes]="fieldsetData.legend.classes"
                   [isPageHeading]="fieldsetData.legend.isPageHeading">
        <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
      </desy-legend>
    </desy-fieldset>
    <desy-hint [classes]="hintData.classes"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message *ngIf="!formContent.valid"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
  </desy-input-group>
</form>
<p>Valor: {{ formContent.controls.date.getRawValue() | json }}</p>
<p>Válido: {{ formContent.valid ? 'Sí' : 'No' }}</p>
<p>Touched: {{formContent.touched}}</p>
<p>Dirty: {{formContent.dirty}}</p>
<desy-button (clickEvent)="formContent.reset()">Reset</desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="InputGroup simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-input-group>
  <desy-input-group-select>
    <desy-label>
      Tipo
    </desy-label>
    <desy-option [value]="1">NIF</desy-option>
    <desy-option [value]="2">Pasaporte</desy-option>
  </desy-input-group-select>
  <desy-input-group-divider classes="mx-base">
    y
  </desy-input-group-divider>
  <desy-input-group-input>
    <desy-label>
      Número
    </desy-label>
  </desy-input-group-input>
  <desy-fieldset>
    <desy-legend>
      Documento
    </desy-legend>
  </desy-fieldset>
  <desy-hint>
    Selecciona un documento
  </desy-hint>
</desy-input-group>
<app-spaced [withBorder]="true"></app-spaced>

<!-- Configuración -->
<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="namePrefix" [(target)]="namePrefix"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..." nameProperty="formGroupClasses" [(target)]="formGroupClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de un ítem (número)"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="input" nameProperty="id" [(target)]="customItem.id"></app-input-text>
        <app-input-text nameComponent="input" nameProperty="value" [(target)]="customItem.value"></app-input-text>
        <app-input-text nameComponent="input" nameProperty="name" [(target)]="customItem.name"></app-input-text>
        <app-input-boolean nameComponent="input" nameProperty="disabled" [(target)]="customItem.disabled"></app-input-boolean>
        <app-input-text nameComponent="labelData" nameProperty="labelData.html" [(target)]="customItem.labelData.html"></app-input-text>
        <app-input-text nameComponent="labelData" nameProperty="labelData.classes" [(target)]="customItem.labelData.classes"></app-input-text>
        <app-input-text nameComponent="input" nameProperty="autocomplete" [(target)]="customItem.autocomplete"></app-input-text>
        <app-input-text nameComponent="input" placeholder="20[0-9]{2}" nameProperty="pattern" [(target)]="customItem.pattern"></app-input-text>
        <app-input-text nameComponent="input" nameProperty="classes" [(target)]="customItem.classes"></app-input-text>
        <app-input-text nameComponent="input" nameProperty="formGroupClasses" [(target)]="customItem.formGroupClasses"></app-input-text>
        <app-input-text nameComponent="input" nameProperty="maxlength" [(target)]="customItem.maxlength"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de de un ítem (número)" id="itemDate"
                            [(role)]="customItem.role"
                            [(ariaLabel)]="customItem.ariaLabel"
                            [(ariaDescribedBy)]="customItem.ariaDescribedBy"
                            [(ariaLabelledBy)]="customItem.ariaLabelledBy"
                            [(ariaHidden)]="customItem.ariaHidden"
                            [(ariaDisabled)]="customItem.ariaDisabled"
                            [(ariaControls)]="customItem.ariaControls"
                            [(ariaCurrent)]="customItem.ariaCurrent"
                            [(ariaLive)]="customItem.ariaLive"
                            [(ariaExpanded)]="customItem.ariaExpanded"
                            [(ariaErrorMessage)]="customItem.ariaErrorMessage"
                            [(ariaHasPopup)]="customItem.ariaHasPopup"
                            [(tabindex)]="customItem.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de fieldset"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="'fieldset'" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="fieldsetData.classes"></app-input-text>
        <app-input-text [nameComponent]="'fieldset'" nameProperty="id" [(target)]="fieldsetData.id"></app-input-text>

        <app-title-params titleparams="Parámetros de legend"></app-title-params>
        <app-input-text [nameComponent]="'legend'" nameProperty="html" [(target)]="fieldsetData.legend.html"></app-input-text>
        <app-input-text [nameComponent]="'legend'" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="fieldsetData.legend.classes"></app-input-text>
        <app-input-boolean [nameComponent]="'legend'" nameProperty="isPageHeading" [(target)]="fieldsetData.legend.isPageHeading"></app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de fieldset" id="fieldset"
                            [(role)]="fieldsetData.role"
                            [(ariaLabel)]="fieldsetData.ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="fieldsetData.ariaLabelledBy"
                            [(ariaHidden)]="fieldsetData.ariaHidden"
                            [(ariaDisabled)]="fieldsetData.ariaDisabled"
                            [(ariaControls)]="fieldsetData.ariaControls"
                            [(ariaCurrent)]="fieldsetData.ariaCurrent"
                            [(ariaLive)]="fieldsetData.ariaLive"
                            [(ariaExpanded)]="fieldsetData.ariaExpanded"
                            [hideAriaErrorMessage]="true"
                            [(ariaHasPopup)]="fieldsetData.ariaHasPopup"
                            [(tabindex)]="fieldsetData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint" nameProperty="html" [(target)]="hintData.html"></app-input-text>
        <app-input-text nameComponent="hint" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="hintData.classes"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="hintData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="errorMessage" nameProperty="html"
                        [(target)]="errorMessageData.html"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText"
                        [(target)]="errorMessageData.visuallyHiddenText"></app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..."
                        nameProperty="classes" [(target)]="errorMessageData.classes"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

</div>
