<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Accordion history con items abiertos por defecto"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-accordion-history [allowMultiple]="true"
                        [headingLevel]="3">
  <desy-accordion-history-item [open]="true">
    <desy-accordion-header>
      Item de acordeón 1
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-history-item>
  <desy-accordion-history-item>
    <desy-accordion-header>
      Item de acordeón 2
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-history-item>
  <desy-accordion-history-item [open]="true">
    <desy-accordion-header>
      Item de acordeón 3
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-history-item>
</desy-accordion-history>
<app-spaced></app-spaced>

<app-implementation-info info="Accordion history con item con css"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-accordion-history classes="px-lg pt-base border-t border-b border-neutral-base"
                        [headingLevel]="3">
  <desy-accordion-header classes="c-h2 mb-lg uppercase">
    Accordion example
  </desy-accordion-header>
  <desy-accordion-history-item>
    <desy-accordion-header>
      Item de acordeón 1
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-history-item>
  <desy-accordion-history-item [open]="true"
                               classes="p-sm bg-primary-light">
    <desy-accordion-header>
      Item de acordeón 2
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-white rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-history-item>
  <desy-accordion-history-item>
    <desy-accordion-header>
      Item de acordeón 3
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-history-item>
</desy-accordion-history>
<app-spaced></app-spaced>

<app-implementation-info info="Accordion history configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-accordion-history [id]="id"
                        [idPrefix]="idPrefix"
                        [showControl]="showControl"
                        [allowMultiple]="allowMultiple"
                        [allowToggle]="allowToggle"
                        [classes]="classes"
                        [headingLevel]="headingLevel"
                        [role]="role"
                        [ariaLabel]="ariaLabel"
                        [ariaDescribedBy]="ariaDescribedBy"
                        [ariaLabelledBy]="ariaLabelledBy"
                        [ariaHidden]="ariaHidden"
                        [ariaDisabled]="ariaDisabled"
                        [ariaControls]="ariaControls"
                        [ariaCurrent]="ariaCurrent"
                        [ariaLive]="ariaLive"
                        [ariaExpanded]="ariaExpanded"
                        [ariaErrorMessage]="ariaErrorMessage"
                        [ariaHasPopup]="ariaHasPopup"
                        [tabindex]="tabindex">
  <desy-accordion-header [classes]="header.classes">
    <ng-container *appCustomInnerContent="{ html: header.html, text: header.text }"></ng-container>
  </desy-accordion-header>
  <desy-accordion-history-item *ngFor="let item of counter(itemsBeforeCustom); index as i"
                               [status]="customItem.status === 'currentmuted' ? 'muted' : ''">
    <desy-accordion-header>Accordion Item {{ i + 1 }}</desy-accordion-header>
    <desy-content>Ejemplo item {{ i + 1 }}. Se muestran con estado muted si el estado del item personalizable es
      currentmuted.</desy-content>
  </desy-accordion-history-item>
  <desy-accordion-history-item [id]="customItem.id"
                               [classes]="customItem.classes"
                               [status]="customItem.status"
                               [disabled]="customItem.disabled"
                               [(open)]="customItem.open"
                               [role]="customItem.role"
                               [ariaLabel]="customItem.ariaLabel"
                               [ariaDescribedBy]="customItem.ariaDescribedBy"
                               [ariaLabelledBy]="customItem.ariaLabelledBy"
                               [ariaHidden]="customItem.ariaHidden"
                               [ariaDisabled]="customItem.ariaDisabled"
                               [ariaControls]="customItem.ariaControls"
                               [ariaCurrent]="customItem.ariaCurrent"
                               [ariaLive]="customItem.ariaLive"
                               [ariaExpanded]="customItem.ariaExpanded"
                               [ariaErrorMessage]="customItem.ariaErrorMessage"
                               [ariaHasPopup]="customItem.ariaHasPopup"
                               [tabindex]="customItem.tabindex">
    <desy-accordion-header>
      <ng-container
                    *appCustomInnerContent="{ html: customItem.headerHtml, text: customItem.headerText }"></ng-container>
    </desy-accordion-header>
    <desy-accordion-item-show-button *ngIf="hasCustomButton('custom-btn-show')"
                                     [classes]="customShowButtonClass">
      <ng-container *appCustomInnerContent="{ html: customShowButton }"></ng-container>
    </desy-accordion-item-show-button>
    <desy-accordion-item-hide-button *ngIf="hasCustomButton('custom-btn-hide')"
                                     [classes]="customHideButtonClass">
      <ng-container *appCustomInnerContent="{ html: customHideButton }"></ng-container>
    </desy-accordion-item-hide-button>
    <desy-content>
      <ng-container *appCustomInnerContent="{ html: customItem.html, text: customItem.text }"></ng-container>
    </desy-content>
  </desy-accordion-history-item>
  <desy-accordion-history-item *ngFor="let item of counter(itemsAfterCustom); index as i"
                               [status]="'pending'">
    <desy-accordion-header>Accordion Item {{ i + itemsBeforeCustom + 1 }}</desy-accordion-header>
    <desy-content>Ejemplo item {{ i + itemsBeforeCustom + 1 }}. Se muestran con estado pending.</desy-content>
  </desy-accordion-history-item>
</desy-accordion-history>

<app-spaced></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de accordion"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="showControl" [(target)]="showControl"></app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="allowMultiple" [(target)]="allowMultiple"></app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="allowToggle" [(target)]="allowToggle"></app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"></app-input-text>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"></app-input-number>
      </div>
    </details>
  </div>

  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>

  <div>
    <app-title-params titleparams="Parámetros de Header"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="header" nameProperty="text" [(target)]="header.text"></app-input-text>
        <app-input-text nameComponent="header" nameProperty="html" [(target)]="header.html"></app-input-text>
        <app-input-text nameComponent="header" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="header.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div></div>

  <div>
    <app-title-params titleparams="Parámetros de AccordionHistoryItem"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="item" nameProperty="headerText" [(target)]="customItem.headerText"></app-input-text>
        <app-input-text nameComponent="item" nameProperty="headerHtml" [(target)]="customItem.headerHtml"></app-input-text><app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="customItem.text"></app-input-text>
        <app-input-text nameComponent="item" nameProperty="status" [(target)]="customItem.status" [placeholder]="'current | pending | muted | currentmuted'"></app-input-text>
        <app-input-boolean nameComponent="item" nameProperty="disabled" [(target)]="customItem.disabled"></app-input-boolean>
        <app-input-text nameComponent="item" nameProperty="html" [(target)]="customItem.html"></app-input-text>
        <app-input-boolean nameComponent="item" nameProperty="open" [(target)]="customItem.open"></app-input-boolean>
        <app-input-text nameComponent="item" nameProperty="Id" [(target)]="customItem.id"></app-input-text>
        <app-input-text nameComponent="item" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="customItem.classes"></app-input-text>
      </div>
      <desy-checkboxes [name]="'itemButtons'" legendText="Incluir botones de Mostrar/Ocultar personalizados"
                       [(ngModel)]="includeCustomButtonsValue"
                       [items]="includeCustomButtons">
        <ng-template desyCondition [item]="includeCustomButtons[0]">
          <app-input-text nameComponent="item-show-button" [nameProperty]="'Texto'" [(target)]="customShowButton"></app-input-text>
          <app-input-text nameComponent="item-show-button" [nameProperty]="'classes'" [(target)]="customShowButtonClass"></app-input-text>
        </ng-template>
        <ng-template desyCondition [item]="includeCustomButtons[1]">
          <app-input-text nameComponent="item-hide-button" [nameProperty]="'Texto'" [(target)]="customHideButton"></app-input-text>
          <app-input-text nameComponent="item-hide-button" [nameProperty]="'classes'" [(target)]="customHideButtonClass"></app-input-text>
        </ng-template>
      </desy-checkboxes>
    </details>
  </div>

  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de accordionitem"
                              [(role)]="customItem.role"
                              [(ariaLabel)]="customItem.ariaLabel"
                              [(ariaDescribedBy)]="customItem.ariaDescribedBy"
                              [(ariaLabelledBy)]="customItem.ariaLabelledBy"
                              [(ariaHidden)]="customItem.ariaHidden"
                              [(ariaDisabled)]="customItem.ariaDisabled"
                              [(ariaControls)]="customItem.ariaControls"
                              [(ariaCurrent)]="customItem.ariaCurrent"
                              [(ariaLive)]="customItem.ariaLive"
                              [(ariaExpanded)]="customItem.ariaExpanded"
                              [(ariaErrorMessage)]="customItem.ariaErrorMessage"
                              [(ariaHasPopup)]="customItem.ariaHasPopup"
                              [(tabindex)]="customItem.tabindex"></app-accessibility-inputs>
  </div>
</div>
