<div *ngIf="tippyProperties" [attr.id]="getIdButton()"
      ngxTippy [tippyProps]="tippyProperties"
      class="inline-flex items-center focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black"
      tabindex="0" role="button"
      [attr.aria-labelledby]="getIdButton() + ' ' + getIdTooltip()">
  <ng-container *desyCustomInnerContent="{ component: contentComponent, html: getMainContent() }"></ng-container>
  <span *ngIf="(iconComponent) || (icon)" class="inline-block w-1.5"></span>
  <span *ngIf="iconComponent" class="inline-block">
    <ng-container *desyCustomInnerContent="{ component: iconComponent }"></ng-container>
      <ng-container [ngSwitch]="iconComponent.type">
        <svg *ngSwitchCase="'info'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Información"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>
        <svg *ngSwitchCase="'alert'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-alert-base" role="img" aria-label="Alerta"><path d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"/></svg>
        <svg *ngSwitchDefault xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-primary-base" role="img" aria-label="Ayuda"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z" fill="currentColor"/></svg>
      </ng-container>
  </span>
  <span *ngIf="!iconComponent && icon" class="inline-block">
    <ng-container *desyCustomInnerContent="{ html: getIconContent(icon) }"></ng-container>
  </span>
</div>

<div #tooltipContent [attr.id]="getIdTooltip()"
      [class]="['-my-xs p-sm shadow-md bg-black rounded text-white text-sm', classesTooltip] | makeHtmlList">
  <ng-container *desyCustomInnerContent="{ component: tooltipContentComponent, template: caller }"></ng-container>
</div>
