<desy-header [id]="'desy-demo-header'"
             [expandedLogo]="true" homepageRouterLink="/"
             [subnavData]="{ text: 'Demo Desy-angular' }"
             [dropdownData]="dropdownData"
             [offcanvasData]="{ text: 'Menu', textClose: 'Cerrar', contentHtml: headerOffCanvasMenu }">
  <ng-template #headerOffCanvasMenu>
    <ul>
      <li>
        <h3 class="p-base text-base font-bold" id="header-offcanvas-menu-title">Componentes</h3>
        <desy-nav [idPrefix]="'nav-components'" [items]="componentList"></desy-nav>
      </li>
      <li>
        <h3 class="p-base pt-xl text-base font-bold">Información adicional</h3>
        <desy-nav classes="bg-warning-light" [idPrefix]="'nav-additional-info'" [items]="[{ text: 'Desy-frontend', href: 'https://desy.aragon.es/', target: '_blank' }]"></desy-nav>
      </li>
    </ul>
  </ng-template>
</desy-header>

<main id="content" class="container mx-auto px-4 sm:px-6 lg:px-8">
    <router-outlet></router-outlet>
</main>

<desy-footer>
  <desy-footer-meta>
    <desy-content>
      Creado por <a href="https://sda.aragon.es/" class="c-link c-link--neutral">SDA Servicios Digitales de Aragón</a>
    </desy-content>
  </desy-footer-meta>
</desy-footer>
