<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Tooltip configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-tooltip [id]="id"
              [classes]='classes'
              [role]="role"
              [complex]="complex"
              [ariaLabel]="ariaLabel"
              [ariaDescribedBy]="ariaDescribedBy"
              [ariaLabelledBy]="ariaLabelledBy"
              [ariaHidden]="ariaHidden"
              [ariaDisabled]="ariaDisabled"
              [ariaControls]="ariaControls"
              [ariaCurrent]="ariaCurrent"
              [ariaLive]="ariaLive"
              [ariaExpanded]="ariaExpanded"
              [ariaErrorMessage]="ariaErrorMessage"
              [ariaHasPopup]="ariaHasPopup"
              [tabindex]="tabindex">
  <desy-content *ngIf="html">
    <ng-container *appCustomInnerContent="{ html: html }"></ng-container>
  </desy-content>
  <desy-icon *ngIf="includeIconVisible.length > 0"
             [type]="icon.type">
             <ng-container *appCustomInnerContent="{ html: icon.html }"></ng-container>
  </desy-icon>
  <desy-tooltip-content>
    <ng-container *appCustomInnerContent="{ html: contentHtml }"></ng-container>
  </desy-tooltip-content>
</desy-tooltip>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tooltip con texto e icon=info "></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-tooltip id="tooltip1">
  <desy-content>Información</desy-content>
  <desy-icon type="info"></desy-icon>
  <desy-tooltip-content>
    <p>Esto es un tooltip</p>
  </desy-tooltip-content>
</desy-tooltip>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tooltip con texto e icon=alert "></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-tooltip id="tooltip2"
              classes="text-alert-base">
  <desy-content>Alerta</desy-content>
  <desy-icon type="alert"></desy-icon>
  <desy-tooltip-content>
    <div class="w-48 p-2">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-40"></div>
    </div>
  </desy-tooltip-content>
</desy-tooltip>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tooltip con texto e icon por defecto"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-tooltip id="tooltip3">
  <desy-content>Pregunta</desy-content>
  <desy-icon></desy-icon>
  <desy-tooltip-content>
    <p>Esto es un tooltip</p>
  </desy-tooltip-content>
</desy-tooltip>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'id'" [(target)]="id"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'complex'" [(target)]="complex"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'classes'" [(target)]="classes"></app-input-text>
      </div>
    </details>
    <app-title-params titleparams="Parámetros del content"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="content" [nameProperty]="'html'" [(target)]="html"></app-input-text>
      </div>
    </details>
    <app-title-params titleparams="Parámetros de icon"></app-title-params>
    <desy-checkboxes [name]="'itemElems'" legendText="Incluir icon"
                     [(ngModel)]="includeIconVisible"
                     [items]="includeIcon">
      <ng-template desyCondition [item]="includeIcon[0]">
        <app-input-text nameComponent="icon" [nameProperty]="'html'" [(target)]="icon.html"></app-input-text>
        <app-input-text nameComponent="icon" [nameProperty]="'type'" [(target)]="icon.type" placeholder="info, alert"></app-input-text>
      </ng-template>
    </desy-checkboxes>
    <app-title-params titleparams="Contenido del tooltip"></app-title-params>
    <app-input-text nameComponent="tooltipComponent" [nameProperty]="'html'"
                    description="Contenido del tooltip"
                    [(target)]="contentHtml"></app-input-text>
  </div>
  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
