<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Searchbar configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<form [formGroup]="form">
  <desy-search-bar [id]="id + '-full'"
                   (clickEvent)="updateClickCountTextForm()"
                   formControlName="valueFormControl"
                   [classes]="classes"
                   [buttonClasses]="buttonClasses"
                   [describedBy]="describedBy"
                   [placeholder]="placeholder"
                   [disabled]="disabled"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
    <desy-button *ngIf="showExternalButton"
                 classes="c-button--primary"
                 (clickEvent)="updateClickCountTextForm()">
                 Buscar
    </desy-button>
    <desy-label *ngIf="labelData.html"
                [classes]="labelData.classes"
                [for]="labelData.for"
                [isPageHeading]="labelData.isPageHeading"
                [id]="labelData.id"
                [role]="labelData.role"
                [ariaLabel]="labelData.ariaLabel"
                [ariaDescribedBy]="labelData.ariaDescribedBy"
                [ariaLabelledBy]="labelData.ariaLabelledBy"
                [ariaHidden]="labelData.ariaHidden"
                [ariaDisabled]="labelData.ariaDisabled"
                [ariaControls]="labelData.ariaControls"
                [ariaCurrent]="labelData.ariaCurrent"
                [ariaLive]="labelData.ariaLive"
                [ariaExpanded]="labelData.ariaExpanded"
                [ariaErrorMessage]="labelData.ariaErrorMessage"
                [ariaHasPopup]="labelData.ariaHasPopup"
                [tabindex]="labelData.tabindex">
      <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
    </desy-label>
    <desy-error-message *ngIf="!form.valid"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [id]="errorMessageData.id"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
  </desy-search-bar>
</form>
<p> Valor: {{form.value.valueFormControl}}</p>
<p>{{clickTextForm}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Searchbar básico con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-search-bar [id]="id"
                 (clickEvent)="updateClickCountText()"
                 [(ngModel)]="value"
                 [classes]="classes"
                 [buttonClasses]="buttonClasses"
                 [describedBy]="describedBy"
                 [placeholder]="placeholder"
                 [disabled]="disabled"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex">
  <desy-button *ngIf="showExternalButton"
               classes="c-button--primary"
               (clickEvent)="updateClickCountText()">Buscar</desy-button>
</desy-search-bar>
<p class="pt-base"> Valor: {{value}}</p>
<p>{{clickText}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Searchbar con label"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-search-bar [id]="id + '-label'"
                 [classes]="classes"
                 [buttonClasses]="buttonClasses"
                 [describedBy]="describedBy"
                 [placeholder]="placeholder"
                 [disabled]="disabled"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex">
  <desy-button *ngIf="showExternalButton"
               classes="c-button--primary">Buscar</desy-button>
  <desy-label>
      Soy un label
  </desy-label>
</desy-search-bar>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Searchbar con errorMessage"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-search-bar [id]="id + '-error'"
                 [classes]="classes"
                 [(ngModel)]="valueError"
                 [buttonClasses]="buttonClasses"
                 [describedBy]="describedBy"
                 [placeholder]="placeholder"
                 [disabled]="disabled"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex">
  <desy-button *ngIf="showExternalButton"
               classes="c-button--alert">Buscar</desy-button>
  <desy-error-message *ngIf="!valueError">Soy obligatorio</desy-error-message>
</desy-search-bar>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="Botón como contenido" description="Incluir botón externo como contenido al componente o utilizar botón por defecto" [(target)]="showExternalButton"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="buttonClasses" [(target)]="buttonClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="placeholder" [(target)]="placeholder"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="disabled" [(target)]="disabled"> </app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [hideAriaErrorMessage]="true"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="label" nameProperty="html" [(target)]="labelData.html"> </app-input-text>
        <app-input-text nameComponent="label" nameProperty="for" [(target)]="labelData.for"> </app-input-text>
        <app-input-text nameComponent="label" placeholder="inline-block bg-warning-light ..." nameProperty="classes" [(target)]="labelData.classes"> </app-input-text>
        <app-input-text nameComponent="label" nameProperty="Id" [(target)]="labelData.id"> </app-input-text>
        <app-input-boolean nameComponent="label" nameProperty="isPageHeading" [(target)]="labelData.isPageHeading"> </app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de label" id="label"
                            [(role)]="labelData.role"
                            [(ariaLabel)]="labelData.ariaLabel"
                            [(ariaDescribedBy)]="labelData.ariaDescribedBy"
                            [(ariaLabelledBy)]="labelData.ariaLabelledBy"
                            [(ariaHidden)]="labelData.ariaHidden"
                            [(ariaDisabled)]="labelData.ariaDisabled"
                            [(ariaControls)]="labelData.ariaControls"
                            [(ariaCurrent)]="labelData.ariaCurrent"
                            [(ariaLive)]="labelData.ariaLive"
                            [(ariaExpanded)]="labelData.ariaExpanded"
                            [(ariaErrorMessage)]="labelData.ariaErrorMessage"
                            [(ariaHasPopup)]="labelData.ariaHasPopup"
                            [(tabindex)]="labelData.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">

        <app-input-text nameComponent="errorMessage" nameProperty="html" [(target)]="errorMessageData.html"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText" [(target)]="errorMessageData.visuallyHiddenText"> </app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="errorMessageData.classes"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="Id" [(target)]="id"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

</div>
