<app-title-demo [name]="nameComponent"></app-title-demo>

<div class="c-form-group md:grid md:grid-cols-2 gap-20 relative">
    
    <div class="lg:sticky self-start top-0 mb-xl">
        <app-implementation-info info="Links-list configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
    
        <desy-links-list [hasNav]="hasNav"
                         [classes]="classes"
                         [idPrefix]="idPrefix"
                         [role]="role"
                         [ariaLabel]="ariaLabel"
                         [ariaDescribedBy]="ariaDescribedBy"
                         [ariaLabelledBy]="ariaLabelledBy"
                         [ariaHidden]="ariaHidden"
                         [ariaDisabled]="ariaDisabled"
                         [ariaControls]="ariaControls"
                         [ariaCurrent]="ariaCurrent"
                         [ariaLive]="ariaLive"
                         [ariaExpanded]="ariaExpanded"
                         [ariaErrorMessage]="ariaErrorMessage"
                         [ariaHasPopup]="ariaHasPopup"
                         [tabindex]="tabindex">
            <desy-links-list-item [href]="'https://aragon.es'"
                                  [disabled]="true">Item con enlace</desy-links-list-item>
            <desy-links-list-item [href]="'https://aragon.es'">Item desactivado</desy-links-list-item>
            <desy-links-list-item [active]="true">Item activo sin enlace</desy-links-list-item>
            <desy-links-list-item [href]="'https://aragon.es'">
                <desy-icon><svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         height="1em"
                         width="1em"
                         class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z"
                              fill="currentColor"></path>
                    </svg></desy-icon>
                Item con icono
            </desy-links-list-item>
            <desy-links-list-item>
            Item con icono personalizado
                <desy-links-icon-right>
                    <svg class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M6.28572 1.71429C6.12793 1.71429 6.00001 1.84221 6.00001 2V3.14286H10V2C10 1.84221 9.87209 1.71429 9.71429 1.71429H6.28572ZM11.7143 3.14286V2C11.7143 0.895431 10.8189 0 9.71429 0H6.28572C5.18115 0 4.28572 0.895431 4.28572 2V3.14286H1.14286C0.669476 3.14286 0.285721 3.52662 0.285721 4C0.285721 4.47338 0.669476 4.85714 1.14286 4.85714H5.14286H10.8572H14.8572C15.3305 4.85714 15.7143 4.47338 15.7143 4C15.7143 3.52662 15.3305 3.14286 14.8572 3.14286H11.7143ZM2.85715 6.28571C2.69243 6.28571 2.53572 6.3568 2.42722 6.48073C2.31872 6.60466 2.26897 6.76939 2.29074 6.93266L3.4336 15.5041C3.47145 15.788 3.71361 16 4.00001 16H12C12.2864 16 12.5286 15.788 12.5664 15.5041L13.7093 6.93266C13.7311 6.76939 13.6813 6.60466 13.5728 6.48073C13.4642 6.3568 13.3076 6.28571 13.1429 6.28571H2.85715Z" fill="currentColor"></path></g></svg>
                </desy-links-icon-right>
            </desy-links-list-item>
            <desy-links-list-item>
                Item con icono type chevron
                    <desy-links-icon-right type="chevron"></desy-links-icon-right>
                </desy-links-list-item>
            <desy-links-list-item [href]="'https://aragon.es'"
                                  [classes]="'flex justify-between items-center py-base text-2xl'">
                <desy-icon><svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         height="1em"
                         width="1em"
                         class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z"
                              fill="currentColor"></path>
                    </svg></desy-icon>
                Item tamaño grande
            </desy-links-list-item>
            <desy-links-list-item [href]="itemHref"
                                  [classes]="itemClasses"
                                  [containerClasses]="itemContainerClasses"
                                  [id]="itemId"
                                  [active]="itemActive"
                                  [disabled]="itemDisabled"
                                  [title]="itemTitle"
                                  [routerLink]="itemRouterLink"
                                  [routerLinkActiveClasses]="itemRouterLinkActiveClasses"
                                  [fragment]="itemFragment"
                                  [target]="itemTarget"
                                  [role]="itemRole"
                                  [ariaLabel]="itemAriaLabel"
                                  [ariaDescribedBy]="itemAriaDescribedBy"
                                  [ariaLabelledBy]="itemAriaLabelledBy"
                                  [ariaHidden]="itemAriaHidden"
                                  [ariaDisabled]="itemAriaDisabled"
                                  [ariaControls]="itemAriaControls"
                                  [ariaCurrent]="itemAriaCurrent"
                                  [ariaLive]="itemAriaLive"
                                  [ariaExpanded]="itemAriaExpanded"
                                  [ariaErrorMessage]="itemAriaErrorMessage"
                                  [ariaHasPopup]="itemAriaHasPopup"
                                  [tabindex]="itemTabindex">
                <desy-icon *ngIf="includeIconValue && includeIconValue.length > 0"
                           [containerClasses]="itemIconContainerClasses">
                    <ng-container *appCustomInnerContent="{html: itemIconContent}"></ng-container>
                </desy-icon>
                <ng-container *appCustomInnerContent="{html: itemContent}"></ng-container>
                <desy-links-list-item-sub *ngIf="includeSubValue && includeSubValue.length > 0"
                                          [classes]="itemSubClasses">
                    <ng-container *appCustomInnerContent="{html: itemSubContent}"></ng-container>
                </desy-links-list-item-sub>
            </desy-links-list-item>
        </desy-links-list>
        <app-spaced></app-spaced>

        <app-implementation-info info="Links-list simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
        <desy-links-list>
            <desy-links-list-item href="#">Item 1</desy-links-list-item>
            <desy-links-list-item href="#">Item 2</desy-links-list-item>
            <desy-links-list-item href="#">Item 3</desy-links-list-item>
        </desy-links-list>
        <app-spaced></app-spaced>

        <app-implementation-info info="Links-list con icono"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
        <desy-links-list>
            <desy-links-list-item href="#">
                Item 1
                <desy-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z" fill="currentColor"></path>
                    </svg>
                </desy-icon>
            </desy-links-list-item>
            <desy-links-list-item href="#">
                Item 2
                <desy-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z" fill="currentColor"></path>
                    </svg>
                </desy-icon>
            </desy-links-list-item>
            <desy-links-list-item href="#">
                Item 3
                <desy-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z" fill="currentColor"></path>
                    </svg>
                </desy-icon>
            </desy-links-list-item>
        </desy-links-list>
        <app-spaced></app-spaced>

        <app-implementation-info info="Links-list con clases de css aplicadas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
        <desy-links-list>
            <desy-links-list-item href="#" classes="flex justify-between items-center py-base text-2xl">
                Item 1
                <desy-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z" fill="currentColor"></path>
                    </svg>
                </desy-icon>
            </desy-links-list-item>
            <desy-links-list-item href="#" classes="flex justify-between items-center py-base text-2xl">
                Item 2
                <desy-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z" fill="currentColor"></path>
                    </svg>
                </desy-icon>
            </desy-links-list-item>
            <desy-links-list-item href="#" classes="flex justify-between items-center py-base text-2xl">
                Item 3
                <desy-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle">
                        <path d="M19.71,20H4.29A2.28,2.28,0,0,1,2,17.71V6.29A2.28,2.28,0,0,1,4.29,4H7.72a2,2,0,0,1,1.44.61l1.19,1.24a.51.51,0,0,0,.36.15H20a2,2,0,0,1,2,2v9.71A2.28,2.28,0,0,1,19.71,20ZM4.29,6A.29.29,0,0,0,4,6.29V17.71a.29.29,0,0,0,.29.29H19.71a.29.29,0,0,0,.29-.29V8.5a.5.5,0,0,0-.5-.5h-9a2,2,0,0,1-1.44-.61L7.87,6.15A.55.55,0,0,0,7.51,6Z" fill="currentColor"></path>
                    </svg>
                </desy-icon>
            </desy-links-list-item>
        </desy-links-list>
        <app-spaced></app-spaced>

        <app-implementation-info info="Links-list con contenido descriptivo en cada item"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
        <desy-links-list>
            <desy-links-list-item href="#">
                Item 1
                <desy-links-list-item-sub>
                    <p>Este es un párrafo explicativo metido con un sub.html dentro del Item</p>
                </desy-links-list-item-sub>
            </desy-links-list-item>
            <desy-links-list-item href="#">
                Item 2
                <desy-links-list-item-sub>
                    <p>Este es un párrafo explicativo metido con un sub.html dentro del Item</p>
                </desy-links-list-item-sub>
            </desy-links-list-item>
            <desy-links-list-item href="#">
                Item 3
                <desy-links-list-item-sub>
                    <p>Este es un párrafo explicativo metido con un sub.html dentro del Item</p>
                </desy-links-list-item-sub>
            </desy-links-list-item>
        </desy-links-list>
        <app-spaced></app-spaced>
    </div>
    <div>
        <desy-tabs>
            <desy-tab-item>
                <desy-content>
                    Componente
                </desy-content>
                <desy-panel>
                    <app-title-params></app-title-params>
                    <app-input-text [nameComponent]="nameComponent" [nameProperty]="'idPrefix'" [(target)]="idPrefix"></app-input-text>
                    <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasNav'" [(target)]="hasNav"> </app-input-boolean>
                    <app-input-text [nameComponent]="nameComponent" [nameProperty]="'classes'" [(target)]="classes"></app-input-text>

                    
                    <app-accessibility-inputs [(role)]="role"
                        [(ariaLabel)]="ariaLabel"
                        [(ariaDescribedBy)]="ariaDescribedBy"
                        [(ariaLabelledBy)]="ariaLabelledBy"
                        [(ariaHidden)]="ariaHidden"
                        [(ariaDisabled)]="ariaDisabled"
                        [(ariaControls)]="ariaControls"
                        [(ariaCurrent)]="ariaCurrent"
                        [(ariaLive)]="ariaLive"
                        [(ariaExpanded)]="ariaExpanded"
                        [(ariaErrorMessage)]="ariaErrorMessage"
                        [(ariaHasPopup)]="ariaHasPopup"
                        [(tabindex)]="tabindex"></app-accessibility-inputs>
                </desy-panel>
            </desy-tab-item>
            <desy-tab-item>
                <desy-content>
                    Item
                </desy-content>
                <desy-panel>
                    <app-title-params  titleparams="Parámetros de un item"></app-title-params>
                    <div class="pb-base">
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'content'" [(target)]="itemContent"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'href'" [(target)]="itemHref"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'routerLink'" [(target)]="itemRouterLink"></app-input-text>
                        <app-input-text nameComponent="itemCustom" nameProperty="routerLinkActiveClasses" [(target)]="itemRouterLinkActiveClasses"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'fragment'" [(target)]="itemFragment"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'target'" [(target)]="itemTarget"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'classes'" [(target)]="itemClasses"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'containerClasses'" [(target)]="itemContainerClasses"></app-input-text>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'id'" [(target)]="itemId"></app-input-text>
                        <app-input-boolean nameComponent="itemCustom" [nameProperty]="'active'" [(target)]="itemActive"> </app-input-boolean>
                        <app-input-boolean nameComponent="itemCustom" [nameProperty]="'disabled'" [(target)]="itemDisabled"> </app-input-boolean>
                        <app-input-text nameComponent="itemCustom" [nameProperty]="'title'" [(target)]="itemTitle"> </app-input-text>
                    </div>
                
                    <desy-checkboxes name="itemIcon" legendText="Incluir icono"
                        [(ngModel)]="includeIconValue"
                        [items]="includeIcon">
                        <ng-template desyCondition [item]="includeIcon[0]">
                            <app-input-text nameComponent="item-icon" [nameProperty]="'containerClasses'" [(target)]="itemIconContainerClasses"></app-input-text>
                            <app-input-text nameComponent="item-icon" [nameProperty]="'content'" [(target)]="itemIconContent"></app-input-text>
                        </ng-template>
                    </desy-checkboxes>
                
                    <desy-checkboxes name="itemSub" legendText="Incluir Sub"
                        [(ngModel)]="includeSubValue"
                        [items]="includeSub">
                        <ng-template desyCondition [item]="includeSub[0]">
                            <app-input-text nameComponent="item-sub" [nameProperty]="'content'" [(target)]="itemSubContent"></app-input-text>
                            <app-input-text nameComponent="item-sub" [nameProperty]="'classes'" [(target)]="itemSubClasses"></app-input-text>
                        </ng-template>
                    </desy-checkboxes>

                    <app-accessibility-inputs title="Parámetros de accesibilidad de un item" [id]="'item'"
                        [(role)]="itemRole"
                        [(ariaLabel)]="itemAriaLabel"
                        [(ariaDescribedBy)]="itemAriaDescribedBy"
                        [(ariaLabelledBy)]="itemAriaLabelledBy"
                        [(ariaHidden)]="itemAriaHidden"
                        [(ariaDisabled)]="itemAriaDisabled"
                        [(ariaControls)]="itemAriaControls"
                        [(ariaCurrent)]="itemAriaCurrent"
                        [(ariaLive)]="itemAriaLive"
                        [(ariaExpanded)]="itemAriaExpanded"
                        [(ariaErrorMessage)]="itemAriaErrorMessage"
                        [(ariaHasPopup)]="itemAriaHasPopup"
                        [(tabindex)]="itemTabindex"></app-accessibility-inputs>
                </desy-panel>
            </desy-tab-item>
        </desy-tabs> 
    </div>
</div>
  