<!-- Divider no forma parte del formulario, por lo que es reutilizable en cualquier caso -->
<ng-template #itemDivider
             let-item="item">
  <div role="separator"
       [ngClass]="item.divider.classes">
    <ng-container
                  *desyCustomInnerContent="{ template: getItemDividerTemplate(item), html: getItemDividerHtml(item) }"></ng-container>
  </div>
</ng-template>

<ng-template #innerHtml>
  <ng-content select="desy-hint"></ng-content>
  <ng-container *ngTemplateOutlet="hintRef"></ng-container>
  <desy-hint *ngIf="!hintRef && hintData"
             [id]="getHintId()"
             [text]="hintData.text"
             [html]="hintData.html"
             [classes]="hintData.classes"
             [role]="hintData.role"
             [ariaLabel]="hintData.ariaLabel"
             [ariaDescribedBy]="hintData.ariaDescribedBy"
             [ariaLabelledBy]="hintData.ariaLabelledBy"
             [ariaHidden]="hintData.ariaHidden"
             [ariaDisabled]="hintData.ariaDisabled"
             [ariaControls]="hintData.ariaControls"
             [ariaCurrent]="hintData.ariaCurrent"
             [ariaLive]="hintData.ariaLive"
             [ariaExpanded]="hintData.ariaExpanded"
             [ariaErrorMessage]="hintData.ariaErrorMessage"
             [ariaHasPopup]="hintData.ariaHasPopup"
             [tabindex]="hintData.tabindex"></desy-hint>
  <desy-hint *ngIf="!hintRef && !hintData && hintText"
             [text]="hintText"
             [id]="getHintId()"></desy-hint>

  <ng-content select="desy-error-message"></ng-content>
  <ng-container *ngTemplateOutlet="errorMessageRef"></ng-container>
  <desy-error-message *ngIf="!errorMessageRef && errorMessageData"
                      [id]="getErrorId()"
                      [text]="errorMessageData.text"
                      [html]="errorMessageData.html"
                      [classes]="errorMessageData.classes"
                      [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                      [role]="errorMessageData.role"
                      [ariaLabel]="errorMessageData.ariaLabel"
                      [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                      [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                      [ariaHidden]="errorMessageData.ariaHidden"
                      [ariaDisabled]="errorMessageData.ariaDisabled"
                      [ariaControls]="errorMessageData.ariaControls"
                      [ariaCurrent]="errorMessageData.ariaCurrent"
                      [ariaLive]="errorMessageData.ariaLive"
                      [ariaExpanded]="errorMessageData.ariaExpanded"
                      [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                      [ariaHasPopup]="errorMessageData.ariaHasPopup"
                      [tabindex]="errorMessageData.tabindex"></desy-error-message>
  <desy-error-message *ngIf="!errorMessageRef && !errorMessageData && errorMessageText"
                      [text]="errorMessageText"
                      [id]="getErrorId()"></desy-error-message>

  <!-- Reactive forms -->
  <div *ngIf="controlContainer && !ngModelGroup"
       [formGroup]="ogFormGroup"
       [ngClass]="classes ? classes : 'flex'"
       [attr.id]="id ? id : null"
       [desyAppAccessibility]="this">

    <ng-container *ngFor="let item of getItems(); index as i">
      <ng-container *ngTemplateOutlet="isSelectItem(item) ? itemSelect : (item.divider ? itemDivider : itemInput); context: {item: item}"></ng-container>
      <ng-template #itemSelect>
        <desy-select [id]="item.id ? item.id : id + '-' + item.name"
                     [labelRef]="getItemLabelRef(item)"
                     [labelData]="getItemLabelData(item)"
                     [classes]="getItemClasses(item)"
                     [formGroupClasses]="item.formGroupClasses"
                     [name]="getItemName(item)"
                     [formControlName]="getItemName(item)"
                     [items]="getItemSelectOptions(item)"
                     [disabled]="item.disabled"
                     [role]="item.role"
                     [ariaLabel]="item.ariaLabel"
                     [ariaDescribedBy]="getItemAriaDescribedBy(item)"
                     [ariaHidden]="item.ariaHidden"
                     [ariaDisabled]="item.ariaDisabled"
                     [ariaControls]="item.ariaControls"
                     [ariaCurrent]="item.ariaCurrent"
                     [ariaLive]="item.ariaLive"
                     [ariaExpanded]="item.ariaExpanded"
                     [ariaErrorMessage]="getErrorId()"
                     [ariaHasPopup]="item.ariaHasPopup"
                     [tabindex]="item.tabindex"
                     [ariaModal]="item.ariaModal"
                     [ariaChecked]="item.ariaChecked"
                     [ariaPressed]="item.ariaPressed"
                     [ariaReadonly]="item.ariaReadonly"
                     [ariaRequired]="item.ariaRequired"
                     [ariaSelected]="item.ariaSelected"
                     [ariaValuemin]="item.ariaValuemin"
                     [ariaValuemax]="item.ariaValuemax"
                     [ariaValuenow]="item.ariaValuenow"
                     [ariaValuetext]="item.ariaValuetext"
                     [ariaOrientation]="item.ariaOrientation"
                     [ariaLevel]="item.ariaLevel"
                     [ariaMultiselectable]="item.ariaMultiselectable"
                     [ariaPlaceholder]="item.ariaPlaceholder"
                     [ariaPosinset]="item.ariaPosinset"
                     [ariaSetsize]="item.ariaSetsize"
                     [ariaSort]="item.ariaSort"
                     [ariaBusy]="item.ariaBusy"
                     [ariaDropeffect]="item.ariaDropeffect"
                     [ariaGrabbed]="item.ariaGrabbed"
                     [ariaActivedescendant]="item.ariaActivedescendant"
                     [ariaAtomic]="item.ariaAtomic"
                     [ariaAutocomplete]="item.ariaAutocomplete"
                     [ariaBraillelabel]="item.ariaBraillelabel"
                     [ariaBrailleroledescription]="item.ariaBrailleroledescription"
                     [ariaColcount]="item.ariaColcount"
                     [ariaColindex]="item.ariaColindex"
                     [ariaColindextext]="item.ariaColindextext"
                     [ariaColspan]="item.ariaColspan"
                     [ariaDescription]="item.ariaDescription"
                     [ariaDetails]="item.ariaDetails"
                     [ariaFlowto]="item.ariaFlowto"
                     [ariaInvalid]="item.ariaInvalid"
                     [ariaKeyshortcuts]="item.ariaKeyshortcuts"
                     [ariaOwns]="item.ariaOwns"
                     [ariaRelevant]="item.ariaRelevant"
                     [ariaRoledescription]="item.ariaRoledescription"
                     [ariaRowcount]="item.ariaRowcount"
                     [ariaRowindex]="item.ariaRowindex"
                     [ariaRowindextext]="item.ariaRowindextext"
                     [ariaRowspan]="item.ariaRowspan"
                     [title]="item.title"
                     [alt]="item.alt"
                     [lang]="item.lang"
                     [accesskey]="item.accesskey"
                     [autocomplete]="item.autocomplete"
                     [autofocus]="item.autofocus"
                     [contenteditable]="item.contenteditable"
                     [dir]="item.dir"
                     [draggable]="item.draggable"
                     [enterkeyhint]="item.enterkeyhint"
                     [hidden]="item.hidden"
                     [inputmode]="item.inputmode"
                     [spellcheck]="item.spellcheck"
                     [translate]="item.translate"
                     [ariaMultiline]="item.ariaMultiline"
                     [for]="item.for"
                     [form]="item.form"
                     [headers]="item.headers"
                     [placeholder]="item.placeholder"
                     [readonly]="item.readonly"
                     [required]="item.required">
        </desy-select>
      </ng-template>
      <ng-template #itemInput>
        <desy-input [id]="item.id ? item.id : id + '-' + item.name"
                    [labelRef]="getItemLabelRef(item)"
                    [labelData]="getItemLabelData(item)"
                    [classes]="getItemClasses(item)"
                    [formGroupClasses]="item.formGroupClasses"
                    [name]="getItemName(item)"
                    [formControlName]="getItemName(item)"
                    [type]="item.type ? item.type : 'text'"
                    [inputmode]="item.inputmode"
                    [autocomplete]="item.autocomplete"
                    [pattern]="item.pattern"
                    [placeholder]="item.placeholder"
                    [disabled]="item.disabled"
                    [maxlength]="item.maxlength"
                    [role]="item.role"
                    [ariaLabel]="item.ariaLabel"
                    [ariaDescribedBy]="getItemAriaDescribedBy(item)"
                    [ariaLabelledBy]="item.ariaLabelledBy"
                    [ariaHidden]="item.ariaHidden"
                    [ariaDisabled]="item.ariaDisabled"
                    [ariaControls]="item.ariaControls"
                    [ariaCurrent]="item.ariaCurrent"
                    [ariaLive]="item.ariaLive"
                    [ariaExpanded]="item.ariaExpanded"
                    [ariaErrorMessage]="getErrorId()"
                    [ariaHasPopup]="item.ariaHasPopup"
                    [tabindex]="item.tabindex"
                    [ariaModal]="item.ariaModal"
                    [ariaChecked]="item.ariaChecked"
                    [ariaPressed]="item.ariaPressed"
                    [ariaReadonly]="item.ariaReadonly"
                    [ariaRequired]="item.ariaRequired"
                    [ariaSelected]="item.ariaSelected"
                    [ariaValuemin]="item.ariaValuemin"
                    [ariaValuemax]="item.ariaValuemax"
                    [ariaValuenow]="item.ariaValuenow"
                    [ariaValuetext]="item.ariaValuetext"
                    [ariaOrientation]="item.ariaOrientation"
                    [ariaLevel]="item.ariaLevel"
                    [ariaMultiselectable]="item.ariaMultiselectable"
                    [ariaPlaceholder]="item.ariaPlaceholder"
                    [ariaPosinset]="item.ariaPosinset"
                    [ariaSetsize]="item.ariaSetsize"
                    [ariaSort]="item.ariaSort"
                    [ariaBusy]="item.ariaBusy"
                    [ariaDropeffect]="item.ariaDropeffect"
                    [ariaGrabbed]="item.ariaGrabbed"
                    [ariaActivedescendant]="item.ariaActivedescendant"
                    [ariaAtomic]="item.ariaAtomic"
                    [ariaAutocomplete]="item.ariaAutocomplete"
                    [ariaBraillelabel]="item.ariaBraillelabel"
                    [ariaBrailleroledescription]="item.ariaBrailleroledescription"
                    [ariaColcount]="item.ariaColcount"
                    [ariaColindex]="item.ariaColindex"
                    [ariaColindextext]="item.ariaColindextext"
                    [ariaColspan]="item.ariaColspan"
                    [ariaDescription]="item.ariaDescription"
                    [ariaDetails]="item.ariaDetails"
                    [ariaFlowto]="item.ariaFlowto"
                    [ariaInvalid]="item.ariaInvalid"
                    [ariaKeyshortcuts]="item.ariaKeyshortcuts"
                    [ariaOwns]="item.ariaOwns"
                    [ariaRelevant]="item.ariaRelevant"
                    [ariaRoledescription]="item.ariaRoledescription"
                    [ariaRowcount]="item.ariaRowcount"
                    [ariaRowindex]="item.ariaRowindex"
                    [ariaRowindextext]="item.ariaRowindextext"
                    [ariaRowspan]="item.ariaRowspan"
                    [title]="item.title"
                    [alt]="item.alt"
                    [lang]="item.lang"
                    [accesskey]="item.accesskey"
                    [autocomplete]="item.autocomplete"
                    [autofocus]="item.autofocus"
                    [contenteditable]="item.contenteditable"
                    [dir]="item.dir"
                    [draggable]="item.draggable"
                    [enterkeyhint]="item.enterkeyhint"
                    [hidden]="item.hidden"
                    [inputmode]="item.inputmode"
                    [spellcheck]="item.spellcheck"
                    [translate]="item.translate"
                    [ariaMultiline]="item.ariaMultiline"
                    [for]="item.for"
                    [form]="item.form"
                    [headers]="item.headers"
                    [placeholder]="item.placeholder"
                    [readonly]="item.readonly"
                    [required]="item.required">
        </desy-input>
      </ng-template>
    </ng-container>
  </div>

  <!-- Template-driven forms -->
  <desy-template-driven-wrapper *ngIf="controlContainer && ngModelGroup">
    <div [ngModelGroup]="ngModelGroup"
         [ngClass]="classes ? classes : 'flex'"
         [attr.id]="id ? id : null"
         [desyAppAccessibility]="this">

      <ng-container *ngFor="let item of getItems(); index as i">
        <ng-container *ngTemplateOutlet="isSelectItem(item) ? itemSelect : (item.divider ? itemDivider : itemInput); context: {item: item}"></ng-container>
        <ng-template #itemSelect>
          <desy-select [id]="item.id ? item.id : id + '-' + item.name"
                       [labelRef]="getItemLabelRef(item)"
                       [labelData]="getItemLabelData(item)"
                       [classes]="getItemClasses(item)"
                       [formGroupClasses]="item.formGroupClasses"
                       [name]="getItemName(item)"
                       [ngModel]="item.value === undefined ? null : item.value"
                       (ngModelChange)="onInternalChange(item, $event)"
                       [items]="getItemSelectOptions(item)"
                       [disabled]="item.disabled"
                       [role]="item.role"
                       [ariaLabel]="item.ariaLabel"
                       [ariaDescribedBy]="getItemAriaDescribedBy(item)"
                       [ariaLabelledBy]="item.ariaLabelledBy"
                       [ariaHidden]="item.ariaHidden"
                       [ariaDisabled]="item.ariaDisabled"
                       [ariaControls]="item.ariaControls"
                       [ariaCurrent]="item.ariaCurrent"
                       [ariaLive]="item.ariaLive"
                       [ariaExpanded]="item.ariaExpanded"
                       [ariaErrorMessage]="getErrorId()"
                       [ariaHasPopup]="item.ariaHasPopup"
                       [tabindex]="item.tabindex"
                       [ariaModal]="item.ariaModal"
                       [ariaChecked]="item.ariaChecked"
                       [ariaPressed]="item.ariaPressed"
                       [ariaReadonly]="item.ariaReadonly"
                       [ariaRequired]="item.ariaRequired"
                       [ariaSelected]="item.ariaSelected"
                       [ariaValuemin]="item.ariaValuemin"
                       [ariaValuemax]="item.ariaValuemax"
                       [ariaValuenow]="item.ariaValuenow"
                       [ariaValuetext]="item.ariaValuetext"
                       [ariaOrientation]="item.ariaOrientation"
                       [ariaLevel]="item.ariaLevel"
                       [ariaMultiselectable]="item.ariaMultiselectable"
                       [ariaPlaceholder]="item.ariaPlaceholder"
                       [ariaPosinset]="item.ariaPosinset"
                       [ariaSetsize]="item.ariaSetsize"
                       [ariaSort]="item.ariaSort"
                       [ariaBusy]="item.ariaBusy"
                       [ariaDropeffect]="item.ariaDropeffect"
                       [ariaGrabbed]="item.ariaGrabbed"
                       [ariaActivedescendant]="item.ariaActivedescendant"
                       [ariaAtomic]="item.ariaAtomic"
                       [ariaAutocomplete]="item.ariaAutocomplete"
                       [ariaBraillelabel]="item.ariaBraillelabel"
                       [ariaBrailleroledescription]="item.ariaBrailleroledescription"
                       [ariaColcount]="item.ariaColcount"
                       [ariaColindex]="item.ariaColindex"
                       [ariaColindextext]="item.ariaColindextext"
                       [ariaColspan]="item.ariaColspan"
                       [ariaDescription]="item.ariaDescription"
                       [ariaDetails]="item.ariaDetails"
                       [ariaFlowto]="item.ariaFlowto"
                       [ariaInvalid]="item.ariaInvalid"
                       [ariaKeyshortcuts]="item.ariaKeyshortcuts"
                       [ariaOwns]="item.ariaOwns"
                       [ariaRelevant]="item.ariaRelevant"
                       [ariaRoledescription]="item.ariaRoledescription"
                       [ariaRowcount]="item.ariaRowcount"
                       [ariaRowindex]="item.ariaRowindex"
                       [ariaRowindextext]="item.ariaRowindextext"
                       [ariaRowspan]="item.ariaRowspan"
                       [title]="item.title"
                       [alt]="item.alt"
                       [lang]="item.lang"
                       [accesskey]="item.accesskey"
                       [autocomplete]="item.autocomplete"
                       [autofocus]="item.autofocus"
                       [contenteditable]="item.contenteditable"
                       [dir]="item.dir"
                       [draggable]="item.draggable"
                       [enterkeyhint]="item.enterkeyhint"
                       [hidden]="item.hidden"
                       [inputmode]="item.inputmode"
                       [spellcheck]="item.spellcheck"
                       [translate]="item.translate"
                       [ariaMultiline]="item.ariaMultiline"
                       [for]="item.for"
                       [form]="item.form"
                       [headers]="item.headers"
                       [placeholder]="item.placeholder"
                       [readonly]="item.readonly"
                       [required]="item.required">
          </desy-select>
        </ng-template>
        <ng-template #itemInput>
          <desy-input [id]="item.id ? item.id : id + '-' + item.name"
                      [labelRef]="getItemLabelRef(item)"
                      [labelData]="getItemLabelData(item)"
                      [classes]="getItemClasses(item)"
                      [formGroupClasses]="item.formGroupClasses"
                      [name]="getItemName(item)"
                      [ngModel]="item.value"
                      (ngModelChange)="onInternalChange(item, $event)"
                      [type]="item.type ? item.type : 'text'"
                      [inputmode]="item.inputmode"
                      [autocomplete]="item.autocomplete"
                      [pattern]="item.pattern"
                      [placeholder]="item.placeholder"
                      [disabled]="item.disabled"
                      [maxlength]="item.maxlength"
                      [role]="item.role"
                      [ariaLabel]="item.ariaLabel"
                      [ariaDescribedBy]="getItemAriaDescribedBy(item)"
                      [ariaLabelledBy]="item.ariaLabelledBy"
                      [ariaHidden]="item.ariaHidden"
                      [ariaDisabled]="item.ariaDisabled"
                      [ariaControls]="item.ariaControls"
                      [ariaCurrent]="item.ariaCurrent"
                      [ariaLive]="item.ariaLive"
                      [ariaExpanded]="item.ariaExpanded"
                      [ariaErrorMessage]="getErrorId()"
                      [ariaHasPopup]="item.ariaHasPopup"
                      [tabindex]="item.tabindex"
                      [ariaModal]="item.ariaModal"
                      [ariaChecked]="item.ariaChecked"
                      [ariaPressed]="item.ariaPressed"
                      [ariaReadonly]="item.ariaReadonly"
                      [ariaRequired]="item.ariaRequired"
                      [ariaSelected]="item.ariaSelected"
                      [ariaValuemin]="item.ariaValuemin"
                      [ariaValuemax]="item.ariaValuemax"
                      [ariaValuenow]="item.ariaValuenow"
                      [ariaValuetext]="item.ariaValuetext"
                      [ariaOrientation]="item.ariaOrientation"
                      [ariaLevel]="item.ariaLevel"
                      [ariaMultiselectable]="item.ariaMultiselectable"
                      [ariaPlaceholder]="item.ariaPlaceholder"
                      [ariaPosinset]="item.ariaPosinset"
                      [ariaSetsize]="item.ariaSetsize"
                      [ariaSort]="item.ariaSort"
                      [ariaBusy]="item.ariaBusy"
                      [ariaDropeffect]="item.ariaDropeffect"
                      [ariaGrabbed]="item.ariaGrabbed"
                      [ariaActivedescendant]="item.ariaActivedescendant"
                      [ariaAtomic]="item.ariaAtomic"
                      [ariaAutocomplete]="item.ariaAutocomplete"
                      [ariaBraillelabel]="item.ariaBraillelabel"
                      [ariaBrailleroledescription]="item.ariaBrailleroledescription"
                      [ariaColcount]="item.ariaColcount"
                      [ariaColindex]="item.ariaColindex"
                      [ariaColindextext]="item.ariaColindextext"
                      [ariaColspan]="item.ariaColspan"
                      [ariaDescription]="item.ariaDescription"
                      [ariaDetails]="item.ariaDetails"
                      [ariaFlowto]="item.ariaFlowto"
                      [ariaInvalid]="item.ariaInvalid"
                      [ariaKeyshortcuts]="item.ariaKeyshortcuts"
                      [ariaOwns]="item.ariaOwns"
                      [ariaRelevant]="item.ariaRelevant"
                      [ariaRoledescription]="item.ariaRoledescription"
                      [ariaRowcount]="item.ariaRowcount"
                      [ariaRowindex]="item.ariaRowindex"
                      [ariaRowindextext]="item.ariaRowindextext"
                      [ariaRowspan]="item.ariaRowspan"
                      [title]="item.title"
                      [alt]="item.alt"
                      [lang]="item.lang"
                      [accesskey]="item.accesskey"
                      [autocomplete]="item.autocomplete"
                      [autofocus]="item.autofocus"
                      [contenteditable]="item.contenteditable"
                      [dir]="item.dir"
                      [draggable]="item.draggable"
                      [enterkeyhint]="item.enterkeyhint"
                      [hidden]="item.hidden"
                      [inputmode]="item.inputmode"
                      [spellcheck]="item.spellcheck"
                      [translate]="item.translate"
                      [ariaMultiline]="item.ariaMultiline"
                      [for]="item.for"
                      [form]="item.form"
                      [headers]="item.headers"
                      [placeholder]="item.placeholder"
                      [readonly]="item.readonly"
                      [required]="item.required">
          </desy-input>
        </ng-template>
      </ng-container>
    </div>
  </desy-template-driven-wrapper>

  <!-- With ngModel-->
  <div *ngIf="!controlContainer"
       [ngClass]="classes ? classes : 'flex'"
       [attr.id]="id ? id : null"
       [desyAppAccessibility]="this">

    <ng-container *ngFor="let item of getItems(); index as i">
      <ng-container *ngTemplateOutlet="isSelectItem(item) ? itemSelect : (item.divider ? itemDivider : itemInput); context: {item: item}"></ng-container>
      <ng-template #itemSelect>
        <desy-select [id]="item.id ? item.id : id + '-' + item.name"
                     [labelRef]="getItemLabelRef(item)"
                     [labelData]="getItemLabelData(item)"
                     [classes]="getItemClasses(item)"
                     [formGroupClasses]="item.formGroupClasses"
                     [name]="getItemName(item)"
                     [items]="getItemSelectOptions(item)"
                     [disabled]="item.disabled"
                     [ngModel]="item.value"
                     (ngModelChange)="onInternalChange(item, $event)"
                     [role]="item.role"
                     [ariaLabel]="item.ariaLabel"
                     [ariaDescribedBy]="getItemAriaDescribedBy(item)"
                     [ariaLabelledBy]="item.ariaLabelledBy"
                     [ariaHidden]="item.ariaHidden"
                     [ariaDisabled]="item.ariaDisabled"
                     [ariaControls]="item.ariaControls"
                     [ariaCurrent]="item.ariaCurrent"
                     [ariaLive]="item.ariaLive"
                     [ariaExpanded]="item.ariaExpanded"
                     [ariaErrorMessage]="getErrorId()"
                     [ariaHasPopup]="item.ariaHasPopup"
                     [tabindex]="item.tabindex"
                     [ariaModal]="item.ariaModal"
                     [ariaChecked]="item.ariaChecked"
                     [ariaPressed]="item.ariaPressed"
                     [ariaReadonly]="item.ariaReadonly"
                     [ariaRequired]="item.ariaRequired"
                     [ariaSelected]="item.ariaSelected"
                     [ariaValuemin]="item.ariaValuemin"
                     [ariaValuemax]="item.ariaValuemax"
                     [ariaValuenow]="item.ariaValuenow"
                     [ariaValuetext]="item.ariaValuetext"
                     [ariaOrientation]="item.ariaOrientation"
                     [ariaLevel]="item.ariaLevel"
                     [ariaMultiselectable]="item.ariaMultiselectable"
                     [ariaPlaceholder]="item.ariaPlaceholder"
                     [ariaPosinset]="item.ariaPosinset"
                     [ariaSetsize]="item.ariaSetsize"
                     [ariaSort]="item.ariaSort"
                     [ariaBusy]="item.ariaBusy"
                     [ariaDropeffect]="item.ariaDropeffect"
                     [ariaGrabbed]="item.ariaGrabbed"
                     [ariaActivedescendant]="item.ariaActivedescendant"
                     [ariaAtomic]="item.ariaAtomic"
                     [ariaAutocomplete]="item.ariaAutocomplete"
                     [ariaBraillelabel]="item.ariaBraillelabel"
                     [ariaBrailleroledescription]="item.ariaBrailleroledescription"
                     [ariaColcount]="item.ariaColcount"
                     [ariaColindex]="item.ariaColindex"
                     [ariaColindextext]="item.ariaColindextext"
                     [ariaColspan]="item.ariaColspan"
                     [ariaDescription]="item.ariaDescription"
                     [ariaDetails]="item.ariaDetails"
                     [ariaFlowto]="item.ariaFlowto"
                     [ariaInvalid]="item.ariaInvalid"
                     [ariaKeyshortcuts]="item.ariaKeyshortcuts"
                     [ariaOwns]="item.ariaOwns"
                     [ariaRelevant]="item.ariaRelevant"
                     [ariaRoledescription]="item.ariaRoledescription"
                     [ariaRowcount]="item.ariaRowcount"
                     [ariaRowindex]="item.ariaRowindex"
                     [ariaRowindextext]="item.ariaRowindextext"
                     [ariaRowspan]="item.ariaRowspan"
                     [tabindex]="item.tabindex"
                     [title]="item.title"
                     [alt]="item.alt"
                     [lang]="item.lang"
                     [accesskey]="item.accesskey"
                     [autocomplete]="item.autocomplete"
                     [autofocus]="item.autofocus"
                     [contenteditable]="item.contenteditable"
                     [dir]="item.dir"
                     [draggable]="item.draggable"
                     [enterkeyhint]="item.enterkeyhint"
                     [hidden]="item.hidden"
                     [inputmode]="item.inputmode"
                     [spellcheck]="item.spellcheck"
                     [translate]="item.translate"
                     [ariaMultiline]="item.ariaMultiline"
                     [for]="item.for"
                     [form]="item.form"
                     [headers]="item.headers"
                     [placeholder]="item.placeholder"
                     [readonly]="item.readonly"
                     [required]="item.required">
        </desy-select>
      </ng-template>
      <ng-template #itemInput>
        <desy-input [id]="item.id ? item.id : id + '-' + item.name"
                    [labelRef]="getItemLabelRef(item)"
                    [labelData]="getItemLabelData(item)"
                    [classes]="getItemClasses(item)"
                    [formGroupClasses]="item.formGroupClasses"
                    [name]="getItemName(item)"
                    [ngModel]="item.value"
                    (ngModelChange)="onInternalChange(item, $event)"
                    [type]="item.type ? item.type : 'text'"
                    [inputmode]="item.inputmode"
                    [autocomplete]="item.autocomplete"
                    [pattern]="item.pattern"
                    [placeholder]="item.placeholder"
                    [disabled]="item.disabled"
                    [maxlength]="item.maxlength"
                    [role]="item.role"
                    [ariaLabel]="item.ariaLabel"
                    [ariaDescribedBy]="getItemAriaDescribedBy(item)"
                    [ariaLabelledBy]="item.ariaLabelledBy"
                    [ariaHidden]="item.ariaHidden"
                    [ariaDisabled]="item.ariaDisabled"
                    [ariaControls]="item.ariaControls"
                    [ariaCurrent]="item.ariaCurrent"
                    [ariaLive]="item.ariaLive"
                    [ariaExpanded]="item.ariaExpanded"
                    [ariaErrorMessage]="getErrorId()"
                    [ariaHasPopup]="item.ariaHasPopup"
                    [tabindex]="item.tabindex"
                    [ariaModal]="item.ariaModal"
                    [ariaChecked]="item.ariaChecked"
                    [ariaPressed]="item.ariaPressed"
                    [ariaReadonly]="item.ariaReadonly"
                    [ariaRequired]="item.ariaRequired"
                    [ariaSelected]="item.ariaSelected"
                    [ariaValuemin]="item.ariaValuemin"
                    [ariaValuemax]="item.ariaValuemax"
                    [ariaValuenow]="item.ariaValuenow"
                    [ariaValuetext]="item.ariaValuetext"
                    [ariaOrientation]="item.ariaOrientation"
                    [ariaLevel]="item.ariaLevel"
                    [ariaMultiselectable]="item.ariaMultiselectable"
                    [ariaPlaceholder]="item.ariaPlaceholder"
                    [ariaPosinset]="item.ariaPosinset"
                    [ariaSetsize]="item.ariaSetsize"
                    [ariaSort]="item.ariaSort"
                    [ariaBusy]="item.ariaBusy"
                    [ariaDropeffect]="item.ariaDropeffect"
                    [ariaGrabbed]="item.ariaGrabbed"
                    [ariaActivedescendant]="item.ariaActivedescendant"
                    [ariaAtomic]="item.ariaAtomic"
                    [ariaAutocomplete]="item.ariaAutocomplete"
                    [ariaBraillelabel]="item.ariaBraillelabel"
                    [ariaBrailleroledescription]="item.ariaBrailleroledescription"
                    [ariaColcount]="item.ariaColcount"
                    [ariaColindex]="item.ariaColindex"
                    [ariaColindextext]="item.ariaColindextext"
                    [ariaColspan]="item.ariaColspan"
                    [ariaDescription]="item.ariaDescription"
                    [ariaDetails]="item.ariaDetails"
                    [ariaFlowto]="item.ariaFlowto"
                    [ariaInvalid]="item.ariaInvalid"
                    [ariaKeyshortcuts]="item.ariaKeyshortcuts"
                    [ariaOwns]="item.ariaOwns"
                    [ariaRelevant]="item.ariaRelevant"
                    [ariaRoledescription]="item.ariaRoledescription"
                    [ariaRowcount]="item.ariaRowcount"
                    [ariaRowindex]="item.ariaRowindex"
                    [ariaRowindextext]="item.ariaRowindextext"
                    [ariaRowspan]="item.ariaRowspan"
                    [tabindex]="item.tabindex"
                    [title]="item.title"
                    [alt]="item.alt"
                    [lang]="item.lang"
                    [accesskey]="item.accesskey"
                    [autocomplete]="item.autocomplete"
                    [autofocus]="item.autofocus"
                    [contenteditable]="item.contenteditable"
                    [dir]="item.dir"
                    [draggable]="item.draggable"
                    [enterkeyhint]="item.enterkeyhint"
                    [hidden]="item.hidden"
                    [inputmode]="item.inputmode"
                    [spellcheck]="item.spellcheck"
                    [translate]="item.translate"
                    [ariaMultiline]="item.ariaMultiline"
                    [for]="item.for"
                    [form]="item.form"
                    [headers]="item.headers"
                    [placeholder]="item.placeholder"
                    [readonly]="item.readonly"
                    [required]="item.required">
        </desy-input>
      </ng-template>
    </ng-container>
  </div>
</ng-template>



<ng-container *ngIf="hasFieldsetComponent()">
  <ng-content select="desy-fieldset"></ng-content>
</ng-container>
<ng-container *ngIf="!hasFieldsetComponent()">
  <desy-fieldset *ngIf="fieldsetData"
                 [classes]="fieldsetData.classes"
                 [id]="fieldsetData.id"
                 [legendData]="fieldsetData.legend"
                 [headingLevel]="fieldsetData.headingLevel"
                 [caller]="innerHtml"
                 [errorId]="getErrorId()"
                 [describedBy]="[fieldsetData.describedBy, getHintId(), getErrorId()] | makeHtmlList:null"
                 role="group"
                 [ariaLabel]="fieldsetData.ariaLabel"
                 [ariaLabelledBy]="fieldsetData.ariaLabelledBy"
                 [ariaHidden]="fieldsetData.ariaHidden"
                 [ariaDisabled]="fieldsetData.ariaDisabled"
                 [ariaControls]="fieldsetData.ariaControls"
                 [ariaCurrent]="fieldsetData.ariaCurrent"
                 [ariaLive]="fieldsetData.ariaLive"
                 [ariaExpanded]="fieldsetData.ariaExpanded"
                 [ariaHasPopup]="fieldsetData.ariaHasPopup"
                 [tabindex]="fieldsetData.tabindex"></desy-fieldset>
  <desy-fieldset *ngIf="!fieldsetData && hasLegendComponent()"
                 [legendRef]="legendTemplate"
                 [caller]="innerHtml"
                 [errorId]="getErrorId()"
                 [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null">
    <ng-template #legendTemplate>
      <ng-content select="desy-legend"></ng-content>
    </ng-template>
  </desy-fieldset>
  <desy-fieldset *ngIf="!fieldsetData && !hasLegendComponent() && legendRef"
                 [legendRef]="legendRef"
                 [caller]="innerHtml"
                 [errorId]="getErrorId()"
                 [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null"
                 role="group"></desy-fieldset>
  <desy-fieldset *ngIf="!fieldsetData && !hasLegendComponent() && !legendRef && legendData"
                 [legendData]="{text: legendData.text, html: legendData.html,  classes: legendData.classes, isPageHeading: legendData.isPageHeading}"
                 [caller]="innerHtml"
                 [errorId]="getErrorId()"
                 [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null"
                 role="group"></desy-fieldset>
  <desy-fieldset *ngIf="!fieldsetData && !hasLegendComponent() && !legendRef && !legendData && legendText"
                 [legendText]="legendText"
                 [caller]="innerHtml"
                 [errorId]="getErrorId()"
                 [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null"
                 role="group"></desy-fieldset>

  <ng-container *ngIf="!hasFieldset()">
    <ng-container *ngTemplateOutlet="innerHtml"></ng-container>
  </ng-container>
</ng-container>