<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Collapsible configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-collapsible [classes]="classes"
                  [buttonClasses]="buttonClasses"
                  [showClasses]="showClasses"
                  [hideClasses]="hideClasses"
                  [contentClasses]="contentClasses"
                  [open]="open"
                  [id]="id"
                  [role]="role"
                  [ariaLabel]="ariaLabel"
                  [ariaDescribedBy]="ariaDescribedBy"
                  [ariaLabelledBy]="ariaLabelledBy"
                  [ariaHidden]="ariaHidden"
                  [ariaDisabled]="ariaDisabled"
                  [ariaControls]="ariaControls"
                  [ariaCurrent]="ariaCurrent"
                  [ariaLive]="ariaLive"
                  [ariaExpanded]="ariaExpanded"
                  [ariaErrorMessage]="ariaErrorMessage"
                  [ariaHasPopup]="ariaHasPopup"
                  [tabindex]="tabindex">
  <ng-container *appCustomInnerContent="{ html: headerHtml}"></ng-container>
  <desy-content>  
    <ng-container *appCustomInnerContent="{ html: contentHtml}"></ng-container>
  </desy-content>
</desy-collapsible>

<app-spaced></app-spaced>

<app-implementation-info info="Collapsible simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-collapsible>
  Titulo
  <desy-content>Contenido
  </desy-content>
</desy-collapsible>
<app-spaced></app-spaced>

<app-implementation-info info="Collapsible con input"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-collapsible [open]="true"
                  id="collapsible-html-example">
  Where to find your TSG Number
  <desy-content>
    <label class="block"
           for="contact-phone">Phone number</label>
    <input class="c-input form-input mt-sm"
           name="contact-phone"
           type="text"
           id="contact-phone"
           [(ngModel)]="phone">
  </desy-content>
</desy-collapsible>
<p> valor de phone: {{phone}}</p>
<app-spaced></app-spaced>


<div class="c-form-group grid grid-cols-2 gap-base">
    <div>
        <app-title-params></app-title-params>
        <app-input-text [nameComponent]="nameComponent" nameProperty="headerHtml" [(target)]="headerHtml"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="contentHtml" [(target)]="contentHtml"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..." nameProperty="buttonClasses" [(target)]="buttonClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..." nameProperty="showClasses" [(target)]="showClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..." nameProperty="hideClasses" [(target)]="hideClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..." nameProperty="contentClasses" [(target)]="contentClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="Expandir" [(target)]="open"> </app-input-boolean>
    </div>
   
    <app-accessibility-inputs [(role)]="role"
             [(ariaLabel)]="ariaLabel"
             [(ariaDescribedBy)]="ariaDescribedBy"
             [(ariaLabelledBy)]="ariaLabelledBy"
             [(ariaHidden)]="ariaHidden"
             [(ariaDisabled)]="ariaDisabled"
             [(ariaControls)]="ariaControls"
             [(ariaCurrent)]="ariaCurrent"
             [(ariaLive)]="ariaLive"
             [(ariaExpanded)]="ariaExpanded"
             [(ariaErrorMessage)]="ariaErrorMessage"
             [(ariaHasPopup)]="ariaHasPopup"
             [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
