<app-title-demo [name]="nameComponent"></app-title-demo>

<!-- Templates for examples-->
<ng-template #defaultContent>
  <h3 class="c-h3"><a href="#" class="c-link">Título card</a></h3>
  <div class="prose max-w-none">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur
      vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
  </div>
</ng-template>
<ng-template #defaultContentWithIcon>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em"
    class="w-6 h-6 lg:w-9 lg:h-9 mt-base mb-lg" aria-hidden="true" focusable="false">
    <g transform="scale(2)">
      <path
        d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z"
        fill="currentColor"></path>
      <rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect>
      <rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect>
      <rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect>
      <rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect>
      <rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect>
      <rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect>
    </g>
  </svg>
  <h3 id="titulo-card-1" class="c-h3">Título card</h3>
  <div class="prose max-w-none mb-base">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur
      vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
  </div>
  <a href="#" role="button" draggable="false" class="c-button c-button--transparent" id="boton-card-1"
    aria-labelledby="boton-card-1 titulo-card-1">
    Más <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true"
      focusable="false" width="1em" height="1em">
      <path
        d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z"
        fill="currentColor"></path>
    </svg>
  </a>
</ng-template>
<ng-template #defaultContentWithBtn>
  <h3 id="titulo-card-1" class="c-h3">Título card</h3>
  <div class="prose max-w-none mb-base">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur
      vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
  </div>
  <a href="#" role="button" draggable="false" class="c-button c-button--transparent" id="boton-card-1"
    aria-labelledby="boton-card-1 titulo-card-1">
    Más <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true"
      focusable="false" width="1em" height="1em">
      <path
        d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z"
        fill="currentColor"></path>
    </svg>
  </a>
</ng-template>

<!-- Examples -->
<app-implementation-info info="Default"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-card classes="lg:w-1/3"
           containerClasses="p-base border border-neutral-base rounded">
  <ng-container *ngTemplateOutlet="defaultContent"></ng-container>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Default with icon"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-card classes="lg:w-1/3"
           containerClasses="p-base border border-neutral-base rounded">
  <ng-container *ngTemplateOutlet="defaultContentWithIcon"></ng-container>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Simple sidebar"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-card classes="lg:w-1/3"
           containerClasses="p-base bg-neutral-lighter border-t-8 border-neutral-dark">
  <ng-container *ngTemplateOutlet="defaultContentWithBtn"></ng-container>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="With super"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-card classes="lg:w-1/3"
           containerClasses="p-base bg-neutral-lighter border-t-8 border-neutral-dark">
  <desy-card-super backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-super>
  <ng-container *ngTemplateOutlet="defaultContentWithBtn"></ng-container>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="With sub"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-card classes="lg:w-1/3"
           containerClasses="p-base bg-neutral-lighter border-t-8 border-neutral-dark">
  <desy-card-sub backgroundColor="transparent"
                 backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                 classes="h-60 -m-base mt-base bg-cover bg-center bg-no-repeat overflow-hidden"
                 [role]="role"
                 [ariaLabel]="ariaLabel">
  </desy-card-sub>
  <ng-container *ngTemplateOutlet="defaultContentWithBtn"></ng-container>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="With img left in desktop" subtitle="In mobile the img is in super area."></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-card classes="lg:w-2/3"
           containerClasses="p-base bg-neutral-lighter border-t-8 border-neutral-dark">
  <desy-card-super backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="lg:hidden h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-super>
  <ng-container *ngTemplateOutlet="defaultContentWithBtn"></ng-container>
  <desy-card-left backgroundColor="transparent"
                  backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                  classes="hidden lg:block w-1/2 -m-base mr-base bg-cover bg-center bg-no-repeat overflow-hidden"
                  [role]="role"
                  [ariaLabel]="ariaLabel">
  </desy-card-left>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="With img right in desktop." subtitle="In mobile the img is in super area."></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml6" [codeTs]="mostrarCodigo.codigoTs6"></app-show-code>
<desy-card classes="lg:w-2/3"
           containerClasses="p-base bg-neutral-lighter border-t-8 border-neutral-dark">
  <desy-card-super backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="lg:hidden h-60 -m-base mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-super>
  <ng-container *ngTemplateOutlet="defaultContentWithBtn"></ng-container>
  <desy-card-right backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="hidden lg:block w-1/2 -m-base ml-base bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-right>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Bloque de página de inicio sin padding"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml7" [codeTs]="mostrarCodigo.codigoTs7"></app-show-code>
<desy-card classes="lg:w-1/2"
           containerClasses="py-lg border-t-8 border-neutral-dark">
  <h2 class="c-h1">Tus datos médicos e titlermación personal</h2>
  <ul class="text-lg">
    <li class="mb-base"><a href="#"
         class="c-link">Cambiar tus datos de contacto</a></li>
    <li class="mb-base"><a href="#"
         class="c-link">Dónde y cómo solicitar tu PIN Salud</a></li>
    <li class="mb-base"><a href="#"
         class="c-link">Cómo solicitar un cambio de centro de salud</a></li>
    <li class="mb-base"><a href="#"
         class="c-link">Historia Clínica e titlermes médicos</a></li>
    <li class="mb-base"><a href="#"
         class="c-link">Derechos de protección de datos</a></li>
  </ul>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Home block without padding"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml8" [codeTs]="mostrarCodigo.codigoTs8"></app-show-code>
<desy-card containerClasses="p-lg bg-neutral-lighter border-t-8 border-neutral-dark">
  <desy-card-super backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="lg:hidden h-72 -m-lg mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-super>
  <h2 class="c-h1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="1em" height="1em" class="inline-block align-middle lg:w-9 lg:h-9 mr-base" aria-hidden="true" focusable="false"><g transform="scale(2)"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM20 21.5a.5.5 0 0 1-.5.5h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h10.25a.25.25 0 0 1 .25.25V5a2 2 0 0 0 2 2h2.75a.25.25 0 0 1 .25.25Z" fill="currentColor"></path><rect x="6.5" y="10.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="14" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="6.5" y="17.5" width="3" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="10.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="14" width="6.5" height="2" rx=".5" fill="currentColor"></rect><rect x="11" y="17.5" width="6.5" height="2" rx=".5" fill="currentColor"></rect></g></svg>
    Tu área personal
  </h2>
  <p class="c-paragraph-base mb-lg">En tu área personal puedes pedir cita con tu médico/a, consultar tu historia clínica
    y encontrar una selección de contenidos y servicios de salud para ti. Accede de forma segura desde cualquier lugar y
    en cualquier momento, desde tu móvil u ordenador.</p>
  <ul class="flex flex-wrap gap-base">
    <li>
      <button class="c-button c-button--primary">
        Acceder a Tu área personal
      </button>
    </li>
    <li>
      <button class="c-button">
        Descargar la app
      </button>
    </li>
  </ul> <desy-card-right backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="hidden lg:block w-1/2 h-96 -m-lg ml-xl bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-right>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Items in list" subtitle="Image with fixed dimensions in desktop, text flexible."></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml9" [codeTs]="mostrarCodigo.codigoTs9"></app-show-code>
<desy-card classes="lg:w-3/4"
           containerClasses="p-lg bg-neutral-lighter">
  <desy-card-super backgroundColor="transparent"
                   backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                   classes="lg:hidden h-56 -m-lg mb-base bg-cover bg-center bg-no-repeat overflow-hidden"
                   [role]="role"
                   [ariaLabel]="ariaLabel">
  </desy-card-super>
  <desy-card-left backgroundColor="transparent"
                  backgroundImageUrl="https://dummyimage.com/320x240/92949b/fff.jpg&text=Imagen"
                  classes="hidden lg:block w-72 -m-lg mr-lg bg-cover bg-center bg-no-repeat overflow-hidden"
                  [role]="role"
                  [ariaLabel]="ariaLabel">
  </desy-card-left>
  <p class="c-paragraph-sm mb-base">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="1em" width="1em" class="inline-block align-middle w-6 h-6 mr-xs"><g><path d="M7.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,10.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M7.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,14.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M7.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M12.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M17.5,18.5h-1a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" fill="currentColor"></path><path d="M21.5,3H18.75a.25.25,0,0,1-.25-.25V1a1,1,0,0,0-2,0V5.75a.75.75,0,0,1-1.5,0V3.5a.5.5,0,0,0-.5-.5H8.25A.25.25,0,0,1,8,2.75V1A1,1,0,0,0,6,1V5.75a.75.75,0,0,1-1.5,0V3.5A.5.5,0,0,0,4,3H2.5a2,2,0,0,0-2,2V22a2,2,0,0,0,2,2h19a2,2,0,0,0,2-2V5A2,2,0,0,0,21.5,3Zm0,18.5a.5.5,0,0,1-.5.5H3a.5.5,0,0,1-.5-.5V9.5A.5.5,0,0,1,3,9H21a.5.5,0,0,1,.5.5Z" fill="currentColor"></path></g></svg>
    <strong>18 octubre 2022</strong>
  </p>
  <h3 id="titulo-card-1"
      class="c-h3">Título de noticia</h3>
  <div class="prose max-w-none mb-base">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit mollitia non deleniti illum iure pariatur
      vel eligendi praesentium in. Velit amet distinctio minima libero dolorem tempora non aliquid? Corporis.</p>
  </div>
  <a href="#"
     role="button"
     draggable="false"
     class="c-button c-button--transparent"
     id="boton-card-1"
     aria-labelledby="boton-card-1 titulo-card-1">
     Ver detalle 
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center ml-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
  </a>
</desy-card>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Home mini block with icon"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml10" [codeTs]="mostrarCodigo.codigoTs10"></app-show-code>
<desy-card classes="lg:w-1/4" containerClasses="p-base bg-neutral-lighter">
  <ng-container *ngTemplateOutlet="defaultContentWithIcon"></ng-container>
</desy-card>

<!--Demo-->
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Card configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml11" [codeTs]="mostrarCodigo.codigoTs11"></app-show-code>
<desy-card
  [classes]="classes"
  [containerClasses]="containterClasses"
  [role]="role"
  [ariaLabel]="ariaLabel"
  [ariaDescribedBy]="ariaDescribedBy"
  [ariaLabelledBy]="ariaLabelledBy"
  [ariaHidden]="ariaHidden"
  [ariaDisabled]="ariaDisabled"
  [ariaControls]="ariaControls"
  [ariaCurrent]="ariaCurrent"
  [ariaLive]="ariaLive"
  [ariaExpanded]="ariaExpanded"
  [ariaErrorMessage]="ariaErrorMessage"
  [ariaHasPopup]="ariaHasPopup"
  [tabindex]="tabindex">

      <desy-card-super *ngIf="activateSuper"
        [backgroundColor]="backgroundColorSuper"
        [backgroundImageUrl]="backgroundImageUrlSuper"
        [classes]="classesSuper"
        [role]="roleSuper"
        [ariaLabel]="ariaLabelSuper"
        [ariaDescribedBy]="ariaDescribedBySuper"
        [ariaLabelledBy]="ariaLabelledBySuper"
        [ariaHidden]="ariaHiddenSuper"
        [ariaDisabled]="ariaDisabledSuper"
        [ariaControls]="ariaControlsSuper"
        [ariaCurrent]="ariaCurrentSuper"
        [ariaLive]="ariaLiveSuper"
        [ariaExpanded]="ariaExpandedSuper"
        [ariaErrorMessage]="ariaErrorMessageSuper"
        [ariaHasPopup]="ariaHasPopupSuper"
        [tabindex]="tabindex">{{textSuper}}</desy-card-super>
      <desy-card-left *ngIf="activateLeft" 
        [backgroundColor]="backgroundColorLeft"
        [backgroundImageUrl]="backgroundImageUrlLeft"
        [classes]="classesLeft"
        [role]="roleLeft"
        [ariaLabel]="ariaLabelLeft"
        [ariaDescribedBy]="ariaDescribedByLeft"
        [ariaLabelledBy]="ariaLabelledByLeft"
        [ariaHidden]="ariaHiddenLeft"
        [ariaDisabled]="ariaDisabledLeft"
        [ariaControls]="ariaControlsLeft"
        [ariaCurrent]="ariaCurrentLeft"
        [ariaLive]="ariaLiveLeft"
        [ariaExpanded]="ariaExpandedLeft"
        [ariaErrorMessage]="ariaErrorMessageLeft"
        [ariaHasPopup]="ariaHasPopupLeft">{{textLeft}}</desy-card-left>
      <desy-card-right *ngIf="activateRight" 
       [backgroundColor]="backgroundColorRight"
       [backgroundImageUrl]="backgroundImageUrlRight"
       [classes]="classesRight"
       [role]="roleRight"
       [ariaLabel]="ariaLabelRight"
       [ariaDescribedBy]="ariaDescribedByRight"
       [ariaLabelledBy]="ariaLabelledByRight"
       [ariaHidden]="ariaHiddenRight"
       [ariaDisabled]="ariaDisabledRight"
       [ariaControls]="ariaControlsRight"
       [ariaCurrent]="ariaCurrentRight"
       [ariaLive]="ariaLiveRight"
       [ariaExpanded]="ariaExpandedRight"
       [ariaErrorMessage]="ariaErrorMessageRight"
       [ariaHasPopup]="ariaHasPopupRight">{{textRight}}</desy-card-right>
      <desy-card-sub *ngIf="activateSub" 
        [backgroundColor]="backgroundColorSub"
        [backgroundImageUrl]="backgroundImageUrlSub"
        [classes]="classesSub"
        [role]="roleSub"
        [ariaLabel]="ariaLabelSub"
        [ariaDescribedBy]="ariaDescribedBySub"
        [ariaLabelledBy]="ariaLabelledBySub"
        [ariaHidden]="ariaHiddenSub"
        [ariaDisabled]="ariaDisabledSub"
        [ariaControls]="ariaControlsSub"
        [ariaCurrent]="ariaCurrentSub"
        [ariaLive]="ariaLiveSub"
        [ariaExpanded]="ariaExpandedSub"
        [ariaErrorMessage]="ariaErrorMessageSub"
        [ariaHasPopup]="ariaHasPopupSub">{{textSub}}</desy-card-sub>
        <ng-container *appCustomInnerContent="{ html: html, text: text }"></ng-container>
</desy-card>

<!-- PARAMETROS DE DESY-CARD -->

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de componente"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="containterClasses" [(target)]="containterClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="text"> </app-input-text>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>

<!-- PARAMETROS DE DESY-CARD-SUPER -->

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de desy-card-super"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="Activar desy-card-super" [(target)]="activateSuper"
        description="Mostrar desy-card-super"/>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classesSuper" [(target)]="classesSuper"/>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundColorSuper" [(target)]="backgroundColorSuper"/>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundImageUrlSuper" [(target)]="backgroundImageUrlSuper"/>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de desy-card-super"
                              [(role)]="roleSuper"
                              [(ariaLabel)]="ariaLabelSuper"
                              [(ariaDescribedBy)]="ariaDescribedBySuper"
                              [(ariaLabelledBy)]="ariaLabelledBySuper"
                              [(ariaHidden)]="ariaHiddenSuper"
                              [(ariaDisabled)]="ariaDisabledSuper"
                              [(ariaControls)]="ariaControlsSuper"
                              [(ariaCurrent)]="ariaCurrentSuper"
                              [(ariaLive)]="ariaLiveSuper"
                              [(ariaExpanded)]="ariaExpandedSuper"
                              [(ariaErrorMessage)]="ariaErrorMessageSuper"
                              [(ariaHasPopup)]="ariaHasPopupSuper"
                              [(tabindex)]="tabindexSuper"></app-accessibility-inputs>
  </div>
</div>

<!-- PARAMETROS DE DESY-CARD-RIGHT-->

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de desy-card-right"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean nameComponent="subnav" nameProperty="Mostrar desy-card-right" [(target)]="activateRight"
        description="Mostrar desy-card-right"/>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classesRight" [(target)]="classesRight"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundColorRight" [(target)]="backgroundColorRight"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundImageUrlRight" [(target)]="backgroundImageUrlRight"> </app-input-text>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de desy-card-right"
                              [(role)]="roleRight"
                              [(ariaLabel)]="ariaLabelRight"
                              [(ariaDescribedBy)]="ariaDescribedByRight"
                              [(ariaLabelledBy)]="ariaLabelledByRight"
                              [(ariaHidden)]="ariaHiddenRight"
                              [(ariaDisabled)]="ariaDisabledRight"
                              [(ariaControls)]="ariaControlsRight"
                              [(ariaCurrent)]="ariaCurrentRight"
                              [(ariaLive)]="ariaLiveRight"
                              [(ariaExpanded)]="ariaExpandedRight"
                              [(ariaErrorMessage)]="ariaErrorMessageRight"
                              [(ariaHasPopup)]="ariaHasPopupRight"
                              [(tabindex)]="tabindexRight"></app-accessibility-inputs>
  </div>
</div>


<!-- PARAMETROS DE DESY-CARD-LEFT -->

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de desy-card-left"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean nameComponent="subnav" nameProperty="Mostrar desy-card-left" [(target)]="activateLeft"
        description="Mostrar desy-card-left"/>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classesLeft" [(target)]="classesLeft"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundColorLeft" [(target)]="backgroundColorLeft"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundImageUrlLeft" [(target)]="backgroundImageUrlLeft"> </app-input-text>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de desy-card-left"
                              [(role)]="roleLeft"
                              [(ariaLabel)]="ariaLabelLeft"
                              [(ariaDescribedBy)]="ariaDescribedByLeft"
                              [(ariaLabelledBy)]="ariaLabelledByLeft"
                              [(ariaHidden)]="ariaHiddenLeft"
                              [(ariaDisabled)]="ariaDisabledLeft"
                              [(ariaControls)]="ariaControlsLeft"
                              [(ariaCurrent)]="ariaCurrentLeft"
                              [(ariaLive)]="ariaLiveLeft"
                              [(ariaExpanded)]="ariaExpandedLeft"
                              [(ariaErrorMessage)]="ariaErrorMessageLeft"
                              [(ariaHasPopup)]="ariaHasPopupLeft"
                              [(tabindex)]="tabindexLeft"></app-accessibility-inputs>
  </div>
</div>

<!-- PARAMETROS DE DESY-CARD-SUB -->

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de desy-card-sub"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean nameComponent="subnav" nameProperty="Mostrar desy-card-super" [(target)]="activateSub"
        description="Mostrar desy-card-sub"/>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classesSub" [(target)]="classesSub"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundColorSub" [(target)]="backgroundColorSub"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="backgroundImageUrlSub" [(target)]="backgroundImageUrlSub"> </app-input-text>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de desy-card-sub"
                              [(role)]="roleSub"
                              [(ariaLabel)]="ariaLabelSub"
                              [(ariaDescribedBy)]="ariaDescribedBySub"
                              [(ariaLabelledBy)]="ariaLabelledBySub"
                              [(ariaHidden)]="ariaHiddenSub"
                              [(ariaDisabled)]="ariaDisabledSub"
                              [(ariaControls)]="ariaControlsSub"
                              [(ariaCurrent)]="ariaCurrentSub"
                              [(ariaLive)]="ariaLiveSub"
                              [(ariaExpanded)]="ariaExpandedSub"
                              [(ariaErrorMessage)]="ariaErrorMessageSub"
                              [(ariaHasPopup)]="ariaHasPopupSub"
                              [(tabindex)]="tabindexSub"></app-accessibility-inputs>
  </div>
</div>
