<nav [class]="(classes ? 'c-breadcrumbs ' + classes : 'c-breadcrumbs') + (collapseOnMobile===true ? ' ' + 'c-breadcrumbs--collapse-on-mobile' : '') + (inlineOnMobile===true ? ' ' + 'c-breadcrumbs--inline-on-mobile' : '') + (inlineOnDesktop===true ? ' ' + 'c-breadcrumbs--inline-on-desktop' : '')"
    [attr.id]="id ? id : null"
    [desyAppAccessibility]="this"
    [attr.aria-label]="ariaLabel ? ariaLabel : 'Estás en: '">
    <ol [ngClass]="{
      'lg:grid-cols-max-content-1': getLength() === 1 && !inlineOnDesktop,
      'lg:grid-cols-max-content-2': getLength() === 2 && !inlineOnDesktop,
      'lg:grid-cols-max-content-3': getLength() === 3 && !inlineOnDesktop,
      'lg:grid-cols-max-content-4': getLength() === 4 && !inlineOnDesktop,
      'lg:grid-cols-max-content-5': getLength() === 5 && !inlineOnDesktop,
      'lg:grid-cols-max-content-6': getLength() === 6 && !inlineOnDesktop,
      'lg:grid-cols-max-content-7': getLength() === 7 && !inlineOnDesktop,
      'lg:grid-cols-max-content-8': getLength() === 8 && !inlineOnDesktop,
      'lg:grid': !inlineOnDesktop}" class="w-full items-baseline text-sm">
    
        <li *ngIf="hasBackButton" class="c-breadcrumbs__backbutton flex items-baseline font-bold text-primary-base">
            <a (click)="goBack()" class="px-sm border-r border-neutral-base focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black cursor-pointer">
                <span class="sr-only">Volver a la página anterior</span><span aria-hidden="true" title="Volver a la página anterior">&larr;</span>
            </a>
        </li>
        <ng-container *ngFor="let item of getItemList(); last as isLast; index as index">
            <li *ngIf="!isLast" class="flex items-baseline max-w-full mb-sm py-xs text-neutral-dark"  [ngClass]="{'hover:text-black' : item.routerLink}">
                <a *ngIf="item.routerLink" class="underline focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black truncate"
                    [routerLink]="item.routerLink"
                    [attr.id]="item.id ? item.id : null"
                    [desyAppAccessibility]="item">
                  <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
                </a>
                <span *ngIf="!item.routerLink" class="no-underline truncate"
                      [attr.id]="item.id ? item.id : null"
                      [desyAppAccessibility]="item">
                  <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
                </span>
            </li>
            <li *ngIf="isLast" class="flex items-baseline max-w-full mb-sm py-xs text-neutral-dark flex-1 font-semibold"  [ngClass]="{'hover:text-black' : item.routerLink}">
                <a *ngIf="item.routerLink" class="focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black text-black font-semibold no-underline truncate"
                    aria-current="page" [routerLink]="item.routerLink"
                    [attr.id]="item.id ? item.id : null"
                    [desyAppAccessibility]="item">
                  <strong>
                    <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
                  </strong>
                </a>
                <span *ngIf="!item.routerLink" class="no-underline text-black truncate" aria-current="page"
                    [attr.id]="item.id ? item.id : null"
                    [desyAppAccessibility]="item">
                  <strong>
                    <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
                  </strong>
                </span>
            </li>
        </ng-container>
    </ol>
</nav>
