<div [class]="['c-form-group', formGroupClasses] | makeHtmlList"
     [ngClass]="{'c-form-group--error': (hasErrorsMessage() || formGroupClasses === 'c-form-group--error') }">

  <ng-container *ngIf="hasFieldsetComponent()">
    <ng-content select="desy-fieldset"></ng-content>
  </ng-container>
  <ng-container *ngIf="!hasFieldsetComponent()">
    <desy-fieldset *ngIf="fieldsetData"
                    [classes]="fieldsetData.classes"
                    [id]="fieldsetData.id"
                    [legendData]="fieldsetData.legend"
                    [headingLevel]="fieldsetData.headingLevel"
                    [caller]="innerHtml"
                    [errorId]="getErrorId()"
                    [describedBy]="[fieldsetData.describedBy, getHintId(), getErrorId()] | makeHtmlList:null"
                    [role]="fieldsetData.role"
                    [ariaLabel]="fieldsetData.ariaLabel"
                    [ariaLabelledBy]="fieldsetData.ariaLabelledBy"
                    [ariaHidden]="fieldsetData.ariaHidden"
                    [ariaDisabled]="fieldsetData.ariaDisabled"
                    [ariaControls]="fieldsetData.ariaControls"
                    [ariaCurrent]="fieldsetData.ariaCurrent"
                    [ariaLive]="fieldsetData.ariaLive"
                    [ariaExpanded]="fieldsetData.ariaExpanded"
                    [ariaHasPopup]="fieldsetData.ariaHasPopup"
                    [tabindex]="fieldsetData.tabindex"></desy-fieldset>
    <desy-fieldset *ngIf="!fieldsetData && hasLegendComponent()"
                    [legendRef]="legendTemplate"
                    [caller]="innerHtml"
                    [errorId]="getErrorId()"
                    [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null">
      <ng-template #legendTemplate>
        <ng-content select="desy-legend"></ng-content>
      </ng-template>
    </desy-fieldset>
    <desy-fieldset *ngIf="!fieldsetData && !hasLegendComponent() && legendRef"
                    [legendRef]="legendRef"
                    [caller]="innerHtml"
                    [errorId]="getErrorId()"
                    [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null"></desy-fieldset>
    <desy-fieldset *ngIf="!fieldsetData && !hasLegendComponent() && !legendRef && legendData"
                    [legendData]="{text: legendData.text, html: legendData.html,  classes: legendData.classes, isPageHeading: legendData.isPageHeading}"
                    [caller]="innerHtml"
                    [errorId]="getErrorId()"
                    [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null"></desy-fieldset>
    <desy-fieldset *ngIf="!fieldsetData && !hasLegendComponent() && !legendRef && !legendData && legendText"
                    [legendText]="legendText"
                    [caller]="innerHtml"
                    [errorId]="getErrorId()"
                    [describedBy]="[ getHintId(), getErrorId()] | makeHtmlList:null"></desy-fieldset>
  </ng-container>

  <ng-container *ngIf="!hasFieldset()">
    <ng-container *ngTemplateOutlet="innerHtml"></ng-container>
  </ng-container>
</div>

<ng-template #innerHtml>
  <ng-container *ngIf="hasHintComponent()">
    <ng-content select="desy-hint"></ng-content>
  </ng-container>
  <ng-container *ngIf="!hasHintComponent()">
    <ng-container *ngTemplateOutlet="hintRef"></ng-container>
    <desy-hint *ngIf="!hintRef && hintData"
               [id]="getHintId()"
               [text]="hintData.text"
               [html]="hintData.html"
               [classes]="hintData.classes"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex"></desy-hint>
    <desy-hint *ngIf="!hintRef && !hintData && hintText" [text]="hintText" [id]="getHintId()"></desy-hint>
  </ng-container>

  <ng-container *ngIf="hasErrorMessageComponent()">
    <ng-content select="desy-error-message"></ng-content>
  </ng-container>
  <ng-container *ngIf="!hasErrorMessageComponent()">
    <ng-container *ngTemplateOutlet="errorMessageRef"></ng-container>
    <desy-error-message *ngIf="!errorMessageRef && errorMessageData"
                        [id]="getErrorId()"
                        [text]="errorMessageData.text"
                        [html]="errorMessageData.html"
                        [classes]="errorMessageData.classes"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex"></desy-error-message>
    <desy-error-message *ngIf="!errorMessageRef && !errorMessageData && errorMessageText"
                        [text]="errorMessageText" [id]="getErrorId()"></desy-error-message>
  </ng-container>


  <div [class]="['c-radios', classes] | makeHtmlList"
       [attr.id]="id ? id : null"
       [desyAppAccessibility]="this">

      <ng-container *ngIf="radioComponentItems && radioComponentItems.length > 0">
        <ng-content select="desy-radio-item"></ng-content>
      </ng-container>
      <ng-container *ngIf="!(radioComponentItems && radioComponentItems.length > 0) && items">
        <desy-radio-item *ngFor="let item of items; index as i"
                         [id]="item.id"
                         [disabled]="item.disabled"
                         [classes]="item.classes"
                         [value]="item.value"
                         [name]="item.name"
                         [(checked)]="item.checked"
                         [conditional]="item.conditional"
                         [divider]="item.divider"

                         [role]="item.role"
                         [ariaLabel]="item.ariaLabel"
                         [ariaDescribedBy]="item.ariaDescribedBy"
                         [ariaLabelledBy]="item.ariaLabelledBy"
                         [ariaHidden]="item.ariaHidden"
                         [ariaDisabled]="item.ariaDisabled"
                         [ariaControls]="item.ariaControls"
                         [ariaCurrent]="item.ariaCurrent"
                         [ariaLive]="item.ariaLive"
                         [ariaExpanded]="item.ariaExpanded"
                         [ariaErrorMessage]="item.ariaErrorMessage"
                         [ariaHasPopup]="item.ariaHasPopup"
                         [tabindex]="item.tabindex">
          <desy-label [text]="item.text" [html]="item.html"
                      [classes]="item.labelData ? item.labelData.classes : null"
                      [role]="item.labelData ? item.labelData.role : null"
                      [ariaLabel]="item.labelData ? item.labelData.ariaLabel : null"
                      [ariaDescribedBy]="item.labelData ? item.labelData.ariaDescribedBy: null"
                      [ariaLabelledBy]="item.labelData ? item.labelData.ariaLabelledBy : null"
                      [ariaHidden]="item.labelData ? item.labelData.ariaHidden : null"
                      [ariaDisabled]="item.labelData ? item.labelData.ariaDisabled : null"
                      [ariaControls]="item.labelData ? item.labelData.ariaControls : null"
                      [ariaCurrent]="item.labelData ? item.labelData.ariaCurrent : null"
                      [ariaLive]="item.labelData ? item.labelData.ariaLive : null"
                      [ariaExpanded]="item.labelData ? item.labelData.ariaExpanded : null"
                      [ariaErrorMessage]="item.labelData ? item.labelData.ariaErrorMessage : null"
                      [ariaHasPopup]="item.labelData ? item.labelData.ariaHasPopup : null"
                      [tabindex]="tabindex ? item.labelData.tabindex : null"></desy-label>
          <desy-hint *ngIf="item.hintData && (item.hintData.text || item.hintData.html)"
                     [text]="item.hintData.text"
                     [html]="item.hintData.html"
                     [classes]="item.hintData.classes"
                     [role]="item.hintData.role"
                     [ariaLabel]="item.hintData.ariaLabel"
                     [ariaDescribedBy]="item.hintData.ariaDescribedBy"
                     [ariaLabelledBy]="item.hintData.ariaLabelledBy"
                     [ariaHidden]="item.hintData.ariaHidden"
                     [ariaDisabled]="item.hintData.ariaDisabled"
                     [ariaControls]="item.hintData.ariaControls"
                     [ariaCurrent]="item.hintData.ariaCurrent"
                     [ariaLive]="item.hintData.ariaLive"
                     [ariaExpanded]="item.hintData.ariaExpanded"
                     [ariaErrorMessage]="item.hintData.ariaErrorMessage"
                     [ariaHasPopup]="item.hintData.ariaHasPopup"
                     [tabindex]="item.hintData.tabindex"></desy-hint>
          <desy-hint *ngIf="!item.hintData && item.hintText" [text]="item.hintText"></desy-hint>
          <desy-content *ngIf="item.conditionalHtml">
            <ng-container *ngTemplateOutlet="item.conditionalHtml"></ng-container>
          </desy-content>
        </desy-radio-item>
      </ng-container>
  </div>
</ng-template>
