<div *ngIf="figureHtml" [class]="(reverse===true ? ' ' + 'order-1' : '') + (figureClasses ? ' ' + figureClasses : '')" [attr.figureHtml]="figureHtml" [innerHtml]="figureHtml"></div>

<div #mediaFigureContent *ngIf="!figureHtml" [class]="(reverse===true ? ' ' + 'order-1' : '') + (figureClasses ? ' ' + figureClasses : '')">
    <ng-container *desyCustomInnerContent="{ component: mediaObjectFigureComponent }"></ng-container>
</div>

<div [class]="'flex-1' + (contentClasses ? ' ' + contentClasses : '')">
    <ng-container *desyCustomInnerContent="{ component: contentComponent, template: caller }"></ng-container>
</div>