<div class="flex items-center">
  <div class="relative">
    <desy-dropdown [hiddenText]="hiddenText"
                   [classesContainer]="classesContainer ? classesContainer : 'hidden lg:block'"
                   [classesTooltip]="classesTooltip"
                   [classes]="classes ? classes : 'c-dropdown--header'"
                   [caller]="caller"

                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
      <ng-content></ng-content>
    </desy-dropdown>
    <ng-template #caller>
      <ng-container *desyCustomInnerContent="{ component: contentComponent, template: templateNav }"></ng-container>
    </ng-template>
  </div>
</div>

<ng-template #templateNav>
  <ng-content select="desy-nav"></ng-content>
</ng-template>
