<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Implementación por defecto"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-button-loader>Por defecto</desy-button-loader>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación por defecto con el estado cargando"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-button-loader state="is-loading"
                    classes="c-button-loader--is-loading"
                    name="loading"
                    loaderText="Acción en curso">
  Cargando
</desy-button-loader>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Button loader configurable" observations="clickme!!"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-button-loader [classes]="autoButtonClass"
                    [id]="id"
                    [state]="autoButtonState"
                    [loaderText]="loaderText"
                    [loaderClasses]="loaderClasses"
                    [successText]="successText"
                    [disabled]="autoButtonDisabled"
                    [element]="element"
                    [name]="name"
                    [type]="type"
                    [value]="value"
                    [preventDoubleClick]="preventDoubleClick"
                    [href]="href"
                    [target]="target"
                    [routerLink]="routerLink"
                    [routerLinkActiveClasses]="routerLinkActiveClasses"
                    [role]="role"
                    [ariaLabel]="ariaLabel"
                    [ariaDescribedBy]="ariaDescribedBy"
                    [ariaLabelledBy]="ariaLabelledBy"
                    [ariaHidden]="ariaHidden"
                    [ariaDisabled]="ariaDisabled"
                    [ariaControls]="ariaControls"
                    [ariaCurrent]="ariaCurrent"
                    [ariaLive]="ariaLive"
                    [ariaExpanded]="ariaExpanded"
                    [ariaErrorMessage]="ariaErrorMessage"
                    [ariaHasPopup]="ariaHasPopup"
                    [tabindex]="tabindex"
                    (clickEvent)="onAutoButton()">
                    <ng-container *appCustomInnerContent="{ html: html, text: text }"></ng-container>
</desy-button-loader>
<p class="mt-base p-base bg-neutral-light">{{autoButtonHint}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="button | a | input" nameProperty="Elemento" [(target)]="element"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="texto a mostrar en el componente boton. (para el input es su value)" nameProperty="text" [(target)]="text"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="html para incluir en el componente boton. (no aplica para input)" nameProperty="html" [(target)]="html"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="c-button-loader--alert uppercase ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Deshabilita el boton" nameProperty="disabled" [(target)]="disabled"> </app-input-boolean>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>

    <app-title-params  titleparams="Parámetros de navegación"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" description="url externa" placeholder="google.es" nameProperty="href" [(target)]="href"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="pestaña en la que abrir el enlace" placeholder="_blank" nameProperty="target" [(target)]="target"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="url interna del proyecto" placeholder="/hint" nameProperty="routerLink" [(target)]="routerLink"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="clases css a aplicar cuando estamos en la ruta donde va el boton" placeholder="c-button--alert uppercase ..." nameProperty="routerLinkActiveClasses" [(target)]="routerLinkActiveClasses"> </app-input-text>
  </div>

  <div>

    <app-title-params  titleparams="Parámetros de loader"></app-title-params>
    <app-input-text [nameComponent]="'loader'" nameProperty="estado" [(target)]="state"> </app-input-text>
    <app-input-text [nameComponent]="'loader'" description="Introduce el texto que se interpretará por los lectores de pantalla cuando se llegue al estado de 'cargando'" nameProperty="loaderText" [(target)]="loaderText"> </app-input-text>
    <app-input-text [nameComponent]="'loader'" description="Introduce las clases a incorporar en el spinner de carga" nameProperty="loaderClasses" [(target)]="loaderClasses"> </app-input-text>
    <app-input-text [nameComponent]="'loader'" description="Introduce el texto que se interpretará por los lectores de pantalla cuando se llegue al estado de 'éxito'" nameProperty="successText" [(target)]="successText"> </app-input-text>


    <app-title-params  titleparams="Parámetros que afectan solo a button y input"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="type" [(target)]="type"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Evita hacer doble click" nameProperty="preventDoubleClick" [(target)]="preventDoubleClick"> </app-input-boolean>

    <app-title-params  titleparams="Parámetros que afectan solo a button"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="value" [(target)]="value"> </app-input-text>

    <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
