<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Listbox configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-listbox [id]="id"
              (itemsChange)="onItemChange($event)"
              [isMultiselectable]="isMultiselectable"
              [doesChangeButtonText]="doesChangeButtonText"
              [classes]="classes"
              [classesContainer]="classesContainer"
              [classesTooltip]="classesTooltip"
              [idPrefix]="idPrefix"
              [disabled]="disabled"
              [role]="role"
              [ariaLabel]="ariaLabel"
              [ariaDescribedBy]="ariaDescribedBy"
              [ariaLabelledBy]="ariaLabelledBy"
              [ariaHidden]="ariaHidden"
              [ariaDisabled]="ariaDisabled"
              [ariaControls]="ariaControls"
              [ariaCurrent]="ariaCurrent"
              [ariaLive]="ariaLive"
              [ariaErrorMessage]="ariaErrorMessage"
              [tabindex]="tabindex">
  <ng-container *appCustomInnerContent="{html: html}"></ng-container>
  <desy-listbox-label [classes]="label.classes">
    <ng-container *appCustomInnerContent="{html: label.html}"></ng-container>
  </desy-listbox-label>
  <desy-listbox-item>Item1</desy-listbox-item>
  <desy-listbox-item>Item2 <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 140 140"
         width="1em"
         height="1em"
         class="inline-block align-baseline ml-sm"
         aria-label="Archivo"
         focusable="false"
         role="img">
      <path d="M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z"
            fill="currentColor" />
      <path d="M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z"
            fill="currentColor" />
    </svg></desy-listbox-item>
  <desy-listbox-item [id]="item.id"
                     [classes]="item.classes"
                     [title]="item.title"
                     [(active)]="item.active"
                     [role]="item.role"
                     [ariaLabel]="item.ariaLabel"
                     [ariaDescribedBy]="item.ariaDescribedBy"
                     [ariaLabelledBy]="item.ariaLabelledBy"
                     [ariaHidden]="item.ariaHidden"
                     [ariaDisabled]="item.ariaDisabled"
                     [ariaControls]="item.ariaControls"
                     [ariaCurrent]="item.ariaCurrent"
                     [ariaLive]="item.ariaLive"
                     [ariaErrorMessage]="item.ariaErrorMessage"
                     [tabindex]="item.tabindex">
    <ng-container *appCustomInnerContent="{html: item.html}"></ng-container>
  </desy-listbox-item>
</desy-listbox>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Listbox simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-listbox>
  Por defecto
  <desy-listbox-label>Label</desy-listbox-label>
  <desy-listbox-item>Item1</desy-listbox-item>
  <desy-listbox-item>Item2</desy-listbox-item>
  <desy-listbox-item>Item3</desy-listbox-item>
</desy-listbox>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Listbox transparente"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-listbox classes="c-listbox--transparent">
  Por defecto
  <desy-listbox-label>Label</desy-listbox-label>
  <desy-listbox-item>Item1</desy-listbox-item>
  <desy-listbox-item>Item2</desy-listbox-item>
  <desy-listbox-item>Item3</desy-listbox-item>
</desy-listbox>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Listbox con párrafos en items"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-listbox>
  Párrafos en items
  <desy-listbox-label>Label</desy-listbox-label>
  <desy-listbox-item classes="flex-wrap">
    Actuaciones previas/preparatorias <p class="text-xs font-normal pointer-events-none">Consulta previa, actos preparatorios de expediente, bases reguladoras...</p>
  </desy-listbox-item>
  <desy-listbox-item classes="flex-wrap">
    Inicio de la tramitación <p class="text-xs font-normal pointer-events-none">Solicitud, subsanación, declaración responsable, aprobación expediente...</p>
  </desy-listbox-item>
  <desy-listbox-item classes="flex-wrap">
    Otros trámites en fase de inicio <p class="text-xs font-normal pointer-events-none">Documentos que no se puedan asociar a ningún otro tramite en fase de inicio</p>
  </desy-listbox-item>
  <desy-listbox-item classes="flex-wrap">
    Participación pública <p class="text-xs font-normal pointer-events-none">Información pública, alegaciones, audiencia...</p>
  </desy-listbox-item>
  <desy-listbox-item classes="flex-wrap">
    Informes sectoriales <p class="text-xs font-normal pointer-events-none">Informes sectoriales que se emiten en la tramitación por órganos distintos del instructor...</p>
  </desy-listbox-item>
  <desy-listbox-item classes="flex-wrap">
    Valoración/Prueba/Licitación <p class="text-xs font-normal pointer-events-none">Informe de valoración, documentos técnicos de evaluación, peticiones de prueba, documentos fase de licitación, informes propuesta...</p>
  </desy-listbox-item>
</desy-listbox>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"></app-input-text>
      <app-input-boolean [nameComponent]="nameComponent" description="Indica si admite selección múltiple" nameProperty="isMultiselectable" [(target)]="isMultiselectable"></app-input-boolean>
      <app-input-boolean [nameComponent]="nameComponent" description="Indica si el texto del botón se actualiza con el valor del item seleccionado (sólo con selección única)" nameProperty="doesChangeButtonText" [(target)]="doesChangeButtonText"></app-input-boolean>
      <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [(target)]="classes"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="classesContainer" description="clases del contenedor del listbox" [(target)]="classesContainer"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="classesTooltip" description="clases de la lista desplegable" [(target)]="classesTooltip"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"></app-input-text>
      <app-input-boolean [nameComponent]="nameComponent" nameProperty="disabled" [(target)]="disabled"></app-input-boolean>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [hideAriaExpanded]="true"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(tabindex)]="tabindex"
                              [hideAriaHasPopup]="true"></app-accessibility-inputs>
  </div>
  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="'listbox-label'" nameProperty="html" [(target)]="label.html"></app-input-text>
      <app-input-text [nameComponent]="'listbox-label'" nameProperty="classes" [(target)]="label.classes"></app-input-text>
    </details>
  </div>
  <div></div>
  <div>
    <app-title-params titleparams="Parámetros de item"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="'listbox-item'" nameProperty="html" [(target)]="item.html"></app-input-text>
      <app-input-text [nameComponent]="'listbox-item'" nameProperty="id" [(target)]="item.id"></app-input-text>
      <app-input-text [nameComponent]="'listbox-item'" nameProperty="classes" [(target)]="label.classes"></app-input-text>
      <app-input-boolean [nameComponent]="'listbox-item'" nameProperty="active" [(target)]="item.active"></app-input-boolean>
      <app-input-text [nameComponent]="'listbox-item'" nameProperty="title" [(target)]="item.title"></app-input-text>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [title]="'Parámetros de accesibilidad de item'" [id]="'item'"
                              [(role)]="item.role"
                              [(ariaLabel)]="item.ariaLabel"
                              [(ariaDescribedBy)]="item.ariaDescribedBy"
                              [(ariaLabelledBy)]="item.ariaLabelledBy"
                              [(ariaHidden)]="item.ariaHidden"
                              [(ariaDisabled)]="item.ariaDisabled"
                              [(ariaControls)]="item.ariaControls"
                              [(ariaCurrent)]="item.ariaCurrent"
                              [(ariaLive)]="item.ariaLive"
                              [hideAriaExpanded]="true"
                              [(ariaErrorMessage)]="item.ariaErrorMessage"
                              [(tabindex)]="item.tabindex"
                              [hideAriaHasPopup]="true"></app-accessibility-inputs>
  </div>
</div>
