<div #alertWrapper
     [id]="id" [class]="classes ? classes : null"
     [desyAppAccessibility]="this">
  <ng-container *ngIf="active">
    <ng-template #container></ng-template>
    <ng-container *ngTemplateOutlet="caller; context:callerContext"></ng-container>
    <ng-content select="desy-notification"></ng-content>
  </ng-container>
</div>

