<div class="relative flex items-start py-base">
    <div class="flex items-center mx-sm">
      <input #input class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base"
              [checked]="checked"
              [attr.id]="checkboxId"
              [attr.name]="name ? name : getNameCheckbox()"
              type="checkbox"
              [value]="value" (change)="hasChanged()"
              [attr.disabled]="disabled || parentDisabled ? true : null"
              [attr.aria-controls]="conditionalContentList && conditionalContentList.length > 0 ? 'conditional-' + checkboxId : null"
              [attr.aria-describedby]="[getDescribedBy(), getItemHintId()] | makeHtmlList:null"
              [attr.aria-invalid]="hasError() ? true : null"
              [desyAppAccessibility]="this">
    </div>
    <div class="pt-0.5 leading-5">
      <ng-container *ngIf="labelComponentList && labelComponentList.length > 0">
        <ng-content select="desy-label"></ng-content>
      </ng-container>
      <ng-container *ngIf="!(labelComponentList && labelComponentList.length > 0)">
        <desy-label [for]="checkboxId">
          <ng-content></ng-content>
        </desy-label>
      </ng-container>
      <ng-content select="desy-hint"></ng-content>
    </div>
</div>

<div *ngIf="conditional && conditionalContentList && conditionalContentList.length > 0 && (input.checked || input.indeterminate)"
      class="mb-base ml-5 py-sm pl-6 origin-top-left border-l-2 border-primary-base"
      [attr.id]="'conditional-' + checkboxId">
  <ng-container *desyCustomInnerContent="{ component: conditionalContentList.first }"></ng-container>
</div>
