<!--
  Template para ser utilizado tanto por los items como por los subitems:
  - item: Item que representa
  - index: indice del item en la lista
  - id: identificador del item
  - isRoot: si pertenece al nivel raiz
-->
<ng-template #itemTemplate let-item="item" let-index="index" let-id="id" let-sub="sub" let-isRoot="isRoot">
  <ng-template #noActiveTemplate><ng-container  *desyCustomInnerContent="{component: item, html: getItemHtml(item), text: item.text }"></ng-container></ng-template>
  <ng-container *ngIf="item">
    <li class="my-base break-inside-avoid-column" [ngClass]="{'origin-top-left text-sm': !isRoot}">
      <ng-container *ngIf="item.href || item.routerLink; else notHref">
        <a *ngIf="item.href; else hasRouterLink" [attr.id]="id"
           [href]="item.href | externalHref"
           [class]="['block px-xs focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', item.classes] | makeHtmlList"
           [ngClass]="{
            'underline': hasUnderline,
            'hover:text-primary-base hover:underline': !item.disabled,
            'no-underline pointer-events-none': item.disabled
           }"
           [attr.tabindex]="item.disabled ? -1 : null"
           [attr.target]="item.target ? item.target : null"
           [attr.aria-current]="item.active ? 'page' : null"
           [attr.aria-disabled]="item.disabled"
           [desyAppAccessibility]="item"
           [attr.disabled]="item.disabled">
           <ng-container *ngIf="item.active; else noActiveTemplate">
            <strong class="font-bold">
              <ng-container *desyCustomInnerContent="{ component: item, html: getItemHtml(item), text: item.text }"></ng-container>
           </strong>
          </ng-container>
        </a>
        <ng-template #hasRouterLink>
          <!-- Todos los enlaces que admiten o href o routerLink estaría bien unificarlos (en todos los componentes).
                Para ello, sería necesario crear una directiva para añadir o quitar la directiva routerLink si no tiene href.
                Sin embargo, esto no es posible actualmente, ya que Angular todavía no permite añadir directivas dinámicamente:
                https://angular.io/guide/roadmap#support-adding-directives-to-host-elements -->
          <a [attr.id]="id"
             [routerLink]="item.routerLink" [fragment]="item.fragment ? item.fragment : null"
             [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
             [class]="['block px-xs focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', item.classes] | makeHtmlList"
             [ngClass]="{
              'underline': hasUnderline,
              'hover:text-primary-base hover:underline': !item.disabled,
              'no-underline pointer-events-none': item.disabled
             }"
             [attr.tabindex]="item.disabled ? -1 : null"
             [attr.target]="item.target ? item.target : null"
             [attr.aria-current]="item.active ? 'page' : null"
             [attr.aria-disabled]="item.disabled"
             [desyAppAccessibility]="item"
             [attr.disabled]="item.disabled">
             <ng-container *ngIf="item.active; else noActiveTemplate">
              <strong class="font-bold">
                <ng-container *desyCustomInnerContent="{ component: item, html: getItemHtml(item), text: item.text }"></ng-container>
             </strong>
            </ng-container>
          </a>
        </ng-template>
      </ng-container>
      <ng-template #notHref>
            <span [attr.id]="id"
                  [class]="['block px-xs', item.classes] | makeHtmlList"
                  [attr.tabindex]="item.disabled ? -1 : null"
                  [attr.aria-current]="item.active ? 'page' : null"
                  [attr.aria-disabled]="item.disabled"
                  [desyAppAccessibility]="item"
                  [attr.disabled]="item.disabled">
                  <ng-container *ngIf="item.active; else noActiveTemplate">
                    <strong class="font-bold">
                      <ng-container *desyCustomInnerContent="{ component: item, html: getItemHtml(item), text: item.text }"></ng-container>
                    </strong>
                  </ng-container>
                </span>
      </ng-template>
      <ng-container *ngIf="isRoot && sub">
        <ul *ngIf="getSubItems(sub)" [ngClass]="sub.classes"
            [desyAppAccessibility]="sub">
          <ng-container *ngFor="let subItem of getSubItems(sub); index as subIndex">
            <ng-container [ngTemplateOutlet]="itemTemplate"
                          [ngTemplateOutletContext]="{
                           item: subItem,
                           id: getSubItemId(item, index, subIndex),
                           index: subIndex,
                           isRoot: false
                          }">
            </ng-container>
          </ng-container>
        </ul>
        <div *ngIf="!getSubItems(sub)"
             [class]="['mb-base px-xs origin-top-left text-sm text-neutral-dark', sub.classes] | makeHtmlList"
             [id]="'sub-' + id">
          <ng-container *desyCustomInnerContent="{ component: sub, html: sub.html }"></ng-container>
        </div>
      </ng-container>
    </li>
    <li *ngIf="item.divider" class="my-sm border-b border-neutral-base" aria-hidden="true">
      <div class="sr-only">Separador</div>
    </li>
  </ng-container>
</ng-template>

<nav [ngClass]="classes"
     [attr.role]="(role ? role : null)"
     [desyAppAccessibility]="this">
  <ul class="text-base">
    <ng-container *ngFor="let item of getItems(); index as index">
      <ng-container [ngTemplateOutlet]="itemTemplate"
                    [ngTemplateOutletContext]="{  item: item, id: getId(item, index), index: index, sub: getItemSub(item), isRoot: true }">
      </ng-container>
    </ng-container>
  </ul>
</nav>
