
  <div class="flex justify-between">
    <ng-container *ngIf="headingComponent || heading">
      <ng-container [ngSwitch]="headingLevel > 0 && headingLevel < 6 ? headingLevel : 2">
        <h1 *ngSwitchCase="1" [class]="getTitleClasses()">
          <ng-container *desyCustomInnerContent="{
            component: headingComponent ? headingComponent : null,
            html: heading ? heading.html : null,
            text: heading ? heading.text : null
          }"></ng-container>
        </h1>
        <h2 *ngSwitchCase="2" [class]="getTitleClasses()">
          <ng-container *desyCustomInnerContent="{
            component: headingComponent ? headingComponent : null,
            html: heading ? heading.html : null,
            text: heading ? heading.text : null
          }"></ng-container>
        </h2>
        <h3 *ngSwitchCase="3" [class]="getTitleClasses()">
          <ng-container *desyCustomInnerContent="{
            component: headingComponent ? headingComponent : null,
            html: heading ? heading.html : null,
            text: heading ? heading.text : null
          }"></ng-container>
        </h3>
        <h4 *ngSwitchCase="4" [class]="getTitleClasses()">
          <ng-container *desyCustomInnerContent="{
            component: headingComponent ? headingComponent : null,
            html: heading ? heading.html : null,
            text: heading ? heading.text : null
          }"></ng-container>
        </h4>
        <h5 *ngSwitchCase="5" [class]="getTitleClasses()">
          <ng-container *desyCustomInnerContent="{
            component: headingComponent ? headingComponent : null,
            html: heading ? heading.html : null,
            text: heading ? heading.text : null
          }"></ng-container>
        </h5>
      </ng-container>
      <button [attr.id]="id" *ngIf="showControl" (click)="changeAll()" type="button"
              class="ml-auto py-base text-sm text-neutral-dark underline focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus text-right">
        {{showAll ? 'Mostrar' : 'Ocultar'}} todo
      </button>
    </ng-container>
  </div>
  <div class="Accordion">
    <div *ngFor="let item of getItems(); index as i" class="-my-px px-xs py-sm border-t border-b border-neutral-base"
         (keydown.home)="focusFirstItem($event)"
         (keydown.end)="focusLastItem($event)"
         (keydown.arrowup)="focusPreviousItem($event, i)"
         (keydown.arrowdown)="focusNextItem($event, i)"
         (click)="selectItem(i)">

      <ng-container [ngSwitch]="headingLevel > 0 && headingLevel < 6 ? headingLevel : 2">
        <h2 *ngSwitchCase="1"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h2>
        <h3 *ngSwitchCase="2"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h3>
        <h4 *ngSwitchCase="3"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h4>
        <h5 *ngSwitchCase="4"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h5>
        <h6 *ngSwitchCase="5"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h6>
      </ng-container>
      <p class="sr-only" aria-hidden="true">Haz click en el botón anterior para mostrar u ocultar</p>
      <div *ngIf="item.open" class="c-accordion__panel"
           [class]="item.classes"
           [attr.id]="getItemId(item, i)"
           [desyAppAccessibility]="item">
        <ng-container *desyCustomInnerContent="{ component: getItemContent(item), html: item.html, text: item.text }"></ng-container>
      </div>
    </div>
  </div>
<ng-template #itemHeaderContent let-item="item" let-id="id" let-index="index">
  <button #itemSelector [id]="id + '-title'" type="button" class="group relative w-full py-sm font-semibold text-left cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black"
          [attr.aria-controls]="id" [attr.aria-expanded]="item.open === true ? 'true' : 'false'" (click)="toggleItem(item)" [attr.disabled]="item.disabled" [ngClass]="item.disabled ? 'cursor-not-allowed' : ''">
    <ng-container *desyCustomInnerContent="{ component: getItemHeader(item), html: item.headerHtml, text: item.headerText }"></ng-container>
    <span *ngIf="!item.disabled" class="absolute inset-y-0 right-0 py-sm font-normal text-sm text-neutral-dark underline group-focus:text-black pointer-events-none" aria-hidden="true" [ngClass]="{'hidden': item.disabled}">
      <span *ngIf="!item.open" [class]="['Accordion-show', item.showHeaderButton?.classes] | makeHtmlList">
        <ng-container *desyCustomInnerContent="{ component: item.showHeaderButton, text: 'Mostrar' }"></ng-container>      
      </span>
      <span *ngIf="allowToggle && item.open" [class]="['Accordion-hide', item.showHeaderButton?.classes] | makeHtmlList">
        <ng-container *desyCustomInnerContent="{ component: item.hideHeaderButton, text: 'Ocultar' }"></ng-container>
      </span>
    </span>
  </button>
</ng-template>
