<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Media-object configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-media-object [classes]="classes"
                   [id]="id"
                   [figureClasses]="figureClasses"
                   [contentClasses]="contentClasses"
                   [center]="center"
                   [reverse]="reverse"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
  <desy-media-object-figure>
    <div class='w-20 h-20'>
      <div class='h-full border-4 border-dashed border-blue-200 rounded-lg'></div>
    </div>
  </desy-media-object-figure>
  <desy-content>
    Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit.</strong> Integer maximus, <i>elit et faucibus
      finibus</i>, massa enim egestas leo, et lobortis lorem elit non enim. Nullam molestie nunc eget eleifend
    porttitor. Suspendisse ornare ligula erat, non dapibus nunc rhoncus at. Maecenas vitae urna viverra, semper mauris
    vitae, euismod ante. Sed finibus quam ut orci pellentesque, in tincidunt risus tristique. Vivamus efficitur purus
    urna, sed blandit lorem convallis vel. Mauris tincidunt tincidunt ipsum finibus euismod. Sed eget tincidunt mauris.
    Duis viverra commodo consectetur. Nullam viverra tincidunt nisl, sit amet dignissim lacus mattis imperdiet.
  </desy-content>
</desy-media-object>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Media-object simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-media-object>
  <desy-media-object-figure>
    <div class='w-20 h-20'>
      <div class='h-full border-4 border-dashed border-blue-200 rounded-lg'></div>
    </div>
  </desy-media-object-figure>
  <desy-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus, elit et faucibus finibus, massa enim egestas leo, et lobortis lorem elit non enim. Nullam molestie nunc eget eleifend porttitor. Suspendisse ornare ligula erat, non dapibus nunc rhoncus at. Maecenas vitae urna viverra, semper mauris vitae, euismod ante. Sed finibus quam ut orci pellentesque, in tincidunt risus tristique. Vivamus efficitur purus urna, sed blandit lorem convallis vel. Mauris tincidunt tincidunt ipsum finibus euismod. Sed eget tincidunt mauris. Duis viverra commodo consectetur. Nullam viverra tincidunt nisl, sit amet dignissim lacus mattis imperdiet.
  </desy-content>
</desy-media-object>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Media-object con orden invertido con clases, padding y margin"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-media-object [reverse]="true" classes="ml-base" contentClasses="text-sm" figureClasses="ml-base">
  <desy-media-object-figure>
    <div class='w-20 h-20'>
      <div class='h-full border-4 border-dashed border-blue-200 rounded-lg'></div>
    </div>
  </desy-media-object-figure>
  <desy-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer maximus, elit et faucibus finibus, massa enim egestas leo, et lobortis lorem elit non enim. Nullam molestie nunc eget eleifend porttitor. Suspendisse ornare ligula erat, non dapibus nunc rhoncus at. Maecenas vitae urna viverra, semper mauris vitae, euismod ante. Sed finibus quam ut orci pellentesque, in tincidunt risus tristique. Vivamus efficitur purus urna, sed blandit lorem convallis vel. Mauris tincidunt tincidunt ipsum finibus euismod. Sed eget tincidunt mauris. Duis viverra commodo consectetur. Nullam viverra tincidunt nisl, sit amet dignissim lacus mattis imperdiet.
  </desy-content>
</desy-media-object>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>

    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="figureClasses" [(target)]="figureClasses"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="contentClasses" [(target)]="contentClasses"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="Center" [(target)]="center"> </app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="reverse" [(target)]="reverse"> </app-input-boolean>
    
  </div>

  <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>

</div>
