<ng-template #contentTemplate>
  <ul [class]="['c-tree__itemgroup', classes] | makeHtmlList"
      [attr.role]="role ? role : 'group'"
      [desyAppAccessibility]="this">
    <ng-content></ng-content>
  </ul>
</ng-template>
