<ng-container *ngIf="hasSelect">
  <p [attr.id]="id + '-label'" class="w-full mb-xs text-sm text-neutral-dark">
    Selecciona para cargar datos automáticamente
  </p>
  <nav [class]="['flex flex-wrap items-center flex-1 mb-base lg:mb-0 text-sm', classes] | makeHtmlList"
        [desyAppAccessibility]="this">
    <desy-button *ngIf="showFirst" (clickEvent)="first()" [id]="getIdPrefix() + '-first'"
                  [html]="firstIcon + prefix + firstText + getSuffix(currentPage - 2)" [disabled]="currentPage === 1 || !hasFirst"
                  classes="c-button--sm c-button--transparent mr-xs"></desy-button>
    <desy-button *ngIf="showPrevious" (clickEvent)="previous()" [id]="getIdPrefix() + '-previous'"
                  [html]="previousIcon + prefix + previousText + getSuffix(currentPage - 2)" [disabled]="currentPage === 1 || !hasPrevious"
                  classes="c-button--sm c-button--transparent mr-xs"></desy-button>
    <div class="flex flex-wrap items-center pl-sm"
          [ngClass]="{'w-full lg:w-auto': showFirst || showLast}">
      <p *ngIf="showFirst || showLast" class="lg:hidden mr-xs text-sm text-neutral-dark">Página actual:</p>
          <desy-select [classes]="'c-select--sm c-select--transparent'" 
                 [formGroupClasses]="'-mt-sm mb-0 mr-xs'" 
                 [id]="id + '-items-listbox-'"
                 [name]="id + 'items-listbox-'"
                 [describedBy]="id + '-label'"
                 [items]="items"
                 [ngModel]="value"
                 (ngModelChange)="handleActiveItemChange($event)">
             <desy-label [classes]="'sr-only'">
                Selecciona una página
             </desy-label>
          </desy-select>
    </div>
    <desy-button *ngIf="showNext" (clickEvent)="next()" [id]="getIdPrefix() + '-next'"
                  [html]="prefix + nextText + getSuffix(currentPage) + nextIcon" [disabled]="currentPage === nPages || !hasNext"
                  classes="c-button--sm c-button--transparent mr-xs"></desy-button>
    <desy-button *ngIf="showLast" (clickEvent)="last()" [id]="getIdPrefix() + '-last'"
                  [html]="prefix + lastText + getSuffix(currentPage) + lastIcon" [disabled]="currentPage === nPages || !hasLast"
                  classes="c-button--sm c-button--transparent mr-xs"></desy-button>
  </nav>
</ng-container>
<ng-container *ngIf="!hasSelect">
  <nav [class]="['flex flex-wrap items-center flex-1 mb-base lg:mb-0 text-sm', classes] | makeHtmlList"
        [desyAppAccessibility]="this">
    <ul class="flex flex-wrap">
      <li *ngFor="let item of items; index as i">
        <desy-button *ngIf="item.selected" [id]="getButtonId(i)"
                      [html]="'<strong>' + prefix + (i + 1) + getSuffix(i,true) + '</strong>'"
                      classes="c-button--primary c-button--disabled mb-sm mr-sm"
                      [disabled]="true" ariaCurrent="page" tabindex="-1"></desy-button>
        <desy-button *ngIf="!item.selected" [id]="getButtonId(i)"
                      [html]="prefix + (i + 1) + getSuffix(i,true)"
                      (clickEvent)="changePage(i + 1)"
                      classes="mb-sm mr-sm"></desy-button>
      </li>
    </ul>
  </nav>
</ng-container>
  
<div *ngIf="hasSelectItemsPerPage" class="block relative -top-xs lg:ml-auto text-sm text-neutral-dark">
    <desy-select [classes]="'c-select--sm c-select--transparent'" 
                 [formGroupClasses]="'flex flex-wrap place-items-baseline gap-xs -mt-sm mb-0 mr-xs'" 
                 [id]="'items-listbox-' + getIdPrefix()"
                 [name]="'items-listbox-' + getIdPrefix()"
                 [describedBy]="id + '-label'"
                 [items]="itemsPerPageList"
                 [ngModel]="valuePerPage"
                 (ngModelChange)="changeItemsPerPage($event)">
      <desy-label [classes]="listboxLabel && listboxLabel.classes ? listboxLabel.classes : 'inline-block flex align-middle mb-[0]'">
        <ng-container *ngIf="listboxLabel">
          <ng-container *desyCustomInnerContent="{ component: listboxLabel }"></ng-container>
        </ng-container>
        <ng-container *ngIf="!listboxLabel">
          Items por página
        </ng-container>
      </desy-label>
   </desy-select>
</div>


<p [attr.id]="idPrefix + '-status'" role="status" aria-live="polite" class="block relative -top-xs lg:ml-auto text-sm text-neutral-dark" *ngIf="totalItems && itemsPerPage">
  <span class="sr-only">Posición de paginación: </span>{{(currentPage - 1) * itemsPerPage + 1}} - {{getLastItemNumber(currentPage - 1)}} de {{totalItems}}
</p>
