<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Spinner configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<div class="p-base border">
  <desy-spinner [text]="text"
                [classes]="classes"
                [id]="id"
                [role]="role"
                [ariaLabel]="ariaLabel"
                [ariaDescribedBy]="ariaDescribedBy"
                [ariaLabelledBy]="ariaLabelledBy"
                [ariaHidden]="ariaHidden"
                [ariaDisabled]="ariaDisabled"
                [ariaControls]="ariaControls"
                [ariaCurrent]="ariaCurrent"
                [ariaLive]="ariaLive"
                [ariaExpanded]="ariaExpanded"
                [ariaErrorMessage]="ariaErrorMessage"
                [ariaHasPopup]="ariaHasPopup"
                [tabindex]="tabindex">
  </desy-spinner>
</div>
<app-spaced></app-spaced>

<app-implementation-info info="Spinner simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<div class="p-base border">
  <desy-spinner></desy-spinner>
</div>
<app-spaced></app-spaced>

<app-implementation-info info="Spinner con texto para lector de pantalla"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<div class="p-base border">
  <desy-spinner text="Espere por favor" classes="text-neutral-base"></desy-spinner>
</div>
<app-spaced></app-spaced>

<app-implementation-info info="Spinner tamaño xs"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<div class="p-base border">
  <desy-spinner classes="text-xs"></desy-spinner>
</div>
<app-spaced></app-spaced>

<app-implementation-info info="Spinner tamaño 6xl"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<div class="p-11 border">
  <desy-spinner classes="text-6xl"></desy-spinner>
</div>
<app-spaced></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="text"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base text-6xl" nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
  </div>

  <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>

</div>
