<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Select configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<form [formGroup]="formContent">
  <desy-select formControlName="valueFormControlContent"
               [id]="id"
               [classes]="classes"
               [name]="name"
               [formGroupClasses]="formGroupClasses"
               [disabled]="disabled"
               [describedBy]="describedBy"
               [role]="role"
               [ariaLabel]="ariaLabel"
               [ariaLabelledBy]="ariaLabelledBy"
               [ariaHidden]="ariaHidden"
               [ariaDisabled]="ariaDisabled"
               [ariaControls]="ariaControls"
               [ariaCurrent]="ariaCurrent"
               [ariaLive]="ariaLive"
               [ariaExpanded]="ariaExpanded"
               [ariaErrorMessage]="ariaErrorMessage"
               [ariaHasPopup]="ariaHasPopup"
               [tabindex]="tabindex">
    <desy-label [classes]="labelData.classes"
                [for]="labelData.for"
                [isPageHeading]="labelData.isPageHeading"
                [id]="labelData.id"
                [role]="labelData.role"
                [ariaLabel]="labelData.ariaLabel"
                [ariaDescribedBy]="labelData.ariaDescribedBy"
                [ariaLabelledBy]="labelData.ariaLabelledBy"
                [ariaHidden]="labelData.ariaHidden"
                [ariaDisabled]="labelData.ariaDisabled"
                [ariaControls]="labelData.ariaControls"
                [ariaCurrent]="labelData.ariaCurrent"
                [ariaLive]="labelData.ariaLive"
                [ariaExpanded]="labelData.ariaExpanded"
                [ariaErrorMessage]="labelData.ariaErrorMessage"
                [ariaHasPopup]="labelData.ariaHasPopup"
                [tabindex]="labelData.tabindex">
      <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
    </desy-label>
    <desy-hint [classes]="hintData.classes"
               [id]="hintData.id"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [id]="(errorId ? errorId : id + '-error')"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="(errorMessageData.ariaDescribedBy ? errorMessageData.ariaDescribedBy + '' + errorId : errorId)"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
    <!-- Placeholder -->
    <desy-option [disabled]="true"
                 [hidden]="true"
                 [selected]="true"
                 value="">Choose an option</desy-option>
    <desy-option *ngFor="let item of items"
                 [disabled]="item.disabled"
                 [value]="item.value"
                 [selected]="item.selected"
                 [role]="item.role"
                 [ariaLabel]="item.ariaLabel"
                 [ariaDescribedBy]="item.ariaDescribedBy"
                 [ariaLabelledBy]="item.ariaLabelledBy"
                 [ariaHidden]="item.ariaHidden"
                 [ariaDisabled]="item.ariaDisabled"
                 [ariaControls]="item.ariaControls"
                 [ariaCurrent]="item.ariaCurrent"
                 [ariaLive]="item.ariaLive"
                 [ariaExpanded]="item.ariaExpanded"
                 [ariaErrorMessage]="item.ariaErrorMessage"
                 [ariaHasPopup]="item.ariaHasPopup"
                 [tabindex]="item.tabindex">
      <ng-container *appCustomInnerContent="{ text: item.text }"></ng-container>
    </desy-option>
    <desy-option-group [label]="optionGroup.label"
                       [disabled]="optionGroup.disabled"
                       [role]="optionGroup.role"
                       [ariaLabel]="optionGroup.ariaLabel"
                       [ariaDescribedBy]="optionGroup.ariaDescribedBy"
                       [ariaLabelledBy]="optionGroup.ariaLabelledBy"
                       [ariaHidden]="optionGroup.ariaHidden"
                       [ariaDisabled]="optionGroup.ariaDisabled"
                       [ariaControls]="optionGroup.ariaControls"
                       [ariaCurrent]="optionGroup.ariaCurrent"
                       [ariaLive]="optionGroup.ariaLive"
                       [ariaExpanded]="optionGroup.ariaExpanded"
                       [ariaErrorMessage]="optionGroup.ariaErrorMessage"
                       [ariaHasPopup]="optionGroup.ariaHasPopup"
                       [tabindex]="optionGroup.tabindex">
      <desy-option [value]="'g1'">Opcion 1</desy-option>
      <desy-option [value]="'g2'">Opcion 2</desy-option>
      <desy-option [value]="'g3'"
                   [disabled]="true">Opcion disabled</desy-option>
      <desy-option [value]="'g4'"
                   [hidden]="true">Opcion hidden</desy-option>
      <desy-option [value]="'g5'">Opcion 5</desy-option>
    </desy-option-group>
  </desy-select>
</form>
<p> Valor: {{formContent.value.valueFormControlContent}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Select simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-select [id]="id"
             [classes]="classes"
             [name]="name"
             [disabled]="disabled"
             [(ngModel)]="value"
             [describedBy]="describedBy"
             [formGroupClasses]="formGroupClasses"
             [role]="role"
             [ariaLabel]="ariaLabel"
             [ariaLabelledBy]="ariaLabelledBy"
             [ariaHidden]="ariaHidden"
             [ariaDisabled]="ariaDisabled"
             [ariaControls]="ariaControls"
             [ariaCurrent]="ariaCurrent"
             [ariaLive]="ariaLive"
             [ariaExpanded]="ariaExpanded"
             [ariaErrorMessage]="ariaErrorMessage"
             [ariaHasPopup]="ariaHasPopup"
             [tabindex]="tabindex">
  <desy-option *ngFor="let item of items"
               [disabled]="item.disabled"
               [value]="item.value"
               [selected]="item.selected"
               [role]="item.role"
               [ariaLabel]="item.ariaLabel"
               [ariaDescribedBy]="item.ariaDescribedBy"
               [ariaLabelledBy]="item.ariaLabelledBy"
               [ariaHidden]="item.ariaHidden"
               [ariaDisabled]="item.ariaDisabled"
               [ariaControls]="item.ariaControls"
               [ariaCurrent]="item.ariaCurrent"
               [ariaLive]="item.ariaLive"
               [ariaExpanded]="item.ariaExpanded"
               [ariaErrorMessage]="item.ariaErrorMessage"
               [ariaHasPopup]="item.ariaHasPopup"
               [tabindex]="item.tabindex">
    <ng-container *appCustomInnerContent="{ text: item.text }"></ng-container>
  </desy-option>
</desy-select>
<p> Valor: {{value}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Select con placeholder"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-select>
  <desy-option [disabled]="true" [selected]="true" [hidden]="true">Choose an option</desy-option>
  <desy-option [value]="1">Opción 1</desy-option>
  <desy-option [value]="2">Opción 2</desy-option>
  <desy-option [value]="3">Opción 3</desy-option>
</desy-select>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Select con clases de form-group opcionales"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-select classes="lg:flex-1" formGroupClasses="lg:flex lg:flex-wrap lg:items-center lg:gap-x-base">
  <desy-label classes="lg:py-sm lg:mt-sm">Label en línea:</desy-label>
  <desy-option [value]="1">Opción 1</desy-option>
  <desy-option [value]="2" [selected]="true">Opción 2</desy-option>
  <desy-option [value]="3" [disabled]="true">Opción 3</desy-option>
  <desy-error-message class="order-1 w-full pt-sm">Error: Esto es un mensaje de error</desy-error-message>
</desy-select>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..."
                    nameProperty="classes" [(target)]="classes"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="formGroupClasses" [(target)]="formGroupClasses"></app-input-text>

    <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy"
                    [(target)]="describedBy"></app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="disabled"
                       [(target)]="disabled"></app-input-boolean>

  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="label" nameProperty="html" [(target)]="labelData.html"></app-input-text>
        <app-input-text nameComponent="label" nameProperty="for" [(target)]="labelData.for"></app-input-text>
        <app-input-text nameComponent="label" placeholder="inline-block bg-warning-light ..." nameProperty="classes"
                        [(target)]="labelData.classes"></app-input-text>
        <app-input-text nameComponent="label" nameProperty="Id" [(target)]="labelData.id"></app-input-text>
        <app-input-boolean nameComponent="label" nameProperty="isPageHeading"
                           [(target)]="labelData.isPageHeading"></app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de label" id="label"
                            [(role)]="labelData.role"
                            [(ariaLabel)]="labelData.ariaLabel"
                            [(ariaDescribedBy)]="labelData.ariaDescribedBy"
                            [(ariaLabelledBy)]="labelData.ariaLabelledBy"
                            [(ariaHidden)]="labelData.ariaHidden"
                            [(ariaDisabled)]="labelData.ariaDisabled"
                            [(ariaControls)]="labelData.ariaControls"
                            [(ariaCurrent)]="labelData.ariaCurrent"
                            [(ariaLive)]="labelData.ariaLive"
                            [(ariaExpanded)]="labelData.ariaExpanded"
                            [(ariaErrorMessage)]="labelData.ariaErrorMessage"
                            [(ariaHasPopup)]="labelData.ariaHasPopup"
                            [(tabindex)]="labelData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint" nameProperty="html" [(target)]="hintData.html"></app-input-text>
        <app-input-text nameComponent="hint" placeholder="text-primary-base uppercase ..." nameProperty="classes"
                        [(target)]="hintData.classes"></app-input-text>
        <app-input-text nameComponent="hint" nameProperty="Id" [(target)]="hintData.id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="hintData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="errorMessage" nameProperty="html"
                        [(target)]="errorMessageData.html"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText"
                        [(target)]="errorMessageData.visuallyHiddenText"></app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..."
                        nameProperty="classes" [(target)]="errorMessageData.classes"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="Id" [(target)]="errorMessageData.id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de un option"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="option" nameProperty="value"
                        [(target)]="item.value"></app-input-text>
        <app-input-boolean nameComponent="option" nameProperty="selected"
                        [(target)]="item.selected"></app-input-boolean>
        <app-input-boolean nameComponent="option" nameProperty="disabled"
                           [(target)]="item.disabled"></app-input-boolean>
        <app-input-boolean nameComponent="option" nameProperty="hidden"
                           [(target)]="item.hidden"></app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de item" id="item-accesibilidad"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"
                            [(tabindex)]="item.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de un option-group"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="option-group" nameProperty="label"
                        [(target)]="optionGroup.label"></app-input-text>
        <app-input-boolean nameComponent="option-group" nameProperty="disabled"
                           [(target)]="optionGroup.disabled"></app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de option-group" id="option-group-accesibilidad"
                            [(role)]="optionGroup.role"
                            [(ariaLabel)]="optionGroup.ariaLabel"
                            [(ariaDescribedBy)]="optionGroup.ariaDescribedBy"
                            [(ariaLabelledBy)]="optionGroup.ariaLabelledBy"
                            [(ariaHidden)]="optionGroup.ariaHidden"
                            [(ariaDisabled)]="optionGroup.ariaDisabled"
                            [(ariaControls)]="optionGroup.ariaControls"
                            [(ariaCurrent)]="optionGroup.ariaCurrent"
                            [(ariaLive)]="optionGroup.ariaLive"
                            [(ariaExpanded)]="optionGroup.ariaExpanded"
                            [(ariaErrorMessage)]="optionGroup.ariaErrorMessage"
                            [(ariaHasPopup)]="optionGroup.ariaHasPopup"
                            [(tabindex)]="optionGroup.tabindex"></app-accessibility-inputs>
</div>
