<!-- H1 H2 H3 H4 H5 H6 | If not headingLevel default H2-->
<ng-template [desyDynamicHeading]="headingLevel" [classes]="classes">
  <a [href]="homepageUrl ? (homepageUrl | externalHref) : '/'"
    class="hover:underline focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base focus:text-black"
    title="Ir a la página de inicio">
    <ng-content></ng-content>
  </a>
</ng-template>