<!-- toggle -->
  <button *ngIf="isSwitch"
          (click)="onClick($event)"
          [type]="'button'"
          [class]="pressed ? (classes + ' ' + contentTemplateOnState?.classes) : (classes + ' ' + contentTemplateOffState?.classes)"
          [attr.aria-checked]="pressed ? 'true' : 'false'"
          [attr.aria-pressed]="!isExpandible ? (pressed ? 'true' : 'false') : null"
          [attr.id]="id ? id : null" 
          [attr.role]="'switch'"
          [desyAppAccessibility]="this"
          [attr.aria-expanded]="isExpandible ? (pressed ? 'true' : 'false') : null">
    
    <span [class]="pressed ? 'hidden' : ''" class="pointer-events-none"><ng-container *ngTemplateOutlet="contentTemplateOffState?.content"></ng-container></span>
    <span [class]="pressed ? '' : 'hidden'" class="pointer-events-none"><ng-container *ngTemplateOutlet="contentTemplateOnState?.content"></ng-container></span>
  </button>

  <button *ngIf="!isSwitch"
          (click)="onClick($event)"
          [type]="'button'"
          [class]="pressed ? (classes + ' ' + contentTemplateOnState?.classes) : (classes + ' ' + contentTemplateOffState?.classes)"
          [attr.aria-pressed]="pressed ? 'true' : 'false'"
          [attr.id]="id ? id : null" 
          [desyAppAccessibility]="this">
    
    <span [class]="pressed ? 'hidden' : ''" class="pointer-events-none"><ng-container *ngTemplateOutlet="contentTemplateOffState?.content"></ng-container></span>
    <span [class]="pressed ? '' : 'hidden'" class="pointer-events-none"><ng-container *ngTemplateOutlet="contentTemplateOnState?.content"></ng-container></span>
  </button>
<!-- /toggle -->