<app-title-demo [name]="nameComponent"></app-title-demo>

<ng-template #panelContent1>
    <div class="mb-base p-base bg-warning-light"><ul class="c-ul mb-0"><li><p>Ley 38/2003, de 17 de noviembre, General de Subvenciones. (BOE nº 276 de 18 de noviembre de 2003) y su Reglamento de desarrollo aprobado por Real Decreto 887/2006, de 21 de julio. </p><p><a href="#" class="c-link text-sm">Ver detalles de la normativa</a></p></li><li>Ley 5/2015, de 25 de marzo, de Subvenciones de Aragón. (BOA nº 68 de 10 de abril de 2015). <br><a href="#" class="c-link text-sm">Ver detalles de la normativa</a></li></ul></div><div class="flex items-baseline"><p class="flex-1 text-sm text-neutral-dark">Cambios realizados hace 2 horas</p><div class="ml-auto"><button class="c-button c-button--transparent">Descartar</button><button class="c-button c-button--transparent">Editar</button></div></div>
</ng-template>
<ng-template #panelContentCustom>
    <div class='mb-base p-base'><ul class='c-ul mb-0'><li><p>Ley 38/2003, de 17 de noviembre, General de Subvenciones. (BOE nº 276 de 11 de diciembre de 2020) y su Reglamento de desarrollo aprobado por Real Decreto 887/2006, de 21 de julio.</p><p><a href='#' class='c-link text-sm'>Ver detalles de la normativa</a></p></li><li>Ley 5/2015, de 25 de marzo, de Subvenciones de Aragón. (BOA nº 68 de 10 de abril de 2015). <br><a href='#' class='c-link text-sm'>Ver detalles de la normativa</a></li></ul></div><p class='text-sm text-neutral-dark'>Texto original</p>
</ng-template>

<app-implementation-info info="Tabs configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-tabs id="content"
           [idPrefix]="idPrefix"
           [classes]="classes"
           [title]="title"
           [headingLevel]="headingLevel"
           [tablistAriaLabel]="tablistAriaLabel"
           [role]="role"
           [ariaLabel]="ariaLabel"
           [ariaDescribedBy]="ariaDescribedBy"
           [ariaLabelledBy]="ariaLabelledBy"
           [ariaHidden]="ariaHidden"
           [ariaDisabled]="ariaDisabled"
           [ariaControls]="ariaControls"
           [ariaCurrent]="ariaCurrent"
           [ariaLive]="ariaLive"
           [ariaExpanded]="ariaExpanded"
           [ariaErrorMessage]="ariaErrorMessage"
           [ariaHasPopup]="ariaHasPopup"
           [tabindex]="tabindex">
    <desy-tab-item *ngFor="let item of items"
                   [id]="item.id"
                   [disabled]="item.disabled">
        <desy-content>
            <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
        </desy-content>
        <desy-panel [id]="item.panel.id"
                    [classes]="item.panel.classes">
            <ng-container *appCustomInnerContent="{ template: item.panel.html, text: item.panel.text}"></ng-container>
        </desy-panel>
    </desy-tab-item>
</desy-tabs>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tabs simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-tabs idPrefix="tab-example"
           tablistAriaLabel="Tab example"
           title="Implementación Default"
           [headingLevel]="headingLevel">
    <desy-tab-item id="tab-example-a"
                   [disabled]="true">
        <desy-content>Tab 0</desy-content>
        <desy-panel>Tab disabled</desy-panel>
    </desy-tab-item>
    <desy-tab-item id="tab-example-b">
        <desy-content>Tab 1</desy-content>
        <desy-panel classes="bg-warning-light">
            <p><strong>Panel 1</strong>. Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis
                exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.
                Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio?</p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item id="tab-example-c"
                   [disabled]="true">
        <desy-content>Tab 2</desy-content>
        <desy-panel>
            <p><strong>Panel 2</strong>. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi
                dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem
                ipsum dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam
                temporibus. Provident animi dolor veniam, et quas consequuntur.</p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item id="tab-example-d">
        <desy-content>Tab 3</desy-content>
        <desy-panel classes="bg-warning-light">
            <p><strong>Panel 3</strong>. Provident animi dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum
                porro? Quaerat, temporibus, optio? Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis
                exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.
            </p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item id="tab-example-e"
                   [active]="true">
        <desy-content>Tab 4</desy-content>
        <desy-panel>
            <p><strong>Panel 4</strong>. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem ipsum
                dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam
                temporibus. Provident animi dolor veniam, et quas consequuntur.</p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item id="tab-example-f">
        <desy-content>Tab 5</desy-content>
        <desy-panel>Tab con texto sin formato.</desy-panel>
    </desy-tab-item>
    <desy-tab-item id="tab-example-g"
                   [disabled]="true">
        <desy-content>Tab 6</desy-content>
        <desy-panel>Tab disabled 2</desy-panel>
    </desy-tab-item>
</desy-tabs>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tabs con iconos y c-tabs--scroll"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-tabs classes="c-tabs--scroll">
    <desy-tab-item>
        <desy-content> 
            <span class="block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="block w-8 h-8 mx-auto mb-sm" aria-label="Archivo" role="img" focusable="false">
            <path d="M89.355 12.518l26.46 26.46a2.917 2.917 0 01.852 2.06v84.379a2.917 2.917 0 01-2.917 2.916h-87.5a2.917 2.917 0 01-2.917-2.916V14.583a2.917 2.917 0 012.917-2.916h61.046a2.917 2.917 0 012.059.851zM90.918 0H23.333a11.667 11.667 0 00-11.666 11.667v116.666A11.667 11.667 0 0023.333 140h93.334a11.667 11.667 0 0011.666-11.667V37.415a5.833 5.833 0 00-1.709-4.124L95.042 1.709A5.833 5.833 0 0090.918 0z" fill="currentColor" />
            <path d="M93.333 64.167h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM93.333 87.5h-52.5a5.833 5.833 0 010-11.667h52.5a5.833 5.833 0 010 11.667zM67.083 110.833h-26.25a5.833 5.833 0 010-11.666h26.25a5.833 5.833 0 010 11.666z" fill="currentColor" />
          </svg><span class="block mx-auto">Tab 1</span></span>
        </desy-content>
        <desy-panel classes="bg-warning-light">
            <p><strong>Panel 1</strong>. Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis
                exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.
                Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio?</p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item>
        <desy-content><span class="block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="block w-8 h-8 mx-auto mb-sm" aria-label="Archivo" role="img" focusable="false">
            <path d="M72.368 86.946a5.833 5.833 0 00-3.167 7.624 5.833 5.833 0 01-1.266 6.358l-16.497 16.503a11.667 11.667 0 01-16.496 0l-12.379-12.373a11.667 11.667 0 010-16.502l16.52-16.497a5.91 5.91 0 016.364-1.266 5.834 5.834 0 004.451-10.786 17.698 17.698 0 00-19.063 3.804l-16.52 16.497a23.368 23.368 0 000 32.999l12.378 12.372a23.333 23.333 0 0032.994 0l16.502-16.496a17.547 17.547 0 003.798-19.075 5.833 5.833 0 00-7.619-3.162z" fill="currentColor" />
            <path d="M45.25 94.74a5.897 5.897 0 008.247 0l45.378-45.373a5.833 5.833 0 00-8.248-8.248L45.249 86.491a5.833 5.833 0 000 8.248z" fill="currentColor" />
            <path d="M125.685 26.682l-12.373-12.373a23.368 23.368 0 00-32.999 0L63.811 30.806a17.535 17.535 0 00-3.798 19.069A5.835 5.835 0 1070.8 45.418a5.833 5.833 0 011.266-6.335l16.497-16.496a11.667 11.667 0 0116.502 0l12.373 12.372a11.667 11.667 0 010 16.503l-16.52 16.467a5.92 5.92 0 01-6.364 1.266 5.836 5.836 0 00-4.463 10.786 17.652 17.652 0 0019.075-3.798l16.497-16.496a23.374 23.374 0 00.023-33.005z" fill="currentColor" />
          </svg><span class="block mx-auto">Tab 2</span></span>
        </desy-content>
        <desy-panel>
            <p><strong>Panel 2</strong>. Est quis exercitationem, nesciunt nulla quisquam temporibus. Provident animi
                dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem
                ipsum dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam
                temporibus. Provident animi dolor veniam, et quas consequuntur.</p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item>
        <desy-content> <span class="block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="block w-8 h-8 mx-auto mb-sm" aria-label="Archivo" role="img" focusable="false">
            <path d="M96.25 52.5h-52.5a4.375 4.375 0 000 8.75h52.5a4.375 4.375 0 000-8.75zM100.625 77.286a4.375 4.375 0 00-4.375-4.375h-52.5a4.375 4.375 0 000 8.75h52.5a4.375 4.375 0 004.375-4.375zM58.333 37.917h23.334a5.833 5.833 0 005.833-5.834V17.5A17.54 17.54 0 0065.287.624 17.762 17.762 0 0052.5 18.007v14.076a5.833 5.833 0 005.833 5.834zm7.292-21.875A4.375 4.375 0 1170 20.417a4.375 4.375 0 01-4.375-4.381z" fill="currentColor" />
            <path d="M113.75 17.5H97.708a1.458 1.458 0 00-1.458 1.458v8.75a1.458 1.458 0 001.458 1.459h13.125a2.917 2.917 0 012.917 2.916v74.62a2.917 2.917 0 01-.852 2.065l-18.713 18.708a2.917 2.917 0 01-2.06.851H29.168a2.917 2.917 0 01-2.917-2.916V32.083a2.917 2.917 0 012.917-2.916h13.125a1.458 1.458 0 001.458-1.459v-8.75a1.458 1.458 0 00-1.458-1.458H26.25a11.667 11.667 0 00-11.667 11.667v99.166A11.667 11.667 0 0026.25 140h87.5a11.667 11.667 0 0011.667-11.667V29.167A11.667 11.667 0 00113.75 17.5z" fill="currentColor" />
            <path d="M43.75 93.333a4.375 4.375 0 000 8.75h21.875a4.375 4.375 0 000-8.75z" fill="currentColor" />
          </svg><span class="block mx-auto">Tab 3</span></span>
        </desy-content>
        <desy-panel classes="bg-warning-light">
            <p><strong>Panel 3</strong>. Provident animi dolor veniam, et quas consequuntur. Reiciendis eius in, nostrum
                porro? Quaerat, temporibus, optio? Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Est quis
                exercitationem, nesciunt nulla quisquam temporibus. Provident animi dolor veniam, et quas consequuntur.
            </p>
        </desy-panel>
    </desy-tab-item>
    <desy-tab-item>
        <desy-content><span class="block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="block w-8 h-8 mx-auto mb-sm" aria-label="Archivo" role="img" focusable="false">
            <path d="M72.368 86.946a5.833 5.833 0 00-3.167 7.624 5.833 5.833 0 01-1.266 6.358l-16.497 16.503a11.667 11.667 0 01-16.496 0l-12.379-12.373a11.667 11.667 0 010-16.502l16.52-16.497a5.91 5.91 0 016.364-1.266 5.834 5.834 0 004.451-10.786 17.698 17.698 0 00-19.063 3.804l-16.52 16.497a23.368 23.368 0 000 32.999l12.378 12.372a23.333 23.333 0 0032.994 0l16.502-16.496a17.547 17.547 0 003.798-19.075 5.833 5.833 0 00-7.619-3.162z" fill="currentColor" />
            <path d="M45.25 94.74a5.897 5.897 0 008.247 0l45.378-45.373a5.833 5.833 0 00-8.248-8.248L45.249 86.491a5.833 5.833 0 000 8.248z" fill="currentColor" />
            <path d="M125.685 26.682l-12.373-12.373a23.368 23.368 0 00-32.999 0L63.811 30.806a17.535 17.535 0 00-3.798 19.069A5.835 5.835 0 1070.8 45.418a5.833 5.833 0 011.266-6.335l16.497-16.496a11.667 11.667 0 0116.502 0l12.373 12.372a11.667 11.667 0 010 16.503l-16.52 16.467a5.92 5.92 0 01-6.364 1.266 5.836 5.836 0 00-4.463 10.786 17.652 17.652 0 0019.075-3.798l16.497-16.496a23.374 23.374 0 00.023-33.005z" fill="currentColor" />
          </svg><span class="block mx-auto">Tab 4</span></span>
        </desy-content>
        <desy-panel>
            <p><strong>Panel 4</strong>. Reiciendis eius in, nostrum porro? Quaerat, temporibus, optio? Lorem ipsum
                dolor sit, amet, consectetur adipisicing elit. Est quis exercitationem, nesciunt nulla quisquam
                temporibus. Provident animi dolor veniam, et quas consequuntur.</p>
        </desy-panel>
    </desy-tab-item>
</desy-tabs>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">

     <div>
        <app-title-params></app-title-params>
        <app-input-text [nameComponent]="nameComponent" nameProperty="title" [(target)]="title"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <li class="text-sm mt-3">Añade la clase <i>"c-tabs--scroll"</i> para permitir que en la vista móvil las tabs se vean similar a escritorio.</li>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="Tab example..." nameProperty="tablistAriaLabel" [(target)]="tablistAriaLabel"> </app-input-text>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"> </app-input-number>
    </div>

    <app-accessibility-inputs [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [(ariaDescribedBy)]="ariaDescribedBy"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [(ariaErrorMessage)]="ariaErrorMessage"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros de item"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
                <app-input-text [nameComponent]="'item'" nameProperty="html" [(target)]="item.html"> </app-input-text>
                <app-input-text [nameComponent]="'item'" nameProperty="id" [(target)]="item.id"> </app-input-text>
                <app-input-boolean [nameComponent]="'item'" description="Deshabilita el boton de la implementación editable" nameProperty="disabled" [(target)]="item.disabled"> </app-input-boolean>
                <app-input-boolean [nameComponent]="'item'" description="Activa la tab, sirve para que este activada por defecto" nameProperty="active" [(target)]="item.active"> </app-input-boolean>
            </div>
        </details>
    </div>

    <app-accessibility-inputs title="Parámetros de accesibilidad del item" id="item"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"
                            [(tabindex)]="item.tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros del Panel del item"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
                <app-input-text nameComponent="panel" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="item.panel.classes"> </app-input-text>
                <app-input-text nameComponent="panel" nameProperty="id" [(target)]="item.panel.id"> </app-input-text>
            </div>
        </details>
    </div>

    <app-accessibility-inputs title="Parámetros de accesibilidad de panel del item" id="panel"
                            [(role)]="item.panel.role"
                            [(ariaLabel)]="item.panel.ariaLabel"
                            [(ariaDescribedBy)]="item.panel.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.panel.ariaLabelledBy"
                            [(ariaHidden)]="item.panel.ariaHidden"
                            [(ariaDisabled)]="item.panel.ariaDisabled"
                            [(ariaControls)]="item.panel.ariaControls"
                            [(ariaCurrent)]="item.panel.ariaCurrent"
                            [(ariaLive)]="item.panel.ariaLive"
                            [(ariaExpanded)]="item.panel.ariaExpanded"
                            [(ariaErrorMessage)]="item.panel.ariaErrorMessage"
                            [(ariaHasPopup)]="item.panel.ariaHasPopup"
                            [(tabindex)]="item.panel.tabindex"></app-accessibility-inputs>

</div>



