<ng-template #innerHtml>
  <ng-content select="desy-hint"></ng-content>
  <ng-content select="desy-error-message"></ng-content>
  <ng-content select="desy-search-bar"></ng-content>
  <ul [attr.id]="id ? id : null"
      [attr.role]="role ? role : 'tree'"
      [desyAppAccessibility]="this">
    <ng-content></ng-content>
  </ul>
</ng-template>

<!-- tree -->
<div [class]="['c-form-group', formGroupClasses] | makeHtmlList"
     [ngClass]="{'c-form-group--error': (hasErrorsMessage() || formGroupClasses === 'c-form-group--error') }">
  <ng-container *ngIf="hasFieldsetComponent(); else innerHtml">
    <ng-content select="desy-fieldset"></ng-content>
  </ng-container>
</div>