<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Menubar configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-menubar [id]="id"
              [idPrefix]="idPrefix"
              [classes]="classes"
              [role]="role"
              [ariaLabel]="ariaLabel"
              [ariaDescribedBy]="ariaDescribedBy"
              [ariaLabelledBy]="ariaLabelledBy"
              [ariaHidden]="ariaHidden"
              [ariaDisabled]="ariaDisabled"
              [ariaControls]="ariaControls"
              [ariaCurrent]="ariaCurrent"
              [ariaLive]="ariaLive"
              [ariaErrorMessage]="ariaErrorMessage"
              [tabindex]="tabindex"
              (activeItemChange)="handleActiveItemChange($event)"
              (activeSubItemChange)="handleActiveSubItemChange($event)">
  <desy-menubar-label [classes]="labelData.classes">
    <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
  </desy-menubar-label>
  <desy-menubar-item *ngFor="let i of items"
                     [href]="i.href"
                     [target]="i.target"
                     [routerLink]="i.routerLink"
                     [routerLinkActiveClasses]="i.routerLinkActiveClasses"
                     [fragment]="i.fragment"
                     [id]="i.id"
                     [ariaLabel]="i.ariaLabel"
                     [sub]="i.sub"
                     [classes]="i.classes"
                     [title]="i.title"
                     [disabled]="i.disabled"
                     [active]="i.active"
                     (selected)="setLastClickedItemText(i.html)">
    <ng-container *appCustomInnerContent="{ html: i.html }"></ng-container>
    <ng-container *ngIf="i.sub && i.sub.items">
      <desy-menubar-subitem *ngFor="let si of i.sub.items"
                            [role]="si.role"
                            [ariaLabel]="si.ariaLabel"
                            [(checked)]="si.checked"
                            (selected)="setLastClickedItemText(si.html)">
        <ng-container *appCustomInnerContent="{ html: si.html }"></ng-container>
        <ng-container *ngIf="si.items">
          <desy-menubar-subsubitem *ngFor="let ssi of si.items"
                                   [role]="ssi.role"
                                   [(checked)]="ssi.checked"
                                   [active]="i.active"
                                   (selected)="setLastClickedItemText(ssi.html)">
            <ng-container *appCustomInnerContent="{ html: ssi.html }"></ng-container>
          </desy-menubar-subsubitem>
        </ng-container>
      </desy-menubar-subitem>
    </ng-container>
  </desy-menubar-item>
</desy-menubar>
<p *ngIf="lastClickedItemText">Último item seleccionado: {{lastClickedItemText}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menubar simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-menubar>
  <desy-menubar-item [sub]="{}" classes="mb-base mr-base">
    menuitem
    <desy-menubar-subitem role="menuitem">Menusubitem-1</desy-menubar-subitem>
    <desy-menubar-subitem role="menuitem">Menusubitem-2</desy-menubar-subitem>
    <desy-menubar-subitem role="menuitem">Menusubitem-3</desy-menubar-subitem>
  </desy-menubar-item>
  <desy-menubar-item [sub]="{}" classes="mb-base mr-base">
    separator
    <desy-menubar-subitem role="menuitem">Menusubitem-1</desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="menuitem">Menusubitem-2</desy-menubar-subitem>
  </desy-menubar-item>
  <desy-menubar-item [sub]="{}" classes="mb-base mr-base">
    menuitemcheckbox
    <desy-menubar-subitem role="menuitemcheckbox">Menusubitem-1</desy-menubar-subitem>
    <desy-menubar-subitem role="menuitemcheckbox">Menusubitem-2</desy-menubar-subitem>
    <desy-menubar-subitem role="menuitemcheckbox">Menusubitem-3</desy-menubar-subitem>
  </desy-menubar-item>
  <desy-menubar-item [sub]="{}" classes="mb-base mr-base">
    menuitemradio
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemradio">Menusubitem-1</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemradio">Menusubitem-2</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemradio">Menusubitem-3</desy-menubar-subsubitem>
    </desy-menubar-subitem>
  </desy-menubar-item>
</desy-menubar>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menubar ejemplo de filtro"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-menubar classes="c-menubar--last-right">
  <desy-menubar-item [sub]="{}" classes="c-menubar__button--sm mb-sm mr-sm">
    Estados y trámites
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Filtrar servicios</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Filtrar procesos y convocatorias</desy-menubar-subsubitem>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="none">
      <span class="inline-block px-base py-sm text-neutral-dark focus:outline-none">Estados</span>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Borrador</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Borrador rechazado</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">En validación</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Publicado</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Con cambios</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Dados de baja</desy-menubar-subsubitem>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="none">
      <span class="inline-block px-base py-sm text-neutral-dark focus:outline-none">Plazos (sólo aplican a convocatorias y procesos)</span>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Plazo permanente</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Plazo temporal indefinido</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Plazo temporal abierto</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Plazo temporal finalizado</desy-menubar-subsubitem>
    </desy-menubar-subitem>
  </desy-menubar-item>
  <desy-menubar-item [sub]="{}" classes="c-menubar__button--sm mb-sm mr-sm">
    Tipología
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Procedimiento</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Servicio sin tramitación de procedimiento</desy-menubar-subsubitem>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Interno</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Externo</desy-menubar-subsubitem>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Común, horizontal</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Específico, sectorial</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Específico de uso común</desy-menubar-subsubitem>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Inicio de oficio</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Inicio a instancia</desy-menubar-subsubitem>
    </desy-menubar-subitem>
    <desy-menubar-subitem role="separator"></desy-menubar-subitem>
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemcheckbox">Con convocatorias</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemcheckbox">Tramitación íntegra digital</desy-menubar-subsubitem>
    </desy-menubar-subitem>
  </desy-menubar-item>
  <desy-menubar-item classes="c-menubar__button--transparent c-menubar__button--sm mb-sm mr-sm"
                     routerLink="/">
    Eliminar filtros
  </desy-menubar-item>
  <desy-menubar-item [sub]="{}" classes="c-menubar__button--sm mb-sm mr-sm">
    Orden: Actividad reciente
    <desy-menubar-subitem role="group">
      <desy-menubar-subsubitem role="menuitemradio" [checked]="true">Actividad reciente</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemradio">Publicación reciente</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemradio">Creación reciente</desy-menubar-subsubitem>
      <desy-menubar-subsubitem role="menuitemradio">Número de servicio (de mayor a menor)</desy-menubar-subsubitem>
    </desy-menubar-subitem>
  </desy-menubar-item>
</desy-menubar>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [placeholder]="'c-menubar--last-right'" [(target)]="classes"></app-input-text>
      <app-input-number [nameComponent]="'menubar-label'" nameProperty="Número de items (autogenerados)"
                        description="Número de items autogenerados" [(target)]="numAutogeneratedItems"
                        (targetChange)="refreshItemList()"></app-input-number>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [id]="'accesibility-inputs'"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="'menubar-label'" nameProperty="html" [(target)]="labelData.html"></app-input-text>
      <app-input-text [nameComponent]="'menubar-label'" nameProperty="classes" [(target)]="labelData.classes"></app-input-text>
    </details>
  </div>
  <div></div>
  <div>
    <app-title-params titleparams="Parámetros de item"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="html" [(target)]="item.html"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="classes" [(target)]="item.classes"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="id" [(target)]="item.id"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="href" [(target)]="item.href"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="target" [(target)]="item.target"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="routerLink" [(target)]="item.routerLink"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="routerLinkActiveClasses" [(target)]="item.routerLinkActiveClasses"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="fragment" [(target)]="item.fragment"></app-input-text>
      <app-input-text [nameComponent]="'menubar-item'" nameProperty="title" [(target)]="item.title"></app-input-text>
      <app-input-boolean [nameComponent]="'menubar-item'" nameProperty="disabled" [(target)]="item.disabled"></app-input-boolean>
      <app-input-boolean [nameComponent]="'menubar-item'" nameProperty="active" [(target)]="item.active"></app-input-boolean>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [title]="'Parámetros de accesibilidad de item'" [id]="'item-accesibility-inputs'"
                              [(ariaLabel)]="item.ariaLabel"
                              [(ariaDescribedBy)]="item.ariaDescribedBy"
                              [(ariaLabelledBy)]="item.ariaLabelledBy"
                              [(ariaHidden)]="item.ariaHidden"
                              [(ariaDisabled)]="item.ariaDisabled"
                              [(ariaControls)]="item.ariaControls"
                              [(ariaCurrent)]="item.ariaCurrent"
                              [(ariaLive)]="item.ariaLive"
                              [(ariaErrorMessage)]="item.ariaErrorMessage"
                              [(tabindex)]="item.tabindex"></app-accessibility-inputs>
  </div>
</div>
<desy-checkboxes [name]="'itemElems'"
                 legendText="Configuración de los elementos del item"
                 [(ngModel)]="itemSubInputsVisible" (ngModelChange)="refreshItemList()"
                 [items]="itemSubInputs">
  <ng-template desyCondition [item]="itemSubInputs[0]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de subnav"></app-title-params>
        <app-input-text [nameComponent]="'menubar-item-sub'" nameProperty="classes" [(target)]="itemSub.classes"></app-input-text>
        <app-spaced></app-spaced>
        <desy-checkboxes [name]="'subElems'"
                         [(ngModel)]="itemSubItemInputsVisible" (ngModelChange)="refreshItemList()"
                         [items]="itemSubItemInputs">
          <ng-template desyCondition [item]="itemSubItemInputs[0]">
            <app-input-number [nameComponent]="'menubar-item-sub-item'" nameProperty="Número de items (autogenerados)"
                              description="Número de sub-items autogenerados" [(target)]="numAutogeneratedSubItems"
                              (targetChange)="refreshItemList()"></app-input-number>
            <app-input-text [nameComponent]="'menubar-item-sub-item'" description="menuitem, none, group, menuitemcheckbox, separator" nameProperty="role" [(target)]="subItem.role"></app-input-text>
            <app-input-text [nameComponent]="'menubar-item-sub-item'" nameProperty="ariaLabel" [(target)]="subItem.ariaLabel"></app-input-text>
            <app-input-text [nameComponent]="'menubar-item-sub-item'" nameProperty="html" [(target)]="subItem.html"></app-input-text>
            <app-input-boolean [nameComponent]="'menubar-item-sub-item'" description="Sólo para role='menuitemcheckbox'" nameProperty="checked" [(target)]="subItem.checked"></app-input-boolean>
            <app-spaced></app-spaced>
            <desy-checkboxes [name]="'subSubElems'" [legendText]="'Sólo se muestran si el item tiene role=group'"
                             [(ngModel)]="itemSubItemSubitemsInputsVisible" (ngModelChange)="refreshItemList()"
                             [items]="itemSubItemSubitemsInputs">
              <ng-template desyCondition [item]="itemSubItemSubitemsInputs[0]">
                <app-input-number [nameComponent]="'menubar-item-sub-item-subitem'" nameProperty="Número de items (autogenerados)"
                                  description="Número de sub-items autogenerados" [(target)]="numAutogeneratedSubSubItems"
                                  (targetChange)="refreshItemList()"></app-input-number>
                <app-input-text [nameComponent]="'menubar-item-sub-item-subitem'" nameProperty="role" description="menuitem, none, group, menuitemcheckbox, menuitemradio, separator" [(target)]="subSubItem.role"></app-input-text>
                <app-input-text [nameComponent]="'menubar-item-sub-item-subitem'" nameProperty="html" [(target)]="subSubItem.html"></app-input-text>
                <app-input-boolean [nameComponent]="'menubar-item-sub-item-subitem'" description="Sólo para role='menuitemcheckbox' y role='menuitemradio'" nameProperty="checked" [(target)]="subSubItem.checked"></app-input-boolean>
              </ng-template>
            </desy-checkboxes>
          </ng-template>
        </desy-checkboxes>
      </div>
    </div>
  </ng-template>
</desy-checkboxes>
