<div [class]="[ 'mt-16 sm:mt-0 relative max-w-lg mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white', classes] | makeHtmlList"
     [attr.id]="id ? id : null"
     [desyAppAccessibility]="this">
  <div *ngIf="iconComponent || icon" class="flex justify-center p-base">
    <ng-container *desyCustomInnerContent="{ component: iconComponent, html: icon ? icon.html : null }"></ng-container>
      <ng-container [ngSwitch]="iconComponent ? iconComponent.type : icon.type">
        <svg *ngSwitchCase="'discard'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-16 h-16 text-alert-light" focusable="false" aria-hidden="true" role="presentation"><path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM5.29,5.29a9.63,9.63,0,0,1,12.23-1,.26.26,0,0,1,0,.4L4.67,17.56a.27.27,0,0,1-.4,0,9.49,9.49,0,0,1,1-12.24ZM18.75,18.76a9.53,9.53,0,0,1-12.23,1,.26.26,0,0,1,0-.4L19.37,6.49a.26.26,0,0,1,.4,0,9.49,9.49,0,0,1-1,12.24Z" fill="currentColor"></path></svg>
        <svg *ngSwitchCase="'delete'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-16 h-16 text-alert-light" focusable="false" aria-hidden="true" role="presentation"><g><path d="M19.5,7.5H4.5A.5.5,0,0,0,4,8V22a2,2,0,0,0,2,2H18a2,2,0,0,0,2-2V8A.5.5,0,0,0,19.5,7.5Zm-9.25,13a.75.75,0,0,1-1.5,0v-9a.75.75,0,0,1,1.5,0Zm5,0a.75.75,0,0,1-1.5,0v-9a.75.75,0,0,1,1.5,0Z" fill="currentColor"></path><path d="M22,4H17.25A.25.25,0,0,1,17,3.75V2.5A2.5,2.5,0,0,0,14.5,0h-5A2.5,2.5,0,0,0,7,2.5V3.75A.25.25,0,0,1,6.75,4H2A1,1,0,0,0,2,6H22a1,1,0,0,0,0-2ZM9,3.75V2.5A.5.5,0,0,1,9.5,2h5a.5.5,0,0,1,.5.5V3.75a.25.25,0,0,1-.25.25H9.25A.25.25,0,0,1,9,3.75Z" fill="currentColor"></path></g></svg>
        <svg *ngSwitchCase="'publish'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-16 h-16 text-primary-light" focusable="false" aria-hidden="true" role="presentation"><path d="M23.82,1.12A.5.5,0,0,0,23.31,1l-23,9.5A.5.5,0,0,0,0,11a.51.51,0,0,0,.32.46l6.33,2.45a.52.52,0,0,0,.47-.05l8.4-6a.5.5,0,0,1,.64.77l-7,6.75a.51.51,0,0,0-.15.36V22.5a.49.49,0,0,0,.37.48.49.49,0,0,0,.56-.23l3.17-5.42a.25.25,0,0,1,.33-.1l5.83,3.21a.5.5,0,0,0,.73-.33l4-18.5A.5.5,0,0,0,23.82,1.12Z" fill="currentColor"></path></svg>
        <svg *ngSwitchCase="'changes'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-16 h-16 text-primary-light" focusable="false" aria-hidden="true" role="presentation"><g><path d="M12,13a1,1,0,0,0,1-1V8a1,1,0,1,0-2,0v4A1,1,0,0,0,12,13Z" fill="currentColor"></path><circle cx="11.99" cy="15.71" r="1.25" fill="currentColor"></circle><path d="M19.29,5.53a9.72,9.72,0,0,0-9.55-3A10.25,10.25,0,0,0,2.38,9.61a.26.26,0,0,1-.27.18l-1-.13a.47.47,0,0,0-.47.22.47.47,0,0,0,0,.52l2.47,4.35a.51.51,0,0,0,.44.25.52.52,0,0,0,.36-.16l3.47-3.59a.48.48,0,0,0,.12-.51A.5.5,0,0,0,7,10.41l-1.88-.24A.23.23,0,0,1,5,10.05a.22.22,0,0,1,0-.21,7.67,7.67,0,0,1,5.37-4.9,7.23,7.23,0,0,1,7.1,2.25,1.25,1.25,0,1,0,1.87-1.66Z" fill="currentColor"></path><path d="M4.79,16.7a1.24,1.24,0,0,0-.11,1.76,9.72,9.72,0,0,0,9.55,3,10.24,10.24,0,0,0,7.37-7.12.24.24,0,0,1,.27-.17l1.06.12a.5.5,0,0,0,.48-.22.49.49,0,0,0,0-.52l-2.5-4.33A.51.51,0,0,0,20.55,9a.52.52,0,0,0-.43.15l-3.45,3.62a.5.5,0,0,0-.11.51.49.49,0,0,0,.41.33l1.85.22A.25.25,0,0,1,19,14a.22.22,0,0,1,0,.21,7.67,7.67,0,0,1-5.36,4.9,7.26,7.26,0,0,1-7.11-2.25A1.24,1.24,0,0,0,4.79,16.7Z" fill="currentColor"></path></g></svg>
        <svg *ngSwitchCase="'edit'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em" class="block w-16 h-16 text-primary-light" focusable="false" aria-hidden="true" role="presentation"><g><path d="M13.94,15a2,2,0,0,1-.67.45L9.73,16.86a2,2,0,0,1-2.6-2.6l1.41-3.53A2.18,2.18,0,0,1,9,10.05l5.88-5.88a.25.25,0,0,0-.17-.43H3.37A3.12,3.12,0,0,0,.25,6.86V20.62a3.12,3.12,0,0,0,3.12,3.12H17.13a3.12,3.12,0,0,0,3.12-3.12V9.29a.25.25,0,0,0-.43-.17Z" fill="currentColor"></path><path d="M18.57,3.3a.51.51,0,0,0-.71,0l-7.81,7.82a.36.36,0,0,0-.11.16L8.52,14.82a.51.51,0,0,0,.11.54.54.54,0,0,0,.54.11l3.54-1.42a.45.45,0,0,0,.17-.11l7.81-7.81a.51.51,0,0,0,.15-.35.53.53,0,0,0-.15-.36Z" fill="currentColor"></path><path d="M23.16,3.65a2,2,0,0,0,0-2.82,2,2,0,0,0-2.83,0L19.28,1.89a.56.56,0,0,0-.15.35.47.47,0,0,0,.15.35L21.4,4.71a.47.47,0,0,0,.35.15.57.57,0,0,0,.35-.15Z" fill="currentColor"></path></g></svg>
      </ng-container>
  </div>

  <ng-container [ngSwitch]="headingLevel > 0 && headingLevel < 6 ? headingLevel : 2">
    <h1 *ngSwitchCase="1" [attr.id]="'label-' + id" [class]="getTitleClasses()" tabindex="-1">
      <ng-container *desyCustomInnerContent="{
        component: this.titleComponent,
        html: this.titleModal ? this.titleModal.html : null,
        text: this.titleModal ? this.titleModal.text : null
      }"></ng-container>
    </h1>
    <h2 *ngSwitchCase="2" [attr.id]="'label-' + id" [class]="getTitleClasses()" tabindex="-1">
      <ng-container *desyCustomInnerContent="{
        component: this.titleComponent,
        html: this.titleModal ? this.titleModal.html : null,
        text: this.titleModal ? this.titleModal.text : null
      }"></ng-container>
    </h2>
    <h3 *ngSwitchCase="3" [attr.id]="'label-' + id" [class]="getTitleClasses()" tabindex="-1">
      <ng-container *desyCustomInnerContent="{
        component: this.titleComponent,
        html: this.titleModal ? this.titleModal.html : null,
        text: this.titleModal ? this.titleModal.text : null
      }"></ng-container>
    </h3>
    <h4 *ngSwitchCase="4" [attr.id]="'label-' + id" [class]="getTitleClasses()" tabindex="-1">
      <ng-container *desyCustomInnerContent="{
        component: this.titleComponent,
        html: this.titleModal ? this.titleModal.html : null,
        text: this.titleModal ? this.titleModal.text : null
      }"></ng-container>
    </h4>
    <h5 *ngSwitchCase="5" [attr.id]="'label-' + id" [class]="getTitleClasses()" tabindex="-1">
      <ng-container *desyCustomInnerContent="{
        component: this.titleComponent,
        html: this.titleModal ? this.titleModal.html : null,
        text: this.titleModal ? this.titleModal.text : null
      }"></ng-container>
    </h5>
  </ng-container>

  <div *ngIf="descriptionIsHtml" [class]="getDescriptionClasses()"
       (desyContentChange)="checkDescriptionContent($event)" [observeProperties]="{ attributes: false, childList: true, characterData: true, subtree: true }">
    <ng-container *desyCustomInnerContent="{
      component: descriptionComponent,
      html: description ? description.html : null,
      text: description ? description.text : null
    }"></ng-container>
  </div>
  <p *ngIf="!descriptionIsHtml" [class]="getDescriptionClasses()"
     (desyContentChange)="checkDescriptionContent($event)" [observeProperties]="{ attributes: false, childList: true, characterData: true, subtree: true }">
    <ng-container *desyCustomInnerContent="{
      component: descriptionComponent,
      html: description ? description.html : null,
      text: description ? description.text : null
    }"></ng-container>
  </p>

  <div *ngIf="contentComponent || caller" class="p-base">
    <ng-container *desyCustomInnerContent="{ component: contentComponent, template: caller }"></ng-container>
  </div>

  <div class="flex flex-wrap gap-sm w-full" *ngIf="itemsPrimary || (primaryButtonComponents && primaryButtonComponents.length > 0) || itemsSecondary || (secondaryButtonComponents && secondaryButtonComponents.length > 0)"
  [ngClass]="(itemsPrimary || (primaryButtonComponents && primaryButtonComponents.length > 0)) && (itemsSecondary || (secondaryButtonComponents && secondaryButtonComponents.length > 0)) ? 'justify-between' : 'justify-center'">
    <ng-template #buttons let-items="items">
      <ng-container *ngIf="items">
        <div class="mt-sm" *ngIf="items.length === 1">
          <desy-button (clickEvent)="clickButtonEmit(items[0], $event)"
           [disabled]="items[0].disabled"
           [classes]="items[0].classes"
           [id]="items[0].id"
           [text]="items[0].text"
           [html]="items[0].html"
           [element]="items[0].element"
           [name]="items[0].name"
           [type]="items[0].type"
           [value]="items[0].value"
           [href]="items[0].href"
           [target]="items[0].target"
           [preventDoubleClick]="items[0].preventDoubleClick"
           [routerLink]="items[0].routerLink"
           [routerLinkActiveClasses]="items[0].routerLinkActiveClasses">
            <ng-container *desyCustomInnerContent="{ component: items[0], text: items[0].text }"></ng-container>
          </desy-button>
        </div>

        <!-- FIXME De momento se mantiene el nbsp por no tener clases diferentes a desy-html.
              Eliminar al adaptar a una versión de desy-html que lo contemple -->
        <ul class="flex flex-wrap gap-sm" *ngIf="items.length > 1">
          <ng-container *ngFor="let item of items">
            <li>
              <desy-button (clickEvent)="clickButtonEmit(item, $event)"
                [disabled]="item.disabled"
                [classes]="item.classes"
                [id]="item.id"
                [text]="item.text"
                [html]="item.html"
                [element]="item.element"
                [name]="item.name"
                [type]="item.type"
                [value]="item.value"
                [href]="item.href"
                [target]="item.target"
                [preventDoubleClick]="item.preventDoubleClick"
                [routerLink]="item.routerLink"
                [routerLinkActiveClasses]="item.routerLinkActiveClasses">
                <ng-container *desyCustomInnerContent="{ component: item, text: item.text }"></ng-container>
              </desy-button>
            </li>&nbsp;
          </ng-container>
        </ul>
      </ng-container>
    </ng-template>
    <ng-container *ngTemplateOutlet="buttons; context: { items: getPrimaryItems() }"></ng-container>
    <ng-container *ngTemplateOutlet="buttons; context: { items: getSecondaryItems() }"></ng-container>
  </div>

  <!-- Button loader -->
  <div class="flex flex-wrap gap-sm w-full" *ngIf="(primaryButtonLoaderComponents && primaryButtonLoaderComponents.length > 0) || (secondaryButtonLoaderComponents && secondaryButtonLoaderComponents.length > 0)" 
  [ngClass]="((primaryButtonLoaderComponents && primaryButtonLoaderComponents.length > 0)) && ((secondaryButtonLoaderComponents && secondaryButtonLoaderComponents.length > 0)) ? 'justify-between' : 'justify-center'">
    <ng-template #buttonsLoader let-items="items">
      <ng-container *ngIf="items">
        <div class="mt-sm" *ngIf="items.length === 1">
          <desy-button-loader (clickEvent)="clickButtonEmit(items[0], $event)"
              [loaderText]="items[0].loaderText"
              [loaderClasses]="items[0].loaderClasses"
              [state]="items[0].state"
              [successText]="items[0].successText"
              [disabled]="items[0].disabled"
              [classes]="(items[0].state === null || items[0].state === 'is-success') ? items[0].classes : items[0].classes + ' c-button-loader--is-loading'"
              [id]="items[0].id"
              [text]="items[0].text"
              [html]="items[0].html"
              [element]="items[0].element"
              [name]="items[0].name"
              [type]="items[0].type"
              [value]="items[0].value"
              [href]="items[0].href"
              [target]="items[0].target"
              [preventDoubleClick]="items[0].preventDoubleClick"
              [routerLink]="items[0].routerLink"
              [routerLinkActiveClasses]="items[0].routerLinkActiveClasses">
            <ng-container *desyCustomInnerContent="{ component: items[0], text: items[0].text }"></ng-container>
          </desy-button-loader>
        </div>

        <ul class="flex flex-wrap gap-sm" *ngIf="items.length > 1">
          <ng-container *ngFor="let item of items">
            <li>
              <desy-button-loader (clickEvent)="clickButtonEmit(item, $event)"
                  [loaderText]="item.loaderText"
                  [loaderClasses]="item.loaderClasses"
                  [state]="item.state"
                  [successText]="item.successText"
                  [disabled]="item.disabled"
                  [classes]="(item.state === null || item.state === 'is-success') ? item.classes : item.classes + ' c-button-loader--is-loading'"
                  [id]="item.id"
                  [text]="item.text"
                  [html]="item.html"
                  [element]="item.element"
                  [name]="item.name"
                  [type]="item.type"
                  [value]="item.value"
                  [href]="item.href"
                  [target]="item.target"
                  [preventDoubleClick]="item.preventDoubleClick"
                  [routerLink]="item.routerLink"
                  [routerLinkActiveClasses]="item.routerLinkActiveClasses">
                <ng-container *desyCustomInnerContent="{ component: item, text: item.text }"></ng-container>
              </desy-button-loader>
            </li>&nbsp;
          </ng-container>
        </ul>
      </ng-container>
    </ng-template>
    <ng-container *ngTemplateOutlet="buttonsLoader; context: { items: getPrimaryLoaderItems() }"></ng-container>
    <ng-container *ngTemplateOutlet="buttonsLoader; context: { items: getSecondaryLoaderItems() }"></ng-container>
  </div>

  <ng-container *ngIf="isDismissible">
    <div class="absolute top-0 right-0 p-sm lg:p-base">
      <button (click)="closeDialog()" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>
      </button>
    </div>
  </ng-container>
</div>
