<h1 class="pt-lg c-h1">Componentes</h1>
<nav  class="pt-lg text-sm pb-2xl">
  <ul>
    <li  *ngFor="let item of sortBy('title')">
      <a [routerLink]="'/' + item.alias" [id]="'site-menu-item-' + item.alias" class="flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        {{ item.title }}
      </a>
    </li>
  </ul>
</nav>
<app-changelog></app-changelog>
