<fieldset [class]="classes"
    [attr.role]="role"
    [attr.aria-describedby]="describedBy ? describedBy : ariaDescribedBy"
    [attr.aria-errormessage]="errorId ? errorId : ariaErrorMessage"
    [desyAppAccessibility]="this"
    [attr.id]="id">

  <ng-container *ngIf="legendComponent">
    <ng-content select="desy-legend"></ng-content>
  </ng-container>
  <ng-container *ngIf="!legendComponent">
    <ng-container *ngTemplateOutlet="legendRef"></ng-container>
    <desy-legend *ngIf="!legendRef && legendData"
        [text]="legendData.text"
        [html]="legendData.html"
        [classes]="legendData.classes"
        [isPageHeading]="legendData.isPageHeading"
        [headingLevel]="headingLevel"></desy-legend>
    <desy-legend *ngIf="!legendRef && !legendData && legendText" [text]="legendText" [headingLevel]="headingLevel"></desy-legend>
  </ng-container>

  <ng-container *desyCustomInnerContent="{ component: contentComponent, template: caller }"></ng-container>
</fieldset>
