<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Skip-link configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-skip-link [classes]="classes"
                [fragment]="fragment"
                [id]="id"
                [role]="role"
                [ariaLabel]="ariaLabel"
                [ariaDescribedBy]="ariaDescribedBy"
                [ariaLabelledBy]="ariaLabelledBy"
                [ariaHidden]="ariaHidden"
                [ariaDisabled]="ariaDisabled"
                [ariaControls]="ariaControls"
                [ariaCurrent]="ariaCurrent"
                [ariaLive]="ariaLive"
                [ariaExpanded]="ariaExpanded"
                [ariaErrorMessage]="ariaErrorMessage"
                [ariaHasPopup]="ariaHasPopup"
                [tabindex]="tabindex">
    <ng-container *appCustomInnerContent="{ html: html }"></ng-container>
</desy-skip-link>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Skip-link simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-skip-link fragment="content">Saltar al contenido principal</desy-skip-link>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base" >
    <div>
        <app-title-params></app-title-params>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="ds-focus ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" description="anchor (sin #)"  nameProperty="fragment" [(target)]="fragment"> </app-input-text>
   </div>

    <div id="content">
        <app-accessibility-inputs [(role)]="role"
            [(ariaLabel)]="ariaLabel"
            [(ariaDescribedBy)]="ariaDescribedBy"
            [(ariaLabelledBy)]="ariaLabelledBy"
            [(ariaHidden)]="ariaHidden"
            [(ariaDisabled)]="ariaDisabled"
            [(ariaControls)]="ariaControls"
            [(ariaCurrent)]="ariaCurrent"
            [(ariaLive)]="ariaLive"
            [(ariaExpanded)]="ariaExpanded"
            [(ariaErrorMessage)]="ariaErrorMessage"
            [(ariaHasPopup)]="ariaHasPopup"
            [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
