<div [ngClass]="classes ? classes: 'bg-heading-base bg-no-repeat bg-cover lg:bg-auto bg-center lg:bg-right bg-general lg:bg-general-lg  text-white'"
     [ngStyle]="{'background-color': backgroundColor}">
  <div class="container mx-auto px-base">
    <div class="lg:flex lg:flex-wrap py-base lg:py-lg">
      <desy-header-advanced-logo *ngIf="logoUrl"
                                 [url]="logoUrl"
                                 [alt]="logoAlt"
                                 [href]="logoHref"
                                 [routerLink]="logoRouterLink"
                                 [routerLinkActiveClasses]="logoRouterLinkActiveClasses"
                                 [target]="logoTarget"
                                 [fragment]="logoFragment"
                                 [classes]="logoClasses"
                                 [type]="title" />
      <div class="flex lg:flex-1">
        <div>
          <ng-content select="desy-header-advanced-title"></ng-content>
          <ng-content select="desy-header-advanced-subtitle"></ng-content>
        </div>
        <ng-content select="desy-header-advanced-custom-navigation"></ng-content>
      </div>
    </div>
  </div>
</div>