<ng-template #tableContent>
  <table [class]="['c-table', classes] | makeHtmlList"
         [attr.id]="id ? id : null"
         [desyAppAccessibility]="this">
    <caption *ngIf="caption || captionComponent" [class]="getCaptionClass()">
      <ng-container *desyCustomInnerContent="{ component: captionComponent, text: caption ? caption : null }"></ng-container>
    </caption>
    <thead *ngIf="head || headerComponent" class="sr-only lg:not-sr-only">
      <tr class="border-t border-b border-neutral-base">
        <ng-container *ngFor="let headerCell of getHeaderCells()">
          <th scope="col"
              [class]="['align-top px-base py-sm text-left font-normal text-sm text-neutral-dark', headerCell.classes] | makeHtmlList"
              [attr.colspan]="(headerCell.colspan ?  headerCell.colspan : null)"
              [attr.rowspan]="(headerCell.rowspan ? headerCell.rowspan : null)"
              [attr.id]="headerCell.id ? headerCell.id : null"
              [desyAppAccessibility]="headerCell">
              <ng-container *desyCustomInnerContent="{ component: headerCell, html: headerCell.html, text: headerCell.text, parentComponent: this }"></ng-container>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of getRows(); index as rowIndex" class="block lg:table-row -mb-px lg:mb-0 text-left border-t border-b border-neutral-base">
          <ng-container *ngFor="let cell of getRowCells(row); first as isFirst; index as cellIndex">
              <th *ngIf="firstCellIsHeader && isFirst; else elseTd" scope="row"
                  [class]="['block lg:table-cell before:block before:text-neutral-dark before:lg:hidden before:content-[attr(data-label)] before:text-sm align-top px-base py-sm text-left font-normal text-sm text-neutral-dark', cell.classes] | makeHtmlList"
                  [attr.colspan]="cell.colspan ? cell.colspan  : null"
                  [attr.rowspan]="cell.rowspan ? cell.rowspan  : null"
                  [attr.id]="cell.id ? cell.id : null"
                  [attr.data-label]="cell.header"
                  [desyAppAccessibility]="cell">
                <ng-container *desyCustomInnerContent="{ component: cell, html: cell.html, text: cell.text }"></ng-container>
              </th>
              <ng-template #elseTd>
                  <td [class]="['block lg:table-cell text-left before:block before:text-neutral-dark before:lg:hidden before:content-[attr(data-label)] before:text-sm px-base py-sm', cell.classes] | makeHtmlList"
                      [attr.colspan]="cell.colspan ? cell.colspan  : null"
                      [attr.rowspan]="cell.rowspan ? cell.rowspan  : null"
                      [attr.id]="cell.id ? cell.id : null"
                      [attr.data-label]="cell.header"
                      [desyAppAccessibility]="cell">
                    <ng-container *desyCustomInnerContent="{ component: cell, html: cell.html, text: cell.text }"></ng-container>
                  </td>
              </ng-template>
          </ng-container>
      </tr>
    </tbody>
    <tfoot *ngIf="foot || footerComponent">
      <tr class="border-t-2 border-b border-neutral-base">
        <ng-container *ngFor="let footCell of getFooterCells()">
          <td scope="col"
              [class]="['block lg:table-cell text-left before:block before:text-neutral-dark before:lg:hidden before:content-[attr(data-label)] before:text-sm px-base py-sm', footCell.classes] | makeHtmlList"
              [attr.colspan]="(footCell.colspan ?  footCell.colspan : null)"
              [attr.rowspan]="(footCell.rowspan ? footCell.rowspan : null)"
              [attr.id]="footCell.id ? footCell.id : null"
              [attr.data-label]="footCell.header"
              [desyAppAccessibility]="footCell">
            <ng-container *desyCustomInnerContent="{ component: footCell, html: footCell.html, text: footCell.text }"></ng-container>
          </td>
        </ng-container>
      </tr>
    </tfoot>
  </table>
</ng-template>

<div *ngIf="wrapper; else tableContent" [class]="wrapper.classes">
  <ng-container *ngTemplateOutlet="tableContent"></ng-container>
</div>
