<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Menu-navigation configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-menu-navigation [id]="id"
                      [idPrefix]="idPrefix"
                      [classes]="classes"
                      [ariaLabel]="ariaLabel"
                      [ariaDescribedBy]="ariaDescribedBy"
                      [ariaLabelledBy]="ariaLabelledBy"
                      [ariaHidden]="ariaHidden"
                      [ariaDisabled]="ariaDisabled"
                      [ariaControls]="ariaControls"
                      [ariaCurrent]="ariaCurrent"
                      [ariaLive]="ariaLive"
                      [ariaErrorMessage]="ariaErrorMessage"
                      [tabindex]="tabindex"
                      (activeItemChange)="handleActiveItemChange($event)"
                      (activeSubItemChange)="handleActiveSubItemChange($event)">
  <desy-menu-navigation-item *ngFor="let i of items"
                             [href]="i.href"
                             [routerLink]="i.routerLink"
                             [routerLinkActiveClasses]="i.routerLinkActiveClasses"
                             [fragment]="i.fragment"
                             [target]="i.target"
                             [id]="i.id"
                             [ariaLabel]="i.ariaLabel"
                             [sub]="i.sub"
                             [classes]="i.classes"
                             [title]="i.title"
                             [disabled]="i.disabled"
                             [divider]="i.divider"
                             [active]="i.active"
                             (selected)="setLastClickedItemText(i.html)">
    <ng-container *appCustomInnerContent="{ html: i.html }"></ng-container>
    <ng-container *ngIf="i.sub && i.sub.items">
      <desy-menu-navigation-subitem *ngFor="let si of i.sub.items"
                                    [role]="si.role"
                                    [ariaLabel]="si.ariaLabel"
                                    [(checked)]="si.checked"
                                    [href]="si.href"
                                    [routerLink]="si.routerLink"
                                    [routerLinkActiveClasses]="si.routerLinkActiveClasses"
                                    [fragment]="si.fragment"
                                    [target]="si.target"
                                    [id]="si.id + '-sub-item'"
                                    [ariaLabel]="si.ariaLabel"
                                    [classes]="si.classes"
                                    [title]="si.title"
                                    [disabled]="si.disabled"
                                    [divider]="si.divider"
                                    [expanded]="si.expanded"
                                    [active]="si.active"
                                    (selected)="setLastClickedItemText(si.html)">
        <ng-container *appCustomInnerContent="{ html: si.html }"></ng-container>
      </desy-menu-navigation-subitem>
    </ng-container>
  </desy-menu-navigation-item>
</desy-menu-navigation>
<p *ngIf="lastClickedItemText">Último item seleccionado: {{lastClickedItemText}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menu-navigation simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-menu-navigation>
  <desy-menu-navigation-item [sub]="{}">
    Item 1
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
  <desy-menu-navigation-item [sub]="{}">
    Item 2
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
  <desy-menu-navigation-item [sub]="{}">
    Item 3
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
</desy-menu-navigation>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menu-navigation con dividores"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-menu-navigation>
  <desy-menu-navigation-item>Item 1</desy-menu-navigation-item>
  <desy-menu-navigation-item [divider]="divider">Item 2</desy-menu-navigation-item>
  <desy-menu-navigation-item [sub]="{}">
    Item 3
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#" [divider]="true">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
  <desy-menu-navigation-item>Item 2</desy-menu-navigation-item>
</desy-menu-navigation>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menu-navigation con el último item a la derecha"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-menu-navigation classes="c-menu-navigation--last-right">
  <desy-menu-navigation-item [sub]="{}">
    Item 1
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
  <desy-menu-navigation-item [sub]="{}">
    Item 2
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
  <desy-menu-navigation-item [sub]="{}">
    Item 3
    <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
    <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
  </desy-menu-navigation-item>
</desy-menu-navigation>
<app-spaced [withBorder]="true"></app-spaced>


<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [placeholder]="'c-menu-navigation__button--primary'" [(target)]="classes"></app-input-text>
      <app-input-number [nameComponent]="'menu-navigation-label'" nameProperty="Número de items (autogenerados)"
                        description="Número de items autogenerados" [(target)]="numAutogeneratedItems"
                        (targetChange)="refreshItemList()"></app-input-number>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [id]="'accesibility-inputs'"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
  <div>
    <app-title-params titleparams="Parámetros de item"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="href" [(target)]="item.href"></app-input-text>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="routerLink" [(target)]="item.routerLink"></app-input-text>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="routerLinkActiveClasses" [(target)]="item.routerLinkActiveClasses"></app-input-text>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="fragment" [(target)]="item.fragment"></app-input-text>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="target" [(target)]="item.target"></app-input-text>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="html" [(target)]="item.html"></app-input-text>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="id" [(target)]="item.id"></app-input-text>
      <app-input-boolean [nameComponent]="'menu-navigation-item'" nameProperty="expanded" [(target)]="item.expanded"></app-input-boolean>
      <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="title" [(target)]="item.title"></app-input-text>
      <app-input-boolean [nameComponent]="'menu-navigation-item'" nameProperty="disabled" [(target)]="item.disabled"></app-input-boolean>
      <app-input-boolean [nameComponent]="'menu-navigation-item'" nameProperty="active" [(target)]="item.active"></app-input-boolean>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [title]="'Parámetros de accesibilidad de item'" [id]="'item-accesibility-inputs'"
                              [(ariaLabel)]="item.ariaLabel"
                              [(ariaDescribedBy)]="item.ariaDescribedBy"
                              [(ariaLabelledBy)]="item.ariaLabelledBy"
                              [(ariaHidden)]="item.ariaHidden"
                              [(ariaDisabled)]="item.ariaDisabled"
                              [(ariaControls)]="item.ariaControls"
                              [(ariaCurrent)]="item.ariaCurrent"
                              [(ariaLive)]="item.ariaLive"
                              [(ariaErrorMessage)]="item.ariaErrorMessage"
                              [(tabindex)]="item.tabindex"></app-accessibility-inputs>
  </div>
  <div>
  <app-title-params titleparams="Parámetros de divider"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="'divider'" nameProperty="html" [(target)]="divider.html"></app-input-text>
        <app-input-text [nameComponent]="'divider'" nameProperty="classes" [(target)]="divider.classes"></app-input-text>
      </div>
    </details>
  </div>  
<desy-checkboxes [name]="'itemElems'"
                 legendText="Configuración de los elementos del item"
                 [(ngModel)]="itemSubInputsVisible" (ngModelChange)="refreshItemList()"
                 [items]="itemSubInputs">
  <ng-template desyCondition [item]="itemSubInputs[0]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de subnav"></app-title-params>
        <app-input-text [nameComponent]="'menu-navigation-item-sub'" nameProperty="classes" [(target)]="item.classes"></app-input-text>
        <app-spaced></app-spaced>
        <desy-checkboxes [name]="'subElems'"
                         [(ngModel)]="itemSubItemInputsVisible" (ngModelChange)="refreshItemList()"
                         [items]="itemSubItemInputs">
          <ng-template desyCondition [item]="itemSubItemInputs[0]">
            <app-input-number [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="Número de items (autogenerados)"
                              description="Número de sub-items autogenerados" [(target)]="numAutogeneratedSubItems"
                              (targetChange)="refreshItemList()"></app-input-number>
            <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="classes" [(target)]="subItem.classes"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="href" [(target)]="subItem.href"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="routerLink" [(target)]="subItem.routerLink"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="routerLinkActiveClasses" [(target)]="subItem.routerLinkActiveClasses"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item'" nameProperty="fragment" [(target)]="subItem.fragment"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="target" [(target)]="subItem.target"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="html" [(target)]="subItem.html"></app-input-text>
            <app-input-text [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="id" [(target)]="subItem.id"></app-input-text>
            <app-input-boolean [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="expanded" [(target)]="subItem.expanded"></app-input-boolean>
            <app-input-text [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="title" [(target)]="subItem.title"></app-input-text>
            <app-input-boolean [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="disabled" [(target)]="subItem.disabled"></app-input-boolean>
            <app-input-boolean [nameComponent]="'menu-navigation-item-sub-item'" nameProperty="active" [(target)]="subItem.active" (targetChange)="refreshItemList()"></app-input-boolean>
          </ng-template>
        </desy-checkboxes>
      </div>
    </div>
  </ng-template>
</desy-checkboxes>