<ng-template #labelTemplate>
  <label [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
    [class]="'block' + (classes ? ' ' + classes : '')"
    [attr.id]="id ? id : null"
    [desyAppAccessibility]="this">
  <ng-content></ng-content></label>
</ng-template>
<!-- label -->
<ng-container *ngIf="isPageHeading; else elseBlock" class="block">
  <ng-container [ngSwitch]="headingLevel">
    <h1 *ngSwitchCase="1" class="block">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </h1>
    <h2 *ngSwitchCase="2" class="block">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </h2>
    <h3 *ngSwitchCase="3" class="block">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </h3>
    <h4 *ngSwitchCase="4" class="block">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </h4>
    <h5 *ngSwitchCase="5" class="block">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </h5>
    <h1 *ngSwitchDefault class="block">
      <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    </h1>
  </ng-container>
</ng-container>
<ng-template #elseBlock>
  <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
</ng-template>
<!-- /label -->


