<app-title-demo [name]="nameComponent"></app-title-demo>

<ng-template #modalTemplate>
  <desy-modal [id]="'dyn-' + modalOptions.id"
              [classes]="modalOptions.classes"
              [isDismissible]="modalOptions.isDismissible"
              [role]="modalOptions.role"
              [ariaLabel]="modalOptions.ariaLabel"
              [ariaDescribedBy]="modalOptions.ariaDescribedBy"
              [ariaLabelledBy]="modalOptions.ariaLabelledBy"
              [ariaHidden]="modalOptions.ariaHidden"
              [ariaDisabled]="modalOptions.ariaDisabled"
              [ariaControls]="modalOptions.ariaControls"
              [ariaCurrent]="modalOptions.ariaCurrent"
              [ariaLive]="modalOptions.ariaLive"
              [ariaExpanded]="modalOptions.ariaExpanded"
              [ariaErrorMessage]="modalOptions.ariaErrorMessage"
              [ariaHasPopup]="modalOptions.ariaHasPopup"
              [tabindex]="modalOptions.tabindex"
              (closeModal)="closeDialogDynamicWithTemplate()">
    <desy-title [classes]="modalOptions.title.classes">
      <ng-container *appCustomInnerContent="{ html: modalOptions.title.html }"></ng-container>
    </desy-title>
    <desy-description [classes]="modalOptions.description.classes">
      <ng-container *appCustomInnerContent="{ html: modalOptions.description.html }"></ng-container>
    </desy-description>
    <ng-container *ngFor="let primaryItem of modalOptions.itemsPrimary">
      <desy-modal-button-primary [classes]="primaryItem.classes">
        <ng-container *appCustomInnerContent="{ html:  primaryItem.html }"></ng-container>
      </desy-modal-button-primary>
    </ng-container>
    <ng-container *ngFor="let secondaryItem of modalOptions.itemsSecondary">
      <desy-modal-button-secondary [classes]="secondaryItem.classes">
        <ng-container *appCustomInnerContent="{ html:  secondaryItem.html }"></ng-container>
      </desy-modal-button-secondary>
    </ng-container>
    <desy-icon [type]="modalOptions.icon.type">
      <ng-container *appCustomInnerContent="{ html: modalOptions.icon.html }"></ng-container>
    </desy-icon>
  </desy-modal>
</ng-template>

<app-implementation-info info="Dialog configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-dialog *ngIf="staticDialogActive"
             [(active)]="staticDialogActive"
             [id]="dialogOptions.id"
             [classes]="dialogOptions.classes"
             [focusOnClose]="dialogOptions.focusOnClose"
             [focusOnShow]="dialogOptions.focusOnShow"
             [dismissOnBackdrop]="dialogOptions.dismissOnBackdrop"
             [role]="dialogOptions.role"
             [ariaModal]="dialogOptions.ariaModal"
             [ariaLabel]="dialogOptions.ariaLabel"
             [ariaDescribedBy]="dialogOptions.ariaDescribedBy"
             [ariaLabelledBy]="dialogOptions.ariaLabelledBy"
             [ariaHidden]="dialogOptions.ariaHidden"
             [ariaDisabled]="dialogOptions.ariaDisabled"
             [ariaControls]="dialogOptions.ariaControls"
             [ariaCurrent]="dialogOptions.ariaCurrent"
             [ariaLive]="dialogOptions.ariaLive"
             [ariaExpanded]="dialogOptions.ariaExpanded"
             [ariaErrorMessage]="dialogOptions.ariaErrorMessage"
             [ariaHasPopup]="dialogOptions.ariaHasPopup"
             [tabindex]="dialogOptions.tabindex">
  <desy-modal [id]="'sta-' + modalOptions.id"
              [classes]="modalOptions.classes"
              [isDismissible]="modalOptions.isDismissible"
              [role]="modalOptions.role"
              [ariaLabel]="modalOptions.ariaLabel"
              [ariaDescribedBy]="modalOptions.ariaDescribedBy"
              [ariaLabelledBy]="modalOptions.ariaLabelledBy"
              [ariaHidden]="modalOptions.ariaHidden"
              [ariaDisabled]="modalOptions.ariaDisabled"
              [ariaControls]="modalOptions.ariaControls"
              [ariaCurrent]="modalOptions.ariaCurrent"
              [ariaLive]="modalOptions.ariaLive"
              [ariaExpanded]="modalOptions.ariaExpanded"
              [ariaErrorMessage]="modalOptions.ariaErrorMessage"
              [ariaHasPopup]="modalOptions.ariaHasPopup"
              [tabindex]="modalOptions.tabindex"
              (closeModal)="staticDialogActive = false">
    <desy-title [classes]="modalOptions.titleModal.classes">
      <ng-container *appCustomInnerContent="{ html: modalOptions.titleModal.html }"></ng-container>
    </desy-title>
    <desy-description [classes]="modalOptions.description.classes">
      <ng-container *appCustomInnerContent="{ html: modalOptions.description.html }"></ng-container>
    </desy-description>
    <ng-container *ngFor="let primaryItem of modalOptions.itemsPrimary">
      <desy-modal-button-primary [classes]="primaryItem.classes">
        <ng-container *appCustomInnerContent="{ html:  primaryItem.html }"></ng-container>
      </desy-modal-button-primary>
    </ng-container>
    <ng-container *ngFor="let secondaryItem of modalOptions.itemsSecondary">
      <desy-modal-button-secondary [classes]="secondaryItem.classes">
        <ng-container *appCustomInnerContent="{ html:  secondaryItem.html }"></ng-container>
      </desy-modal-button-secondary>
    </ng-container>
    <desy-icon [type]="modalOptions.icon.type">
      <ng-container *appCustomInnerContent="{ html: modalOptions.icon.html }"></ng-container>
    </desy-icon>
  </desy-modal>
</desy-dialog>
<desy-button text="Abrir dialog" (clickEvent)="staticDialogActive = true"></desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Dialog desde servicio" observations="Modal definida en objeto."></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-button text="Abrir dialog" (clickEvent)="openDialogDynamic()"></desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Dialog desde servicio con cerrado automatico" observations="Creará un dialog que se cerrará automáticamente transcurridos 3 segundos."></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-button id="closeable-dialog" text="Abrir dialog y cerrar automáticamente" (clickEvent)="openDialogDynamicWithAutoclose()"></desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Dialog desde servicio con template"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-button text="Abrir dialog" (clickEvent)="openDialogDynamicWithTemplate(modalTemplate)"></desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light..." nameProperty="classes" [(target)]="dialogOptions.classes"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="dialogOptions.id"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="focusOnClose" placeholder="closeable-dialog" [(target)]="dialogOptions.focusOnClose"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="focusOnShow" placeholder="id-dialog" [(target)]="dialogOptions.focusOnShow"></app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Mostrar X on top right" nameProperty="dismissOnBackdrop" [(target)]="dialogOptions.dismissOnBackdrop"></app-input-boolean>
  </div>
  <app-accessibility-inputs [(role)]="dialogOptions.role"
                            [(ariaLabel)]="dialogOptions.ariaLabel"
                            [(ariaDescribedBy)]="dialogOptions.ariaDescribedBy"
                            [(ariaLabelledBy)]="dialogOptions.ariaLabelledBy"
                            [(ariaHidden)]="dialogOptions.ariaHidden"
                            [(ariaDisabled)]="dialogOptions.ariaDisabled"
                            [(ariaControls)]="dialogOptions.ariaControls"
                            [(ariaCurrent)]="dialogOptions.ariaCurrent"
                            [(ariaLive)]="dialogOptions.ariaLive"
                            [(ariaExpanded)]="dialogOptions.ariaExpanded"
                            [(ariaErrorMessage)]="dialogOptions.ariaErrorMessage"
                            [(ariaHasPopup)]="dialogOptions.ariaHasPopup"
                            [(tabindex)]="dialogOptions.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros básicos del modal"></app-title-params>
    <app-input-text nameComponent="modal" placeholder="bg-warning-light..." nameProperty="classes" [(target)]="modalOptions.classes"></app-input-text>
    <app-input-text nameComponent="modal" nameProperty="id" [(target)]="modalOptions.id"></app-input-text>
    <app-input-boolean nameComponent="modal" description="Mostrar X on top right" nameProperty="isDismissible" [(target)]="modalOptions.isDismissible"></app-input-boolean>
  </div>
  <app-accessibility-inputs title="Parámetros de accesibilidad del modal" id="modal-id"
                            [(role)]="modalOptions.role"
                            [(ariaLabel)]="modalOptions.ariaLabel"
                            [(ariaDescribedBy)]="modalOptions.ariaDescribedBy"
                            [(ariaLabelledBy)]="modalOptions.ariaLabelledBy"
                            [(ariaHidden)]="modalOptions.ariaHidden"
                            [(ariaDisabled)]="modalOptions.ariaDisabled"
                            [(ariaControls)]="modalOptions.ariaControls"
                            [(ariaCurrent)]="modalOptions.ariaCurrent"
                            [(ariaLive)]="modalOptions.ariaLive"
                            [(ariaExpanded)]="modalOptions.ariaExpanded"
                            [(ariaErrorMessage)]="modalOptions.ariaErrorMessage"
                            [(ariaHasPopup)]="modalOptions.ariaHasPopup"
                            [(tabindex)]="modalOptions.tabindex"></app-accessibility-inputs>

</div>
