<desy-textarea
  [id]="id"
  [name]="name"
  [describedBy]="id + '-info'"
  [rows]="rows"
  [placeholder]="placeholder"
  [formGroupClasses]="[formGroupClasses ? formGroupClasses : 'mb-0'] | makeHtmlList"
  [classes]="['js-character-count',  hasErrorsMessage() ? 'border-alert-base ring-2 ring-alert-base' : null, classes] | makeHtmlList"
  [labelRef]="labelRef?labelRef:labelComponent?label:null" [labelData]="labelData" [labelText]="labelText"
  [hintRef]="hintRef?hintRef:hintComponent?hint:null" [hintData]="hintData" [hintText]="hintText"
  [errorMessageData]="errorMessageData" [errorMessageText]="errorMessageText"
  [role]="role"
  [ariaLabel]="ariaLabel"
  [ariaLabelledBy]="ariaLabelledBy"
  [ariaHidden]="ariaHidden"
  [ariaDisabled]="ariaDisabled"
  [ariaControls]="ariaControls"
  [ariaCurrent]="ariaCurrent"
  [ariaLive]="ariaLive"
  [ariaExpanded]="ariaExpanded"
  [ariaErrorMessage]="ariaErrorMessage"
  [ariaHasPopup]="ariaHasPopup"
  [tabindex]="tabindex">
  <ng-template #label>
    <ng-content select="desy-label"></ng-content>
  </ng-template>
  <ng-template #hint>
    <ng-content select="desy-hint"></ng-content>
  </ng-template>
  <ng-template #error>
    <ng-content select="desy-error-message"></ng-content>
  </ng-template>
</desy-textarea>
<desy-hint *ngIf="!!displayCountMessage"
  [id]="id + '-info'" [classes]="['mt-xs text-sm', countMessageClasses] | makeHtmlList" ariaLive="polite"
  [text]="'Puedes escribir hasta ' + remaining + (maxlength ? ' caracteres' : ' palabras')"></desy-hint>

<ng-container *ngTemplateOutlet="errorMessageComponent?error:null"></ng-container>