<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Status configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-status [id]="id"
             [classes]='classes'
             [role]="role"
             [ariaLabel]="ariaLabel"
             [ariaDescribedBy]="ariaDescribedBy"
             [ariaLabelledBy]="ariaLabelledBy"
             [ariaHidden]="ariaHidden"
             [ariaDisabled]="ariaDisabled"
             [ariaControls]="ariaControls"
             [ariaCurrent]="ariaCurrent"
             [ariaLive]="ariaLive"
             [ariaExpanded]="ariaExpanded"
             [ariaErrorMessage]="ariaErrorMessage"
             [ariaHasPopup]="ariaHasPopup"
             [tabindex]="tabindex">
    {{text}}
    <desy-icon [type]="icon.type">
        <ng-container *appCustomInnerContent="{ html: icon.html }"></ng-container>
    </desy-icon>
</desy-status>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Status success"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-status>
    Completo
    <desy-icon type="success"></desy-icon>
</desy-status>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Status alert"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-status classes="text-alert-base">
    Incompleto
    <desy-icon type="alert"></desy-icon>
</desy-status>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Status loading"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-status>
    Subiendo (20%)
    <desy-icon type="loading"></desy-icon>
</desy-status>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Status error"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-status classes="text-alert-base">
    Error
    <desy-icon type="error"></desy-icon>
</desy-status>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Status custom"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-status>
    Atención
    <desy-icon>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4 text-primary-base" aria-hidden="true" focusable="false">
            <path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z" fill="currentColor" />
          </svg>
    </desy-icon>
</desy-status>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">

    <div>
        <app-title-params></app-title-params>
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="text"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-alert-base..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
    </div>

    <app-accessibility-inputs [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [(ariaDescribedBy)]="ariaDescribedBy"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [(ariaErrorMessage)]="ariaErrorMessage"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

    <div>          
        <app-title-params titleparams="Parámetros de icon"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
                <app-input-text [nameComponent]="nameComponent" [nameProperty]="'html'" [(target)]="icon.html"></app-input-text>
                <app-input-text [nameComponent]="nameComponent" [nameProperty]="'type'" [(target)]="icon.type" placeholder="success, alert, loading and error"></app-input-text>
            </div>
        </details>
    </div> 
</div>
