<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Toggle configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-toggle id="id3"
             [isExpandible]="isExpandible"
             [isSwitch]="isSwitch"
             [(pressed)]="pressed"
             [classes]="classes"
             (clickEvent)="toggle($event)"
             [role]="role"
             [ariaLabel]="ariaLabel"          
             [ariaDescribedBy]="ariaDescribedBy"
             [ariaLabelledBy]="ariaLabelledBy"
             [ariaHidden]="ariaHidden"
             [ariaDisabled]="ariaDisabled"
             [ariaControls]="ariaControls"
             [ariaCurrent]="ariaCurrent"
             [ariaLive]="ariaLive"
             [ariaExpanded]="ariaExpanded"
             [ariaErrorMessage]="ariaErrorMessage"
             [ariaHasPopup]="ariaHasPopup"
             [tabindex]="tabindex">
  <desy-toggle-on-state *ngIf="isSwitch" [classes]="onStateClasses">
    <span class="bg-primary-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-primary-base rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75">
      <span class="sr-only">off</span>
      <span aria-hidden="true" class="translate-x-4 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span>
    </span>
    ON
  </desy-toggle-on-state>
  <desy-toggle-on-state *ngIf="!isSwitch">
    Mostrar detalles
  </desy-toggle-on-state>
  <desy-toggle-off-state *ngIf="!isSwitch">
    <span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" width="1em" height="1em">
      <path d="M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z" fill="currentColor" />
    </svg>Mostrar detalles</span>
  </desy-toggle-off-state>
  <desy-toggle-off-state *ngIf="isSwitch" [classes]="offStateClasses">
    <span class="bg-neutral-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-neutral-base rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75">
      <span class="sr-only">on</span>
      <span aria-hidden="true" class="translate-x-0 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span>
    </span>
    OFF
  </desy-toggle-off-state>
</desy-toggle>
<p class="pt-base">Esta presionado el boton {{pressed}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Toggle simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-toggle id="id1"
             [(pressed)]="pressed"
             classes="c-button"
             (clickEvent)="toggle($event)">
  <desy-toggle-on-state classes="c-button--has-selection">
    <span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" width="1em" height="1em">
      <path d="M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z" fill="currentColor" />
    </svg>Mostrar detalles</span>
  </desy-toggle-on-state>
  <desy-toggle-off-state>Mostrar detalles</desy-toggle-off-state>
</desy-toggle>
<p class="pt-base">Esta presionado el boton {{pressed}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Toggle con iconos"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-toggle id="id2"
             [isExpandible]="isExpandible"
             [(pressed)]="pressed"
             classes="c-button c-button--sm"
             (clickEvent)="toggle($event)">
  <desy-toggle-on-state classes="c-button--has-selection">
    <span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em">
      <path d="M13.9.8a.51.51 0 0 0 0-.52.51.51 0 0 0-.4-.28H.5a.51.51 0 0 0-.45.28A.51.51 0 0 0 .1.8l5.19 6.79a1 1 0 0 1 .21.61v5.3a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.2a1 1 0 0 1 .21-.61Z" fill="currentColor" transform="scale(3.42857)" />
    </svg>Mostrar filtros</span>
  </desy-toggle-on-state>
  <desy-toggle-off-state>
    <span class="inline-flex"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em">
      <path d="M13.71 2.3a1.45 1.45 0 0 0 .14-1.51A1.41 1.41 0 0 0 12.57 0H1.43A1.4 1.4 0 0 0 .15.8a1.43 1.43 0 0 0 .16 1.52l5.13 6.32a.25.25 0 0 1 .06.16v4.7a.5.5 0 0 0 .31.46A.43.43 0 0 0 6 14a.47.47 0 0 0 .35-.15l2-2a.47.47 0 0 0 .15-.35V8.8a.25.25 0 0 1 .06-.16ZM7.6 6.65a.29.29 0 0 1-.2.09h-.8a.29.29 0 0 1-.2-.09L3 2.41a.26.26 0 0 1 0-.27.26.26 0 0 1 .15-.14h7.7a.26.26 0 0 1 .22.14.26.26 0 0 1 0 .27Z" fill="currentColor" transform="scale(3.42857)" />
    </svg>Mostrar filtros</span>
    </desy-toggle-off-state>
</desy-toggle>
<p class="pt-base">Esta presionado el boton {{pressed}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Toggle isSwitch"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-toggle id="id3"
             [isExpandible]="isExpandible"
             [isSwitch]="true"
             [(pressed)]="pressed"
             (clickEvent)="toggle($event)">
  <desy-toggle-on-state [classes]="onStateClasses">
    <span class="bg-primary-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-primary-base rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75">
      <span class="sr-only">off</span>
      <span aria-hidden="true" class="translate-x-4 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span>
    </span>
    ON
  </desy-toggle-on-state>
  <desy-toggle-off-state [classes]="offStateClasses">
    <span class="bg-neutral-base relative inline-flex flex-shrink-0 h-5 w-9 border-2 border-neutral-base rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75">
      <span class="sr-only">on</span>
      <span aria-hidden="true" class="translate-x-0 pointer-events-none inline-block h-4 w-4 rounded-full bg-white shadow-lg transform ring-0 transition ease-in-out duration-200\"></span>
    </span>
    OFF
  </desy-toggle-off-state>
</desy-toggle>
<p class="pt-base">Esta presionado el boton {{pressed}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-boolean [nameComponent]="nameComponent" description="Informa si es pulsado" nameProperty="pressed" [(target)]="pressed"> </app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" description="Informa si es tipo Switch" nameProperty="isSwitch" [(target)]="isSwitch"> </app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" description="Informa si es expandible" nameProperty="isExpandible" [(target)]="isExpandible"> </app-input-boolean>
    <app-input-text [nameComponent]="nameComponent" description="clases css a aplicar cuando estamos en la ruta donde va el toggle" placeholder="c-button--alert uppercase ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="clases css a aplicar cuadno esta presionado" placeholder="c-button--alert uppercase ..." nameProperty="onStateClasses" [(target)]="onStateClasses"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="clases css a aplicar cuando esta sin presionar" placeholder="c-button--alert uppercase ..." nameProperty="offStateClasses" [(target)]="offStateClasses"> </app-input-text>
  
  </div>

<!-- Parametros de accesibilidad -->
<app-accessibility-inputs
           [(role)]="role"
           [(ariaLabel)]="ariaLabel"          
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>
</div>