<p class="block text-neutral-dark" [ngClass]="classes"
   [attr.id]="id ? id : null"
   [desyAppAccessibility]="this">
  <ng-content></ng-content>
  <ng-container *desyCustomInnerContent="{ html: html, text: text }"></ng-container>
</p>
