<li *ngIf="allParentsExpanded && !isHidden(); else hidden"
    [id]="id"
    [class]="'c-tree__item focus:outline-none'"
    [ngClass]="{
      'ml-4': subLevel === 0,
      'ml-8': subLevel !== 0,
      'c-tree__item--focus': isFocus && !sub,
      'c-tree__item--hover': isHover && !sub
    }"
    (focusin)="handleItemFocus(true, !sub)"
    (focusout)="handleItemFocus(false, !sub)"
    (mouseover)="handleItemHover(true, !sub)"
    (mouseout)="handleItemHover(false, !sub)"
    (keydown.home)="handleHome($event, !sub)"
    (keydown.end)="handleEnd($event, !sub)"
    (keydown.arrowup)="handleArrowUp($event, !sub)"
    (keydown.arrowdown)="handleArrowDown($event, !sub)"
    (keydown.arrowright)="handleArrowRight($event, !sub)"
    (keydown.arrowleft)="handleArrowLeft($event, !sub)"
    role="treeitem"
    [attr.aria-expanded]="sub ? (expanded ? 'true' : 'false') : null"
    [attr.aria-current]="isActive() && subLevel === 0 ? 'page' : null">
  <div *ngIf="!sub && subLevel !== 0; else childrenTree"
       [id]="id"
       [class]="['block', classes] | makeHtmlList"
       [attr.disabled]="disabled || treeDisabled ? 'disabled' : null"

       [attr.role]="role ? role : 'tree'"
       [desyAppAccessibility]="this"
       [attr.aria-disabled]="ariaDisabled ? ariaDisabled : (disabled || treeDisabled ? 'true' : null)"
       [attr.aria-current]="ariaCurrent ? ariaCurrent : (isActive() ? 'page' : null)"
       [attr.tabindex]="tabindex ? tabindex : (disabled || treeDisabled ? '-1' : null)">
    <ng-container *ngTemplateOutlet="checkbox"></ng-container>
  </div>
</li>

<ng-template #childrenTree>
  <div *ngIf="sub; else checkbox" class="w-full h-full"
       [ngClass]="{'c-tree__item--focus': isFocus && sub, 'c-tree__item--hover': isHover && sub}"
       (focusin)="handleItemFocus(true)"
       (focusout)="handleItemFocus(false)"
       (mouseover)="handleItemHover(true)"
       (mouseout)="handleItemHover(false)"
       (keydown.home)="handleHome($event)"
       (keydown.end)="handleEnd($event)"
       (keydown.arrowup)="handleArrowUp($event)"
       (keydown.arrowdown)="handleArrowDown($event)"
       (keydown.arrowright)="handleArrowRight($event)"
       (keydown.arrowLeft)="handleArrowLeft($event)">
    <div [class]="['w-full flex items-center relative focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black text-left', classes] | makeHtmlList"
        [desyAppAccessibility]="this">
      <span class="absolute top-3 -left-4 flex items-center w-4 h-2.5 text-primary-base font-bold">
        <svg (click)="expandSub(false)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10" aria-hidden="true" class="c-tree__minus"><path fill="currentColor" d="M9.286 5.714H.714a.714.714 0 010-1.428h8.572a.714.714 0 010 1.428z"/></svg>
        <svg (click)="expandSub(true)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10" aria-hidden="true" class="c-tree__plus"><path fill="currentColor" d="M9.286 4.286H5.893a.179.179 0 01-.179-.179V.714a.714.714 0 00-1.428 0v3.393a.179.179 0 01-.179.179H.714a.714.714 0 000 1.428h3.393a.179.179 0 01.179.179v3.393a.714.714 0 001.428 0V5.893a.179.179 0 01.179-.179h3.393a.714.714 0 000-1.428z"/></svg>
      </span>
      <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </div>
  </div>

  <ng-container *desyCustomInnerContent="{ component: sub }"></ng-container>
</ng-template>

<!-- Se incorpora el contenido mínimo para funcionar con el objetivo de mejorar el rendimiento -->
<ng-template #hidden>
  <li class="hidden">
    <div #hiddenWrapper>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
    <ng-container *desyCustomInnerContent="{ component: sub }"></ng-container>
  </li>
</ng-template>

<ng-template #checkbox>
  <!--
    El *ngIf="name || parentName" se realiza para no crear el checkbox hasta que se ha ejecutado el configureAllItems.
    Esto puede dar problemas porque, hasta que no se ejecuta esto, el desy-tree-checkbox no cuenta con el type actualizado (por defecto radio).
    Un ejemplo en el que esto puede ser problemático es al ser typo checkbox y darle un valor checked=true a varios los items, ya
    que el type todavía no se ha transmitido aquí. Como por defecto el type es radio, sólo marcará el último. Posteriormente,
    ya detectará el tipo y permitirá seleccionar varios items, pero hasta entonces existe este problema.
  -->
  <desy-tree-checkbox *ngIf="name || parentName"
                      [name]="name ? name : parentName"
                      [id]="getId()"
                      [value]="value"
                      [classes]="classes"
                      [type]="type"
                      [(checked)]="checked" (checkedChange)="handleCheckboxChange($event)"
                      [hasError]="inheritedHasError"
                      [disabled]="disabled || treeDisabled"
                      [hasDividers]="hasDividers"
                      [describedBy]="[inheritedDescribedBy, hint?.id] | makeHtmlList"
                      [isIndeterminate]="isIndeterminate"
                      [(indeterminateChecked)]="indeterminateChecked"
                      (indeterminateCheckedChange)="handleIndeterminateCheckedChange($event)"

                      [labelComponent]="label"
                      [hintComponent]="hint"

                      [role]="role"
                      [ariaLabel]="ariaLabel"
                      [ariaDescribedBy]="ariaDescribedBy"
                      [ariaLabelledBy]="ariaLabelledBy"
                      [ariaHidden]="ariaHidden"
                      [ariaDisabled]="ariaDisabled"
                      [ariaControls]="ariaControls"
                      [ariaCurrent]="ariaCurrent"
                      [ariaLive]="ariaLive"
                      [ariaExpanded]="ariaExpanded"
                      [ariaErrorMessage]="ariaErrorMessage"
                      [ariaHasPopup]="ariaHasPopup"
                      [ariaModal]="ariaModal"
                      [tabindex]="tabindex">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </desy-tree-checkbox>
</ng-template>

<ng-template #content>
  <div class="font-bold" *ngIf="isActive(); else contentLabel">
    <ng-container *ngTemplateOutlet="contentLabel"></ng-container>
  </div>
  <ng-content select="desy-hint"></ng-content>
</ng-template>

<ng-template #contentLabel>
  <ng-content select="desy-label"></ng-content>
</ng-template>
