<app-title-demo [name]="nameComponent"></app-title-demo>

<!-- Templates for examples-->
<ng-template #templateOffcanvas>
  <ul>
    <li>
      <h3 class="p-base text-base font-bold"
          id="caller-id">Páginas</h3>
      <desy-nav idPrefix="pages">
        <desy-nav-item [routerLink]="[]">
          Opción 1 (sin url)
        </desy-nav-item>
        <desy-nav-item routerLink="/">
          Opción 2 (componentes)
        </desy-nav-item>
        <desy-nav-item href="http://google.es">
          Opción 3 (externa)
        </desy-nav-item>
      </desy-nav>
    </li>
    <li>
      <h3 class="p-base pt-xl text-base font-bold">Información adicional</h3>
      <desy-nav classes="bg-warning-light"
                idPrefix="aditionalinfo">
        <desy-nav-item routerLink="/">
          Opción 1
        </desy-nav-item>
        <desy-nav-item routerLink="/">
          Opción 2
        </desy-nav-item>
        <desy-nav-item routerLink="/">
          Opción 3
        </desy-nav-item>
      </desy-nav>
    </li>
  </ul>
</ng-template>

<ng-template #customNavigation>
  <desy-menu-navigation aria-label="Navegación principal"
                        idPrefix="header-custom-nav"
                        classes="c-menu-navigation--last-right hidden lg:block w-full">
    <desy-menu-navigation-item [sub]="{}"
                               id="header-custom-nav-item-1"
                               classes="c-menu-navigation__button--header -mr-base -ml-base"
                               aria-labelledby="header-custom-nav-item-1">
      Custom Item 1
      <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
    </desy-menu-navigation-item>
    <desy-menu-navigation-item [sub]="{}"
                               [active]="true"
                               id="header-custom-nav-item-2"
                               classes="c-menu-navigation__button--header -mr-base"
                               aria-labelledby="header-custom-nav-item-2">
      Custom Item 2
      <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
    </desy-menu-navigation-item>
    <desy-menu-navigation-item [sub]="{}"
                               id="header-custom-nav-item-3"
                               classes="c-menu-navigation__button--header -mr-base"
                               aria-labelledby="header-custom-nav-item-3">
      Custom Item 3
      <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
    </desy-menu-navigation-item>
    <desy-menu-navigation-item [sub]="{}"
                               id="header-custom-nav-item-4"
                               classes="c-menu-navigation__button--header -mr-base"
                               aria-labelledby="header-custom-nav-item-4">
      Custom Item 4
      <desy-menu-navigation-subitem href="#">Subitem 1</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 2</desy-menu-navigation-subitem>
      <desy-menu-navigation-subitem href="#">Subitem 3</desy-menu-navigation-subitem>
    </desy-menu-navigation-item>
  </desy-menu-navigation>
</ng-template>

<ng-template #logoEuropa>
  <svg xmlns="http://www.w3.org/2000/svg" width="44" height="36" viewBox="0 0 148 121" class="relative top-0.5 inline-block fill-current" aria-label="Unión Europea" role="img">
    <title>Logo de la Unión Europea</title><defs><clipPath id="a-logo-UE"><path d="M0 0h148v121H0z"/></clipPath></defs><g clip-path="url(#a-logo-UE)"><path d="M11.737 107.263H13.9v5.815a12.063 12.063 0 0 0 .081 1.794 1.739 1.739 0 0 0 .663 1.058 2.309 2.309 0 0 0 1.432.4 2.185 2.185 0 0 0 1.392-.377 1.49 1.49 0 0 0 .564-.927 12.08 12.08 0 0 0 .1-1.824v-5.94H20.3v5.638a14.491 14.491 0 0 1-.176 2.732 3.024 3.024 0 0 1-.648 1.348 3.275 3.275 0 0 1-1.263.875 5.5 5.5 0 0 1-2.065.326 5.947 5.947 0 0 1-2.333-.355 3.336 3.336 0 0 1-1.256-.923 2.958 2.958 0 0 1-.608-1.19 13.04 13.04 0 0 1-.212-2.725ZM22.606 118v-10.737h2.109l4.395 7.17v-7.17h2.014V118h-2.175l-4.329-7v7Zm10.745 0v-10.737h2.168V118Zm3.794-5.3a6.829 6.829 0 0 1 .491-2.754 5.053 5.053 0 0 1 1-1.472 4.18 4.18 0 0 1 1.388-.967 5.9 5.9 0 0 1 2.314-.425 5.041 5.041 0 0 1 3.8 1.472 5.642 5.642 0 0 1 1.422 4.092 5.624 5.624 0 0 1-1.414 4.069 5 5 0 0 1-3.779 1.468 5.053 5.053 0 0 1-3.809-1.461 5.545 5.545 0 0 1-1.413-4.022Zm2.234-.073a4.023 4.023 0 0 0 .842 2.765 2.744 2.744 0 0 0 2.139.941 2.721 2.721 0 0 0 2.127-.933 4.1 4.1 0 0 0 .831-2.8 4.037 4.037 0 0 0-.809-2.754 2.738 2.738 0 0 0-2.15-.908 2.757 2.757 0 0 0-2.161.919 4.057 4.057 0 0 0-.82 2.767Zm1.641-5.977 1.011-2.19h2.307l-2.014 2.19ZM49.273 118v-10.737h2.109l4.395 7.17v-7.17h2.014V118h-2.175l-4.329-7v7Zm14.978 0v-10.737h7.961v1.816h-5.793v2.38h5.391v1.809h-5.391v2.922h6V118Zm9.991-10.737h2.168v5.815a12.063 12.063 0 0 0 .08 1.795 1.739 1.739 0 0 0 .663 1.058 2.309 2.309 0 0 0 1.432.4 2.185 2.185 0 0 0 1.392-.377 1.49 1.49 0 0 0 .564-.927 12.08 12.08 0 0 0 .1-1.824v-5.94H82.8v5.637a14.491 14.491 0 0 1-.176 2.732 3.024 3.024 0 0 1-.644 1.35 3.275 3.275 0 0 1-1.263.875 5.5 5.5 0 0 1-2.066.326 5.947 5.947 0 0 1-2.333-.355 3.336 3.336 0 0 1-1.256-.923 2.958 2.958 0 0 1-.608-1.19 13.04 13.04 0 0 1-.212-2.725ZM85.1 118v-10.737h4.563a7.81 7.81 0 0 1 2.5.289 2.467 2.467 0 0 1 1.249 1.029 3.093 3.093 0 0 1 .469 1.692 2.866 2.866 0 0 1-.71 2 3.412 3.412 0 0 1-2.124.992 5.058 5.058 0 0 1 1.161.9 12.237 12.237 0 0 1 1.234 1.743L94.75 118h-2.593l-1.568-2.336a15.156 15.156 0 0 0-1.143-1.578 1.664 1.664 0 0 0-.652-.447 3.573 3.573 0 0 0-1.094-.121h-.439V118Zm2.168-6.2h1.6a8.283 8.283 0 0 0 1.948-.132 1.168 1.168 0 0 0 .608-.454 1.4 1.4 0 0 0 .22-.806 1.287 1.287 0 0 0-.289-.875 1.328 1.328 0 0 0-.817-.421q-.264-.037-1.582-.037h-1.692Zm8.218.894a6.829 6.829 0 0 1 .491-2.754 5.053 5.053 0 0 1 1-1.472 4.18 4.18 0 0 1 1.383-.968 5.9 5.9 0 0 1 2.314-.425 5.041 5.041 0 0 1 3.8 1.472 5.642 5.642 0 0 1 1.426 4.099 5.624 5.624 0 0 1-1.414 4.069 5 5 0 0 1-3.786 1.468 5.053 5.053 0 0 1-3.8-1.461 5.545 5.545 0 0 1-1.418-4.022Zm2.234-.073a4.023 4.023 0 0 0 .842 2.765 2.744 2.744 0 0 0 2.138.944 2.721 2.721 0 0 0 2.124-.93 4.1 4.1 0 0 0 .831-2.8 4.037 4.037 0 0 0-.809-2.754 2.738 2.738 0 0 0-2.15-.908 2.757 2.757 0 0 0-2.161.919 4.057 4.057 0 0 0-.819 2.767Zm9.869 5.379v-10.737h3.479a12.616 12.616 0 0 1 2.578.161 2.815 2.815 0 0 1 1.545 1.051 3.333 3.333 0 0 1 .623 2.091 3.5 3.5 0 0 1-.359 1.663 2.944 2.944 0 0 1-.912 1.058 3.142 3.142 0 0 1-1.124.509 12.375 12.375 0 0 1-2.249.154h-1.413V118Zm2.168-8.921v3.047h1.187a5.606 5.606 0 0 0 1.714-.168 1.423 1.423 0 0 0 .677-.527 1.443 1.443 0 0 0 .245-.831 1.387 1.387 0 0 0-.344-.967 1.5 1.5 0 0 0-.872-.476 10.42 10.42 0 0 0-1.56-.073Zm7.837 8.921v-10.737h7.961v1.816h-5.793v2.38h5.391v1.809h-5.391v2.922h6V118Zm19.687 0h-2.358l-.937-2.439h-4.293l-.886 2.439h-2.3l4.182-10.737h2.292Zm-3.991-4.248-1.48-3.984-1.45 3.984ZM2.83 2.741h141.523v94.35H2.83z" fill="#039"/><g fill="#fc0"><path d="m70.576 23.298 2.986-2.179 2.987 2.179-1.136-3.524 3.033-2.179h-3.739l-1.144-3.567-1.144 3.571h-3.737l3.031 2.179ZM55.121 27.45l2.986-2.179 2.984 2.179-1.134-3.524 3.031-2.179h-3.739l-1.144-3.571-1.144 3.575h-3.737l3.031 2.179ZM46.8 29.508l-1.144 3.575h-3.737l3.031 2.179-1.136 3.524 2.986-2.179 2.986 2.179-1.136-3.524 3.031-2.179h-3.737ZM42.652 52.039l2.984 2.179-1.134-3.524 3.031-2.179h-3.737l-1.144-3.571-1.144 3.579-3.739-.008 3.033 2.179-1.136 3.524ZM47.945 63.997l-1.144-3.571-1.144 3.575H41.92l3.031 2.179-1.136 3.524 2.986-2.183 2.986 2.183-1.136-3.524 3.031-2.179ZM59.274 75.324l-1.144-3.567-1.142 3.571h-3.739l3.031 2.179-1.135 3.524 2.986-2.179 2.984 2.179-1.134-3.524 3.031-2.179ZM74.709 79.43l-1.144-3.571-1.142 3.575h-3.739l3.031 2.179-1.134 3.524 2.986-2.179 2.985 2.179-1.137-3.524 3.033-2.179ZM90.142 75.324 89 71.757l-1.146 3.571h-3.735l3.029 2.179-1.134 3.524L89 78.852l2.986 2.179-1.138-3.524 3.033-2.179ZM101.475 63.997l-1.146-3.571-1.146 3.575h-3.735l3.033 2.179-1.138 3.524 2.986-2.183 2.986 2.183-1.138-3.524 3.033-2.179ZM109.316 48.471h-3.739l-1.146-3.571-1.142 3.575H99.55l3.033 2.179-1.134 3.524 2.982-2.183 2.986 2.183-1.134-3.524ZM97.343 38.736l2.986-2.179 2.986 2.179-1.138-3.524 3.033-2.175h-3.735l-1.146-3.571-1.146 3.575h-3.735l3.033 2.175ZM89.043 18.179l-1.142 3.575-3.739-.008 3.029 2.183-1.134 3.524 2.99-2.183 2.982 2.183-1.135-3.524 3.033-2.183h-3.743Z"/></g></g>
  </svg>
</ng-template>

<ng-template #search>
  <form role="search">
    <desy-search-bar id="searchbar-2"
                     placeholder="Buscar en este sitio"></desy-search-bar>
  </form>
</ng-template>

<!-- Examples -->
<app-title-example title="Por defecto" subtitle="Esta es la cabecera por defecto para sitios web de submarcas del Gobierno de Aragón. Tiene un título que enlaza a la página de inicio."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-navigation>
    <desy-header-advanced-navigation-item href="#1">Inicio</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item [active]="true"
                                          href="#2">Navigation item 2</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#3">Navigation item 3</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#4">Navigation item 4</desy-header-advanced-navigation-item>
  </desy-header-advanced-navigation>
  <desy-header-advanced-offcanvas>
    <desy-header-advanced-offcanvas-button>Menú</desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>Cerrar menu</desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con subtítulo" subtitle="Si el título es un acrónimo, se debe poner en mayúsuculas. La descripción se puede usar sólo si el título es un acrónimo y mostrará el nombre extendido."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">INAEM</desy-header-advanced-title>
    <desy-header-advanced-subtitle>Instituto Aragonés de Empleo.</desy-header-advanced-subtitle>
  </desy-header-advanced-title-container>
  <desy-header-advanced-navigation>
    <desy-header-advanced-navigation-item href="#1">Inicio</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item [active]="true"
                                          href="#2">Navigation item 2</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#3">Navigation item 3</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#4">Navigation item 4</desy-header-advanced-navigation-item>
  </desy-header-advanced-navigation>
  <desy-header-advanced-offcanvas>
    <desy-header-advanced-offcanvas-button>Menú</desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>Cerrar menu</desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con subcabecera" subtitle="Bajo el menú de navegación puede haber una zona anidable de contenido que puede tener imágenes."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Museo de Zaragoza</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-navigation>
    <desy-header-advanced-navigation-item href="#1">Inicio</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item [active]="true"
                                          href="#2">Navigation item 2</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#3">Navigation item 3</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#4">Navigation item 4</desy-header-advanced-navigation-item>
  </desy-header-advanced-navigation>
  <desy-header-advanced-offcanvas>
    <desy-header-advanced-offcanvas-button>Menú</desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>Cerrar menu</desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
  <desy-header-advanced-sub backgroundFullColor="#000000"
                            [backgroundFullUrl]="backgroundMuseo"
                            classes="h-56 bg-cover bg-bottom bg-no-repeat overflow-hidden">
  </desy-header-advanced-sub>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con subcabecera grande o Hero" subtitle="Bajo el menú de navegación puede haber una zona anidable de contenido que puede tener imágenes."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>

<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">ITAINNOVA</desy-header-advanced-title>
    <desy-header-advanced-subtitle>Instituto Tecnológico de Aragón.</desy-header-advanced-subtitle>
  </desy-header-advanced-title-container>
  <desy-header-advanced-navigation>
    <desy-header-advanced-navigation-item href="#1">Inicio</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item [active]="true"
                                          href="#2">Navigation item 2</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#3">Navigation item 3</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#4">Navigation item 4</desy-header-advanced-navigation-item>
  </desy-header-advanced-navigation>
  <desy-header-advanced-offcanvas>
    <desy-header-advanced-offcanvas-button>Menú</desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>Cerrar menu</desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
  <desy-header-advanced-sub backgroundFullColor="#111111"
                            [backgroundFullUrl]="backgroundUrlItainnova"
                            classes="bg-cover bg-center bg-no-repeat overflow-hidden">
    <desy-header-advanced-custom-navigation>
      <div class="py-xl lg:py-3xl text-white lg:text-center">
        <div class="lg:w-2/3 lg:mx-auto">
          <h1 class="font-bold text-lg leading-tight lg:text-4xl mb-sm">Centro tecnológico referencia en investigación e
            innovación tecnológica</h1>
          <div class="text-base lg:text-lg mb-0">Damos soporte a las empresas a través de servicios, formación y
            aumentando su competitividad a través de la innovación.</div>
        </div>
      </div>
    </desy-header-advanced-custom-navigation>
  </desy-header-advanced-sub>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con navegación personalizada" subtitle="Tras nuestro menú de navegación tenemos una zona anidable para poder añadir una navegación personalizada."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-custom-navigation class="flex flex-wrap flex-1 gap-base">
    <ng-container [ngTemplateOutlet]="customNavigation"></ng-container>
  </desy-header-advanced-custom-navigation>
</desy-header-advanced>
<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con navegación personalizada a la derecha" subtitle="En el desy-header-advanced-custom-navigation podemos añadir elementos posicionados a la derecha."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-custom-navigation>
    <div class="relative flex justify-end items-center flex-1 gap-base">
      <div class="absolute -top-5 right-0 text-black"><a href="#"><span class="block p-sm"><svg class="w-5 h-5"
                 width="1em"
                 height="1em"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 48 48"
                 aria-label="Notificaciones"
                 role="img">
              <path d="M7.25 12.5h-1.5a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5Z"
                    fill="currentColor"
                    transform="scale(3.42857)" />
              <g transform="scale(3.42857)">
                <circle cx="10.5"
                        cy="2.5"
                        r="2.5"
                        fill="currentColor" />
                <path d="M11.5 10a1 1 0 0 1-1-1V6.74a.25.25 0 0 0-.24-.25 4 4 0 0 1-3.76-4 3.43 3.43 0 0 1 .11-.86.12.12 0 0 0 0-.1.15.15 0 0 0-.09 0 4 4 0 0 0-4 4V9a1 1 0 0 1-1 1 .5.5 0 0 0 0 1h10a.5.5 0 0 0 0-1Z"
                      fill="currentColor" />
              </g>
            </svg></span></a></div>
    </div>
  </desy-header-advanced-custom-navigation>
</desy-header-advanced>
<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con skipLink personalizado" subtitle="Pasando parámetros customizados al componente Skip Link. Útil para hacer plantillas de página con barra lateral o con un contenido principal localizado en otro sitio diferente al habitual."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml6" [codeTs]="mostrarCodigo.codigoTs6"></app-show-code>
<desy-header-advanced>
  <desy-skip-link fragment="content-center"
                  classes="ds-focus"
                  attr-example="custom-data">Saltar al contenido central</desy-skip-link>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-navigation>
    <desy-header-advanced-navigation-item href="#1">Inicio</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item [active]="true"
                                          href="#2">Navigation item 2</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#3">Navigation item 3</desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item href="#4">Navigation item 4</desy-header-advanced-navigation-item>
  </desy-header-advanced-navigation>
</desy-header-advanced>
<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con offcanvas" subtitle="Menu mobile que sólo se muestra en anchuras pequeñas."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml7" [codeTs]="mostrarCodigo.codigoTs7"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-offcanvas>
    <desy-header-advanced-offcanvas-button>Menú</desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>Cerrar menu</desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
</desy-header-advanced>
<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con dropdown" subtitle="Un dropdown a la derecha que puede usarse para mostrar información adicional: login, acerca de... Se oculta por defecto en anchuras pequeñas si no se le añaden clases a dropdown."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml8" [codeTs]="mostrarCodigo.codigoTs8"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-dropdown classesTooltip="max-h-48 overflow-y-auto">
    Marta Pérez
    <desy-content>
      <desy-nav idPrefix="pages">
        <desy-nav-item routerLink="/">
          Perfil
        </desy-nav-item>
        <desy-nav-item routerLink="/">
          Cerrar sesión
        </desy-nav-item>
      </desy-nav>
    </desy-content>
  </desy-header-advanced-dropdown>
</desy-header-advanced>
<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con dropdown personalizado" subtitle="Se pueden usar los parámetros del dropdown para personalizarlo. En este ejemplo con html en el dropdown."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml9" [codeTs]="mostrarCodigo.codigoTs9"></app-show-code>
<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-dropdown classesTooltip="max-h-48 overflow-y-auto">
    <span class="block text-right">Marta Pérez <br>(Administración)</span>
    <desy-content>
      <desy-nav idPrefix="pages">
        <desy-nav-item routerLink="/">
          Perfil
        </desy-nav-item>
        <desy-nav-item routerLink="/">
          Cerrar sesión
        </desy-nav-item>
      </desy-nav>
    </desy-content>
  </desy-header-advanced-dropdown>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con contenido personalizado en dropdown" subtitle="El dropdown puede contener cualquier tipo de información."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml10" [codeTs]="mostrarCodigo.codigoTs10"></app-show-code>

<desy-header-advanced>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-dropdown classesTooltip="max-h-48 overflow-y-auto">Marta Pérez
    <desy-content>
      <div class="p-base">
        <dl>
          <dt class="text-base">Marta Pérez</dt>
          <dd class="text-sm text-neutral-dark">Departamento de Ciencia, Universidad y Sociedad del Conocimiento</dd>
        </dl>
      </div>  
    </desy-content>  
  </desy-header-advanced-dropdown>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Con elementos varios" subtitle="Se permite añadir ciertos elementos informativos y funcionales en la derecha de la cabecera. Este ejemplo con buscador en área superior, logo UE, menu de navegación, dropdown en anchuras grandes y menu mobile en pequeñas."></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml11" [codeTs]="mostrarCodigo.codigoTs11"></app-show-code>

<desy-header-advanced>
  <desy-header-mini>
    <div class="flex-1 text-right"><ng-container [ngTemplateOutlet]="logoEuropa"></ng-container></div>
  </desy-header-mini>
  <desy-header-advanced-title-container>
    <desy-header-advanced-title homepageUrl="/">Titulo de cabecera</desy-header-advanced-title>
  </desy-header-advanced-title-container>
  <desy-header-advanced-custom-navigation class="flex flex-wrap flex-1 gap-base">
    <ng-container [ngTemplateOutlet]="customNavigation"></ng-container>
  </desy-header-advanced-custom-navigation>
  <desy-header-advanced-dropdown classesTooltip="max-h-48 overflow-y-auto">
    Tamaño de texto
    <desy-content>
      <desy-nav idPrefix="pages">
        <desy-nav-item routerLink="/">
          Aumentar tamaño de letra
        </desy-nav-item>
        <desy-nav-item routerLink="/">
          Reducir tamaño de letra
        </desy-nav-item>
      </desy-nav>
    </desy-content>
  </desy-header-advanced-dropdown>
  <desy-header-advanced-sub classes="hidden lg:block relative -top-32 h-0">
    <desy-header-advanced-custom-navigation>
      <div class="hidden lg:grid grid-cols-2 lg:grid-cols-4 gap-xl h-full">
        <div class="col-span-2 lg:col-span-3"></div>
        <div class="col-span-2 lg:col-span-1 flex items-center justify-end"><ng-container
                        [ngTemplateOutlet]="search"></ng-container></div>
      </div>
    </desy-header-advanced-custom-navigation>
  </desy-header-advanced-sub>
  <desy-header-advanced-offcanvas>
    <desy-header-advanced-offcanvas-button>Menú</desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>Cerrar menu</desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
</desy-header-advanced>

<app-spaced [withBorder]="true"></app-spaced>

<app-title-example title="Header advanced configurable"></app-title-example>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml12" [codeTs]="mostrarCodigo.codigoTs12"></app-show-code>

<desy-header-advanced [attr.role]="role ? role : null"
                      [attr.aria-label]="ariaLabel ? ariaLabel : null"
                      [attr.aria-describedby]="ariaDescribedBy ? ariaDescribedBy : null"
                      [attr.aria-labelledby]="ariaLabelledBy ? ariaLabelledBy : null"
                      [attr.aria-hidden]="ariaHidden ? ariaHidden : null"
                      [attr.aria-disabled]="ariaDisabled ? ariaDisabled : null"
                      [attr.aria-controls]="ariaControls ? ariaControls : null"
                      [attr.aria-current]="ariaCurrent ? ariaCurrent : null"
                      [attr.aria-live]="ariaLive ? ariaLive : null"
                      [attr.aria-expanded]="ariaExpanded ? ariaExpanded : null"
                      [attr.aria-errormessage]="ariaErrorMessage ? ariaErrorMessage : null"
                      [attr.aria-haspopup]="ariaHasPopup ? ariaHasPopup : null"
                      [attr.tabindex]="tabindex ? tabindex : null">
  <desy-skip-link *ngIf="isHeaderElemVisible('skipLink')"
                  [fragment]="skipLinkData.fragment"
                  [classes]="skipLinkData.classes"
                  [id]="skipLinkData.id"
                  [attr.role]="roleSkipLink ? roleSkipLink : null"
                  [attr.aria-label]="ariaLabelSkipLink ? ariaLabelSkipLink : null"
                  [attr.aria-describedby]="ariaDescribedBySkipLink ? ariaDescribedBySkipLink : null"
                  [attr.aria-labelledby]="ariaLabelledBySkipLink ? ariaLabelledBySkipLink : null"
                  [attr.aria-hidden]="ariaHiddenSkipLink ? ariaHiddenSkipLink : null"
                  [attr.aria-disabled]="ariaDisabledSkipLink ? ariaDisabledSkipLink : null"
                  [attr.aria-controls]="ariaControlsSkipLink ? ariaControlsSkipLink : null"
                  [attr.aria-current]="ariaCurrentSkipLink ? ariaCurrentSkipLink : null"
                  [attr.aria-live]="ariaLiveSkipLink ? ariaLiveSkipLink : null"
                  [attr.aria-expanded]="ariaExpandedSkipLink ? ariaExpandedSkipLink : null"
                  [attr.aria-errormessage]="ariaErrorMessageSkipLink ? ariaErrorMessageSkipLink : null"
                  [attr.aria-haspopup]="ariaHasPopupSkipLink ? ariaHasPopupSkipLink : null"
                  [attr.tabindex]="tabindexSkipLink ? tabindexSkipLink : null">
    <ng-container *appCustomInnerContent="{ html: skipLinkData.html}"></ng-container>
  </desy-skip-link>
  <desy-header-mini *ngIf="isHeaderElemVisible('headerMini')"
                    [classes]="classesMini"
                    [containerClasses]="containerClassesMini"
                    [homepageUrl]="homepageUrlMini"
                    [homepageRouterLink]="homepageRouterLinkMini"
                    [homepageFragment]="homepageFragmentMini"
                    [hasContainer]="hasContainerMini"
                    [role]="roleHeaderMini"
                    [ariaLabel]="ariaLabelHeaderMini"
                    [ariaDescribedBy]="ariaDescribedByHeaderMini"
                    [ariaLabelledBy]="ariaLabelledByHeaderMini"
                    [ariaHidden]="ariaHiddenHeaderMini"
                    [ariaDisabled]="ariaDisabledHeaderMini"
                    [ariaControls]="ariaControlsHeaderMini"
                    [ariaCurrent]="ariaCurrentHeaderMini"
                    [ariaLive]="ariaLiveHeaderMini"
                    [ariaExpanded]="ariaExpandedHeaderMini"
                    [ariaErrorMessage]="ariaErrorMessageHeaderMini"
                    [ariaHasPopup]="ariaHasPopupHeaderMini"
                    [tabindex]="tabindexHeaderMini">
  </desy-header-mini>
  <desy-header-advanced-super *ngIf="isHeaderElemVisible('super')"
                              [classes]="classesSuper"
                              [backgroundFullColor]="backgroundFullColorSuper"
                              [backgroundFullUrl]="backgroundFullUrlSuper"
                              [backgroundContainerUrl]="backgroundContainerUrlSuper"
                              [logoUrl]="logoUrlSuper"
                              [logoAlt]="logoAltSuper"
                              [logoHref]="logoHrefSuper"
                              [logoRouterLink]="logoRouterLinkSuper"
                              [logoRouterLinkActiveClasses]="logoRouterLinkActiveClassesSuper"
                              [logoTarget]="logoTargetSuper"
                              [logoFragment]="logoFragmentSuper"
                              [logoClasses]="logoClassesSuper"
                              [role]="roleSuper"
                              [ariaLabel]="ariaLabelSuper"
                              [ariaDescribedBy]="ariaDescribedBySuper"
                              [ariaLabelledBy]="ariaLabelledBySuper"
                              [ariaHidden]="ariaHiddenSuper"
                              [ariaDisabled]="ariaDisabledSuper"
                              [ariaControls]="ariaControlsSuper"
                              [ariaCurrent]="ariaCurrentSuper"
                              [ariaLive]="ariaLiveSuper"
                              [ariaExpanded]="ariaExpandedSuper"
                              [ariaErrorMessage]="ariaErrorMessageSuper"
                              [ariaHasPopup]="ariaHasPopupSuper"
                              [tabindex]="tabindexSuper">
    <ng-container *appCustomInnerContent="{ html: contentSuper }"></ng-container>
    <desy-header-advanced-custom-navigation *ngIf="customNavigationSuper">
      <desy-menu-navigation id="with-all-parent-items-1"
                            idPrefix="parent-example"
                            ariaLabel="Menubar description"
                            classes="bg-neutral-lighter c-menu-navigation--last-right w-full">
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}">
          Menuitem
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}"
                                   [active]="true">
          Item activo 2
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}"
                                   [disabled]="true">
          Item deshabilitado 3
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}"
                                   [disabled]="true">
          Item 4 right
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
      </desy-menu-navigation>
    </desy-header-advanced-custom-navigation>
  </desy-header-advanced-super>
  <desy-header-advanced-title-container *ngIf="isHeaderElemVisible('titleContainer')"
                                        [classes]="classesTitleContainer"
                                        [backgroundColor]="backgroundColorTitleContainer"
                                        [logoUrl]="logoUrlTitleContainer"
                                        [logoAlt]="logoAltTitleContainer"
                                        [logoHref]="logoHrefTitleContainer"
                                        [logoRouterLink]="logoRouterLinkTitleContainer"
                                        [logoRouterLinkActiveClasses]="logoRouterLinkActiveClassesTitleContainer"
                                        [logoTarget]="logoTargetTitleContainer"
                                        [logoFragment]="logoFragmentTitleContainer"
                                        [logoClasses]="logoClassesTitleContainer"
                                        [role]="roleTitleContainer"
                                        [ariaLabel]="ariaLabelTitleContainer"
                                        [ariaDescribedBy]="ariaDescribedByTitleContainer"
                                        [ariaLabelledBy]="ariaLabelledByTitleContainer"
                                        [ariaHidden]="ariaHiddenTitleContainer"
                                        [ariaDisabled]="ariaDisabledTitleContainer"
                                        [ariaControls]="ariaControlsTitleContainer"
                                        [ariaCurrent]="ariaCurrentTitleContainer"
                                        [ariaLive]="ariaLiveTitleContainer"
                                        [ariaExpanded]="ariaExpandedTitleContainer"
                                        [ariaErrorMessage]="ariaErrorMessageTitleContainer"
                                        [ariaHasPopup]="ariaHasPopupTitleContainer"
                                        [tabindex]="tabindexTitleContainer">
    <desy-header-advanced-title *ngIf="title"
                                [classes]="classesTitle"
                                [headingLevel]="headingLevelTitle"
                                [homepageUrl]="homepageUrlTitle">
      <ng-container *appCustomInnerContent="{ html: contentTitle }"></ng-container>
    </desy-header-advanced-title>
    <desy-header-advanced-subtitle *ngIf="subtitle"
                                   [classes]="classessubtitle">
      <ng-container *appCustomInnerContent="{ html: contentSubtitle }"></ng-container>
    </desy-header-advanced-subtitle>
    <desy-header-advanced-custom-navigation *ngIf="customNavigationTitleContainer">Soy el custom navigation del title
      container</desy-header-advanced-custom-navigation>
  </desy-header-advanced-title-container>
  <desy-header-advanced-navigation *ngIf="isHeaderElemVisible('navigation')"
                                   [classes]="classesNavigation"
                                   [role]="roleNavigation"
                                   [ariaLabel]="ariaLabelNavigation"
                                   [ariaDescribedBy]="ariaDescribedByNavigation"
                                   [ariaLabelledBy]="ariaLabelledByNavigation"
                                   [ariaHidden]="ariaHiddenNavigation"
                                   [ariaDisabled]="ariaDisabledNavigation"
                                   [ariaControls]="ariaControlsNavigation"
                                   [ariaCurrent]="ariaCurrentNavigation"
                                   [ariaLive]="ariaLiveNavigation"
                                   [ariaExpanded]="ariaExpandedNavigation"
                                   [ariaErrorMessage]="ariaErrorMessageNavigation"
                                   [ariaHasPopup]="ariaHasPopupNavigation"
                                   [tabindex]="tabindexNavigation">
    <desy-header-advanced-navigation-item href="/"
                                          id="idNavigationItem">
      Navigation item no modificable
    </desy-header-advanced-navigation-item>
    <desy-header-advanced-navigation-item [href]="hrefNavigationItem"
                                          [routerLink]="routerLinkNavigationItem"
                                          [fragment]="fragmentNavigationItem"
                                          [id]="idNavigationItem"
                                          [active]="activeNavigationItem"
                                          [disabled]="disabledNavigationItem"
                                          [role]="roleNavigationItem"
                                          [ariaLabel]="ariaLabelNavigationItem"
                                          [ariaDescribedBy]="ariaDescribedByNavigationItem"
                                          [ariaLabelledBy]="ariaLabelledByNavigationItem"
                                          [ariaHidden]="ariaHiddenNavigationItem"
                                          [ariaDisabled]="ariaDisabledNavigationItem"
                                          [ariaControls]="ariaControlsNavigationItem"
                                          [ariaCurrent]="ariaCurrentNavigationItem"
                                          [ariaLive]="ariaLiveNavigationItem"
                                          [ariaExpanded]="ariaExpandedNavigationItem"
                                          [ariaErrorMessage]="ariaErrorMessageNavigationItem"
                                          [ariaHasPopup]="ariaHasPopupNavigationItem"
                                          [tabindex]="tabindexNavigationItem">
      <ng-container *appCustomInnerContent="{ html: contentNavigationItem }"></ng-container>
    </desy-header-advanced-navigation-item>
  </desy-header-advanced-navigation>
  <desy-header-advanced-custom-navigation *ngIf="isHeaderElemVisible('customNavigation')">
    {{contentCustomNavigation}}
  </desy-header-advanced-custom-navigation>
  <desy-header-advanced-dropdown *ngIf="isHeaderElemVisible('dropdown')"
                                 [items]="dropdownItems"
                                 [classes]="classesDropdown"
                                 [classesContainer]="classesContainerDropdown"
                                 [hiddenText]="hiddenTextDropdown"
                                 [classesTooltip]="classesTooltipDropdown"
                                 [role]="roleDropdown"
                                 [ariaLabel]="ariaLabelDropdown"
                                 [ariaDescribedBy]="ariaDescribedByDropdown"
                                 [ariaLabelledBy]="ariaLabelledByDropdown"
                                 [ariaHidden]="ariaHiddenDropdown"
                                 [ariaDisabled]="ariaDisabledDropdown"
                                 [ariaControls]="ariaControlsDropdown"
                                 [ariaCurrent]="ariaCurrentDropdown"
                                 [ariaLive]="ariaLiveDropdown"
                                 [ariaExpanded]="ariaExpandedDropdown"
                                 [ariaErrorMessage]="ariaErrorMessageDropdown"
                                 [ariaHasPopup]="ariaHasPopupDropdown"
                                 [tabindex]="tabindexDropdown">
    <ng-container *appCustomInnerContent="{ html: contentDropdown }"></ng-container>
    <desy-content *ngIf="headerDropdownCustom">
      <ng-container *appCustomInnerContent="{ html: headerDropdownCustomHtml }"></ng-container>
    </desy-content>
  </desy-header-advanced-dropdown>
  <desy-header-advanced-offcanvas *ngIf="isHeaderElemVisible('offcanvas')"
                                  [classes]="classesOffcanvas">
    <desy-header-advanced-offcanvas-button>
      <ng-container *appCustomInnerContent="{ html: contentOffcanvas }"></ng-container>
    </desy-header-advanced-offcanvas-button>
    <desy-header-advanced-offcanvas-close-button>
      <ng-container *appCustomInnerContent="{ html: textCloseOffcanvas }"></ng-container>
    </desy-header-advanced-offcanvas-close-button>
    <desy-content>
      <ng-container *ngTemplateOutlet="templateOffcanvas"></ng-container>
    </desy-content>
  </desy-header-advanced-offcanvas>
  <desy-header-advanced-sub *ngIf="isHeaderElemVisible('sub')"
                            [classes]="classesSub"
                            [backgroundFullColor]="backgroundFullColorSub"
                            [backgroundFullUrl]="backgroundFullUrlSub"
                            [backgroundContainerUrl]="backgroundContainerUrlSub"
                            [logoUrl]="logoUrlSub"
                            [logoAlt]="logoAltSub"
                            [logoHref]="logoHrefSub"
                            [logoRouterLink]="logoRouterLinkSub"
                            [logoFragment]="logoFragmentSub"
                            [logoRouterLinkActiveClasses]="logoRouterLinkActiveClassesSub"
                            [logoTarget]="logoTargetSub"
                            [logoClasses]="logoClassesSub"
                            [role]="roleSub"
                            [ariaLabel]="ariaLabelSub"
                            [ariaDescribedBy]="ariaDescribedBySub"
                            [ariaLabelledBy]="ariaLabelledBySub"
                            [ariaHidden]="ariaHiddenSub"
                            [ariaDisabled]="ariaDisabledSub"
                            [ariaControls]="ariaControlsSub"
                            [ariaCurrent]="ariaCurrentSub"
                            [ariaLive]="ariaLiveSub"
                            [ariaExpanded]="ariaExpandedSub"
                            [ariaErrorMessage]="ariaErrorMessageSub"
                            [ariaHasPopup]="ariaHasPopupSub"
                            [tabindex]="tabindexSub">
    <ng-container *appCustomInnerContent="{ html: contentSub }"></ng-container>
    <desy-header-advanced-custom-navigation>
      <div class="py-xl lg:py-3xl lg:text-center">
        <div class="lg:w-2/3 lg:mx-auto">
          <h1 class="font-bold text-lg leading-tight lg:text-4xl mb-sm">Centro tecnológico referencia en investigación e
            innovación tecnológica</h1>
          <div class="text-base lg:text-lg mb-0">Damos soporte a las empresas a través de servicios, formación y
            aumentando su competitividad a través de la innovación.</div>
        </div>
      </div>
    </desy-header-advanced-custom-navigation>
  </desy-header-advanced-sub>
</desy-header-advanced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de header advanced"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="classes" placeholder="p-20" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="containerClasses" placeholder="p-20" [(target)]="containerClasses"></app-input-text>
      </div>
    </details>
  </div>
  <app-accessibility-inputs [id]="'input-header-advanced-id'"
                            [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>
</div>

<desy-checkboxes legendText="Configuración de los elementos del header advanced" [name]="'headerElems'"
                 hintText="Selecciona un elemento para incluirlo al header advanced y configurarlo"
                 [(ngModel)]="headerVisibleElems" (ngModelChange)="detectChanges()" [items]="headerElements">
  <!-- ######################################  SKIP LINK  ##############################################-->
  <ng-template desyCondition [item]="headerElements[0]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="skipLink" nameProperty="html" [(target)]="skipLinkData.html"></app-input-text>
        <app-input-text nameComponent="skipLink" nameProperty="classes" [(target)]="skipLinkData.classes"></app-input-text>
        <app-input-text nameComponent="skipLink" nameProperty="id" [(target)]="skipLinkData.id"></app-input-text>
        <app-input-text nameComponent="skipLink" nameProperty="fragment" [(target)]="skipLinkData.fragment"></app-input-text>
      </div>
      <app-accessibility-inputs [id]="'input-skiplink-id'"
      title="Parámetros de accesibilidad de skipLink"
      [(role)]="roleSkipLink"
      [(ariaLabel)]="ariaLabelSkipLink"
      [(ariaDescribedBy)]="ariaDescribedBySkipLink"
      [(ariaLabelledBy)]="ariaLabelledBySkipLink"
      [(ariaHidden)]="ariaHiddenSkipLink"
      [(ariaDisabled)]="ariaDisabledSkipLink"
      [(ariaControls)]="ariaControlsSkipLink"
      [(ariaCurrent)]="ariaCurrentSkipLink"
      [(ariaLive)]="ariaLiveSkipLink"
      [(ariaExpanded)]="ariaExpandedSkipLink"
      [(ariaErrorMessage)]="ariaErrorMessageSkipLink"
      [(ariaHasPopup)]="ariaHasPopupSkipLink"
      [(tabindex)]="tabindexSkipLink"></app-accessibility-inputs>
    </div>
  </ng-template>
  <!-- ######################################  HEADER MINI  ##############################################-->
  <ng-template desyCondition [item]="headerElements[1]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="headerMini" nameProperty="classes" [(target)]="classesMini"></app-input-text>
        <app-input-text nameComponent="headerMini" nameProperty="containterClasses" [(target)]="containerClassesMini"> </app-input-text>
        <app-input-text nameComponent="headerMini" nameProperty="homepageUrl" [(target)]="homepageUrlMini"></app-input-text>
        <app-input-text nameComponent="headerMini" nameProperty="homepageRouterLink" [(target)]="homepageRouterLinkMini"></app-input-text>
        <app-input-text nameComponent="headerMini" nameProperty="homepageFragment" [(target)]="homepageFragmentMini"></app-input-text>
        <app-input-boolean nameComponent="headerMini" nameProperty="Has Container" [(target)]="hasContainerMini" description="Activar/Desactivar has container"/>
      </div>
      <app-accessibility-inputs [id]="'input-headermini-id'"
      title="Parámetros de accesibilidad de header mini"
      [(role)]="roleHeaderMini"
      [(ariaLabel)]="ariaLabelHeaderMini"
      [(ariaDescribedBy)]="ariaDescribedByHeaderMini"
      [(ariaLabelledBy)]="ariaLabelledByHeaderMini"
      [(ariaHidden)]="ariaHiddenHeaderMini"
      [(ariaDisabled)]="ariaDisabledHeaderMini"
      [(ariaControls)]="ariaControlsHeaderMini"
      [(ariaCurrent)]="ariaCurrentHeaderMini"
      [(ariaLive)]="ariaLiveHeaderMini"
      [(ariaExpanded)]="ariaExpandedHeaderMini"
      [(ariaErrorMessage)]="ariaErrorMessageHeaderMini"
      [(ariaHasPopup)]="ariaHasPopupHeaderMini"
      [(tabindex)]="tabindexHeaderMini"></app-accessibility-inputs>
    </div>
  </ng-template>
  <!-- ######################################  SUPER  ##############################################-->
  <ng-template desyCondition [item]="headerElements[2]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="super" nameProperty="html" [(target)]="contentSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="classes" [(target)]="classesSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="backgroundFullColor" [(target)]="backgroundFullColorSuper"> </app-input-text>
        <app-input-text nameComponent="super" nameProperty="backgroundFullUrl" [(target)]="backgroundFullUrlSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="backgroundContainerUrl" [(target)]="backgroundContainerUrlSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoUrl" description="Para ver el logo necesitas pasarle una url" [(target)]="logoUrlSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoAlt" [(target)]="logoAltSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoHref" [(target)]="logoHrefSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoRouterLink" [(target)]="logoRouterLinkSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoRouterLinkActiveClasses" [(target)]="logoRouterLinkActiveClassesSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoTarget" [(target)]="logoTargetSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoFragment" [(target)]="logoFragmentSuper"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoClasses" [(target)]="logoClassesSuper"></app-input-text>
        <app-input-boolean nameComponent="super" nameProperty="customNavigation" [(target)]="customNavigationSuper" description="Activar customNavigation (Funciona con ng-content, solamente que lo encapsula en una serie de divs)"></app-input-boolean>
      </div>
      <app-accessibility-inputs [id]="'input-super-id'"
      title="Parámetros de accesibilidad de super"
      [(role)]="roleSuper"
      [(ariaLabel)]="ariaLabelSuper"
      [(ariaDescribedBy)]="ariaDescribedBySuper"
      [(ariaLabelledBy)]="ariaLabelledBySuper"
      [(ariaHidden)]="ariaHiddenSuper"
      [(ariaDisabled)]="ariaDisabledSuper"
      [(ariaControls)]="ariaControlsSuper"
      [(ariaCurrent)]="ariaCurrentSuper"
      [(ariaLive)]="ariaLiveSuper"
      [(ariaExpanded)]="ariaExpandedSuper"
      [(ariaErrorMessage)]="ariaErrorMessageSuper"
      [(ariaHasPopup)]="ariaHasPopupSuper"
      [(tabindex)]="tabindexSuper"></app-accessibility-inputs>
    </div>
  </ng-template>
  <!-- ######################################  TITLE CONTAINER  ##############################################-->
  <ng-template desyCondition [item]="headerElements[3]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="titleContainer" nameProperty="classes" [(target)]="classesTitleContainer"></app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="backgroundColor" [(target)]="backgroundColorTitleContainer"> </app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="logoUrl" description="Para ver el logo necesitas pasarle una url" [(target)]="logoUrlTitleContainer"></app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="logoAlt" [(target)]="logoAltTitleContainer"></app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="logoHref" [(target)]="logoHrefTitleContainer"></app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="logoRouterLink" [(target)]="logoRouterLinkTitleContainer"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoRouterLinkActiveClasses" [(target)]="logoRouterLinkActiveClassesTitleContainer"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoTarget" [(target)]="logoTargetTitleContainer"></app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="logoFragment" [(target)]="logoFragmentTitleContainer"></app-input-text>
        <app-input-text nameComponent="titleContainer" nameProperty="logoClasses" [(target)]="logoClassesTitleContainer"></app-input-text>
        <app-input-boolean nameComponent="titleContainer" nameProperty="customNavigation" [(target)]="customNavigationTitleContainer" description="Activar customNavigation"></app-input-boolean>
      </div>
      <app-accessibility-inputs [id]="'input-titlecontainer-id'"
      title="Parámetros de accesibilidad de title container"
      [(role)]="roleTitleContainer"
      [(ariaLabel)]="ariaLabelTitleContainer"
      [(ariaDescribedBy)]="ariaDescribedByTitleContainer"
      [(ariaLabelledBy)]="ariaLabelledByTitleContainer"
      [(ariaHidden)]="ariaHiddenTitleContainer"
      [(ariaDisabled)]="ariaDisabledTitleContainer"
      [(ariaControls)]="ariaControlsTitleContainer"
      [(ariaCurrent)]="ariaCurrentTitleContainer"
      [(ariaLive)]="ariaLiveTitleContainer"
      [(ariaExpanded)]="ariaExpandedTitleContainer"
      [(ariaErrorMessage)]="ariaErrorMessageTitleContainer"
      [(ariaHasPopup)]="ariaHasPopupTitleContainer"
      [(tabindex)]="tabindexTitleContainer"></app-accessibility-inputs>
      
      <div>
        <app-title-params titleparams="Parámetros de title"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-boolean nameComponent="title" nameProperty="title" [(target)]="title" description="Activar title"></app-input-boolean>
            <app-input-text nameComponent="title" nameProperty="classes" [(target)]="classesTitle"></app-input-text>
            <app-input-number nameComponent="title" nameProperty="headingLevel" [(target)]="headingLevelTitle"></app-input-number>
            <app-input-text nameComponent="title" nameProperty="homepageUrl" [(target)]="homepageUrlTitle"></app-input-text>
            <app-input-text nameComponent="title" nameProperty="html" [(target)]="contentTitle"></app-input-text>
          </div>
        </details>
      </div>
      <div>
        <app-title-params titleparams="Parámetros de subtitle"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-boolean nameComponent="subtitle" nameProperty="subtitle" [(target)]="subtitle" description="Activar subtitle"></app-input-boolean>
            <app-input-text nameComponent="subtitle" nameProperty="classes" [(target)]="classesSubtitle"></app-input-text>
            <app-input-text nameComponent="subtitle" nameProperty="html" [(target)]="contentSubtitle"></app-input-text>
          </div>
        </details>
      </div>
    </div>
  </ng-template>
  <!-- ######################################  NAVIGATION  ##############################################-->
  <ng-template desyCondition [item]="headerElements[4]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="navigation" nameProperty="classes" [(target)]="classesNavigation"></app-input-text>
      </div>
      <app-accessibility-inputs [id]="'input-navigation-id'"
      title="Parámetros de accesibilidad de navigation"
      [(role)]="roleNavigation"
      [(ariaLabel)]="ariaLabelNavigation"
      [(ariaDescribedBy)]="ariaDescribedByNavigation"
      [(ariaLabelledBy)]="ariaLabelledByNavigation"
      [(ariaHidden)]="ariaHiddenNavigation"
      [(ariaDisabled)]="ariaDisabledNavigation"
      [(ariaControls)]="ariaControlsNavigation"
      [(ariaCurrent)]="ariaCurrentNavigation"
      [(ariaLive)]="ariaLiveNavigation"
      [(ariaExpanded)]="ariaExpandedNavigation"
      [(ariaErrorMessage)]="ariaErrorMessageNavigation"
      [(ariaHasPopup)]="ariaHasPopupNavigation"
      [(tabindex)]="tabindexNavigation"></app-accessibility-inputs>
      
      <div>
        <app-title-params titleparams="Parámetros de navigation item"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="navigationItem" nameProperty="href" [(target)]="hrefNavigationItem"></app-input-text>
            <app-input-text nameComponent="navigationItem" nameProperty="routerLink" [(target)]="routerLinkNavigationItem"></app-input-text>
            <app-input-text nameComponent="navigationItem" nameProperty="fragment" [(target)]="fragmentNavigationItem"></app-input-text>
            <app-input-text nameComponent="navigationItem" nameProperty="id" [(target)]="idNavigationItem"></app-input-text>
            <app-input-boolean nameComponent="navigationItem" nameProperty="active" [(target)]="activeNavigationItem" description="Activar el item"></app-input-boolean>
            <app-input-boolean nameComponent="navigationItem" nameProperty="disabled" [(target)]="disabledNavigationItem" description="Deshabilitar el item"></app-input-boolean>
            <app-input-text nameComponent="navigationItem" nameProperty="html" [(target)]="contentNavigationItem"></app-input-text>
          </div>
        </details>
      </div>
      <app-accessibility-inputs [id]="'input-navigation-item-id'"
      title="Parámetros de accesibilidad de navigation item"
      [(role)]="roleNavigationItem"
      [(ariaLabel)]="ariaLabelNavigationItem"
      [(ariaDescribedBy)]="ariaDescribedByNavigationItem"
      [(ariaLabelledBy)]="ariaLabelledByNavigationItem"
      [(ariaHidden)]="ariaHiddenNavigationItem"
      [(ariaDisabled)]="ariaDisabledNavigationItem"
      [(ariaControls)]="ariaControlsNavigationItem"
      [(ariaCurrent)]="ariaCurrentNavigationItem"
      [(ariaLive)]="ariaLiveNavigationItem"
      [(ariaExpanded)]="ariaExpandedNavigationItem"
      [(ariaErrorMessage)]="ariaErrorMessageNavigationItem"
      [(ariaHasPopup)]="ariaHasPopupNavigationItem"
      [(tabindex)]="tabindexNavigationItem"></app-accessibility-inputs>
    </div>
  </ng-template>
  <!-- ######################################  CUSTOM NAVIGATION  ##############################################-->
  <ng-template desyCondition [item]="headerElements[5]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="customNavigation" nameProperty="html" [(target)]="contentCustomNavigation"></app-input-text>
      </div>
    </div>
  </ng-template>
  <!-- ######################################  DROPDOWN  ##############################################-->
  <ng-template desyCondition [item]="headerElements[6]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de dropdown"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="dropdown" nameProperty="classes" [(target)]="classesDropdown"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="classesContainer" [(target)]="classesContainerDropdown"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="classesTooltip" [(target)]="classesTooltipDropdown"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="hiddenText" [(target)]="hiddenTextDropdown"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="html" [(target)]="contentDropdown"></app-input-text>
            <app-input-boolean nameComponent="dropdown" nameProperty="Incluir contenido personalizado" [(target)]="headerDropdownCustom"
                               description="Se usa el ng-content en el desplegable, ignorando el parametro items y el nav interior"></app-input-boolean>
            <app-input-text nameComponent="dropdown" nameProperty="Contenido personalizado" [(target)]="headerDropdownCustomHtml"
                            description="Para visualizarse debe marcarse la opción 'Incluir contenido personalizado'"></app-input-text>
          </div>
        </details>
      </div>

      <app-accessibility-inputs [id]="'input-dropdown-id'"
                                title="Parámetros de accesibilidad de dropdown"
                                [(role)]="roleDropdown"
                                [(ariaLabel)]="ariaLabelDropdown"
                                [(ariaDescribedBy)]="ariaDescribedByDropdown"
                                [(ariaLabelledBy)]="ariaLabelledByDropdown"
                                [(ariaHidden)]="ariaHiddenDropdown"
                                [(ariaDisabled)]="ariaDisabledDropdown"
                                [(ariaControls)]="ariaControlsDropdown"
                                [(ariaCurrent)]="ariaCurrentDropdown"
                                [(ariaLive)]="ariaLiveDropdown"
                                [(ariaExpanded)]="ariaExpandedDropdown"
                                [(ariaErrorMessage)]="ariaErrorMessageDropdown"
                                [(ariaHasPopup)]="ariaHasPopupDropdown"
                                [(tabindex)]="tabindexDropdown"></app-accessibility-inputs>

      <div>
        <app-title-params titleparams="Parámetros de Dropdown-item"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="dropdown-item" nameProperty="id" [(target)]="dropdownItemData.id"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="classes" placeholder="p-20" [(target)]="dropdownItemData.classes"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="html" [(target)]="dropdownItemData.html"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="href" [(target)]="dropdownItemData.href"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="routerLink" [(target)]="dropdownItemData.routerLink"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="fragment" [(target)]="dropdownItemData.fragment"></app-input-text>
            <app-input-boolean nameComponent="dropdown-item" nameProperty="active" [(target)]="dropdownItemData.active"></app-input-boolean>
            <app-input-boolean nameComponent="dropdown-item" nameProperty="disabled" [(target)]="dropdownItemData.disabled"></app-input-boolean>
            <app-input-text nameComponent="dropdown-item" nameProperty="divider" [(target)]="dropdownItemData.divider"></app-input-text>
          </div>
        </details>
      </div>

      <app-accessibility-inputs [id]="'input-dropdown-item-id'"
                                title="Parámetros de accesibilidad de dropdown item"
                                [(role)]="dropdownItemData.role"
                                [(ariaLabel)]="dropdownItemData.ariaLabel"
                                [(ariaDescribedBy)]="dropdownItemData.ariaDescribedBy"
                                [(ariaLabelledBy)]="dropdownItemData.ariaLabelledBy"
                                [(ariaHidden)]="dropdownItemData.ariaHidden"
                                [(ariaDisabled)]="dropdownItemData.ariaDisabled"
                                [(ariaControls)]="dropdownItemData.ariaControls"
                                [(ariaCurrent)]="dropdownItemData.ariaCurrent"
                                [(ariaLive)]="dropdownItemData.ariaLive"
                                [(ariaExpanded)]="dropdownItemData.ariaExpanded"
                                [(ariaErrorMessage)]="dropdownItemData.ariaErrorMessage"
                                [(ariaHasPopup)]="dropdownItemData.ariaHasPopup"
                                [(tabindex)]="dropdownItemData.tabindex"></app-accessibility-inputs>
    </div>
  </ng-template>
  <!-- ######################################  OFFCANVAS  ##############################################-->
  <ng-template desyCondition [item]="headerElements[7]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de offcanvas"></app-title-params>
        <div class="py-sm">
          <app-input-text nameComponent="offcanvas" nameProperty="classes" [(target)]="classesOffcanvas"></app-input-text>
          <app-input-text nameComponent="offcanvas" nameProperty="textClose" [(target)]="textCloseOffcanvas"></app-input-text>
          <app-input-text nameComponent="offcanvas" nameProperty="html" [(target)]="contentOffcanvas"></app-input-text>
        </div>
      </div>
      <div></div><!-- Offcanvas no tiene parámetros de accesibilidad -->
    </div>
  </ng-template>
  <!-- ######################################  SUB  ##############################################-->
  <ng-template desyCondition [item]="headerElements[8]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-input-text nameComponent="sub" nameProperty="html" [(target)]="contentSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="classes" [(target)]="classesSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="backgroundFullColor" [(target)]="backgroundFullColorSub"> </app-input-text>
        <app-input-text nameComponent="sub" nameProperty="backgroundFullUrl" [(target)]="backgroundFullUrlSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="backgroundContainerUrl" [(target)]="backgroundContainerUrlSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="logoUrl" description="Para ver el logo necesitas pasarle una url" [(target)]="logoUrlSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="logoAlt" [(target)]="logoAltSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="logoHref" [(target)]="logoHrefSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="logoRouterLink" [(target)]="logoRouterLinkSub"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoRouterLinkActiveClasses" [(target)]="logoRouterLinkActiveClassesSub"></app-input-text>
        <app-input-text nameComponent="super" nameProperty="logoTarget" [(target)]="logoTargetSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="logoFragment" [(target)]="logoFragmentSub"></app-input-text>
        <app-input-text nameComponent="sub" nameProperty="logoClasses" [(target)]="logoClassesSub"></app-input-text>
        <app-input-boolean nameComponent="super" nameProperty="customNavigation" [(target)]="customNavigationSub"  description="Activar customNavigation (Funciona con ng-content, solamente que lo encapsula en una serie de divs)"></app-input-boolean>
      </div>
      <app-accessibility-inputs [id]="'input-sub-id'"
      title="Parámetros de accesibilidad de sub"
      [(role)]="roleSub"
      [(ariaLabel)]="ariaLabelSub"
      [(ariaDescribedBy)]="ariaDescribedBySub"
      [(ariaLabelledBy)]="ariaLabelledBySub"
      [(ariaHidden)]="ariaHiddenSub"
      [(ariaDisabled)]="ariaDisabledSub"
      [(ariaControls)]="ariaControlsSub"
      [(ariaCurrent)]="ariaCurrentSub"
      [(ariaLive)]="ariaLiveSub"
      [(ariaExpanded)]="ariaExpandedSub"
      [(ariaErrorMessage)]="ariaErrorMessageSub"
      [(ariaHasPopup)]="ariaHasPopupSub"
      [(tabindex)]="tabindexSub"></app-accessibility-inputs>
    </div>
  </ng-template>

</desy-checkboxes>