<div #calendar
     class="c-datepicker"
     [ngClass]="containerClasses"
     [desyAppAccessibility]="this">
    <ng-container *ngIf="standalone">
        <ng-container *ngTemplateOutlet="calendarContent"></ng-container>
    </ng-container>
    <div *ngIf="!standalone"
         class="c-form-group"
         [ngClass]="formGroupClasses">
        <ng-content select="desy-label"></ng-content>
        <ng-content select="desy-hint"></ng-content> 
        <ng-content select="desy-error-message"></ng-content>

        <div class="relative ">
            <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base pr-16 w-full"
                   [ngClass]="{'border-alert-base ring-2 ring-alert-base': errorMessage}"
                   [attr.id]="id"
                   [attr.name]="name"
                   [type]="type || 'text'"
                   [attr.value]="value"
                   [attr.aria-describedby]="describedBy || (errorMessage || errorId ? errorId : null)"
                   [attr.aria-errormessage]="errorMessage || errorId ? errorId : null"
                   [attr.aria-invalid]="errorMessage || errorId ? 'true' : null"
                   [attr.autocomplete]="autocomplete"
                   [attr.pattern]="pattern"
                   [attr.inputmode]="inputmode"
                   (input)="onInput($event)"
                   [attr.placeholder]="placeholder"
                   [disabled]="disabled" />


            <div class="absolute top-0 right-0">
                <desy-dropdown [classes]="dropdownClasses ? dropdownClasses : 'c-dropdown--transparent'"
                               [disabled]="disabled"
                               (blur)="onBlur($event)"
                               [id]="id+'-dropdown'">
                    <span class="sr-only">Seleccionar fecha con una tabla de calendario</span><svg
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 14 14"
                         width="1.375em"
                         height="1.375em"
                         aria-hidden="true">
                        <g>
                            <path fill="currentColor"
                                  fill-rule="evenodd"
                                  d="M4.5 1.5c0 -0.552285 -0.44772 -1 -1 -1s-1 0.447715 -1 1v1H2C1.17157 2.5 0.5 3.17157 0.5 4v8c0 0.8284 0.67157 1.5 1.5 1.5h10c0.8284 0 1.5 -0.6716 1.5 -1.5V4c0 -0.82843 -0.6716 -1.5 -1.5 -1.5h-0.5v-1c0 -0.552285 -0.4477 -1 -1 -1 -0.55229 0 -1 0.447715 -1 1v1h-5v-1Zm-1 5.75c0.55228 0 1 -0.44772 1 -1s-0.44772 -1 -1 -1 -1 0.44772 -1 1 0.44772 1 1 1Zm3.5 0c0.55228 0 1 -0.44772 1 -1s-0.44772 -1 -1 -1 -1 0.44772 -1 1 0.44772 1 1 1Zm-2.5 3c0 0.5523 -0.44772 1 -1 1s-1 -0.4477 -1 -1c0 -0.55229 0.44772 -1 1 -1s1 0.44771 1 1Zm2.5 1c0.55228 0 1 -0.4477 1 -1 0 -0.55229 -0.44772 -1 -1 -1s-1 0.44771 -1 1c0 0.5523 0.44772 1 1 1Zm4.5 -5c0 0.55228 -0.4477 1 -1 1 -0.55229 0 -1 -0.44772 -1 -1s0.44771 -1 1 -1c0.5523 0 1 0.44772 1 1Z"
                                  clip-rule="evenodd"
                                  stroke-width="1"></path>
                        </g>
                    </svg>
                    <desy-content>
                        <ng-container *ngTemplateOutlet="calendarContent"></ng-container>
                        <ul class="flex flex-wrap justify-between gap-sm p-sm">
                            <li>
                                <desy-button [id]="id + '-submit'"
                                             classes="c-button--primary c-button--sm">
                                    Aceptar
                                </desy-button>
                            </li>
                            <li>
                                <desy-button [id]="id + '-cancel'"
                                             classes="c-button--sm">
                                    Cancelar
                                </desy-button>
                            </li>
                        </ul>
                    </desy-content>
                </desy-dropdown>
            </div>
        </div>
    </div>
</div>

<ng-template #calendarContent>
    <div class="p-sm overflow-x-auto">
        <ng-content></ng-content>
    </div>
</ng-template>