<nav [class]="classes ? classes : 'hidden lg:block'"
     [id]="idPrefix"
     [desyAppAccessibility]="this">
  <ul class="ml-sm flex flex-wrap items-baseline">
    <ng-container *ngFor="let item of getItems(); index as i">
      <li *ngIf="item"
      [desyAppAccessibility]="item">
        <!-- Active + routerlink -->
        <a *ngIf="item.active && (item.routerLink || !item.href)" [id]="getItemId(item, i)" [routerLink]="item.routerLink" [fragment]="item.fragment" [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
           class="max-w-40 lg:max-w-xs px-3 py-4 text-sm text-black hover:underline truncate focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base" 
           aria-current="page"
           [target]="item.target">
          <strong class="font-bold">
            <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
          </strong>
        </a>

        <!-- Active + href -->
        <a *ngIf="item.active && !item.routerLink && item.href" [id]="getItemId(item, i)" [href]="item.href"
           class="max-w-40 lg:max-w-xs px-3 py-4 text-sm text-black hover:underline truncate focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base" 
           aria-current="page"
           [target]="item.target">
          <strong class="font-bold">
            <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
          </strong>
        </a>

        <!-- Not active + routerlink -->
        <a *ngIf="!item.active && (item.routerLink || !item.href)" [id]="getItemId(item, i)" [routerLink]="item.routerLink" [fragment]="item.fragment" [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
           [ngClass]="{'opacity-50 pointer-events-none': item.disabled}"
           class="max-w-40 lg:max-w-xs px-3 py-4 text-sm text-black hover:underline truncate focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base"
           [attr.disabled]="item.disabled ? item.disabled : null" [attr.aria-disabled]="item.disabled ? item.disabled : null" [attr.tabindex]="item.disabled ? -1 : null"
           [target]="item.target">
          <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
        </a>

        <!-- Not active + href -->
        <a *ngIf="!item.active && !item.routerLink && item.href" [id]="getItemId(item, i)" [href]="item.href"
           [ngClass]="{'opacity-50 pointer-events-none': item.disabled}"
           class="max-w-40 lg:max-w-xs px-3 py-4 text-sm text-black hover:underline truncate focus:outline-none focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base"
           [attr.disabled]="item.disabled ? item.disabled : null" [attr.aria-disabled]="item.disabled ? item.disabled : null" [attr.tabindex]="item.disabled ? -1 : null"
           [target]="item.target">
          <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
