<div class="grid grid-cols-2 lg:grid-cols-4 gap-lg">
    <div class="col-span-2 lg:col-span-3">
        <h2 class="pt-lg c-h2">Changelog</h2>
        <h4 class="mt-lg mb-lg text-lg">What's new in desy-angular</h4>
        <div class="mb-lg prose prose-sm lg:prose-base max-w-none lg:max-w-none mx-auto" *ngFor="let tag of changeLog">
            <h3>{{ tag.name }}</h3>
            <ul>
                <li *ngFor="let commit of tag.values">
                    <p class="text-sm">{{ commit.message }} | <a target="_blank" title="Se abre en ventana nueva" [href]="commit.link">{{commit.date | date}}</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-span-2 lg:col-span-1">
    </div>
</div>