<p class="block font-semibold text-alert-base" [ngClass]="classes"
   [attr.id]="id ? id : null"
   [desyAppAccessibility]="this">
  <span class="sr-only">{{visuallyHiddenText ? visuallyHiddenText : 'Error'}}:</span>
  <ng-content></ng-content>
  <ng-container *desyCustomInnerContent="{ html: html, text: text }"></ng-container>
</p>
