<ng-template #template>
  <legend  *ngIf="isPageHeading" [ngClass]="classes ? classes : 'font-bold'">
  <ng-container [ngSwitch]="headingLevel">
    <h1 *ngSwitchCase="1" [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></h1>
    <h2 *ngSwitchCase="2" [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></h2>
    <h3 *ngSwitchCase="3" [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></h3>
    <h4 *ngSwitchCase="4" [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></h4>
    <h5 *ngSwitchCase="5" [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></h5>
    <h1 *ngSwitchDefault  [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></h1>
  </ng-container>
</legend>

<legend  *ngIf="!isPageHeading" [ngClass]="classes ? classes : 'font-bold'" [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="legendContentTemplate"></ng-container></legend>
</ng-template>

<ng-template #legendContentTemplate>
  <ng-content></ng-content>
</ng-template>