<div class="flex items-center">
  <div class="relative">
    <desy-dropdown [hiddenText]="hiddenText"
                   [classesContainer]="classesContainer ? classesContainer : 'hidden lg:block'"
                   [classesTooltip]="classesTooltip"
                   [classes]="classes ? classes : 'c-dropdown--header'"
                   [caller]="caller"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
      <ng-content></ng-content>
    </desy-dropdown>
    <ng-template #caller>   
      <ng-container *ngIf="contentComponent">
        <ng-container *desyCustomInnerContent="{ component: contentComponent }"></ng-container>
      </ng-container>
      <ng-container *ngIf="!contentComponent">
        <desy-nav [hasNav]="true" idPrefix="header-dropdown-nav-item" ariaLabel="Menú de usuario" classes="w-max max-w-64" id="id-dropdown-nav">
          <ng-container *ngFor="let item of items; index as i">
            <desy-nav-item [id]="item.id ? item.id + '-content-dropdown' : null"
             [classes]="item.classes"
             [title]="item.title"
             [(active)]="item.active"
             [href]="item.href"
             [routerLink]="item.routerLink"
             [fragment]="item.fragment"
             [target]="item.target"
             [disabled]="item.disabled"
             [divider]="item.divider"
             [role]="item.role"
             [ariaLabel]="item.ariaLabel"
             [ariaDescribedBy]="item.ariaDescribedBy"
             [ariaLabelledBy]="item.ariaLabelledBy"
             [ariaHidden]="item.ariaHidden"
             [ariaDisabled]="item.ariaDisabled"
             [ariaControls]="item.ariaControls"
             [ariaCurrent]="item.ariaCurrent"
             [ariaLive]="item.ariaLive"
             [ariaErrorMessage]="item.ariaErrorMessage"
             [tabindex]="item.tabindex">
            <ng-container *desyCustomInnerContent="{ html: item.html, text: item.text }"></ng-container>
            </desy-nav-item>
          </ng-container>
        </desy-nav>
      </ng-container>    
    </ng-template>
  </div>
</div>