<ul #menunavigation [id]="id + '-menu-navigation'" class="flex flex-wrap gap-base"
(focusin)="handleMenuFocusIn()"
(focusout)="handleMenuFocusOut($event)"
[ngClass]="{ 'focus': isFocused }"
[attr.aria-label]="ariaLabel ? ariaLabel : null">
<ng-container *ngFor="let item of getItems(); index as itemIndex">
<li class="relative" desyMenubaritem (contentChanged)="checkChanges()">
  <a *ngIf="item.href" #link
     (click)="handleMenuItemClick($event, itemIndex)"
      (keydown)="handleMenuItemKeydown($event, itemIndex)"
      (mouseover)="handleMenuItemMouseOver(itemIndex)"
      (desyAttributeChange)="checkChanges()" [attributesToCheck]="'disabled'"
      [attr.role]="item.disabled ? link : null"
      [id]="getItemId(item, itemIndex)"
      [target]="item.target"
      [href]="item.href"
      [class]="['c-menu-navigation__button', item.classes] | makeHtmlList"
      [ngClass]="{'c-menu-navigation__button--disabled': item.disabled, 'c-menu-navigation__button--primary': item.active, 'c-menu-navigation__button--has-selection': item.active}"
      [attr.title]="item.title ? item.title : null"
      [attr.disabled]="item.disabled ? item.disabled : null"
      [attr.aria-disabled]="item.disabled ? item.disabled : (item.ariaDisabled ? item.ariaDisabled : null)"
      [attr.aria-current]="item.disabled ? 'page' : (item.ariaCurrent ? item.ariaCurrent : null)"
      [desyAppAccessibility]="item"
      [attr.tabindex]="item.disabled ? -1 : (itemIndex === currentFocusItemIndex ? 0 : -1)">
      <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none" #itemContentWrapper>
          <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text}"></ng-container>
      </span>          
  </a>
  <a *ngIf="!item.href && item.routerLink" #link
    (click)="handleMenuItemClick($event, itemIndex)"
     (keydown)="handleMenuItemKeydown($event, itemIndex)"
     (mouseover)="handleMenuItemMouseOver(itemIndex)"
     (desyAttributeChange)="checkChanges()" [attributesToCheck]="'disabled'"
     [attr.role]="item.disabled ? link : null"
     [id]="getItemId(item, itemIndex)"
     [target]="item.target"
     [routerLink]="item.routerLink"
     [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
     [fragment]="item.fragment"
     [class]="['c-menu-navigation__button', item.classes] | makeHtmlList"
     [ngClass]="{'c-menu-navigation__button--disabled': item.disabled, 'c-menu-navigation__button--primary': item.active, 'c-menu-navigation__button--has-selection': item.active}"
     [attr.disabled]="item.disabled ? item.disabled : null"
     [attr.aria-disabled]="item.disabled ? item.disabled : (item.ariaDisabled ? item.ariaDisabled : null)"
     [desyAppAccessibility]="item"
     [attr.aria-current]="item.disabled ? 'page' : (item.ariaCurrent ? item.ariaCurrent : null)"
     [attr.tabindex]="item.disabled ? -1 : (itemIndex === currentFocusItemIndex ? 0 : -1)">
     <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none" #itemContentWrapper>
         <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text}"></ng-container>
     </span>          
  </a>
  <button *ngIf="!item.href && !item.routerLink" #link #itemContentWrapper
     (click)="handleMenuItemClick($event, itemIndex)"
      (keydown)="handleMenuItemKeydown($event, itemIndex)"
      (mouseover)="handleMenuItemMouseOver(itemIndex)"
      (desyAttributeChange)="checkChanges()" [attributesToCheck]="'disabled'"
      [class]="['c-menu-navigation__button', item.classes] | makeHtmlList"
      [ngClass]="{'c-menu-navigation__button--disabled': item.disabled, 'c-menu-navigation__button--primary': item.active, 'c-menu-navigation__button--has-selection': item.active}"
      [attr.aria-expanded]="item.sub ? (!!(menuData && menuData[itemIndex].open) ?  true :  false) : null"
      [attr.aria-haspopup]="item.sub ? (!!(menuData && menuData[itemIndex].open) ?  true :  false) : null"
      [attr.disabled]="item.disabled ? item.disabled : null"
      [attr.aria-disabled]="item.disabled ? item.disabled : (item.ariaDisabled ? item.ariaDisabled : null)"
      [desyAppAccessibility]="item"
      [attr.aria-controls]="item.sub ? (item.ariaControls ?  item.ariaControls :  id + '-sub-list') : null"
      [attr.tabindex]="item.disabled ? -1 : (itemIndex === currentFocusItemIndex ? 0 : -1)">
          <span *ngIf="item.active" class="sr-only">Item activo: </span>
          <span class="inline-flex self-center max-w-xs align-middle truncate pointer-events-none" #itemContentWrapper>
              <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text}"></ng-container>
            </span>
          <svg *ngIf="item.sub" class="inline-block -mr-2  align-middle -my-px pointer-events-none" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
  </button>        

  <div *ngIf="item.sub && getItemSubitems(item)" class="c-menu-navigation__sub absolute bottom-0 left-0">
      <ul  [id]="id + '-sub-list'" [style]="menuData && menuData[itemIndex].open?'display:block':'display:none'" #popupMenu role="menu" tabindex="-1"
      [class]="item.sub.classes ? item.sub.classes : 'c-menu-navigation__tooltip w-max max-w-64 border border-neutral-base shadow-md bg-white text-sm'"
      [attr.aria-label]="item.ariaLabel ? item.ariaLabel : (item.sub.ariaLabel ? item.sub.ariaLabel : null)"
      [attr.aria-disabled]="item.sub.ariaDisabled ? item.sub.ariaDisabled : null"
      [desyAppAccessibility]="item.sub">
        <ng-container *ngFor="let subItem of getItemSubitems(item); index as subItemIndex">				
            <li #popupMenuItem tabindex="-1"
                [id]="getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex))"
                (click)="handlePopupMenuItemClick(itemIndex, subItemIndex)"
                (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex)"
                (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex)">
              <a *ngIf="subItem.href" #itemContentWrapper
                  [href]="subItem.href"
                  (click)="handlePopupMenuItemClick(itemIndex, subItemIndex)"
                  (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex)"
                  (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex)"
                  (desyAttributeChange)="checkChanges()"
                  [class]="['flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', subItem.classes] | makeHtmlList"
                  [ngClass]="{'pointer-events-none': subItem.disabled}"
                  [tabindex]="subItem.disabled ? -1 : null"
                  [attr.aria-current]="subItem.active ? 'page' : null"
                  [target]="subItem.target">
                  <strong class="font-bold" *ngIf="subItem.active; else noActive">
                    <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
                  </strong>
                  <ng-template #noActive>
                    <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
                  </ng-template>
                  <svg *ngIf="subItem.disabled" viewBox="0 0 140 140" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" class="inline-block align-middle flex-initial ml-sm text-neutral-base fill-current" aria-hidden="true" focusable="false" ><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zM20 70a50 50 0 0174.8-43.4 2.51 2.51 0 011.23 1.84 2.48 2.48 0 01-.71 2.1L30.54 95.32a2.51 2.51 0 01-3.94-.52A49.63 49.63 0 0120 70zm100 0a50 50 0 01-74.8 43.4 2.51 2.51 0 01-1.23-1.84 2.48 2.48 0 01.71-2.1l64.78-64.78a2.51 2.51 0 013.94.52A49.63 49.63 0 01120 70z"/></svg>
              </a>
              <a *ngIf="!subItem.href && subItem.routerLink" #itemContentWrapper
                  [routerLink]="subItem.routerLink"
                  [routerLinkActive]="subItem.routerLinkActiveClasses ? subItem.routerLinkActiveClasses : []"
                  [fragment]="subItem.fragment"
                  (click)="handlePopupMenuItemClick(itemIndex, subItemIndex)"
                  (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex)"
                  (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex)"
                  (desyAttributeChange)="checkChanges()"
                  [class]="['flex items-center px-base py-sm text-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', subItem.classes] | makeHtmlList"
                  [ngClass]="{'pointer-events-none': subItem.disabled}"
                  [tabindex]="subItem.disabled ? -1 : null"
                  [attr.aria-current]="subItem.active ? 'page' : null"
                  [target]="subItem.target">
                  <strong class="font-bold" *ngIf="subItem.active; else noActive">
                    <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
                  </strong>
                  <ng-template #noActive>
                    <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
                  </ng-template>
                  <svg *ngIf="subItem.disabled" viewBox="0 0 140 140" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg" class="inline-block align-middle flex-initial ml-sm text-neutral-base fill-current" aria-hidden="true" focusable="false" ><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zM20 70a50 50 0 0174.8-43.4 2.51 2.51 0 011.23 1.84 2.48 2.48 0 01-.71 2.1L30.54 95.32a2.51 2.51 0 01-3.94-.52A49.63 49.63 0 0120 70zm100 0a50 50 0 01-74.8 43.4 2.51 2.51 0 01-1.23-1.84 2.48 2.48 0 01.71-2.1l64.78-64.78a2.51 2.51 0 013.94.52A49.63 49.63 0 01120 70z"/></svg>
            </a>
            </li>
            <li *ngIf="subItem.divider" class="my-sm border-b border-neutral-base">
              <div class="sr-only">Separador</div>
          </li>
        </ng-container>
      </ul>
  </div>
</li>
<li #popupMenuItem *ngIf="item.divider" [class]="item.divider.classes" role="presentation" aria-hidden="true">
          <ng-container *desyCustomInnerContent="{ component: item.divider, html: item.divider.html, text: item.divider.text}"></ng-container>
</li>
</ng-container>
</ul>
