<footer [class]="['py-base bg-neutral-lighter border-t border-neutral-base text-xs lg:text-sm text-neutral-dark', classes] | makeHtmlList" 
  [desyAppAccessibility]="this">
  <div [class]="['container mx-auto px-base', containerClasses] | makeHtmlList">
    <ng-container *ngIf="getNavigationItems()">
      <div class="flex flex-col lg:flex-row flex-wrap gap-base">
        <div class="flex-1" *ngFor="let nav of getNavigationItems()">
          <div [ngClass]="nav.classes ? nav.classes : 'flex-1'">
            <h3 class="c-h4 mb-base text-black">{{nav.title}}</h3>
          </div>
          <ul *ngIf="getNavigationItemItems(nav)"
            class="relative space-y-base" [ngClass]="{
            'gap-base': nav.columns,
            'lg:columns-1': nav.columns === 1,
            'lg:columns-2': nav.columns === 2,
            'lg:columns-3': nav.columns === 3,
            'lg:columns-4': nav.columns === 4,
            'lg:columns-5': nav.columns === 5,
            'lg:columns-6': nav.columns === 6,
            'lg:columns-7': nav.columns === 7,
            'lg:columns-8': nav.columns === 8}">
            <li class="mb-xs" *ngFor="let item of getNavigationItemItems(nav)">
              <ng-container *ngTemplateOutlet="(item.href !== null && item.href !== undefined) ? itemHref : itemRouterLink; context: {item: item}"></ng-container>
            </li>
          </ul>
        </div>
      </div>
      <hr class="my-base border-t border-neutral-base">
    </ng-container>

    <div class="flex flex-wrap flex-col lg:flex-row justify-between">
      <div class="mb-base">
        <ng-template #metaTemplate let-metaElement="metaElement">
          <ng-container *ngIf="metaElement">
            <h2 class="sr-only">{{(metaElement.visuallyHiddenTitle ? metaElement.visuallyHiddenTitle : 'Enlaces de pie de página')}}</h2>
            <ul class="flex flex-col lg:flex-row lg:flex-wrap mb-base" *ngIf="getMetaItems(metaElement)">
              <li class="mb-sm mr-base" *ngFor="let item of getMetaItems(metaElement)">
                <ng-container *ngTemplateOutlet="(item.href !== null && item.href !== undefined) ? itemHref : itemRouterLink; context: {item: item}"></ng-container>
              </li>
            </ul>
            <div class="mb-sm"  *ngIf="getMetaContent(metaElement) || metaElement.html || metaElement.text">
              <p>
                <ng-container *desyCustomInnerContent="{ component: getMetaContent(metaElement), html: metaElement.html, text: metaElement.text }"></ng-container>
              </p>
            </div>
          </ng-container>
        </ng-template>
        <ng-container *ngTemplateOutlet="metaTemplate; context: { metaElement: metaComponent ? metaComponent : meta }"></ng-container>

        <!-- Description -->
        <div *ngIf="descriptionComponent || description?.html || description?.text; else noDesc">
          <h2 class="sr-only">{{descriptionComponent?.visuallyHiddenTitle ? descriptionComponent?.visuallyHiddenTitle : description?.visuallyHiddenTitle ? description?.visuallyHiddenTitle : 'Acerca de'}}</h2>
          <ng-container *desyCustomInnerContent="{ component: descriptionComponent, html: description?.html, text: description?.text }"></ng-container>
        </div>
        <ng-template #noDesc>
          <div class="leading-tight">
            <p>
              Todo el contenido bajo
              <a class="c-link c-link--neutral" href="https://creativecommons.org/licenses/by/4.0/legalcode.es" rel="license"
                target="_blank" title="Se abre en ventana nueva">licencia CC BY 4.0</a>
            </p>
          </div>
          <div class="leading-tight">
            <p>
              <a target="_blank" class="c-link c-link--neutral" href="https://www.aragon.es/" title="Se abre en ventana nueva">Gobierno de Aragón</a>. Edificio
              Pignatelli. <abbr title="Paseo">Pº</abbr> María Agustín, 36. 50004 - Zaragoza - <abbr title="Teléfono"
                class="no-underline">Tel.</abbr> <a href="tel:+34976714000" class="c-link c-link--neutral">976 714 000</a>
            </p>
          </div>
        </ng-template>

      </div>
    </div>
    <div class="overflow-hidden">
      <div class="flex flex-wrap gap-base lg:gap-x-2xl w-full pt-lg">
          <ng-container *ngIf="!noLogo">
            <div [class]="logoContainerClasses">
              <p><a [href]="url?(url | externalHref):urlFeder ? (urlFeder | externalHref):'https://www.aragon.es/-/fondos-europeos-aragon'" class="inline-block text-sm c-link no-underline" title="Más información sobre los Fondos Europeos">
                  <ng-container [ngSwitch]="type">
                    <ng-container *ngSwitchCase="typeEnum.UE">
                      <span class="inline-block c-footer__logo c-footer__logo--ue"><span class="sr-only">Cofinanciado por la Unión Europea.</span></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeEnum.FSE">
                      <span class="inline-block c-footer__logo c-footer__logo--fse"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Social Europeo Plus (FSE+). Ministerio de Agricultura y Economía Social.</span></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeEnum.FEDER">
                      <span class="inline-block c-footer__logo c-footer__logo--feder"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Europeo de Desarrollo Regional (FEDER). Ministerio de Hacienda.</span></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeEnum.FEADER">
                      <span class="inline-block c-footer__logo c-footer__logo--feader"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Europeo Agrario de Desarrollo Rural (FEADER). Ministerio de Agricultura, Pesca y Alimentación.</span></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeEnum.Plurifondo">
                      <span class="inline-block c-footer__logo c-footer__logo--plurifondo"><span class="sr-only">Cofinanciado por la Unión Europea. Plurifondo. Gobierno de España.</span></span>
                    </ng-container>
                    <ng-container *ngSwitchCase="typeEnum.Custom">
                      <ng-content></ng-content>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <span class="inline-block c-footer__logo c-footer__logo--feder"><span class="sr-only">Cofinanciado por la Unión Europea. Fondo Europeo de Desarrollo Regional (FEDER). Ministerio de Hacienda.</span></span>
                    </ng-container>
                  </ng-container>
                </a></p>
            </div>
          </ng-container>
          <div *ngIf="iconComponent || icon?.html" [class]="icon?.containerClasses || iconComponent?.containerClasses ? icon?.containerClasses || iconComponent?.containerClasses:'flex-1'">
            <ng-container *desyCustomInnerContent="{ component: iconComponent, html: icon?.html }"></ng-container>
          </div>
      </div>
    </div>
  </div>
</footer>

<ng-template #itemHref let-item="item">
  <a class="c-link font-semibold" [href]="item.href | externalHref"
     [desyAppAccessibility]="item"
     [attr.target]="item.target">
    <ng-container *desyCustomInnerContent="{ component: item, text: item.text }"></ng-container>
  </a>
</ng-template>

<ng-template #itemRouterLink let-item="item">
  <a class="c-link font-semibold" [routerLink]="item.routerLink" [fragment]="item.fragment"      
     [desyAppAccessibility]="item"
     [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []">
    <ng-container *desyCustomInnerContent="{ component: item, text: item.text }"></ng-container>
  </a>
</ng-template>
