<ng-template #tableContent>
  <table role="grid"
          [class]="['c-table-advanced border-t-2 border-b-2 border-neutral-base', classes] | makeHtmlList"
          [attr.id]="id ? id : null"
          [desyAppAccessibility]="this">
      <caption *ngIf="caption || captionComponent" [class]="getCaptionClass()">
        <ng-container *desyCustomInnerContent="{ component: captionComponent, text: caption ? caption : null }"></ng-container>
      </caption>
      <thead *ngIf="getHeaderCells()">
          <tr class="border-t border-neutral-base divide-x divide-neutral-base">
              <th *ngIf="hasCheckboxes" scope="col" [class]="['align-top px-base py-xs', 'w-16', checkboxClasses] | makeHtmlList">
                  <span class="sr-only">Seleccionar fila</span>
              </th>
              <th scope="col" *ngFor="let item of getHeaderCells(); index as iHeader" [id]="getIdHeader(iHeader)"
                      [attr.aria-sort]="item.orderBy ? getStringOrderBy(item.orderBy) : null"
                      [class]="['align-top px-base py-sm border-neutral-base border-b-0 text-left text-sm font-normal text-neutral-dark', item.classes] | makeHtmlList"
                      [attr.colspan]="item.colspan ? item.colspan  : null"
                      [attr.rowspan]="item.rowspan ? item.rowspan  : null"
                      [desyAppAccessibility]="item">

                  <span *ngIf="item.orderBy" class="inline-block relative" (click)="handleSortByColumn(iHeader,$event)" (keydown.enter)="handleSortByColumn(iHeader,$event)" (keydown.space)="handleSortByColumn(iHeader,$event)" desyFocusClickedCell
                        [attr.tabindex]="item.orderBy ? -1 : null"
                        [attr.role]="item.orderBy ? 'button' : null">
                    <ng-container *ngIf="item.text">{{item.text}}</ng-container>
                    <ng-container *ngIf="item.contentComponent">
                      <ng-container *desyCustomInnerContent="{ component: item.contentComponent }"></ng-container>
                    </ng-container>
                    <span class="c-table-advanced__order" *ngIf="item.orderBy">
                        <span class="sr-only">Pulsa para ordenar por esta columna</span>
                        <span class="c-table-advanced__ascending" *ngIf="item.orderBy === orderByType.asc">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M112.07 37.93l-35-35a10 10 0 00-14.14 0l-35 35a10 10 0 0014.14 14.14l13.66-13.66A2.5 2.5 0 0160 40.18V130a10 10 0 0020 0V40.18a2.5 2.5 0 014.27-1.77l13.66 13.66a10 10 0 0014.14-14.14z" fill="currentColor"/></svg>
                        </span>
                        <span class="c-table-advanced__descending" *ngIf="item.orderBy === orderByType.desc">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" aria-hidden="true" width="1em" height="1em"><path d="M27.93 102.07l35 35a10 10 0 0014.14 0l35-35a10 10 0 00-14.14-14.14l-13.66 13.66A2.5 2.5 0 0180 99.82V10a10 10 0 00-20 0v89.82a2.5 2.5 0 01-4.27 1.77L42.07 87.93a10 10 0 00-14.14 14.14z" fill="currentColor"/></svg>
                        </span>
                        <span class="c-table-advanced__none"  *ngIf="item.orderBy === orderByType.none">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="text-neutral-dark" aria-hidden="true" width="1em" height="1em"><path d="M94.7 97.2l-17.2 17.19V25.61L94.7 42.8a7.5 7.5 0 0010.6-10.6l-30-30a7.49 7.49 0 00-10.6 0l-30 30a7.5 7.5 0 0010.6 10.6l17.2-17.19v88.78L45.3 97.2a7.5 7.5 0 10-10.6 10.6l30 30a7.48 7.48 0 0010.6 0l30-30a7.5 7.5 0 00-10.6-10.6z" fill="currentColor"/></svg>
                        </span>
                    </span>
                  </span>

                  <span *ngIf="!item.orderBy" class="inline-block relative">
                    <ng-container *ngIf="item.text">{{item.text}}</ng-container>
                    <ng-container *ngIf="item.contentComponent">
                      <ng-container *desyCustomInnerContent="{ component: item.contentComponent }"></ng-container>
                    </ng-container>
                  </span>
              </th>
          </tr>
      </thead>

      <tbody>
          <tr class="divide-x divide-neutral-base" *ngIf="hasFilters()">
              <td *ngIf="hasCheckboxes" [ngClass]="checkboxClasses"></td>
              <td tabindex="-1" *ngFor="let item of getHeaderCells(); index as iHead" desyFocusClickedCell
                  [class]="['align-top px-base pb-sm border-neutral-base border-b-0 text-left text-sm font-normal text-neutral-dark', item.classes] | makeHtmlList">
                  <ng-container *ngIf="item.hasSelect && getSelectForItem(item) !== null">
                    <ng-container *ngTemplateOutlet="tableSelect; context: {selectable: getSelectForItem(item)}"></ng-container>
                    <ng-template #tableSelect let-selectable="selectable">
                      <desy-select [id]="getIdHeaderSelect(iHead)"
                        [labelData]="{ text: 'Filtrar por esta columna', classes: 'sr-only' }"
                        [classes]="selectable.classes ? selectable.classes : 'c-select--sm w-full'"
                        [formGroupClasses]="selectable.formGroupClasses ? selectable.formGroupClasses : '-mt-sm mb-0'"
                        [name]="selectable.name"
                        [items]="getItemSelectOptions(selectable)"
                        [disabled]="selectable.disabled"
                        [describedBy]="getIdHeaderSelect(iHead)"

                        [(ngModel)]="item.valueSelect" (ngModelChange)="handleInputSearch(item)"

                        [role]="selectable.role"
                        [ariaLabel]="selectable.ariaLabel"
                        [ariaDescribedBy]="selectable.ariaDescribedBy"
                        [ariaLabelledBy]="selectable.ariaLabelledBy"
                        [ariaHidden]="selectable.ariaHidden"
                        [ariaDisabled]="selectable.ariaDisabled"
                        [ariaControls]="selectable.ariaControls"
                        [ariaCurrent]="selectable.ariaCurrent"
                        [ariaLive]="selectable.ariaLive"
                        [ariaExpanded]="selectable.ariaExpanded"
                        [ariaErrorMessage]="selectable.ariaErrorMessage"
                        [ariaHasPopup]="selectable.ariaHasPopup"
                        [tabindex]="selectable.tabindex">
                      </desy-select>
                    </ng-template>
                  </ng-container>

                  <div *ngIf="item.hasSelect && item.hasFilter" class="pb-sm"></div>

                  <desy-search-bar *ngIf="item.hasFilter"
                                   [(ngModel)]="item.valueFilter" [ngModelOptions]="{standalone: true}"
                                   (clickEvent)="handleInputSearch(item)"
                                   (ngModelChange)="handleInputSearch(item)"
                                   labelText="Buscar en esta columna"
                                   [id]="getIdHeaderFilter(iHead)"
                                   placeholder="Buscar"
                                   [classes]="['c-input--sm', item.filterClasses] | makeHtmlList"
                                   buttonClasses="m-xs p-0.5 text-xs"
                                   [describedBy]="getIdHeader(iHead)"> </desy-search-bar>
              </td>
          </tr>


          <tr *ngFor="let row of getVisibleRows(); index as iRow" class="border-t border-b border-neutral-base hover:bg-neutral-lighter"
              [desyRow]="row">
              <td *ngIf="hasCheckboxes" desyFocusClickedCell [class]="['px-base py-sm', checkboxClasses] | makeHtmlList"
                  tabindex="-1" >
                <div class="c-checkboxes c-checkboxes--sm">
                  <div>
                    <div class="relative flex items-start">
                      <div class="flex items-center mx-sm">
                        <input type="checkbox" class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base"
                               [(ngModel)]="row.checked" (ngModelChange)="handleCheckboxChange(row)"
                               [id]="getIdRowCheckbox(iRow)"
                               [name]="getIdRowCheckbox(iRow)">
                      </div>
                      <div class="pt-0.5 leading-5">
                        <label class="sr-only block text-sm -mt-1" [for]="getIdRowCheckbox(iRow)">Selecciona fila {{ iRow }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <ng-container *ngFor="let cell of row.cellsList; first as isFirstCell; index as columnIndex">
                  <th *ngIf="firstCellIsHeader && isFirstCell; else elseTd" scope="row"
                      [class]="['px-base py-xs border-neutral-base border-b-0 border-r text-left font-normal text-sm text-neutral-dark', cell.classes] | makeHtmlList"
                      desyCell [row]="row" [rowIndex]="iRow" [columnIndex]="columnIndex"
                      [attr.colspan]="cell.colspan ? cell.colspan  : null"
                      [attr.rowspan]="cell.rowspan ? cell.rowspan  : null"
                      [attr.id]="cell.id ? cell.id : null"
                      [desyAppAccessibility]="cell">
                    <ng-container *desyCustomInnerContent="{ component: cell, html: cell.html, text: cell.text }"></ng-container>
                  </th>
                  <ng-template #elseTd>
                      <td tabindex="-1" desyFocusClickedCell
                          [class]="['px-base py-sm', cell.classes] | makeHtmlList"
                          desyCell [row]="row" [rowIndex]="iRow" [columnIndex]="columnIndex"
                          [attr.colspan]="cell.colspan ? cell.colspan  : null"
                          [attr.rowspan]="cell.rowspan ? cell.rowspan  : null"
                          [attr.id]="cell.id ? cell.id : null"
                          [desyAppAccessibility]="cell"
                          [attr.tabindex]="cell.tabindex ? cell.tabindex : -1">
                        <ng-container *desyCustomInnerContent="{ component: cell, html: cell.html, text: cell.text }"></ng-container>
                      </td>
                  </ng-template>
              </ng-container>
          </tr>
      </tbody>
      
      <tfoot *ngIf="getFooterCells()">
         <tr *ngFor="let foot of getFooterCells(); index as iFooter" class="border-t-2 border-b border-neutral-base hover:bg-neutral-lighter">
           <td *ngIf="hasCheckboxes" desyFocusClickedCell [class]="['px-base py-sm', checkboxClasses] | makeHtmlList"
               tabindex="-1">
             <div class="c-checkboxes c-checkboxes--sm">
               <div>
                 <div class="relative flex items-start">
                   <div class="flex items-center mx-sm">
                     <input type="checkbox" class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base text-primary-base"
                            [(ngModel)]="foot.checked" (ngModelChange)="handleCheckboxChange(foot)"
                            [id]="getIdRowCheckbox(iFooter)"
                            [name]="getIdRowCheckbox(iFooter)">
                   </div>
                   <div class="pt-0.5 leading-5">
                     <label class="sr-only block text-sm -mt-1" [for]="getIdRowCheckbox(iFooter)">Selecciona fila {{ iFooter }}</label>
                   </div>
                 </div>
               </div>
             </div>
           </td>
           <ng-container *ngFor="let cell of foot.cellsList; first as isFirstCell; index as columnIndex">
               <th *ngIf="firstCellIsHeader && isFirstCell; else elseTd" scope="row"
                   [class]="['px-base py-xs border-neutral-base border-b-0 border-r text-left font-normal text-sm text-neutral-dark', cell.classes] | makeHtmlList"
                   desyCell [row]="row" [rowIndex]="iFooter" [columnIndex]="columnIndex"
                   [attr.colspan]="cell.colspan ? cell.colspan  : null"
                   [attr.rowspan]="cell.rowspan ? cell.rowspan  : null"
                   [attr.id]="cell.id ? cell.id : null"
                   [desyAppAccessibility]="cell">
                 <ng-container *desyCustomInnerContent="{ component: cell, html: cell.html, text: cell.text }"></ng-container>
               </th>
               <ng-template #elseTd>
                   <td tabindex="-1" desyFocusClickedCell
                       [class]="['px-base py-sm', cell.classes] | makeHtmlList"
                       desyCell [row]="row" [rowIndex]="iFooter" [columnIndex]="columnIndex"
                       [attr.colspan]="cell.colspan ? cell.colspan  : null"
                       [attr.rowspan]="cell.rowspan ? cell.rowspan  : null"
                       [attr.id]="cell.id ? cell.id : null"
                       [desyAppAccessibility]="cell"
                       [attr.tabindex]="cell.tabindex ? cell.tabindex : -1">
                     <ng-container *desyCustomInnerContent="{ component: cell, html: cell.html, text: cell.text }"></ng-container>
                   </td>
               </ng-template>
           </ng-container>
       </tr>
    </tfoot>
  </table>
</ng-template>

<div *ngIf="wrapper; else tableContent" [class]="wrapper.classes">
  <ng-container *ngTemplateOutlet="tableContent"></ng-container>
</div>
