<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Notification configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-notification [id]="id"
                   [classes]="classes"
                   [headingLevel]="headingLevel"
                   [(isOpen)]="isOpen"
                   [type]="type"
                   [isDismissible]="isDismissible"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
    <desy-title [classes]="title.classes"><ng-container
                      *appCustomInnerContent="{ html: title.html }"></ng-container></desy-title>
    <desy-icon *ngIf="allowDesyIcon"><ng-container *appCustomInnerContent="{ html: icon.html }"></ng-container></desy-icon>
    <desy-description [classes]="description.classes"><ng-container
                      *appCustomInnerContent="{ html: description.html }"></ng-container></desy-description>
    <ng-container *ngFor="let item of items">
        <desy-notification-item [id]="item.id"
                                [href]="item.href"
                                [target]="item.target"
                                [routerLink]="item.routerLink"
                                [fragment]="item.fragment"
                                [role]="item.role"
                                [ariaLabel]="item.ariaLabel"
                                [ariaDescribedBy]="item.ariaDescribedBy"
                                [ariaLabelledBy]="item.ariaLabelledBy"
                                [ariaHidden]="item.ariaHidden"
                                [ariaDisabled]="item.ariaDisabled"
                                [ariaControls]="item.ariaControls"
                                [ariaCurrent]="item.ariaCurrent"
                                [ariaLive]="item.ariaLive"
                                [ariaExpanded]="item.ariaExpanded"
                                [ariaErrorMessage]="item.ariaErrorMessage"
                                [ariaHasPopup]="item.ariaHasPopup"
                                [tabindex]="item.tabindex">
            <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
        </desy-notification-item>
    </ng-container>
    <desy-content [classes]="content.classes">
        <ng-container *appCustomInnerContent="{ html: content.html }"></ng-container>
    </desy-content>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-notification>
    <desy-title>Las
        <a href="#"
           class="c-link">entidades beneficiarias
        </a>
        deberán tener su sede y actividad principal en Aragón.
    </desy-title>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification con description"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-notification>
    <desy-title>El documento se ha cargado correctamente</desy-title>
    <desy-description>Documento acreditativo de <em class="italic">registro de alta de la asociación</em> puede verse publicado ya.</desy-description>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification con items"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-notification>
    <desy-title>Problemas encontrados</desy-title>
    <desy-notification-item routerLink="/">
        Campo Nombre de la empresa está vacío
    </desy-notification-item>
    <desy-notification-item routerLink="/">
        Campo Fecha de inicio de la actividad está vacío
    </desy-notification-item>
    <desy-notification-item routerLink="/">
        El formato de correo electrónico es incorrecto
    </desy-notification-item>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification con tipo success"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-notification type="success">
    <desy-title>El documento se ha cargado correctamente</desy-title>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification con tipo alert"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-notification type="alert">
    <desy-title>Problemas encontrados</desy-title>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification con tipo info"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml6" [codeTs]="mostrarCodigo.codigoTs6"></app-show-code>
<desy-notification type="info">
    <desy-title>ATENCIÓN: Debido a la situación por Covid-19, pide cita previa para acudir a una de nuestras oficinas.</desy-title>
    <desy-description><a class="c-link text-sm" href="#">Pedir cita previa</a></desy-description>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Notification con botón de cerrar"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml7" [codeTs]="mostrarCodigo.codigoTs7"></app-show-code>
<desy-notification [isDismissible]="true">
    <desy-title>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut distinctio error non, reiciendis repudiandae reprehenderit minima quia laboriosam voluptate, quo veniam expedita possimus ex nam consequuntur autem eveniet, saepe ea.</desy-title>
</desy-notification>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
    <div>
        <app-title-params></app-title-params>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="isOpen" [(target)]="isOpen"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" placeholder="success, alert o info" nameProperty="type" [(target)]="type"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" description="Mostrar botón de cerrar" nameProperty="isDismissible" [(target)]="isDismissible"> </app-input-boolean>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"> </app-input-number>
    </div>

    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros de item"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
              <app-input-text nameComponent="item" nameProperty="html" [(target)]="item.html"> </app-input-text>
              <app-input-text nameComponent="item" nameProperty="href" [(target)]="item.href"> </app-input-text>
              <app-input-text nameComponent="item" nameProperty="target" [(target)]="item.target"> </app-input-text>
              <app-input-text nameComponent="item" nameProperty="routerLink" [(target)]="item.routerLink"> </app-input-text>
              <app-input-text nameComponent="item" nameProperty="fragment" [(target)]="item.fragment"> </app-input-text>
              <app-input-text nameComponent="item" nameProperty="id" [(target)]="item.id"> </app-input-text>
            </div>
        </details>
    </div>

    <app-accessibility-inputs title="Parámetros de accesibilidad del item" id="item"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"
                            [(tabindex)]="item.tabindex"></app-accessibility-inputs>
</div>

<app-title-params titleparams="Parámetros de title"></app-title-params>
<details>
    <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
    </summary>
    <div class="py-sm">
      <app-input-text nameComponent="title" nameProperty="html" [(target)]="title.html"></app-input-text>
        <app-input-text nameComponent="title" nameProperty="classes" [(target)]="title.classes" placeholder="text-alert-base..."></app-input-text>
    </div>
</details>

<app-title-params titleparams="Parámetros de description"></app-title-params>
<details>
    <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
    </summary>
    <div class="py-sm">
      <app-input-text nameComponent="description" nameProperty="html" [(target)]="description.html"></app-input-text>
        <app-input-text nameComponent="description" nameProperty="classes" [(target)]="description.classes" placeholder="text-alert-base..."></app-input-text>
    </div>
</details>

<app-title-params titleparams="Parámetros de icon"></app-title-params>
<details>
    <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
    </summary>
    <div class="py-sm">
        <app-input-boolean nameComponent="icon" description="Permitir desy-icon" nameProperty="allowDesyIcon" [(target)]="allowDesyIcon"> </app-input-boolean>
        <app-input-text nameComponent="icon" nameProperty="html" [(target)]="icon.html"></app-input-text>
    </div>
</details>

<app-title-params titleparams="Parámetros de content"></app-title-params>
<details>
  <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
    <span>Mostrar</span>
  </summary>
  <div class="py-sm">
    <app-input-text nameComponent="content" nameProperty="html" [(target)]="content.html"></app-input-text>
    <app-input-text nameComponent="content" nameProperty="classes" [(target)]="content.classes"></app-input-text>
  </div>
</details>

