<ng-container *desyCustomInnerContent="{ html: html }"></ng-container>
<p *ngIf="!html && text" class="align-middle py-4 text-sm text-black overflow-hidden">
  <ng-container *desyCustomInnerContent="{ text: text }"></ng-container>
</p>
<ng-content *ngIf="!html && !text"></ng-content>