
<ng-template #innerHtml>
    <ul *ngIf="items" [ngClass]="listClasses ? listClasses : 'divide-y divide-neutral-base'">
        <li *ngFor="let item of items; index as i" [class]="item.containerClasses ? item.containerClasses : 'px-base relative'">
            <ng-template #itemContent>
                <div class="flex gap-base justify-between items-center flex-1">
                    <div *ngIf="item.icon" [class]="item.icon.containerClasses ? item.icon.containerClasses : 'self-center h-full'">
                      <ng-container *ngTemplateOutlet="item.icon.getContent()"></ng-container>
                    </div>
                  <div class="flex-1">
                      <strong class="font-bold" *ngIf="item.active; else item.getContent()">
                          <ng-container *ngTemplateOutlet="item.getContent()"></ng-container>
                      </strong>
                  </div>
                </div>

                <ng-container *ngIf="item.iconRight">
                  <div *ngIf="item.iconRight.type==='arrow'" [ngClass]="item.iconRight.containerClasses ? item.iconRight.containerClasses : 'self-center h-full'">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
                  </div>
                  <div *ngIf="item.iconRight.type==='chevron'" [ngClass]="item.iconRight.containerClasses ? item.iconRight.containerClasses : 'self-center h-full'">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><g><path fill="currentColor" fill-rule="evenodd" d="M3.4685 0.427C3.8512 0.0443 4.4717 0.0443 4.8545 0.427L10.388 5.9606C10.962 6.5346 10.962 7.4654 10.388 8.0395L4.8545 13.573C4.4717 13.9557 3.8512 13.9557 3.4685 13.573C3.0858 13.1903 3.0858 12.5698 3.4685 12.1871L8.6556 7L3.4685 1.813C3.0858 1.4303 3.0858 0.8098 3.4685 0.427Z" clip-rule="evenodd" stroke-width="1"></path></g></svg>
                  </div>
                  <ng-container *ngIf="item.iconRight.type==='none'"></ng-container>
                  <div *ngIf="!item.iconRight.type" [ngClass]="item.iconRight.containerClasses ? item.iconRight.containerClasses : 'self-center h-full'">
                   <ng-container *ngTemplateOutlet="item.iconRight.getContent()"></ng-container>
                  </div>
                </ng-container>
                <div *ngIf="!item.iconRight" class="self-center h-full">
                  <!-- arrow -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M102.07 27.93l35 35a10 10 0 010 14.14l-35 35a10 10 0 01-14.14-14.14l13.66-13.66A2.5 2.5 0 0099.82 80H10a10 10 0 010-20h89.82a2.5 2.5 0 001.77-4.27L87.93 42.07a10 10 0 0114.14-14.14z" fill="currentColor"></path></svg>
                </div>
            </ng-template>

            <a *ngIf="item.href && !item.routerLink" [id]="getItemId(item, i)"
                  [href]="item.href | externalHref"
                  [attr.current-page]="item.active ? 'page' : null"
                  [attr.aria-disabled]="item.disabled ? 'true' : null"
                  [attr.tabindex]="item.disabled ? '-1' : item.tabindex || null"
                  [attr.target]="item.target ? item.target : null"
                  [desyAppAccessibility]="item"
                  [class]="[ 'c-link', item.classes ? item.classes : 'flex justify-between items-center gap-base flex-1 py-base', item.disabled ? 'text-neutral-base no-underline pointer-events-none' : '', item.active ? 'font-bold' : ''] | makeHtmlList">
                <ng-container *ngTemplateOutlet="itemContent"></ng-container>
            </a>

            <a *ngIf="!item.href && item.routerLink" [id]="getItemId(item, i)"
                  [routerLink]="item.routerLink" 
                  [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
                  [fragment]="item.fragment" 
                  [attr.current-page]="item.active ? 'page' : null"
                  [attr.aria-disabled]="item.disabled ? 'true' : null"
                  [attr.tabindex]="item.disabled ? '-1' : item.tabindex || null"
                  [attr.target]="item.target ? item.target : null"
                  [desyAppAccessibility]="item"
                  [class]="[ 'c-link', item.classes ? item.classes : 'flex justify-between items-center gap-base flex-1 py-base', item.disabled ? 'text-neutral-base no-underline pointer-events-none' : '', item.active ? 'font-bold' : ''] | makeHtmlList">
                <ng-container *ngTemplateOutlet="itemContent"></ng-container>
            </a>

            <div *ngIf="!item.href && !item.routerLink" [id]="getItemId(item, i)"
                  [attr.current-page]="item.active ? 'page' : null"
                  [attr.aria-disabled]="item.disabled ? 'true' : null"
                  [attr.tabindex]="item.disabled ? '-1' : item.tabindex || null"
                  [attr.target]="item.target ? item.target : null"
                  [desyAppAccessibility]="item"
                  [class]="[ item.classes ? item.classes : 'flex justify-between items-center gap-base flex-1 py-base', item.disabled ? 'text-neutral-base no-underline pointer-events-none': '', item.active ? 'font-bold': ''] | makeHtmlList">
                <ng-container *ngTemplateOutlet="itemContent"></ng-container>
            </div>
            <div *ngIf="item.sub" [id]="'sub-' + getItemId(item, i)" [class]="item.sub.classes ? item.sub.classes : 'c-paragraph-base text-neutral-dark -mt-base mr-lg'">
              <ng-container *ngTemplateOutlet="item.sub.getContent()"></ng-container>
            </div>
        </li>
      </ul>
</ng-template>

<div *ngIf="!hasNav" [class]="classes"
    [desyAppAccessibility]="this">
  <ng-container *ngTemplateOutlet="innerHtml"></ng-container>
</div>
<nav *ngIf="hasNav" [class]="classes"
    [desyAppAccessibility]="this">
  <ng-container *ngTemplateOutlet="innerHtml"></ng-container>
</nav>
