<div [class]="['p-base bg-white border-2 border-alert-base', classes] | makeHtmlList" tabindex="-1"
     [attr.id]="id ? id : null"
     [attr.role]="role ? role : 'alert'"
     [attr.aria-labelledby]="ariaLabelledBy ? ariaLabelledBy : 'error-summary-title'"
     [desyAppAccessibility]="this">
    <ng-container [ngSwitch]="headingLevel">
      <h1 *ngSwitchCase="1" class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h1>
      <h2 *ngSwitchCase="2" class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h2>
      <h3 *ngSwitchCase="3" class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h3>
      <h4 *ngSwitchCase="4" class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h4>
      <h5 *ngSwitchCase="5" class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h5>
      <h6 *ngSwitchCase="6" class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h6>
      <h2 *ngSwitchDefault class="mb-base font-bold" [attr.id]="ariaLabelledBy ? ariaLabelledBy :'error-summary-title'">
        <ng-container *desyCustomInnerContent="{component: titleComponent, html: titleHtml, text: titleText}"></ng-container>
      </h2>
    </ng-container>
    <div>
        <p *ngIf="(descriptionComponent && descriptionComponent.getContent()) || descriptionHtml || descriptionText" class="mb-base">
          <ng-container *desyCustomInnerContent="{component: descriptionComponent, html: descriptionHtml, text: descriptionText}"></ng-container>
        </p>
        <ul class="font-semibold text-alert-base">
          <ng-container *ngFor="let item of getErrorItemList(); index as i">
            <li *ngIf="item.fragment">
              <a  routerLink="./" [fragment]="item.fragment" class="c-link c-link--alert"
                  [attr.id]="item.id ? item.id : null"
                  [desyAppAccessibility]="item">
                <ng-container *desyCustomInnerContent="{component: item, html: item.html, text: item.text}"></ng-container>
              </a>
            </li>
            <li *ngIf="!item.fragment">
              <ng-container *desyCustomInnerContent="{component: item, html: item.html, text: item.text}"></ng-container>
            </li>
          </ng-container>
        </ul>
    </div>
</div>
