<a *ngIf="href" [href]="href ? (href | externalHref) : '/'" [target]="target" [ngClass]="classes ? classes : {
    'absolute top-6 left-0': type === typeEnum.Super || type === typeEnum.Sub,
    'focus:outline-none': type === typeEnum.Super || type === typeEnum.Title || type === typeEnum.Sub,
    'focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base': type === typeEnum.Super ||  type === typeEnum.Title,
    'focus:shadow-outline-black': type === typeEnum.Sub,
  }">
  <img [src]="url" [alt]="alt">
</a>
<a *ngIf="!href" [routerLink]="routerLink ? routerLink : []" [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []" [fragment]="fragment" [target]="target" [ngClass]="classes ? classes : {
  'absolute top-6 left-0': type === typeEnum.Super || type === typeEnum.Sub,
  'focus:outline-none': type === typeEnum.Super || type === typeEnum.Title || type === typeEnum.Sub,
  'focus:ring-4 focus:ring-inset focus:ring-black focus:bg-warning-base': type === typeEnum.Super ||  type === typeEnum.Title,
  'focus:shadow-outline-black': type === typeEnum.Sub,
}">
<img [src]="url" [alt]="alt">
</a>

<div *ngIf="type === typeEnum.Title" class="hidden lg:block mx-lg border-l border-current"></div>
