<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Dropdown configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-dropdown [classes]="classes"
               [classesTooltip]="classesTooltip"
               [classesContainer]="classesContainer"
               [disabled]="disabled"
               [hiddenText]="hiddenText"
               [id]="id"
               [role]="role"
               [ariaLabel]="ariaLabel"
               [ariaDescribedBy]="ariaDescribedBy"
               [ariaLabelledBy]="ariaLabelledBy"
               [ariaHidden]="ariaHidden"
               [ariaDisabled]="ariaDisabled"
               [ariaControls]="ariaControls"
               [ariaCurrent]="ariaCurrent"
               [ariaLive]="ariaLive"
               [ariaErrorMessage]="ariaErrorMessage"
               [tabindex]="tabindex"
               (clickEvent)="updateClickContent()">
  <ng-container *appCustomInnerContent="{ html: html }"></ng-container>
  <desy-content>
    <ul>
      <li>
        <a [routerLink]="['/spinner']"
           class="flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">Spinner</a>
      </li>
      <li>
        <a [routerLink]="['/collapsible']"
           class="flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">Collapsible</a>
      </li>
      <li>
        <a [routerLink]="['/pill']"
           class="flex items-center px-base py-xs hover:bg-primary-base hover:text-white truncate  focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">Pill</a>
      </li>
    </ul>
  </desy-content>
</desy-dropdown>
<p class="pt-base">{{clickContent}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Dropdown simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-dropdown>
  Por defecto
  <desy-content>
    <div class="w-48 p-2"><div class="border-4 border-dashed border-gray-200 rounded-lg h-40"></div></div>
  </desy-content>
</desy-dropdown>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Dropdown con anchura completa"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-dropdown classes="w-full justify-between" classesTooltip="w-max max-h-64 overflow-y-auto">
  Dropdown anchura completa
  <desy-content>
    <div class=" p-2 "><div class=" border-4 border-dashed border-gray-200 rounded-lg h-64 "><div style=" width:900px "></div></div></div>
  </desy-content>
</desy-dropdown>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="hiddenText" [(target)]="hiddenText"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="c-dropdown--secondary c-dropdown--has-selection c-dropdown--sm ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="max-h-64 overflow-y-auto ..." nameProperty="classesTooltip" [(target)]="classesTooltip"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="inline-block p-base bg-warning-light ..." nameProperty="classesContainer" [(target)]="classesContainer"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Deshabilita el boton" nameProperty="disabled" [(target)]="disabled"> </app-input-boolean>

  </div>

  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [hideAriaExpanded]="true"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(tabindex)]="tabindex"
                              [hideAriaHasPopup]="true"></app-accessibility-inputs>
  </div>
</div>
