<app-title-demo [name]="nameComponent"></app-title-demo>


<app-implementation-info info="Date-input configurable con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-date-input [id]="id + '-withNgModelContent'"
                 [(ngModel)]="value"
                 [formGroupClasses]="formGroupClasses"
                 placeholder="12/12/2022"
                 [namePrefix]="namePrefix"
                 [classes]="classes"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaDescribedBy]="ariaDescribedBy"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaErrorMessage]="ariaErrorMessage"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex">
  <desy-fieldset [classes]="fieldsetData.classes"
                 [id]="fieldsetData.id">
    <desy-legend>
      <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
    </desy-legend>
  </desy-fieldset>
  <desy-hint [classes]="hintData.classes">
    <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
  </desy-hint>
  <desy-error-message *ngIf="errorMessageData.html"
                      [classes]="errorMessageData.classes"
                      [visuallyHiddenText]="errorMessageData.visuallyHiddenText">
    <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
  </desy-error-message>
  <desy-input-day name="day"
                  classes="w-14"
                  [maxlength]="2"
                  placeholder="12">
    <desy-label>día</desy-label>
  </desy-input-day>
  <desy-input-month name="month"
                    classes="w-14"
                    [maxlength]="2"
                    placeholder="12">
    <desy-label>mes</desy-label>
  </desy-input-month>
  <desy-date-input-divider classes="mr-base">Y</desy-date-input-divider>
  <desy-input-year [id]="dateYear.id"
                   [name]="dateYear.name"
                   [disabled]="dateYear.disabled"
                   [hasErrors]="dateYear.hasErrors"
                   [autocomplete]="dateYear.autocomplete"
                   [pattern]="dateYear.pattern"
                   [classes]="dateYear.classes"
                   [maxlength]="dateYear.maxlength"
                   placeholder="2022"
                   [role]="dateYear.role"
                   [ariaLabel]="dateYear.ariaLabel"
                   [ariaDescribedBy]="dateYear.ariaDescribedBy"
                   [ariaLabelledBy]="dateYear.ariaLabelledBy"
                   [ariaHidden]="dateYear.ariaHidden"
                   [ariaDisabled]="dateYear.ariaDisabled"
                   [ariaControls]="dateYear.ariaControls"
                   [ariaCurrent]="dateYear.ariaCurrent"
                   [ariaLive]="dateYear.ariaLive"
                   [ariaExpanded]="dateYear.ariaExpanded"
                   [ariaErrorMessage]="dateYear.ariaErrorMessage"
                   [ariaHasPopup]="dateYear.ariaHasPopup"
                   [tabindex]="dateYear.tabindex">
    <desy-label>
      <ng-container *appCustomInnerContent="{ html: dateYearHtml }"></ng-container>
    </desy-label>
  </desy-input-year>
</desy-date-input>
<p>Valor: {{ value | json }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Date-input configurable con reactiveForm"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<form class="form"
      [formGroup]="form">
  <desy-date-input [id]="id + '-withReactiveFormContent'"
                   formGroupName="date"
                   [formGroupClasses]="formGroupClasses"
                   placeholder="12/12/2022"
                   [classes]="classes"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
    <desy-fieldset [classes]="fieldsetData.classes"
                   [id]="fieldsetData.id">
      <desy-legend>
        <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
      </desy-legend>
    </desy-fieldset>
    <desy-hint [classes]="hintData.classes">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message *ngIf="errorMessageData.html"
                        [classes]="errorMessageData.classes"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
    <desy-input-day name="day"
                    classes="w-14"
                    [maxlength]="2"
                    placeholder="12">
      <desy-label>día</desy-label>
    </desy-input-day>
    <desy-input-month name="month"
                      classes="w-14"
                      [maxlength]="2"
                      placeholder="12">
      <desy-label>mes</desy-label>
    </desy-input-month>
    <desy-date-input-divider classes="mr-base">Y</desy-date-input-divider>
    <desy-input-year [id]="dateYear.id"
                     [name]="dateYear.name"
                     [disabled]="dateYear.disabled"
                     [hasErrors]="dateYear.hasErrors"
                     [value]="dateYear.value"
                     [autocomplete]="dateYear.autocomplete"
                     [pattern]="dateYear.pattern"
                     [classes]="dateYear.classes"
                     [maxlength]="dateYear.maxlength"
                     placeholder="2022"
                     [role]="dateYear.role"
                     [ariaLabel]="dateYear.ariaLabel"
                     [ariaDescribedBy]="dateYear.ariaDescribedBy"
                     [ariaLabelledBy]="dateYear.ariaLabelledBy"
                     [ariaHidden]="dateYear.ariaHidden"
                     [ariaDisabled]="dateYear.ariaDisabled"
                     [ariaControls]="dateYear.ariaControls"
                     [ariaCurrent]="dateYear.ariaCurrent"
                     [ariaLive]="dateYear.ariaLive"
                     [ariaExpanded]="dateYear.ariaExpanded"
                     [ariaErrorMessage]="dateYear.ariaErrorMessage"
                     [ariaHasPopup]="dateYear.ariaHasPopup"
                     [tabindex]="dateYear.tabindex">
      <desy-label>
        <ng-container *appCustomInnerContent="{ html: dateYearHtml }"></ng-container>
      </desy-label>
    </desy-input-year>
  </desy-date-input>
</form>
<p>Valor: {{ form.value['date'] | json }}</p>
<p>Válido: {{ form.valid ? 'Sí' : 'No' }}</p>
<p><small>El formulario es independiente del resto de componentes.</small></p>
<p><small>No se aplica namePrefix ni name en los items.</small></p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Date-input configurable ngModelGroup"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<form class="form"
      #tdFormContent="ngForm">
  <desy-date-input [id]="id + '-tdDateContent'"
                   ngModelGroup="tdDateContent"
                   [formGroupClasses]="formGroupClasses"
                   placeholder="12/12/2022"
                   [namePrefix]="namePrefix"
                   [classes]="classes"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
    <desy-fieldset [classes]="fieldsetData.classes"
                   [id]="fieldsetData.id">
      <desy-legend>
        <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
      </desy-legend>
    </desy-fieldset>
    <desy-hint [classes]="hintData.classes">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message *ngIf="errorMessageData.html"
                        [classes]="errorMessageData.classes"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
    <desy-input-day name="day"
                    classes="w-14"
                    [maxlength]="2"
                    [(value)]="dateDay.value"
                    placeholder="12">
      <desy-label>día</desy-label>
    </desy-input-day>
    <desy-input-month name="month"
                      classes="w-14"
                      [maxlength]="2"
                      [(value)]="dateMonth.value"
                      placeholder="12">
      <desy-label>mes</desy-label>
    </desy-input-month>
    <desy-date-input-divider classes="mr-base">Y</desy-date-input-divider>
    <desy-input-year [id]="dateYear.id"
                     [name]="dateYear.name"
                     [disabled]="dateYear.disabled"
                     [hasErrors]="dateYear.hasErrors"
                     [value]="dateYear.value"
                     [autocomplete]="dateYear.autocomplete"
                     [pattern]="dateYear.pattern"
                     [classes]="dateYear.classes"
                     [maxlength]="dateYear.maxlength"
                     [(value)]="dateYear.value"
                     placeholder="2022"
                     [role]="dateYear.role"
                     [ariaLabel]="dateYear.ariaLabel"
                     [ariaDescribedBy]="dateYear.ariaDescribedBy"
                     [ariaLabelledBy]="dateYear.ariaLabelledBy"
                     [ariaHidden]="dateYear.ariaHidden"
                     [ariaDisabled]="dateYear.ariaDisabled"
                     [ariaControls]="dateYear.ariaControls"
                     [ariaCurrent]="dateYear.ariaCurrent"
                     [ariaLive]="dateYear.ariaLive"
                     [ariaExpanded]="dateYear.ariaExpanded"
                     [ariaErrorMessage]="dateYear.ariaErrorMessage"
                     [ariaHasPopup]="dateYear.ariaHasPopup"
                     [tabindex]="dateYear.tabindex">
      <desy-label>
        <ng-container *appCustomInnerContent="{ html: dateYearHtml }"></ng-container>
      </desy-label>
    </desy-input-year>
  </desy-date-input>
</form>
<p>Valor: {{ tdFormContent.value['tdDateContent'] | json }}</p>
<p>Válido: {{ tdFormContent.valid ? 'Sí' : 'No' }}</p>
<p><small>El valor se sincroniza con el resto de date-input mediante el parámetro 'value' de los items.</small></p>
<app-spaced [withBorder]="true"></app-spaced>

<desy-date-input>
  <desy-fieldset>
    <desy-legend>Hora de publicación</desy-legend>
  </desy-fieldset>
  <desy-hint>Por ejemplo, 14:30</desy-hint>
  <desy-input-time classes="w-14"
                   [maxlength]="2">
    hora
  </desy-input-time>
  <desy-date-input-divider classes="flex items-end mb-sm mr-base">:</desy-date-input-divider>
  <desy-input-time classes="w-14"
                   [maxlength]="2">
    minutos
  </desy-input-time>
</desy-date-input>
<app-spaced [withBorder]="true"></app-spaced>

<!-- Configuración -->
<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="namePrefix"
                        [(target)]="namePrefix"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes"
                        [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light ..."
                        nameProperty="formGroupClasses" [(target)]="formGroupClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de un ítem (año)"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="itemDate" nameProperty="id" [(target)]="dateYear.id"></app-input-text>
        <app-input-text nameComponent="itemDate" nameProperty="value" [(target)]="dateYear.value"></app-input-text>
        <app-input-text nameComponent="itemDate" nameProperty="name" [(target)]="dateYear.name"></app-input-text>
        <app-input-text nameComponent="labelData" nameProperty="dateYearHtml"
                        [(target)]="dateYearHtml"></app-input-text>
        <app-input-text nameComponent="labelData" nameProperty="labelData.classes"
                        [(target)]="dateYear.labelData.classes"></app-input-text>
        <app-input-boolean nameComponent="itemDate" nameProperty="hasErrors"
                           [(target)]="dateYear.hasErrors"></app-input-boolean>
        <app-input-text nameComponent="hintData" nameProperty="autocomplete"
                        [(target)]="dateYear.autocomplete"></app-input-text>
        <app-input-text nameComponent="hintData" placeholder="20[0-9]{2}" nameProperty="pattern"
                        [(target)]="dateYear.pattern"></app-input-text>
        <app-input-text nameComponent="itemDate" nameProperty="classes" [(target)]="dateYear.classes"></app-input-text>
        <app-input-text nameComponent="itemDate" nameProperty="maxlength"
                        [(target)]="dateYear.maxlength"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de de un ítem (año)" id="itemDate"
                            [(role)]="dateYear.role"
                            [(ariaLabel)]="dateYear.ariaLabel"
                            [(ariaDescribedBy)]="dateYear.ariaDescribedBy"
                            [(ariaLabelledBy)]="dateYear.ariaLabelledBy"
                            [(ariaHidden)]="dateYear.ariaHidden"
                            [(ariaDisabled)]="dateYear.ariaDisabled"
                            [(ariaControls)]="dateYear.ariaControls"
                            [(ariaCurrent)]="dateYear.ariaCurrent"
                            [(ariaLive)]="dateYear.ariaLive"
                            [(ariaExpanded)]="dateYear.ariaExpanded"
                            [(ariaErrorMessage)]="dateYear.ariaErrorMessage"
                            [(ariaHasPopup)]="dateYear.ariaHasPopup"
                            [(tabindex)]="dateYear.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de fieldset"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="'fieldset'" placeholder="text-primary-base ..." nameProperty="classes"
                        [(target)]="fieldsetData.classes"></app-input-text>
        <app-input-text [nameComponent]="'fieldset'" nameProperty="id" [(target)]="fieldsetData.id"></app-input-text>

        <app-title-params titleparams="Parámetros de legend"></app-title-params>
        <app-input-text [nameComponent]="'legend'" nameProperty="text"
                        [(target)]="fieldsetData.legend.text"></app-input-text>
        <app-input-text [nameComponent]="'legend'" nameProperty="html"
                        [(target)]="fieldsetData.legend.html"></app-input-text>
        <app-input-text [nameComponent]="'legend'" placeholder="text-primary-base ..." nameProperty="classes"
                        [(target)]="fieldsetData.legend.classes"></app-input-text>
        <app-input-boolean [nameComponent]="'legend'" nameProperty="isPageHeading"
                           [(target)]="fieldsetData.legend.isPageHeading"></app-input-boolean>
      </div>
    </details>
  </div>
  <div></div>

  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint" nameProperty="html" [(target)]="hintData.html"></app-input-text>
        <app-input-text nameComponent="hint" placeholder="text-primary-base uppercase ..." nameProperty="classes"
                        [(target)]="hintData.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div></div>

  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="errorMessage" nameProperty="html"
                        [(target)]="errorMessageData.html"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText"
                        [(target)]="errorMessageData.visuallyHiddenText"></app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..."
                        nameProperty="classes" [(target)]="errorMessageData.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div></div>

</div>
