<ng-container *ngIf="labelComponent">
  <ng-content select="desy-label"></ng-content>
</ng-container>
<ng-container *ngTemplateOutlet="labelRef"></ng-container>
<desy-label *ngIf="!labelRef && labelData && !labelComponent"
            [text]="labelData.text"
            [html]="labelData.html"
            [classes]="labelData.classes"
            [isPageHeading]="labelData.isPageHeading"
            [for]="id"
            [role]="labelData.role"
            [ariaLabel]="labelData.ariaLabel"
            [ariaDescribedBy]="labelData.ariaDescribedBy"
            [ariaLabelledBy]="labelData.ariaLabelledBy"
            [ariaHidden]="labelData.ariaHidden"
            [ariaDisabled]="labelData.ariaDisabled"
            [ariaControls]="labelData.ariaControls"
            [ariaCurrent]="labelData.ariaCurrent"
            [ariaLive]="labelData.ariaLive"
            [ariaExpanded]="labelData.ariaExpanded"
            [ariaErrorMessage]="labelData.ariaErrorMessage"
            [ariaHasPopup]="labelData.ariaHasPopup"
            [tabindex]="labelData.tabindex"></desy-label>
<desy-label *ngIf="!labelRef && !labelData && labelText && !labelComponent"
            [text]="labelText"
            [for]="id"></desy-label>
<ng-container *ngTemplateOutlet="hintRef"></ng-container>
<ng-container *ngIf="hintComponent">
  <ng-content select="desy-hint"></ng-content>
</ng-container>
<desy-hint *ngIf="!hintRef && hintData && !hintComponent"
           [id]="getHintId()"
           [text]="hintData.text"
           [html]="hintData.html"
           [classes]="hintData.classes"
           [role]="hintData.role"
           [ariaLabel]="hintData.ariaLabel"
           [ariaDescribedBy]="hintData.ariaDescribedBy"
           [ariaLabelledBy]="hintData.ariaLabelledBy"
           [ariaHidden]="hintData.ariaHidden"
           [ariaDisabled]="hintData.ariaDisabled"
           [ariaControls]="hintData.ariaControls"
           [ariaCurrent]="hintData.ariaCurrent"
           [ariaLive]="hintData.ariaLive"
           [ariaExpanded]="hintData.ariaExpanded"
           [ariaErrorMessage]="hintData.ariaErrorMessage"
           [ariaHasPopup]="hintData.ariaHasPopup"
           [tabindex]="hintData.tabindex"></desy-hint>
<desy-hint *ngIf="!hintRef && !hintData && hintText && !hintComponent"
           [text]="hintText"
           [id]="getHintId()"></desy-hint>

<ng-container *ngIf="errorMessageComponent">
  <ng-content select="desy-error-message"></ng-content>
</ng-container>
<ng-container *ngTemplateOutlet="errorMessageRef"></ng-container>
<desy-error-message *ngIf="!errorMessageRef && errorMessageData && !errorMessageComponent"
                    [id]="getErrorId()"
                    [text]="errorMessageData.text"
                    [html]="errorMessageData.html"
                    [classes]="errorMessageData.classes"
                    [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                    [role]="errorMessageData.role"
                    [ariaLabel]="errorMessageData.ariaLabel"
                    [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                    [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                    [ariaHidden]="errorMessageData.ariaHidden"
                    [ariaDisabled]="errorMessageData.ariaDisabled"
                    [ariaControls]="errorMessageData.ariaControls"
                    [ariaCurrent]="errorMessageData.ariaCurrent"
                    [ariaLive]="errorMessageData.ariaLive"
                    [ariaExpanded]="errorMessageData.ariaExpanded"
                    [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                    [ariaHasPopup]="errorMessageData.ariaHasPopup"
                    [tabindex]="errorMessageData.tabindex"></desy-error-message>
<desy-error-message *ngIf="!errorMessageRef && !errorMessageData && !errorMessageComponent && errorMessageText"
                    [text]="errorMessageText"
                    [id]="getErrorId()"></desy-error-message>
<select [class]="['c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base',
              classes,
              hasErrorsMessage() ? 'c-select--error border-alert-base ring-2 ring-alert-base' : null] | makeHtmlList"
        [value]="value"
        (input)="onInput($event)"
        [attr.id]="id ? id : null"
        [attr.name]="name ? name : null"
        [attr.aria-describedby]="[ariaDescribedBy, describedBy, getHintId(), getErrorId()] | makeHtmlList:null"
        [attr.aria-errormessage]="ariaErrorMessage ? ariaErrorMessage : (hasErrorsMessage() ? getErrorId() : null)"
        [attr.aria-invalid]="(hasErrorsMessage() || ariaErrorMessage) ? true : null"
        [disabled]="disabled"
        [desyAppAccessibility]="this">

  <ng-container *ngFor="let item of getItems()">
    <optgroup *ngIf="isOptionGroup(item)"
              [label]="item?.label"
              [attr.disabled]="item.disabled ? true : null"
              [desyAppAccessibility]="item">
      <option *ngFor="let subItem of item.items"
              [value]="subItem.value"
              [disabled]="subItem.disabled"
              [selected]="isItemSelected(subItem)"
              [desyAppAccessibility]="subItem">
        <ng-container *desyCustomInnerContent="{ component: subItem, text: subItem.text }"></ng-container>
      </option>
    </optgroup>
    <option *ngIf="!isOptionGroup(item)"
            [value]="item.value"
            [disabled]="item.disabled ? true : null"
            [selected]="isItemSelected(item)"
            [desyAppAccessibility]="item">
      <ng-container *desyCustomInnerContent="{ component: item, text: item.text }"></ng-container>
    </option>
  </ng-container>
</select>