<details 
    [attr.id]="id ? id : null"
    [class]="classes"
    [attr.open]="open ? open : null"
    [desyAppAccessibility]="this">
    <summary class="py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span *ngIf="!contentComponent" [desyInnerContent]="summaryHtml ? summaryHtml : summaryText" [isHtml]="isHtml"
              [class]="summaryClasses ? summaryClasses : 'c-link'"></span>
        <span *ngIf="contentComponent" [class]="summaryClasses ? summaryClasses : 'c-link'">
          <ng-container *desyCustomInnerContent="{ component: contentComponent }"></ng-container>
        </span>
    </summary>
    <div class="py-sm">
      <div [ngClass]="containerClasses">
        <ng-content></ng-content>
      </div>
    </div>
</details>  

