<ng-template #spinnerTemplate>
  <span class="c-button-loader__spinner flex items-center justify-center absolute inset-0">
    <desy-spinner [text]="getSpinnerText() ? getSpinnerText() : 'Acción en curso'"
                  [classes]="loaderClasses"></desy-spinner>
  </span>
</ng-template>

<ng-template #successTemplate>
  <span class="c-button-loader__success flex items-center justify-center absolute inset-0">
    <span class="sr-only"
          role="alert"
          aria-live="assertive">{{ getSuccessText() }}</span>
    <span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 48 48"
           aria-hidden="true"
           width="1em"
           height="1em">
        <path d="M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z"
              fill="currentColor"></path>
      </svg></span>
  </span>
</ng-template>

<ng-template #contentTemplate>
  <ng-content></ng-content>
</ng-template>

<ng-container [ngSwitch]="getElement()">
  <ng-container *ngSwitchCase="staticElementTypeA">
    <a *ngIf="routerLink"
       draggable="false"
       (click)="onClick($event)"
       [routerLink]="routerLink"
       [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []"
       role="button"
       [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
       [attr.id]="id ? id : null"
       [attr.tabindex]="tabindex ? tabindex : (isDisabled() ? -1 : null)"
       [desyAppAccessibility]="this"
       [class]="getClassNames()">
      <ng-container *ngIf="state===stateLoading">
        <ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
      </ng-container>
      <ng-container *ngIf="state===stateSuccess">
        <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
      </ng-container>
      <span class="c-button-loader__content inline-flex align-baseline"
            [desyInnerContent]="html ? html : text"
            [isHtml]="isHtml"
            [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
    </a>

    <a *ngIf="!routerLink"
       draggable="false"
       (click)="onClick($event)"
       [href]="href | externalHref"
       [attr.target]="target ? target : null"
       [attr.tabindex]="tabindex ? tabindex : (isDisabled() ? -1 : null)"
       role="button"
       [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
       [attr.id]="id ? id : null"
       [desyAppAccessibility]="this"
       [class]="getClassNames()">
      <ng-container *ngIf="state===stateLoading">
        <ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
      </ng-container>
      <ng-container *ngIf="state===stateSuccess">
        <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
      </ng-container>
      <span class="c-button-loader__content inline-flex align-baseline"
            [desyInnerContent]="html ? html : text"
            [isHtml]="isHtml"
            [deleteContentIfEmpty]="false"><ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
    </a>
  </ng-container>

  <button *ngSwitchCase="staticElementTypeButton"
          (click)="onClick($event)"
          [routerLink]="routerLink ? routerLink : null"
          [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []"
          [attr.name]="name ? name : null"
          [attr.value]="value ? value : null"
          [attr.disabled]="isDisabled()"
          [desyAppAccessibility]="this"
          [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
          [attr.data-prevent-double-click]="preventDoubleClick ? 'true' : null"
          [attr.id]="id ? id : null"
          [attr.type]="type ? type : null"
          [class]="getClassNames()">
    <ng-container *ngIf="state===stateLoading">
      <ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
    </ng-container>
    <ng-container *ngIf="state===stateSuccess">
      <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
    </ng-container>
    <span class="c-button-loader__content inline-flex align-baseline"
          [desyInnerContent]="html ? html : text"
          [isHtml]="isHtml"
          [deleteContentIfEmpty]="false"> <ng-container *ngTemplateOutlet="contentTemplate"></ng-container></span>
  </button>

  <div *ngSwitchCase="staticElementTypeInput"
       (click)="onClick($event)"
       [routerLink]="routerLink ? routerLink : null"
       [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []"
       [desyAppAccessibility]="this"
       [attr.id]="id ? id : null"
       [class]="getClassNames()">
    <span class="c-button-loader__content inline-flex align-baseline">
      <input [value]="text ? text : null"
             [type]="type ? type : 'submit'"
             class="bg-transparent font-semibold"
             [attr.data-prevent-double-click]="preventDoubleClick ? 'true' : null"
             [attr.disabled]="isDisabled()"
             [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
             [attr.name]="name ? name : null">
    </span>
    <ng-container *ngIf="state===stateLoading">
      <ng-container *ngTemplateOutlet="spinnerTemplate"></ng-container>
    </ng-container>
    <ng-container *ngIf="state===stateSuccess">
      <ng-container *ngTemplateOutlet="successTemplate"></ng-container>
    </ng-container>
  </div>
</ng-container>