<div class="mt-base mb-xl">
  <desy-details summaryText="Mostrar Código">
      <div class="py-sm">
          <desy-tabs id="mostrar-codigo" idPrefix="mostrar-codigo" title="mostrar-codigo" [headingLevel]="3">
            <desy-tab-item *ngIf="codeHtml">
              <desy-content>
                Código HTML
              </desy-content>
              <desy-panel>
                  <desy-button classes="c-button c-button--sm mb-sm c-button--transparent"
                               (click)="copyHtmlCode(codeHtml)">
                      <svg *ngIf="copyHtmlButtonText == 'Copiado'"
                           xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 48 48"
                           class="self-center mr-2"
                           aria-hidden="true"
                           width="1em"
                           height="1em">
                          <path d="M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z"
                                fill="currentColor"></path>
                      </svg>
                      {{copyHtmlButtonText}}
                  </desy-button>
                  <pre><code class="text-sm language-xml" highlightBeautify language="html">{{codeHtml}}</code></pre>
              </desy-panel>
            </desy-tab-item>
            <desy-tab-item *ngIf="codeTs">
              <desy-content>
                Código TS
              </desy-content>
              <desy-panel>
                  <desy-button classes="c-button c-button--sm mb-sm c-button--transparent"
                               (click)="copyTsCode(codeTs)">
                      <svg *ngIf="copyTsButtonText == 'Copiado'"
                           xmlns="http://www.w3.org/2000/svg"
                           viewBox="0 0 48 48"
                           class="self-center mr-2"
                           aria-hidden="true"
                           width="1em"
                           height="1em">
                          <path d="M13.714 42.857A6.857 6.857 0 0 1 8.4 40.183L.857 31.646a3.429 3.429 0 0 1 .309-4.869A3.429 3.429 0 0 1 6 27.12l7.063 7.989a.72.72 0 0 0 .617.308.789.789 0 0 0 .617-.274L42.103 6.206a3.429 3.429 0 0 1 4.937 4.731L18.926 40.526a6.651 6.651 0 0 1-5.212 2.331Z"
                                fill="currentColor"></path>
                      </svg>
                      {{copyTsButtonText}}
                  </desy-button>
                  <pre><code class="text-sm language-typescript" highlightBeautify language="typescript">{{codeTs}}</code></pre>
              </desy-panel>
            </desy-tab-item>
          </desy-tabs>
        </div>
  </desy-details>
</div>
