<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Menu-horizontal configurable" observations="El tercer ítem es configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-menu-horizontal [id]="id"
                      [idPrefix]="idPrefix"
                      [classes]="classes"
                      [role]="role"
                      [ariaLabel]="ariaLabel"
                      [ariaDescribedBy]="ariaDescribedBy"
                      [ariaLabelledBy]="ariaLabelledBy"
                      [ariaHidden]="ariaHidden"
                      [ariaDisabled]="ariaDisabled"
                      [ariaControls]="ariaControls"
                      [ariaCurrent]="ariaCurrent"
                      [ariaLive]="ariaLive"
                      [ariaExpanded]="ariaExpanded"
                      [ariaErrorMessage]="ariaErrorMessage"
                      [ariaHasPopup]="ariaHasPopup"
                      [tabindex]="tabindex">
  <ng-container *ngFor="let item of itemsFull; index as i">
    <desy-menu-horizontal-item [href]="item.href"
                               [routerLink]="item.routerLink"
                               [routerLinkActiveClasses]="item.routerLinkActiveClasses"
                               [fragment]="item.fragment"
                               [target]="item.target"
                               [id]="item.id"
                               [(active)]="item.active"
                               [disabled]="item.disabled"
                               [classes]="item.classes">
      <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
    </desy-menu-horizontal-item>
  </ng-container>
</desy-menu-horizontal>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menu-horizontal básico"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-menu-horizontal>
  <desy-menu-horizontal-item href="google.es"
                             id="item1"
                             [active]="true">
    item1
  </desy-menu-horizontal-item>
  <desy-menu-horizontal-item href="google.es"
                             id="item2">
    item2
  </desy-menu-horizontal-item>
  <desy-menu-horizontal-item href="google.es"
                             id="item3">
    item3
  </desy-menu-horizontal-item>
</desy-menu-horizontal>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menu-horizontal con clases de css aplicadas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-menu-horizontal classes="c-menu-horizontal--tabs mb-5">
  <desy-menu-horizontal-item href="google.es"
                             id="item1"
                             [active]="true">
    item1
  </desy-menu-horizontal-item>
  <desy-menu-horizontal-item href="google.es"
                             id="item2">
    item2
  </desy-menu-horizontal-item>
  <desy-menu-horizontal-item href="google.es"
                             id="item3">
    item3
  </desy-menu-horizontal-item>
</desy-menu-horizontal>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Menu-horizontal con iconos y clases aplicadas: tabs en móvil "></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-menu-horizontal classes="c-menu-horizontal--tabs-mobile c-menu-horizontal--scroll">
  <desy-menu-horizontal-item [routerLink]="[]"
                             id="item1">
    <span class="flex flex-col items-center">
      <span class="block"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><g transform="scale(2)"><circle cx="2.5" cy="4" r="2.5" fill="currentColor" /><path d="M8.5 5H23a1 1 0 0 0 0-2H8.5a1 1 0 0 0 0 2Z" fill="currentColor" /><circle cx="2.5" cy="12" r="2.5" fill="currentColor" /><path d="M23 11H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2Z" fill="currentColor" /><circle cx="2.5" cy="20" r="2.5" fill="currentColor" /><path d="M23 19H8.5a1 1 0 0 0 0 2H23a1 1 0 0 0 0-2Z" fill="currentColor" /></g></svg></span>
      <span class="block text-sm">Seguimiento</span>
    </span>
  </desy-menu-horizontal-item>
  <desy-menu-horizontal-item [routerLink]="[]"
                             id="item2"
                             [active]="true">
     <span class="flex flex-col items-center">
      <span class="block"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M11 8h3.5a1 1 0 0 0 0-2H11a1 1 0 0 0 0 2ZM11 12h7.5a1 1 0 0 0 0-2H11a1 1 0 0 0 0 2Z" fill="currentColor" transform="scale(2)" /><path d="M23.71 5.71 18.29.29a1 1 0 0 0-.7-.29H8a2 2 0 0 0-2 2v11.17c0 .19.1.33.25.33h1.5a.25.25 0 0 0 .25-.25v-11A.25.25 0 0 1 8.25 2h8.82a.31.31 0 0 1 .18.07l4.68 4.68a.31.31 0 0 1 .07.18v12.82a.25.25 0 0 1-.25.25h-6a.25.25 0 0 0-.25.25v1.5a.25.25 0 0 0 .25.25H22a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7Z" fill="currentColor" transform="scale(2)" /><path d="M13 15H6a1 1 0 0 1-.8-.4l-.9-1.2a1 1 0 0 0-.8-.4H1a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1Z" fill="currentColor" transform="scale(2)" /></svg></span>
      <span class="block text-sm">Documentos</span>
    </span>
  </desy-menu-horizontal-item>
  <desy-menu-horizontal-item [routerLink]="[]"
                             id="item3">
    <span class="flex flex-col items-center">
      <span class="block"><svg class="w-6 h-6 mb-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M21.71 5.71 16.29.29a1 1 0 0 0-.7-.29H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.41a1 1 0 0 0-.29-.7ZM19.5 22h-15a.5.5 0 0 1-.5-.5v-19a.5.5 0 0 1 .5-.5h1.75a.25.25 0 0 1 .25.25V13a.5.5 0 0 0 .31.46.47.47 0 0 0 .54-.11l2-2a.27.27 0 0 1 .36 0l2 2a.47.47 0 0 0 .35.15.43.43 0 0 0 .19 0 .5.5 0 0 0 .25-.5V2.25a.25.25 0 0 1 .25-.25H15a.49.49 0 0 1 .36.15l4.53 4.53A.49.49 0 0 1 20 7v14.5a.5.5 0 0 1-.5.5Z" fill="currentColor" transform="scale(2)" /></svg></span>
      <span class="block text-sm">Notificaciones</span>
    </span>
  </desy-menu-horizontal-item>
</desy-menu-horizontal>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="uppercase c-menu-horizontal--tabs ..." [nameProperty]="'classes'" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id-prefix" [(target)]="idPrefix"> </app-input-text>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>
</div>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text nameComponent="itemCustom" nameProperty="html" [(target)]="itemCustom.html"> </app-input-text>
    <app-input-text nameComponent="itemCustom" nameProperty="href" [(target)]="itemCustom.href"> </app-input-text>
    <app-input-text nameComponent="itemCustom" nameProperty="routerLink" [(target)]="itemCustom.routerLink"> </app-input-text>
    <app-input-text nameComponent="itemCustom" nameProperty="routerLinkActiveClasses" [(target)]="itemCustom.routerLinkActiveClasses"> </app-input-text>
    <app-input-text nameComponent="itemCustom" placeholder="input-item-id" nameProperty="fragment" [(target)]="itemCustom.fragment"></app-input-text>
    <app-input-text nameComponent="itemCustom" placeholder="_blank" nameProperty="target" [(target)]="itemCustom.target"> </app-input-text>
    <app-input-boolean nameComponent="itemCustom"  nameProperty="active" [(target)]="itemCustom.active"> </app-input-boolean>
    <app-input-boolean nameComponent="itemCustom"  nameProperty="disabled" [(target)]="itemCustom.disabled"> </app-input-boolean>
    <app-input-text nameComponent="itemCustom" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="itemCustom.classes"> </app-input-text>
    <app-input-text nameComponent="itemCustom" nameProperty="Id" [(target)]="itemCustom.id"> </app-input-text>
  </div>

  <app-accessibility-inputs id="input-item-id"
                            [(role)]="itemCustom.role"
                            [(ariaLabel)]="itemCustom.ariaLabel"
                            [(ariaDescribedBy)]="itemCustom.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemCustom.ariaLabelledBy"
                            [(ariaHidden)]="itemCustom.ariaHidden"
                            [(ariaDisabled)]="itemCustom.ariaDisabled"
                            [(ariaControls)]="itemCustom.ariaControls"
                            [(ariaCurrent)]="itemCustom.ariaCurrent"
                            [(ariaLive)]="itemCustom.ariaLive"
                            [(ariaExpanded)]="itemCustom.ariaExpanded"
                            [(ariaErrorMessage)]="itemCustom.ariaErrorMessage"
                            [(ariaHasPopup)]="itemCustom.ariaHasPopup"
                            [(tabindex)]="itemCustom.tabindex"></app-accessibility-inputs>
</div>
