<a *ngIf="hasContent"
   [routerLink]="[]" [fragment]="fragment ? fragment : 'content'"
   [class]="getClassNames()"
   [attr.id]="id ? id : null"
   [desyAppAccessibility]="this"
   (click)="scrollTo(fragment ? fragment : 'content')">
  <ng-content></ng-content>
</a>

<a *ngIf="!hasContent"
   [routerLink]="[]" [fragment]="fragment ? fragment : 'content'"
   [class]="getClassNames()"
   [attr.id]="id ? id : null"
   [desyAppAccessibility]="this"
   (click)="scrollTo(fragment ? fragment : 'content')">
  <ng-container *desyCustomInnerContent="{ html: html, text: text }"></ng-container>
</a>
