<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Implementación de hint con texto"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-hint>Hint con texto inicial</desy-hint>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Hint configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-hint [classes]="classes"
           [id]="id"
           [role]="role"
           [ariaLabel]="ariaLabel"
           [ariaDescribedBy]="ariaDescribedBy"
           [ariaLabelledBy]="ariaLabelledBy"
           [ariaHidden]="ariaHidden"
           [ariaDisabled]="ariaDisabled"
           [ariaControls]="ariaControls"
           [ariaCurrent]="ariaCurrent"
           [ariaLive]="ariaLive"
           [ariaExpanded]="ariaExpanded"
           [ariaErrorMessage]="ariaErrorMessage"
           [ariaHasPopup]="ariaHasPopup"
           [tabindex]="tabindex">
  <ng-container *appCustomInnerContent="{ html: html }"></ng-container>
</desy-hint>

<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
  </div>

  <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>

</div>
