<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Details configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-details [classes]="classes"
              [open]="open"
              [id]="id"
              [summaryClasses]="summaryClasses"
              [containerClasses]="containerClasses"
              [role]="role"
              [ariaLabel]="ariaLabel"
              [ariaDescribedBy]="ariaDescribedBy"
              [ariaLabelledBy]="ariaLabelledBy"
              [ariaHidden]="ariaHidden"
              [ariaDisabled]="ariaDisabled"
              [ariaControls]="ariaControls"
              [ariaCurrent]="ariaCurrent"
              [ariaLive]="ariaLive"
              [ariaExpanded]="ariaExpanded"
              [ariaErrorMessage]="ariaErrorMessage"
              [ariaHasPopup]="ariaHasPopup"
              [tabindex]="tabindex">
  <desy-content>
    <ng-container *appCustomInnerContent="{ html: summaryHtml }"></ng-container>
  </desy-content>
  <ng-container *appCustomInnerContent="{ html: content }"></ng-container>
</desy-details>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Details simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-details>
  <desy-content>
    Más información
  </desy-content>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid distinctio mollitia itaque placeat voluptatibus, veritatis recusandae odio facere corporis laboriosam quam quia sequi, possimus consequatur enim veniam eius soluta esse.</p>
</desy-details>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Contenido" [(target)]="content"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="Expandir" [(target)]="open"> </app-input-boolean>
    <app-input-text [nameComponent]="nameComponent" nameProperty="containerClasses" [(target)]="containerClasses" placeholder="p-base bg-alert-light border-alert-base rounded text-alert-base"> </app-input-text>

    <app-title-params  titleparams="Parámetros de summary"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="summaryHtml" [(target)]="summaryHtml"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="summaryClasses" [(target)]="summaryClasses" placeholder="c-link c-link--alert"> </app-input-text>
  </div>

  <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>

</div>
