<app-title-demo [name]="nameComponent"></app-title-demo>

<ng-template #alertServiceContent
             let-alertRef="alertRef"
             let-alertCount="alertCount">
  <desy-notification id="alert-service-and-template"
                     type="success"
                     [isDismissible]="true"
                     (isOpenChange)="closeServiceAlert(alertRef)">
                     <desy-title>El documento {{alertCount}} se ha cargado correctamente</desy-title>          
  </desy-notification>
</ng-template>

<app-implementation-info info="Alert mostrando una notificación de alerta"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-button id="alert-opener-danger" (clickEvent)="alertDangerActive=true" [disabled]="alertDangerActive">Abrir alert</desy-button>
<desy-alert [active]="alertDangerActive">
  <desy-notification id="alert-danger"
                     type="alert"
                     [isDismissible]="true"
                     (isOpenChange)="alertDangerActive = $event">
    <desy-title>El documento se ha cargado correctamente</desy-title>
  </desy-notification>
</desy-alert>

<app-implementation-info info="Alert configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-button text="Mostrar alert" id="alert-opener-template" (clickEvent)="alertConfigurableActive=true" [disabled]="alertConfigurableActive"></desy-button>
<desy-alert [id]="alertOptions.id"
            [active]="alertConfigurableActive"
            [focusFirst]="alertOptions.focusFirst"
            [classes]="alertOptions.classes"
            [role]="alertOptions.role"
            [ariaLabel]="alertOptions.ariaLabel"
            [ariaDescribedBy]="alertOptions.ariaDescribedBy"
            [ariaLabelledBy]="alertOptions.ariaLabelledBy"
            [ariaHidden]="alertOptions.ariaHidden"
            [ariaDisabled]="alertOptions.ariaDisabled"
            [ariaControls]="alertOptions.ariaControls"
            [ariaCurrent]="alertOptions.ariaCurrent"
            [ariaLive]="alertOptions.ariaLive"
            [ariaExpanded]="alertOptions.ariaExpanded"
            [ariaErrorMessage]="alertOptions.ariaErrorMessage"
            [ariaHasPopup]="alertOptions.ariaHasPopup"
            [tabindex]="alertOptions.tabindex">
  <desy-notification id="alert-template"
                     type="success"
                     [isDismissible]="true"
                     (isOpenChange)="alertConfigurableActive = $event">
    <desy-title>El documento se ha cargado correctamente</desy-title>
  </desy-notification>
</desy-alert>

<app-implementation-info info="Alert desde servicio con template"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-button text="Añadir alert" id="alert-opener-service" (clickEvent)="openServiceAlertWithTemplate(alertServiceContent)"></desy-button>
<ng-template #alertPlaceTemplate></ng-template>

<app-implementation-info info="Alert desde servicio"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-button text="Añadir alert" id="alert-opener-service" (clickEvent)="openServiceAlert()"></desy-button>
<ng-template #alertPlace></ng-template>



<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light..." nameProperty="classes" [(target)]="alertOptions.classes"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="alertOptions.id"></app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Hacer focus en el primer elemento" nameProperty="focusFirst" [(target)]="alertOptions.focusFirst"></app-input-boolean>
  </div>
  <app-accessibility-inputs [(role)]="alertOptions.role"
                            [(ariaLabel)]="alertOptions.ariaLabel"
                            [(ariaDescribedBy)]="alertOptions.ariaDescribedBy"
                            [(ariaLabelledBy)]="alertOptions.ariaLabelledBy"
                            [(ariaHidden)]="alertOptions.ariaHidden"
                            [(ariaDisabled)]="alertOptions.ariaDisabled"
                            [(ariaControls)]="alertOptions.ariaControls"
                            [(ariaCurrent)]="alertOptions.ariaCurrent"
                            [(ariaLive)]="alertOptions.ariaLive"
                            [(ariaExpanded)]="alertOptions.ariaExpanded"
                            [(ariaErrorMessage)]="alertOptions.ariaErrorMessage"
                            [(ariaHasPopup)]="alertOptions.ariaHasPopup"
                            [(tabindex)]="alertOptions.tabindex"></app-accessibility-inputs>
</div>
