<header 
  [ngClass]="classes" 
  [desyAppAccessibility]="this">
  <div [ngClass]="containerClasses">
    <nav [attr.aria-labelledby]="skiplinkComponent && skiplinkComponent.id ? skiplinkComponent.id : 'skip-link'">
      <ng-content *ngIf="skiplinkComponent" select="desy-skip-link"></ng-content>
      <desy-skip-link *ngIf="!skiplinkComponent" id="skip-link" href="#content">Saltar al contenido principal</desy-skip-link>
    </nav>
    <ng-content *ngIf="headerMiniComponent" select="desy-header-mini"></ng-content>
    <desy-header-mini *ngIf="!headerMiniComponent"></desy-header-mini>
    <ng-content select="desy-header-advanced-super"></ng-content>
    <ng-content select="desy-header-advanced-title-container"></ng-content>
    <div class="bg-neutral-lighter border-b border-neutral-base">
      <div class="container mx-auto px-base">
        <div class="flex items-center justify-between min-h-14">
          <div class="flex flex-wrap items-center">
            <div *ngIf="navigationComponent" class="-ml-base">
              <ng-content select="desy-header-advanced-navigation"></ng-content>
            </div>
          </div>
          <ng-content select="desy-header-advanced-custom-navigation"></ng-content>
          <ng-content select="desy-header-advanced-dropdown"></ng-content>
          <ng-content select="desy-header-advanced-offcanvas"></ng-content>
        </div>
      </div>
    </div>
    <ng-content select="desy-header-advanced-sub"></ng-content>
  </div>
</header>