<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Fieldset configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-fieldset [classes]="classes"
               [id]="id"
               [role]="role"
               [ariaLabel]="ariaLabel"
               [describedBy]="describedBy"
               [ariaLabelledBy]="ariaLabelledBy"
               [ariaHidden]="ariaHidden"
               [ariaDisabled]="ariaDisabled"
               [ariaControls]="ariaControls"
               [ariaCurrent]="ariaCurrent"
               [ariaLive]="ariaLive"
               [ariaExpanded]="ariaExpanded"
               [errorId]="errorId"
               [ariaHasPopup]="ariaHasPopup"
               [tabindex]="tabindex">
  <desy-legend [classes]="legendclasses"
               [isPageHeading]="legendisPageHeading"
               [headingLevel]="headingLevel">
    <ng-container *appCustomInnerContent="{ html: legendHtml }"></ng-container>
  </desy-legend>
  <desy-content>
    <label class="block"
           for="contact-phone">Número de teléfono</label>
    <input class="c-input form-input mt-sm"
           name="contact-phone"
           type="text"
           id="contact-phone"
           [(ngModel)]="phone">
  </desy-content>
</desy-fieldset>
<p> valor de phone: {{phone}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Fieldset simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-fieldset>
  <desy-legend>
    ¿Cuál es tu número de teléfono?
  </desy-legend>
  <desy-content>
    <label class="block"
           for="contact-phone">Número de teléfono</label>
    <input class="c-input form-input mt-sm"
           name="contact-phone"
           type="text"
           id="contact-phone">
  </desy-content>
</desy-fieldset>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Fieldset clases de css aplicadas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-fieldset classes="p-lg border border-neutral-base">
  <desy-legend classes="mb-sm -ml-base px-base bg-white">
    ¿Cuál es tu número de teléfono?
  </desy-legend>
  <desy-content>
    <label class="block"
           for="contact-phone">Número de teléfono</label>
    <input class="c-input form-input mt-sm"
           name="contact-phone"
           type="text"
           id="contact-phone">
  </desy-content>
</desy-fieldset>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>

    <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="errorId" [(target)]="errorId"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id'" [(target)]="id"> </app-input-text>
    <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"> </app-input-number>


    <app-title-params titleparams="Parámetros de legend"></app-title-params>

    <app-input-text [nameComponent]="'legend'" nameProperty="html" [(target)]="legendHtml"> </app-input-text>
    <app-input-text [nameComponent]="'legend'" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="legendclasses"> </app-input-text>
    <app-input-boolean [nameComponent]="'legend'" nameProperty="isPageHeading" [(target)]="legendisPageHeading"> </app-input-boolean>
  </div>

  <app-accessibility-inputs [(role)]="role"
              [(ariaLabel)]="ariaLabel"
              [hideAriaDescribedBy]="true"
              [(ariaLabelledBy)]="ariaLabelledBy"
              [(ariaHidden)]="ariaHidden"
              [(ariaDisabled)]="ariaDisabled"
              [(ariaControls)]="ariaControls"
              [(ariaCurrent)]="ariaCurrent"
              [(ariaLive)]="ariaLive"
              [(ariaExpanded)]="ariaExpanded"
              [hideAriaErrorMessage]="true"
              [(ariaHasPopup)]="ariaHasPopup"
              [(tabindex)]="tabindex"></app-accessibility-inputs>

</div>
