<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Implementación por defecto"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-button>Por defecto</desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación con anchura completa"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-button classes="w-full justify-center">Anchura completa</desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación sólo con icono"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-button classes="c-button--primary align-bottom">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center my-1" focusable="false" width="1em" height="1em" role="img" aria-label="Borrar">
    <path d="M113.72 61.66A5 5 0 00110 60H30a5 5 0 00-5 5.53l7.5 70a5 5 0 005 4.47h65a5 5 0 005-4.47l7.5-70a5 5 0 00-1.28-3.87zM125 27.92h-25a2.5 2.5 0 01-2.5-2.5V17.5A17.52 17.52 0 0080 0H60a17.58 17.58 0 00-17.5 17.23l-.12 8.22a2.51 2.51 0 01-2.5 2.47H15a10 10 0 000 20h110a10 10 0 000-20zM57.5 17.46A2.51 2.51 0 0160 15h20a2.5 2.5 0 012.5 2.5v7.92a2.5 2.5 0 01-2.5 2.5H59.88a2.51 2.51 0 01-2.5-2.54z" fill="currentColor" />
  </svg>  
</desy-button>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Botón configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-button [classes]="classes"
             [id]="id"
             [element]="element"
             [name]="name"
             [type]="type"
             [value]="value"
             [disabled]="disabled"
             [preventDoubleClick]="preventDoubleClick"
             [target]="target"
             [href]="href"
             [routerLink]="routerLink"
             [routerLinkActiveClasses]="routerLinkActiveClasses"
             [fragment]="fragment"
             [role]="role"
             [ariaLabel]="ariaLabel"
             [ariaDescribedBy]="ariaDescribedBy"
             [ariaLabelledBy]="ariaLabelledBy"
             [ariaHidden]="ariaHidden"
             [ariaDisabled]="ariaDisabled"
             [ariaControls]="ariaControls"
             [ariaCurrent]="ariaCurrent"
             [ariaLive]="ariaLive"
             [ariaExpanded]="ariaExpanded"
             [ariaErrorMessage]="ariaErrorMessage"
             [ariaHasPopup]="ariaHasPopup"
             [tabindex]="tabindex"
             (clickEvent)="updateClickCountText($event)">
  <ng-container *appCustomInnerContent="{ html: html, text: text }"></ng-container>
</desy-button>
<p class="pt-base">{{clickText}}</p>
<p>{{clickValue}}</p>
<p>{{clickName}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="button | a | input" nameProperty="Elemento" [(target)]="element"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="texto a mostrar en el componente boton. (para el input es su value)" nameProperty="text" [(target)]="text"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="html para incluir en el componente boton. (no aplica para input)" nameProperty="html" [(target)]="html"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="c-button--alert uppercase ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Deshabilita el boton" nameProperty="disabled" [(target)]="disabled"> </app-input-boolean>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
    
    <app-title-params  titleparams="Parámetros de navegación"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" description="url externa" placeholder="google.es" nameProperty="href" [(target)]="href"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="pestaña en la que abrir el enlace" placeholder="_blank" nameProperty="target" [(target)]="target"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="url interna del proyecto" placeholder="/hint" nameProperty="routerLink" [(target)]="routerLink"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="fragment interno del proyecto" placeholder="#content" nameProperty="fragment" [(target)]="fragment"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="clases css a aplicar cuando estamos en la ruta donde va el boton" placeholder="c-button--alert uppercase ..." nameProperty="routerLinkActiveClasses" [(target)]="routerLinkActiveClasses"> </app-input-text>
  </div>

  <div>
    <app-title-params  titleparams="Parámetros que afectan solo a button e input"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="type" [(target)]="type"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" description="Evita hacer doble click" nameProperty="preventDoubleClick" [(target)]="preventDoubleClick"> </app-input-boolean>

    <app-title-params  titleparams="Parámetros que afectan solo a button"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="value" [(target)]="value"> </app-input-text>

    <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
