<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Pill configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-pill [classes]="classes"
           [type]="type"
           [href]="href"
           [routerLink]="routerLink"
           [routerLinkActiveClasses]="routerLinkActiveClasses"
           [fragment]="fragment"
           [target]="target"
           [id]="id"
           [role]="role"
           [ariaLabel]="ariaLabel"
           [ariaDescribedBy]="ariaDescribedBy"
           [ariaLabelledBy]="ariaLabelledBy"
           [ariaHidden]="ariaHidden"
           [ariaDisabled]="ariaDisabled"
           [ariaControls]="ariaControls"
           [ariaCurrent]="ariaCurrent"
           [ariaLive]="ariaLive"
           [ariaExpanded]="ariaExpanded"
           [ariaErrorMessage]="ariaErrorMessage"
           [ariaHasPopup]="ariaHasPopup"
           [tabindex]="tabindex"
           (clickEvent)="updateClickCountTextContent($event)">
  <ng-container *appCustomInnerContent="{ html: html }"></ng-container>
</desy-pill>
<p *ngIf="clickCountContent" class="mt-base p-base">{{clickTextContent}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-pill>
  Pill por defecto
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill con enlace"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-pill routerLink="/">
  Tipo enlace
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill tipo botón con estado focus"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-pill type="button"
           classes="ds-focus"
           routerLink="/">
  Boton focus
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill tipo botón con icono izq"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-pill type="button"
           classes="cursor-pointer">
  <svg viewBox="0 0 140 140" class=" self-center mr-2 " aria-hidden="true" width=" .75em " height=" .75em ">
   <path fill="currentColor" d="M35 35a35 35 0 1070 0 35 35 0 10-70 0zM132.78 133.33a66.59 66.59 0 00-125.56 0 5 5 0 004.71 6.67h116.14a5 5 0 004.71-6.67z" />
  </svg> Icono izquierda pill
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill primario"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-pill classes="c-pill--primary">
  <svg viewBox="0 0 140 140" class=" self-center mr-2 " aria-hidden="true" width=" .75em " height=" .75em ">
    <path fill="currentColor" d="M43.7 140a17.42 17.42 0 01-12.36-5.12L5.13 108.66a17.49 17.49 0 010-24.75l24.61-24.25a7.5 7.5 0 0110.52 10.68L15.69 94.56a2.5 2.5 0 000 3.49l26.21 26.22a2.51 2.51 0 003.54 0l24.22-24.53a7.5 7.5 0 1110.68 10.52l-24.21 24.57A17.53 17.53 0 0143.7 140zM99.66 80.26a7.49 7.49 0 01.08-10.6l24.57-24.22a2.5 2.5 0 000-3.49L98.06 15.73a2.51 2.51 0 00-3.54 0L70.34 40.26a7.5 7.5 0 01-10.68-10.52L83.87 5.17a17.52 17.52 0 0124.79 0l26.21 26.21a17.49 17.49 0 010 24.75l-24.61 24.21a7.49 7.49 0 01-10.6-.08z" />
    <path fill="currentColor" d="M55 92.5a7.5 7.5 0 01-5.3-12.8l30-30a7.5 7.5 0 1110.6 10.6l-30 30a7.44 7.44 0 01-5.3 2.2z" />
  </svg> Primario
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill aviso"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml6" [codeTs]="mostrarCodigo.codigoTs6"></app-show-code>
<desy-pill classes="c-pill--warning">
  <svg viewBox="0 0 140 140" class=" self-center mr-2 " aria-hidden="true" width=" .75em " height=" .75em ">
    <path fill="currentColor" d="M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z" />
  </svg> Aviso
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill exito"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml7" [codeTs]="mostrarCodigo.codigoTs7"></app-show-code>
<desy-pill classes="c-pill--success">
  <svg viewBox="0 0 140 140" class=" self-center mr-2 " aria-hidden="true" width=" .75em " height=" .75em ">
    <path fill="currentColor" d="M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z" />
  </svg> Éxito
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pill alerta"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml8" [codeTs]="mostrarCodigo.codigoTs8"></app-show-code>
<desy-pill classes="c-pill--alert">
  <svg viewBox="0 0 140 140" class=" self-center mr-2 " aria-hidden="true" width=" .75em " height=" .75em ">
    <path fill="currentColor" d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm-7.5 35a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 75a10 10 0 1110-10 10 10 0 01-10 10z" />
  </svg> Alerta
</desy-pill>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="button | a | span" nameProperty="type" [(target)]="type"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="c-button--alert uppercase ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
    
    <app-title-params  titleparams="Parámetros de navegación (solo afecta a type a)"></app-title-params>
    <app-input-text [nameComponent]="nameComponent" description="url externa" placeholder="google.es" nameProperty="href" [(target)]="href"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="pestaña en la que se abrira el enlace" placeholder="_blank" nameProperty="target" [(target)]="target"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="url interna del proyecto" placeholder="/hint" nameProperty="routerLink" [(target)]="routerLink"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="fragment interno del proyecto" placeholder="#content" nameProperty="fragment" [(target)]="fragment"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" description="clases css a aplicar cuando estamos en la ruta donde va el boton" placeholder="c-button--alert uppercase ..." nameProperty="routerLinkActiveClasses" [(target)]="routerLinkActiveClasses"> </app-input-text>
  </div>

  <div>
    <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
