<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Pagination configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-pagination [itemsPerPage]="itemsPerPage"
                 [totalItems]="totalItems"
                 [hasSelect]="hasSelect"
                 [classesContainer]="classesContainer"
                 [hasNext]="hasNext"
                 [hasPrevious]="hasPrevious"
                 [hasFirst]="hasFirst"
                 [hasLast]="hasLast"
                 [showPrevious]="showPrevious"
                 [showNext]="showNext"
                 [showFirst]="showFirst"
                 [showLast]="showLast"
                 [previousText]="previousText"
                 [nextText]="nextText"
                 [firstText]="firstText"
                 [lastText]="lastText"
                 [(currentPage)]="currentPage"
                 [id]="id"
                 [idPrefix]="idPrefix"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaDescribedBy]="ariaDescribedBy"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaErrorMessage]="ariaErrorMessage"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex"
                 [hasSelectItemsPerPage]="hasSelectItemsPerPage"
                 [classes]="classes">
  <desy-pagination-listbox-label *ngIf="labelListbox.html"
                                 [classes]="labelListbox.classes">
    <ng-container *appCustomInnerContent="{ html: labelListbox.html }"></ng-container>
  </desy-pagination-listbox-label>
  <desy-pagination-item-perpage [value]="1">1</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="25">25</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="50">50</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="100">100</desy-pagination-item-perpage>
</desy-pagination>
<p class="pt-base">Seleccionada página: {{currentPage}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pagination simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-pagination [totalItems]="64"
                 [itemsPerPage]="10"
                 [currentPage]="2">
</desy-pagination>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pagination con select"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-pagination [totalItems]="64"
                 [itemsPerPage]="10"
                 [hasSelect]="true"
                 [currentPage]="2">
</desy-pagination>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pagination con página primera y última"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-pagination [totalItems]="64"
                 [itemsPerPage]="10"
                 [hasSelect]="true"
                 [currentPage]="2"
                 [showFirst]="true"
                 [showLast]="true">
</desy-pagination>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Pagination con itemslistbox"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-pagination [totalItems]="64"
                 [itemsPerPage]="10"
                 [hasSelect]="true"
                 [currentPage]="2"
                 [showFirst]="true"
                 [showLast]="true"
                 [hasSelectItemsPerPage]="true">
  <desy-pagination-item-perpage [value]="10">10</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="25">25</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="50">50</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="75">75</desy-pagination-item-perpage>
  <desy-pagination-item-perpage [value]="100">100</desy-pagination-item-perpage>
</desy-pagination>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'id'" [(target)]="id"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'idPrefix'" [(target)]="idPrefix"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasSelect'" [(target)]="hasSelect"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'classesContainer'" [(target)]="classesContainer"></app-input-text>
        <app-input-number [nameComponent]="nameComponent" [nameProperty]="'totalItems'" [(target)]="totalItems"></app-input-number>
        <app-input-number [nameComponent]="nameComponent" [nameProperty]="'itemsPerPage'" [(target)]="itemsPerPage"></app-input-number>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasPrevious'" [(target)]="hasPrevious"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'previousText'" [(target)]="previousText"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'showPrevious'" [(target)]="showPrevious"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasNext'" [(target)]="hasNext"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'nextText'" [(target)]="nextText"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'showNext'" [(target)]="showNext"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasFirst'" [(target)]="hasFirst"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'firstText'" [(target)]="firstText"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'showFirst'" [(target)]="showFirst"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasLast'" [(target)]="hasLast"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'lastText'" [(target)]="lastText"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'showLast'" [(target)]="showLast"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'classes'" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'labelListboxHtml'" [(target)]="labelListbox.html"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" [nameProperty]="'labelListboxclasses'" [(target)]="labelListbox.classes"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" [nameProperty]="'hasSelectItemsPerPage'" [(target)]="hasSelectItemsPerPage"></app-input-boolean>

      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>
