<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Checkboxes configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-checkboxes idPrefix="main"
                 name="main"
                 [(ngModel)]="mainValue">
  <desy-legend>Ejemplos principales</desy-legend>

  <desy-checkbox-item value="content"
                      [conditional]="true"
                      name="main">
    Ejemplo con contenido y ngModel
    <desy-hint>El tercer item es configurable. Al id e idprefix se le añade '-content'</desy-hint>
    <desy-content>
      <desy-checkboxes [(ngModel)]="valueContent"
                       [idPrefix]="idPrefix ? idPrefix + '-content' : null"
                       [hasDividers]="hasDividers"
                       [formGroupClasses]="formGroupClasses"
                       [id]="id ? id + '-content' : null"
                       [describedBy]="describedBy"
                       [name]="name"
                       [classes]="classes"
                       [role]="role"
                       [ariaLabel]="ariaLabel"
                       [ariaLabelledBy]="ariaLabelledBy"
                       [ariaHidden]="ariaHidden"
                       [ariaDisabled]="ariaDisabled"
                       [ariaControls]="ariaControls"
                       [ariaCurrent]="ariaCurrent"
                       [ariaLive]="ariaLive"
                       [ariaExpanded]="ariaExpanded"
                       [ariaErrorMessage]="ariaErrorMessage"
                       [ariaHasPopup]="ariaHasPopup"
                       [tabindex]="tabindex">
        <desy-fieldset *ngIf="fieldsetData.legend.text || fieldsetData.legend.html"
                       [id]="fieldsetData.id"
                       [classes]="fieldsetData.classes">
          <desy-legend>{{fieldsetData.legend.text}}</desy-legend>
        </desy-fieldset>
        <desy-hint *ngIf="hintData.text || hintData.html"
                   [classes]="hintData.classes"
                   [id]="hintData.id"
                   [role]="hintData.role"
                   [ariaLabel]="hintData.ariaLabel"
                   [ariaDescribedBy]="hintData.ariaDescribedBy"
                   [ariaLabelledBy]="hintData.ariaLabelledBy"
                   [ariaHidden]="hintData.ariaHidden"
                   [ariaDisabled]="hintData.ariaDisabled"
                   [ariaControls]="hintData.ariaControls"
                   [ariaCurrent]="hintData.ariaCurrent"
                   [ariaLive]="hintData.ariaLive"
                   [ariaExpanded]="hintData.ariaExpanded"
                   [ariaErrorMessage]="hintData.ariaErrorMessage"
                   [ariaHasPopup]="hintData.ariaHasPopup"
                   [tabindex]="hintData.tabindex">
          <ng-container *appCustomInnerContent="{ html: hintData.html, text: hintData.text }"></ng-container>
        </desy-hint>
        <desy-error-message *ngIf="errorMessageData.text || errorMessageData.html"
                            [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                            [id]="errorMessageData.id"
                            [classes]="errorMessageData.classes"
                            [role]="errorMessageData.role"
                            [ariaLabel]="errorMessageData.ariaLabel"
                            [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                            [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                            [ariaHidden]="errorMessageData.ariaHidden"
                            [ariaDisabled]="errorMessageData.ariaDisabled"
                            [ariaControls]="errorMessageData.ariaControls"
                            [ariaCurrent]="errorMessageData.ariaCurrent"
                            [ariaLive]="errorMessageData.ariaLive"
                            [ariaExpanded]="errorMessageData.ariaExpanded"
                            [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                            [ariaHasPopup]="errorMessageData.ariaHasPopup"
                            [tabindex]="errorMessageData.tabindex">
          <ng-container *appCustomInnerContent="{ html: errorMessageData.html, text: errorMessageData.text }"></ng-container>
        </desy-error-message>
        <desy-checkbox-item value="opcion1"
                            [conditional]="true"
                            [isIndeterminate]="true"
                            [name]="name">
          <desy-label>Opción 1</desy-label>
          <desy-hint>Tiene contenido condicional y es indeterminate</desy-hint>
          <desy-content>Contenido condicional</desy-content>
        </desy-checkbox-item>
        <desy-checkbox-item value="opcion2"
                            [name]="name">
          Opcion 2
          <desy-hint>No se especifica label</desy-hint>
        </desy-checkbox-item>
        <desy-checkbox-item [id]="itemCheckboxDataCustom.id"
                            [classes]="itemCheckboxDataCustom.classes"
                            [name]="itemCheckboxDataCustom.name"
                            [conditional]="itemCheckboxDataCustom.conditional"
                            [disabled]="itemCheckboxDataCustom.disabled"
                            [isIndeterminate]="itemCheckboxDataCustom.isIndeterminate"
                            [value]="itemCheckboxDataCustom.value"
                            [(checked)]="itemChecked"
                            (checkedChange)="detectChanges($event)"
                            [(indeterminateChecked)]="itemIndeterminateChecked"
                            (indeterminateChange)="detectIndeterminateChanges($event)"
                            [role]="role"
                            [ariaLabel]="ariaLabel"
                            [ariaLabelledBy]="ariaLabelledBy"
                            [ariaHidden]="ariaHidden"
                            [ariaDisabled]="ariaDisabled"
                            [ariaControls]="ariaControls"
                            [ariaCurrent]="ariaCurrent"
                            [ariaLive]="ariaLive"
                            [ariaExpanded]="ariaExpanded"
                            [ariaErrorMessage]="ariaErrorMessage"
                            [ariaHasPopup]="ariaHasPopup"
                            [tabindex]="tabindex">
          <desy-label [classes]="itemCheckboxDataCustom.labelData.classes">
            <ng-container *appCustomInnerContent="{ html: itemCheckboxDataCustom.html, text: itemCheckboxDataCustom.text }"></ng-container>
          </desy-label>
          <desy-hint [classes]="itemCheckboxDataCustom.hintData.classes">
            <ng-container *appCustomInnerContent="{ html: itemCheckboxDataCustom.hintData.html, text: itemCheckboxDataCustom.hintData.text }"></ng-container>
          </desy-hint>
          <desy-content>Contenido condicional</desy-content>
        </desy-checkbox-item>
      </desy-checkboxes>
      <p *ngIf="valueContent">Valores: {{valueContent}}</p>
    </desy-content>
  </desy-checkbox-item>

  <desy-checkbox-item value="form"
                      [conditional]="true"
                      name="main">
    <desy-label>Ejemplo con formulario y condicionales con desyCondition</desy-label>
    <desy-content>
      <form [formGroup]="form">
        <desy-checkboxes formControlName="valueFormControl"
                         [formGroupClasses]="formGroupContactClasses"
                         idPrefix="how-contacted"
                         name="how-contacted">
          <desy-legend>How do you want to be contacted?</desy-legend>
          <desy-checkbox-item *ngFor="let item of itemsContact"
                              [value]="item.value"
                              [conditional]="item.conditional"
                              [name]="item.name">
            <desy-label>{{item.text}}</desy-label>
            <desy-content>
              <ng-container *ngTemplateOutlet="item.conditionalHtml"></ng-container>
            </desy-content>
          </desy-checkbox-item>

          <ng-template desyCondition
                       value="email"
                       [items]="itemsContact">
            <desy-input id="context-email"
                        name="context-email"
                        placeholder="ejemplo@email.es"
                        formControlName="email">
                        <desy-label>E-mail</desy-label>
              <desy-error-message *ngIf="email.invalid">No es un email</desy-error-message>
            </desy-input>
          </ng-template>

          <ng-template desyCondition
                       value="phone"
                       [items]="itemsContact">
            <desy-input id="context-phone"
                        name="contact-phone"
                        formControlName="phone">
                        <desy-label>Phone number</desy-label>
              <desy-error-message *ngIf="phone.invalid">Longitud minima 9</desy-error-message>
            </desy-input>
          </ng-template>

          <ng-template desyCondition
                       [item]="itemsContact[2]">
            <desy-input id="contact-text-message"
                        name="contact-text-message"
                        formControlName="phoneTxt">
                        <desy-label>Mobile phone number</desy-label>
              <desy-error-message *ngIf="phoneTxt.invalid">Longitud minima 9</desy-error-message>
            </desy-input>
          </ng-template>
        </desy-checkboxes>
      </form>
      <p> Contacto: {{form.value.valueFormControl}}</p>
      <p> email: {{form.value.email}}</p>
      <p> telefono: {{form.value.phone}}</p>
      <p> telefono movil: {{form.value.phoneTxt}}</p>
      <p> Valido: {{form.valid ? 'Sí' : 'No'}}</p>
      <p> Touched Form: {{form.touched}}</p>
      <p> Dirty: {{form.dirty}}</p>
    </desy-content>
  </desy-checkbox-item>
</desy-checkboxes>
<p *ngIf="mainValue">Value: {{ mainValue }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<!-- Configuración -->
<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" placeholder="w-100 ..." nameProperty="formGroupClasses" [(target)]="formGroupClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="hasDividers" [(target)]="hasDividers"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params  titleparams="Parámetros de un checkbox"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="itemCheckbox" nameProperty="text" [(target)]="itemCheckboxDataCustom.text"> </app-input-text>
        <app-input-text nameComponent="itemCheckbox" nameProperty="html" [(target)]="itemCheckboxDataCustom.html"> </app-input-text>
        <app-input-text nameComponent="itemCheckbox" nameProperty="id" [(target)]="itemCheckboxDataCustom.id"> </app-input-text>
        <app-input-text nameComponent="itemCheckbox" nameProperty="value" [(target)]="itemCheckboxDataCustom.value"> </app-input-text>
        <app-input-text nameComponent="labelData" nameProperty="labelData.classes"  [(target)]="itemCheckboxDataCustom.labelData.classes"> </app-input-text>
        <app-input-text nameComponent="hintData"  nameProperty="hintData.text" [(target)]="itemCheckboxDataCustom.hintData.text"> </app-input-text>
        <app-input-text nameComponent="hintData"  nameProperty="hintData.html" [(target)]="itemCheckboxDataCustom.hintData.html"> </app-input-text>
        <app-input-text nameComponent="hintData"  placeholder="text-primary-base uppercase ..." nameProperty="hintData.classes" [(target)]="itemCheckboxDataCustom.hintData.classes"> </app-input-text>
        <app-input-boolean nameComponent="itemCheckbox" nameProperty="checked" [(target)]="itemChecked"> </app-input-boolean>
        <app-input-boolean nameComponent="itemCheckbox" nameProperty="conditional" [(target)]="itemCheckboxDataCustom.conditional"> </app-input-boolean>
        <app-input-boolean nameComponent="itemCheckbox" nameProperty="isIndeterminate" [(target)]="itemCheckboxDataCustom.isIndeterminate"> </app-input-boolean>
        <app-input-boolean nameComponent="itemCheckbox" nameProperty="indeterminateChecked" [(target)]="itemIndeterminateChecked"> </app-input-boolean>
        <app-input-boolean nameComponent="itemCheckbox" nameProperty="disabled" [(target)]="itemCheckboxDataCustom.disabled"> </app-input-boolean>
        <app-input-text nameComponent="itemCheckbox" nameProperty="classes" [(target)]="itemCheckboxDataCustom.classes"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs  title="Parámetros de accesibilidad de un checkbox" id="itemCheckbox"
                             [(role)]="itemCheckboxDataCustom.role"
                             [(ariaLabel)]="itemCheckboxDataCustom.ariaLabel"
                             [(ariaDescribedBy)]="itemCheckboxDataCustom.ariaDescribedBy"
                             [(ariaLabelledBy)]="itemCheckboxDataCustom.ariaLabelledBy"
                             [(ariaHidden)]="itemCheckboxDataCustom.ariaHidden"
                             [(ariaDisabled)]="itemCheckboxDataCustom.ariaDisabled"
                             [(ariaControls)]="itemCheckboxDataCustom.ariaControls"
                             [(ariaCurrent)]="itemCheckboxDataCustom.ariaCurrent"
                             [(ariaLive)]="itemCheckboxDataCustom.ariaLive"
                             [(ariaExpanded)]="itemCheckboxDataCustom.ariaExpanded"
                             [(ariaErrorMessage)]="itemCheckboxDataCustom.ariaErrorMessage"
                             [(ariaHasPopup)]="itemCheckboxDataCustom.ariaHasPopup"
                             [(tabindex)]="itemCheckboxDataCustom.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de fieldset"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="'fieldset'" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="fieldsetData.classes"> </app-input-text>
        <app-input-text [nameComponent]="'fieldset'" nameProperty="id" [(target)]="fieldsetData.id"> </app-input-text>

        <app-title-params titleparams="Parámetros de legend"></app-title-params>
        <app-input-text [nameComponent]="'legend'" nameProperty="text" [(target)]="fieldsetData.legend.text"> </app-input-text>
        <app-input-text [nameComponent]="'legend'" nameProperty="html" [(target)]="fieldsetData.legend.html"> </app-input-text>
        <app-input-text [nameComponent]="'legend'" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="fieldsetData.legend.classes"> </app-input-text>
        <app-input-boolean [nameComponent]="'legend'" nameProperty="isPageHeading" [(target)]="fieldsetData.legend.isPageHeading"> </app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de fieldset" id="fieldset"
                            [(role)]="fieldsetData.role"
                            [(ariaLabel)]="fieldsetData.ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="fieldsetData.ariaLabelledBy"
                            [(ariaHidden)]="fieldsetData.ariaHidden"
                            [(ariaDisabled)]="fieldsetData.ariaDisabled"
                            [(ariaControls)]="fieldsetData.ariaControls"
                            [(ariaCurrent)]="fieldsetData.ariaCurrent"
                            [(ariaLive)]="fieldsetData.ariaLive"
                            [(ariaExpanded)]="fieldsetData.ariaExpanded"
                            [hideAriaErrorMessage]="true"
                            [(ariaHasPopup)]="fieldsetData.ariaHasPopup"
                            [(tabindex)]="fieldsetData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint"  nameProperty="text" [(target)]="hintData.text"> </app-input-text>
        <app-input-text nameComponent="hint"  nameProperty="html" [(target)]="hintData.html"> </app-input-text>
        <app-input-text nameComponent="hint"  placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="hintData.classes"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="hintData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="errorMessage" nameProperty="text" [(target)]="errorMessageData.text"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="html" [(target)]="errorMessageData.html"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText" [(target)]="errorMessageData.visuallyHiddenText"> </app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="errorMessageData.classes"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

</div>
