<ng-template #contentTemplate>
   <ng-content></ng-content>
</ng-template>

<ng-container [ngSwitch]="getElement()">
  <ng-container *ngSwitchCase="staticElementTypeA">
  <!-- routerLink modifica href, por eso se duplica para que no convivan en un mismo html -->
     <a *ngIf="routerLink" draggable="false" (click)="onClick($event)"
        [routerLink]="routerLink" [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []" [fragment]="fragment"
        [attr.tabindex]="tabindex ? tabindex : (isDisabled() ? -1 : null)"
        [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
        [class]="getClassNames()"
        [desyAppAccessibility]="this"
        [attr.id]="id ? id : null">
       <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
     </a>

     <a *ngIf="!routerLink" draggable="false" (click)="onClick($event)"
        [href]="href | externalHref"
        [attr.target]="target ? target : null"
        [attr.tabindex]="tabindex ? tabindex : (isDisabled() ? -1 : null)"
        [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
        [class]="getClassNames()"
        [desyAppAccessibility]="this"
        [attr.id]="id ? id : null">
       <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
     </a>

  </ng-container>

  <button *ngSwitchCase="staticElementTypeButton" (click)="onClick($event)"
          [routerLink]="routerLink ? routerLink : null" [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []" [fragment]="fragment"
          [attr.name]="name ? name : null"
          [attr.value]="value ? value : null"
          [disabled]="isDisabled()"
          [desyAppAccessibility]="this"
          [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
          [attr.data-prevent-double-click]="preventDoubleClick ? 'true' : null"
          [attr.type]="type ? type : null"
          [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
          [class]="getClassNames()"
          [attr.id]="id ? id : null">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </button>

  <input *ngSwitchCase="staticElementTypeInput" (click)="onClick($event)"
         [routerLink]="routerLink ? routerLink : null" [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []" [fragment]="fragment"
         [attr.name]="name ? name : null"
         [value]="text ? text : null"
         [disabled]="isDisabled()"
         [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
         [desyAppAccessibility]="this"
         [attr.data-prevent-double-click]="preventDoubleClick ? 'true' : null"
         [attr.type]="type ? type : 'submit'"
         [class]="getClassNames()"
         [attr.id]="id ? id : null">
</ng-container>
