<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Accordion con items abiertos por defecto"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-accordion [allowMultiple]="true"
                [headingLevel]="3">
  <desy-accordion-item [open]="true">
    <desy-accordion-header>
      Item de acordeón 1
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-item>
  <desy-accordion-item>
    <desy-accordion-header>
      Item de acordeón 2
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-item>
  <desy-accordion-item [open]="true">
    <desy-accordion-header>
      Item de acordeón 3
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-item>
</desy-accordion>
<app-spaced></app-spaced>

<app-implementation-info info="Accordion con item con css"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-accordion classes="px-lg pt-base border-t border-b border-neutral-base"
                [headingLevel]="3">
  <desy-accordion-header classes="c-h2 mb-lg uppercase">
    Accordion example
  </desy-accordion-header>
  <desy-accordion-item>
    <desy-accordion-header>
      Item de acordeón 1
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-item>
  <desy-accordion-item [open]="true"
                       classes="p-sm bg-primary-light">
    <desy-accordion-header>
      Item de acordeón 2
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-white rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-item>
  <desy-accordion-item>
    <desy-accordion-header>
      Item de acordeón 3
    </desy-accordion-header>
    <desy-content>
      <div class="w-48 p-2">
        <div class="border-4 border-dashed border-neutral-light rounded-lg h-40"></div>
      </div>
    </desy-content>
  </desy-accordion-item>
</desy-accordion>
<app-spaced></app-spaced>

<app-implementation-info info="Accordion configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-accordion [headingLevel]="headingLevel"
                [allowToggle]="customAllowToggle"
                [showControl]="customShowControl"
                [allowMultiple]="customAllowMultiple"
                [classes]="customClasses"
                [idPrefix]="customIdPrefix ? customIdPrefix : null"
                [id]="id ? id : null"
                [role]="role"
                [ariaLabel]="ariaLabel"
                [ariaDescribedBy]="ariaDescribedBy"
                [ariaLabelledBy]="ariaLabelledBy"
                [ariaHidden]="ariaHidden"
                [ariaDisabled]="ariaDisabled"
                [ariaControls]="ariaControls"
                [ariaCurrent]="ariaCurrent"
                [ariaLive]="ariaLive"
                [ariaExpanded]="ariaExpanded"
                [ariaErrorMessage]="ariaErrorMessage"
                [ariaHasPopup]="ariaHasPopup"
                [tabindex]="tabindex">
  <desy-accordion-header [classes]="heading.classes">
    <ng-container *appCustomInnerContent="{ html: heading.html, text: heading.text }"></ng-container>
  </desy-accordion-header>
  <desy-accordion-item *ngFor="let item of items"
                       [id]="item.id"
                       [classes]="item.classes"
                       [(open)]="item.open"
                       [role]="item.role"
                       [ariaLabel]="item.ariaLabel"
                       [ariaDescribedBy]="item.ariaDescribedBy"
                       [ariaLabelledBy]="item.ariaLabelledBy"
                       [ariaHidden]="item.ariaHidden"
                       [ariaDisabled]="item.ariaDisabled"
                       [ariaControls]="item.ariaControls"
                       [ariaCurrent]="item.ariaCurrent"
                       [ariaLive]="item.ariaLive"
                       [ariaExpanded]="item.ariaExpanded"
                       [ariaErrorMessage]="item.ariaErrorMessage"
                       [ariaHasPopup]="item.ariaHasPopup"
                       [tabindex]="item.tabindex">
    <desy-accordion-header>
      <ng-container *appCustomInnerContent="{ html: item.headerHtml, text: item.headerText }"></ng-container>
    </desy-accordion-header>
    <desy-accordion-item-show-button *ngIf="hasCustomButton('custom-btn-show')"
                                     [classes]="customShowButtonClass">
      <ng-container *appCustomInnerContent="{ html: customShowButton }"></ng-container>
    </desy-accordion-item-show-button>
    <desy-accordion-item-hide-button *ngIf="hasCustomButton('custom-btn-hide')"
                                     [classes]="customHideButtonClass">
      <ng-container *appCustomInnerContent="{ html: customHideButton }"></ng-container>
    </desy-accordion-item-hide-button>
    <desy-content>
      <ng-container *appCustomInnerContent="{ html: item.html, text: item.text }"></ng-container>
    </desy-content>
  </desy-accordion-item>
</desy-accordion>
<app-spaced></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de accordion"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="showControl" [(target)]="customShowControl"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="allowMultiple" [(target)]="customAllowMultiple"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="allowToggle" [(target)]="customAllowToggle"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="customIdPrefix"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="customClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"> </app-input-number>

      </div>
    </details>
  </div>

  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>

  <div>
    <app-title-params titleparams="Parámetros de Heading"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="heading.text"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="heading.html"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="heading.classes"> </app-input-text>
      </div>
    </details>
  </div>
  <div></div>

  <div>
    <app-title-params titleparams="Parámetros de AccordionItem"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="headerText" [(target)]="customItem.headerText"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="headerHtml" [(target)]="customItem.headerHtml"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="text" [(target)]="customItem.text"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="customItem.html"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="open" [(target)]="customItem.open"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="customItem.id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="customItem.classes"> </app-input-text>
      </div>
      <desy-checkboxes [name]="'itemButtons'" legendText="Incluir botones de Mostrar/Ocultar personalizados"
        [(ngModel)]="includeCustomButtonsValue" [items]="includeCustomButtons">
        <ng-template desyCondition [item]="includeCustomButtons[0]">
          <app-input-text nameComponent="item-show-button" [nameProperty]="'Texto'" [(target)]="customShowButton">
          </app-input-text>
          <app-input-text nameComponent="item-show-button" [nameProperty]="'classes'" [(target)]="customShowButtonClass">
          </app-input-text>
        </ng-template>
        <ng-template desyCondition [item]="includeCustomButtons[1]">
          <app-input-text nameComponent="item-hide-button" [nameProperty]="'Texto'" [(target)]="customHideButton">
          </app-input-text>
          <app-input-text nameComponent="item-hide-button" [nameProperty]="'classes'" [(target)]="customHideButtonClass">
          </app-input-text>
        </ng-template>
      </desy-checkboxes>
    </details>
  </div>

  <div>
    <app-accessibility-inputs title="Parámetros de accesibilidad de accordionitem"
                              [(role)]="customItem.role"
                              [(ariaLabel)]="customItem.ariaLabel"
                              [(ariaDescribedBy)]="customItem.ariaDescribedBy"
                              [(ariaLabelledBy)]="customItem.ariaLabelledBy"
                              [(ariaHidden)]="customItem.ariaHidden"
                              [(ariaDisabled)]="customItem.ariaDisabled"
                              [(ariaControls)]="customItem.ariaControls"
                              [(ariaCurrent)]="customItem.ariaCurrent"
                              [(ariaLive)]="customItem.ariaLive"
                              [(ariaExpanded)]="customItem.ariaExpanded"
                              [(ariaErrorMessage)]="customItem.ariaErrorMessage"
                              [(ariaHasPopup)]="customItem.ariaHasPopup"
                              [(tabindex)]="customItem.tabindex"></app-accessibility-inputs>
  </div>

</div>
