<div [desyAppAccessibility]="this">
  <div class="flex justify-between">
    <ng-container [ngSwitch]="headingLevel">
      <h1 *ngSwitchCase="1" [class]="headingComponent?.classes || 'c-h2 mb-base'"><ng-container *desyCustomInnerContent="{ component: headingComponent }"></ng-container></h1>
      <h2 *ngSwitchCase="2" [class]="headingComponent?.classes || 'c-h2 mb-base'"><ng-container *desyCustomInnerContent="{ component: headingComponent }"></ng-container></h2>
      <h3 *ngSwitchCase="3" [class]="headingComponent?.classes || 'c-h2 mb-base'"><ng-container *desyCustomInnerContent="{ component: headingComponent }"></ng-container></h3>
      <h4 *ngSwitchCase="4" [class]="headingComponent?.classes || 'c-h2 mb-base'"><ng-container *desyCustomInnerContent="{ component: headingComponent }"></ng-container></h4>
      <h5 *ngSwitchCase="5" [class]="headingComponent?.classes || 'c-h2 mb-base'"><ng-container *desyCustomInnerContent="{ component: headingComponent }"></ng-container></h5>
      <h2 *ngSwitchDefault  [class]="headingComponent?.classes || 'c-h2 mb-base'"><ng-container *desyCustomInnerContent="{ component: headingComponent }"></ng-container></h2>
    </ng-container>

    <button [attr.id]="id" *ngIf="showControl" (click)="changeAll()"
            type="button" class="ml-auto py-base text-sm text-neutral-dark underline focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus text-right">
      {{showAll ? 'Mostrar' : 'Ocultar'}} todo
    </button>
  </div>
  <div class="Accordion pl-lg">
      <ng-template #itemHeaderContent let-item="item" let-id="id" let-index="index">
        <button #itemSelector [id]="id + '-title'" (click)="toggleItem(item)" type="button"
                type="button" [class]="['group relative w-full py-sm font-semibold text-left cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', item.disabled ? 'cursor-not-allowed' : ''] | makeHtmlList"
                [attr.aria-controls]="id" [attr.aria-expanded]="item.open === true ? 'true' : 'false'" [disabled]="item.disabled">
            <ng-container *desyCustomInnerContent="{ component: getItemHeader(item), html: item.headerHtml, text: item.headerText }"></ng-container>
            <span *ngIf="!item.disabled" class="absolute inset-y-0 right-0 py-sm font-normal text-sm text-neutral-dark underline group-focus:text-black pointer-events-none">
              <span *ngIf="!item.open" [class]="['Accordion-show', item.showButton?.classes] | makeHtmlList">
                <ng-container *desyCustomInnerContent="{ component: item.showButton, text: 'Mostrar' }"></ng-container>
              </span>
              <span *ngIf="allowToggle && item.open" [class]="['Accordion-show', item.hideButton?.classes] | makeHtmlList">
                <ng-container *desyCustomInnerContent="{ component: item.hideButton, text: 'Ocultar' }"></ng-container>
              </span>
            </span>
        </button>
      </ng-template>

      <div *ngFor="let item of getItems(); index as i; first as isFirst; last as isLast" 
           class="relative -my-px px-xs py-sm border-t border-b border-neutral-base"
           (keydown.home)="focusFirstItem($event)"
           (keydown.end)="focusLastItem($event)"
           (keydown.arrowup)="focusPreviousItem($event, i)"
           (keydown.arrowdown)="focusNextItem($event, i)"
           (click)="selectItem(i)">
        <ng-container [ngSwitch]="headingLevel">
            <h2 *ngSwitchCase="1"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h2>
            <h3 *ngSwitchCase="2"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h3>
            <h4 *ngSwitchCase="3"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h4>
            <h5 *ngSwitchCase="4"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h5>
            <h6 *ngSwitchCase="5"><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h6>
            <h3 *ngSwitchDefault><ng-container *ngTemplateOutlet="itemHeaderContent; context: {item: item, id: getItemId(item, i), index: i}"></ng-container></h3>
        </ng-container>
        <p class="sr-only" aria-hidden="true">Haz click en el botón anterior para mostrar u ocultar</p>
        <ng-container *ngIf="!isFirst">
          <ng-container [ngSwitch]="item.status">
            <div *ngSwitchCase="'current'" class="absolute -top-px -left-5 h-6 border-2 border-primary-base"></div>
            <div *ngSwitchCase="'pending'" class="absolute -top-px -left-5 h-6 border-2 border-neutral-light"></div>
            <div *ngSwitchCase="'muted'" class="absolute -top-px -left-5 h-6 border-2 border-neutral-base"></div>
            <div *ngSwitchCase="'currentmuted'" class="absolute -top-px -left-5 h-6 border-2 border-neutral-base"></div>
            <div *ngSwitchDefault class="absolute -top-px -left-5 h-6 border-2 border-primary-base"></div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!isLast">
          <ng-container [ngSwitch]="item.status">
            <div *ngSwitchCase="'current'" class="absolute top-6 bottom-0 -left-5 border-2 border-neutral-light"></div>
            <div *ngSwitchCase="'pending'" class="absolute top-6 bottom-0 -left-5 border-2 border-neutral-light"></div>
            <div *ngSwitchCase="'muted'" class="absolute top-6 bottom-0 -left-5 border-2 border-neutral-base"></div>
            <div *ngSwitchCase="'currentmuted'" class="absolute top-6 bottom-0 -left-5 border-2 border-neutral-light"></div>
            <div *ngSwitchDefault class="absolute top-6 bottom-0 -left-5 border-2 border-primary-base"></div>
          </ng-container>
        </ng-container>
        <ng-container [ngSwitch]="item.status">
          <div *ngSwitchCase="'current'" class="absolute top-5 -left-6 w-3 h-3 bg-white ring-2 ring-primary-base rounded-full" role="img"><p class="sr-only">Estado: actual</p></div>
          <div *ngSwitchCase="'pending'" class="absolute top-5 -left-6 w-3 h-3 bg-white border-2 border-neutral-base rounded-full" role="img"><p class="sr-only">Estado: pendiente</p></div>
          <div *ngSwitchCase="'muted'" class="absolute top-5 -left-6 w-3 h-3 bg-neutral-base border-2 border-neutral-base rounded-full" role="img"><p class="sr-only">Estado: pasado</p></div>
          <div *ngSwitchCase="'currentmuted'" class="absolute top-5 -left-6 w-3 h-3 bg-neutral-base ring-2 ring-neutral-base rounded-full" role="img"><p class="sr-only">Estado: actual</p></div>
          <div *ngSwitchDefault class="absolute top-5 -left-6 w-3 h-3 bg-primary-base border-2 border-primary-base rounded-full" role="img"><p class="sr-only">Estado: pasado</p></div>
        </ng-container>

        <div *ngIf="item.open" [class]="['c-accordion__panel relative', item.classes] | makeHtmlList"
             [attr.id]="getItemId(item, i)"
             [desyAppAccessibility]="item">
          <ng-container *ngIf="!isLast">
            <ng-container [ngSwitch]="item.status">
              <div *ngSwitchCase="'current'" class="absolute top-4 bottom-0 -left-6 -my-sm border-2 border-neutral-light"></div>
              <div *ngSwitchCase="'pending'" class="absolute top-4 bottom-0 -left-6 -my-sm border-2 border-neutral-light"></div>
              <div *ngSwitchCase="'muted'" class="absolute top-4 bottom-0 -left-6 -my-sm border-2 border-neutral-base"></div>
              <div *ngSwitchCase="'currentmuted'" class="absolute top-4 bottom-0 -left-6 -my-sm border-2 border-neutral-light"></div>
              <div *ngSwitchDefault class="absolute top-4 bottom-0 -left-6 -my-sm border-2 border-primary-base"></div>
            </ng-container>
          </ng-container>
          <ng-container *desyCustomInnerContent="{ component: getItemContent(item), html: item.html, text: item.text }"></ng-container>
        </div>
      </div>
  </div>
</div>
