<div [class]="(classes ? classes : '-my-px py-sm border-t border-b border-neutral-base')"
    [desyAppAccessibility]="this">
    <button *ngIf="headerText && !headerHtml" (click)="isOpen()" [attr.id]="id ? (id + '-title') : null"
        [ngClass]="buttonClasses ? buttonClasses : 'group relative w-full py-sm font-semibold text-left cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black'"
        [attr.aria-expanded]="open"
        [attr.aria-controls]="id ? id : null">{{ headerText }}
        <span [ngClass]="open && hideClasses ? hideClasses : showClasses && !open ? showClasses: 'absolute inset-y-0 right-0 py-sm font-normal text-sm text-neutral-dark underline group-focus:text-black pointer-events-none'" aria-hidden="true">{{show}}</span>
    </button>
    <button *ngIf="headerHtml" (click)="isOpen()" [attr.id]="id ? (id + '-title') : null"
        [ngClass]="buttonClasses ? buttonClasses : 'group relative w-full py-sm font-semibold text-left cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black'"
        [attr.aria-expanded]="open"
        [attr.aria-controls]="id ? id : null"><ng-container *ngTemplateOutlet="tmpHtml"></ng-container>
        <span [ngClass]="open && hideClasses ? hideClasses : showClasses && !open ? showClasses: 'absolute inset-y-0 right-0 py-sm font-normal text-sm text-neutral-dark underline group-focus:text-black pointer-events-none'" aria-hidden="true">{{show}}</span>
    </button>
    <button *ngIf="!headerHtml && !headerText" (click)="isOpen()" [attr.id]="id ? (id + '-title') : null"
        [ngClass]="buttonClasses ? buttonClasses : 'group relative w-full py-sm font-semibold text-left cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black'"
        [attr.aria-expanded]="open"
        [attr.aria-controls]="id ? id : null">
        <ng-content></ng-content>
        <span [ngClass]="open && hideClasses ? hideClasses : showClasses && !open ? showClasses: 'absolute inset-y-0 right-0 py-sm font-normal text-sm text-neutral-dark underline group-focus:text-black pointer-events-none'" aria-hidden="true">{{show}}</span>
    </button>
    
    <div *ngIf="open && !html && !text" [attr.id]="(id ? id : null)" [ngClass]="contentClasses ? contentClasses : 'py-sm'">
        <ng-container *desyCustomInnerContent="{ component: contentComponent }"></ng-container>
    </div>
    <div *ngIf="open && html" [attr.id]="(id ? id : null)" [ngClass]="contentClasses ? contentClasses : 'py-sm'">
        <ng-container *ngTemplateOutlet="htmlTemplate"></ng-container>
    </div>
    <div *ngIf="open && !html" [attr.id]="(id ? id : null)" [ngClass]="contentClasses ? contentClasses : 'py-sm'">
        <p [desyInnerContent]="text"></p>
    </div>
</div>
<ng-template #tmpHtml>
    <div [outerHTML]="headerHtml | innerHtml"></div>  
 </ng-template>
