<dl [class]="classes"
    [attr.id]="id ? id : null"
    [desyAppAccessibility]="this">
    <div *ngFor="let item of getItems()"
        [class]="item.classes"
        [attr.id]="item.id ? item.id : null"
        [desyAppAccessibility]="item">
        <dt [class]="(item.term.classes ?  item.term.classes : 'text-sm text-neutral-dark')"
            [attr.id]="item.term.id ? item.term.id : null"
            [desyAppAccessibility]="item.term"
            [attr.tabindex]="item.tabindex">
          <ng-container *desyCustomInnerContent="{ component: item.term, html: item.term.html, text: item.term.text}"></ng-container>
        </dt>
        <dd [class]="(item.definition.classes ?  item.definition.classes : 'text-base text-black')"
            [attr.id]="item.definition.id ? item.definition.id : null"
            [desyAppAccessibility]="item.definition"
            [attr.tabindex]="item.tabindex">
          <ng-container *desyCustomInnerContent="{ component: item.definition, html: item.definition.html, text: item.definition.text}"></ng-container>
        </dd>
    </div>
</dl>
