<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Item configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-item [isDraggable]="isDraggable"
           [isLocked]="isLocked"
           [headingLevel]="headingLevel"
           [id]="id"
           [classes]="classes"
           [role]="role"
           [ariaLabel]="ariaLabel"
           [ariaDescribedBy]="ariaDescribedBy"
           [ariaLabelledBy]="ariaLabelledBy"
           [ariaHidden]="ariaHidden"
           [ariaDisabled]="ariaDisabled"
           [ariaControls]="ariaControls"
           [ariaCurrent]="ariaCurrent"
           [ariaLive]="ariaLive"
           [ariaExpanded]="ariaExpanded"
           [ariaErrorMessage]="ariaErrorMessage"
           [ariaHasPopup]="ariaHasPopup"
           [tabindex]="tabindex">
  <desy-icon [type]="icon.type"
             [containerClasses]="icon.containerClasses">
    <ng-container *appCustomInnerContent="{ html: icon.html }"></ng-container>
  </desy-icon>
  <desy-title [classes]="title.classes"
              [role]="title.role"
              [ariaLabel]="title.ariaLabel"
              [ariaDescribedBy]="title.ariaDescribedBy"
              [ariaLabelledBy]="title.ariaLabelledBy"
              [ariaHidden]="title.ariaHidden"
              [ariaDisabled]="title.ariaDisabled"
              [ariaControls]="title.ariaControls"
              [ariaCurrent]="title.ariaCurrent"
              [ariaLive]="title.ariaLive"
              [ariaExpanded]="title.ariaExpanded"
              [ariaErrorMessage]="title.ariaErrorMessage"
              [ariaHasPopup]="title.ariaHasPopup"
              [tabindex]="title.tabindex">
    <ng-container *appCustomInnerContent="{ html: title.html }"></ng-container>
  </desy-title>
  <desy-description [classes]="description.classes">
    <ng-container *appCustomInnerContent="{ html: description.html }"></ng-container>
  </desy-description>
  <desy-item-item *ngFor="let item of items">{{ item }}</desy-item-item>
  <desy-item-content-bottom [classes]="contentBottom.classes">
    <ng-container *appCustomInnerContent="{ html: contentBottom.html }"></ng-container>
  </desy-item-content-bottom>
  <desy-item-content-right>
    <ng-container *appCustomInnerContent="{ html: contentRight.html }"></ng-container>
  </desy-item-content-right>
</desy-item>

<app-implementation-info info="Item simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-item>
  <desy-title>Registro de alta de la asociación</desy-title>
</desy-item>

<app-implementation-info info="Item con descripción"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-item>
  <desy-title>Registro de alta de la asociación</desy-title>
  <desy-description>
    <ng-container *appCustomInnerContent="{ html: descriptionHtml }"></ng-container>
  </desy-description>
</desy-item>

<app-implementation-info info="Item con bottom content"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-item>
  <desy-title>Registro de alta de la asociación</desy-title>
  <desy-item-content-bottom classes="text-sm text-neutral-dark">
    <ng-container *appCustomInnerContent="{ html: contentHtml }"></ng-container>
  </desy-item-content-bottom>
</desy-item>

<app-implementation-info info="Item arrastable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-item [isDraggable]="true">
  <desy-title>Registro de alta de la asociación</desy-title>
</desy-item>

<app-implementation-info info="Item con tipo documento"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-item>
  <desy-title>Registro de alta de la asociación</desy-title>
  <desy-icon type="document"></desy-icon>
</desy-item>

<app-implementation-info info="Item bloqueado"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml6" [codeTs]="mostrarCodigo.codigoTs6"></app-show-code>
<desy-item [isLocked]="true">
  <desy-title>Registro de alta de la asociación</desy-title>
</desy-item>

<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de componente"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="c-button--alert uppercase ..." nameProperty="classes" [(target)]="classes"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="isDraggable" [(target)]="isDraggable"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="isLocked" [(target)]="isLocked"> </app-input-boolean>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"> </app-input-number>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [(role)]="role"
                              [(ariaLabel)]="ariaLabel"
                              [(ariaDescribedBy)]="ariaDescribedBy"
                              [(ariaLabelledBy)]="ariaLabelledBy"
                              [(ariaHidden)]="ariaHidden"
                              [(ariaDisabled)]="ariaDisabled"
                              [(ariaControls)]="ariaControls"
                              [(ariaCurrent)]="ariaCurrent"
                              [(ariaLive)]="ariaLive"
                              [(ariaExpanded)]="ariaExpanded"
                              [(ariaErrorMessage)]="ariaErrorMessage"
                              [(ariaHasPopup)]="ariaHasPopup"
                              [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>
</div>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de title"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="'title'" nameProperty="html" [(target)]="title.html"></app-input-text>
        <app-input-text [nameComponent]="'title'" nameProperty="classes" [(target)]="title.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div>
    <app-accessibility-inputs [id]="'accesibility-inputs-title'"
                              [title]="'Parámetros de accesibilidad de title'"
                              [(role)]="title.role"
                              [(ariaLabel)]="title.ariaLabel"
                              [(ariaDescribedBy)]="title.ariaDescribedBy"
                              [(ariaLabelledBy)]="title.ariaLabelledBy"
                              [(ariaHidden)]="title.ariaHidden"
                              [(ariaDisabled)]="title.ariaDisabled"
                              [(ariaControls)]="title.ariaControls"
                              [(ariaCurrent)]="title.ariaCurrent"
                              [(ariaLive)]="title.ariaLive"
                              [(ariaExpanded)]="title.ariaExpanded"
                              [(ariaErrorMessage)]="title.ariaErrorMessage"
                              [(ariaHasPopup)]="title.ariaHasPopup"
                              [(tabindex)]="title.tabindex"></app-accessibility-inputs>
  </div>
</div>



<app-title-params titleparams="Parámetros de description"></app-title-params>
<details>
  <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
    <span>Mostrar</span>
  </summary>
  <div class="py-sm">
    <app-input-text [nameComponent]="'description'" nameProperty="html" [(target)]="description.html"></app-input-text>
    <app-input-text [nameComponent]="'description'" nameProperty="classes" [(target)]="description.classes"></app-input-text>
  </div>
</details>
<app-title-params titleparams="Parámetros de content"></app-title-params>
<details>
  <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
    <span>Mostrar</span>
  </summary>
  <div class="py-sm">
    <app-input-text [nameComponent]="'contentBottom'" nameProperty="html" [(target)]="contentBottom.html"></app-input-text>
    <app-input-text [nameComponent]="'contentBottom'" nameProperty="classes" [(target)]="contentBottom.classes"></app-input-text>
    <app-input-text [nameComponent]="'contentRight'" nameProperty="html" [(target)]="contentRight.html"></app-input-text>
    <app-input-text [nameComponent]="'contentRight'" nameProperty="classes" [(target)]="contentRight.classes"></app-input-text>
  </div>
</details>
<app-title-params titleparams="Parámetros de icon"></app-title-params>
<details>
  <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
    <span>Mostrar</span>
  </summary>
  <div class="py-sm">
    <app-input-text [nameComponent]="'icon'" placeholder="document, clipboard, link" nameProperty="type" [(target)]="icon.type"></app-input-text>
    <app-input-text [nameComponent]="'icon'" nameProperty="html" [(target)]="icon.html"></app-input-text>
    <app-input-text [nameComponent]="'icon'" nameProperty="containerClasses" [(target)]="icon.containerClasses"></app-input-text>
  </div>
</details>
<app-title-params titleparams="Parámetros de items"></app-title-params>
<details>
  <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
    <span>Mostrar</span>
  </summary>
  <div class="py-sm">
    <p>Número de items</p>
    <input type="number" class="c-input form-input block mt-sm" [ngModel]="items.length" (ngModelChange)="changeItems($event)" min="0" max="3">
  </div>
</details>
