<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Implementación con 2 niveles"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-breadcrumbs [classes]="classes"
                  id="implementacion2niveles">
  <desy-breadcrumbs-item routerLink="/collapsible">Section</desy-breadcrumbs-item>
  <desy-breadcrumbs-item routerLink="/fieldset">Sub-section</desy-breadcrumbs-item>
</desy-breadcrumbs>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación con 3 niveles y collapseOnMobile"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-breadcrumbs [classes]="classes"
                  id="implementacion3niveles"
                  [collapseOnMobile]=true>
  <desy-breadcrumbs-item routerLink="/">Home</desy-breadcrumbs-item>
  <desy-breadcrumbs-item routerLink="/collapsible">Section</desy-breadcrumbs-item>
  <desy-breadcrumbs-item routerLink="/fieldset">Sub-section</desy-breadcrumbs-item>
</desy-breadcrumbs>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación con 3 niveles y inlineOnMobile"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-breadcrumbs [classes]="classes"
                  id="implementacion3niveles"
                  [inlineOnMobile]=true>
  <desy-breadcrumbs-item routerLink="/">Home</desy-breadcrumbs-item>
  <desy-breadcrumbs-item routerLink="/collapsible">Section</desy-breadcrumbs-item>
  <desy-breadcrumbs-item routerLink="/fieldset">Sub-section</desy-breadcrumbs-item>
</desy-breadcrumbs>

<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Breadcrumbs configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-breadcrumbs [classes]="classes"
                  [id]="id"
                  [collapseOnMobile]="collapseOnMobile"
                  [inlineOnMobile]="inlineOnMobile"
                  [inlineOnDesktop]="inlineOnDesktop"
                  [hasBackButton]="hasBackButton"
                  [role]="role"
                  [ariaLabel]="ariaLabel"
                  [ariaDescribedBy]="ariaDescribedBy"
                  [ariaLabelledBy]="ariaLabelledBy"
                  [ariaHidden]="ariaHidden"
                  [ariaDisabled]="ariaDisabled"
                  [ariaControls]="ariaControls"
                  [ariaCurrent]="ariaCurrent"
                  [ariaLive]="ariaLive"
                  [ariaExpanded]="ariaExpanded"
                  [ariaErrorMessage]="ariaErrorMessage"
                  [ariaHasPopup]="ariaHasPopup"
                  [tabindex]="tabindex">
  <ng-container *ngFor="let item of items">
    <desy-breadcrumbs-item [id]="item.id"
                           [routerLink]="item.routerLink"
                           [role]="role"
                           [ariaLabel]="ariaLabel"
                           [ariaDescribedBy]="ariaDescribedBy"
                           [ariaLabelledBy]="ariaLabelledBy"
                           [ariaHidden]="ariaHidden"
                           [ariaDisabled]="ariaDisabled"
                           [ariaControls]="ariaControls"
                           [ariaCurrent]="ariaCurrent"
                           [ariaLive]="ariaLive"
                           [ariaExpanded]="ariaExpanded"
                           [ariaErrorMessage]="ariaErrorMessage"
                           [ariaHasPopup]="ariaHasPopup"
                           [tabindex]="tabindex">{{ item.html ? item.html : item.text }}</desy-breadcrumbs-item>
  </ng-container>
</desy-breadcrumbs>

<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="c-breadcrumbs c-breadcrumbs--collapse-on-mobile .c-breadcrumbs--inline-on-mobile" nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="CollapseOnMobile" [(target)]="collapseOnMobile"> </app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="InlineOnMobile" [(target)]="inlineOnMobile"> </app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="inlineOnDesktop" [(target)]="inlineOnDesktop"> </app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="HasBackButton" [(target)]="hasBackButton"> </app-input-boolean>
  </div>

  <app-accessibility-inputs [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [hideAriaDescribedBy]="true"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [hideAriaErrorMessage]="true"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
      <app-title-params titleparams="Parámetros de item"></app-title-params>
      <app-input-text nameComponent="item" placeholder="..." nameProperty="text" [(target)]="item.text"> </app-input-text>
      <app-input-text nameComponent="item" placeholder="..." nameProperty="html" [(target)]="item.html"> </app-input-text>
      <app-input-text nameComponent="item" placeholder="..." nameProperty="routerLink" [(target)]="item.routerLink"> </app-input-text>
      <app-input-text nameComponent="item" nameProperty="id" [(target)]="item.id"> </app-input-text>
  </div>
     <app-accessibility-inputs title="Parámetros de accesibilidad del item" id="crumb"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"
                            [(tabindex)]="item.tabindex"></app-accessibility-inputs>
</div>
