<app-title-demo [name]="nameComponent" id="error-summary"></app-title-demo>

<app-implementation-info info="Error-summary configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-error-summary [classes]="classes"
                    [id]="id + '-content'"
                    [role]="role"
                    [headingLevel]="headingLevel"
                    [ariaLabel]="ariaLabel"
                    [ariaDescribedBy]="ariaDescribedBy"
                    [ariaLabelledBy]="ariaLabelledBy"
                    [ariaHidden]="ariaHidden"
                    [ariaDisabled]="ariaDisabled"
                    [ariaControls]="ariaControls"
                    [ariaCurrent]="ariaCurrent"
                    [ariaLive]="ariaLive"
                    [ariaExpanded]="ariaExpanded"
                    [ariaErrorMessage]="ariaErrorMessage"
                    [ariaHasPopup]="ariaHasPopup"
                    [tabindex]="tabindex">
  <desy-title>
    <ng-container *appCustomInnerContent="{ html: titleHtml }"></ng-container>
  </desy-title>
  <desy-description>
    <ng-container *appCustomInnerContent="{ html: descriptionHtml }"></ng-container>
  </desy-description>
  <desy-error-summary-item *ngFor="let error of errorList"
                           [fragment]="error.fragment"
                           [role]="error.role"
                           [ariaLabel]="error.ariaLabel"
                           [ariaDescribedBy]="error.ariaDescribedBy"
                           [ariaLabelledBy]="error.ariaLabelledBy"
                           [ariaHidden]="error.ariaHidden"
                           [ariaDisabled]="error.ariaDisabled"
                           [ariaControls]="error.ariaControls"
                           [ariaCurrent]="error.ariaCurrent"
                           [ariaLive]="error.ariaLive"
                           [ariaExpanded]="error.ariaExpanded"
                           [ariaErrorMessage]="error.ariaErrorMessage"
                           [ariaHasPopup]="error.ariaHasPopup"
                           [tabindex]="error.tabindex">
    <ng-container *appCustomInnerContent="{ html: error.html }"></ng-container>
  </desy-error-summary-item>
</desy-error-summary>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Error-summary simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-error-summary>
  <desy-title>
    Problemas encontrados
  </desy-title>
  <desy-error-summary-item>
    Nombre de usuario o contraseña incorrectos.
  </desy-error-summary-item>
</desy-error-summary>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
    <div>
        <app-title-params></app-title-params>
        <app-input-text [nameComponent]="nameComponent" placeholder="p-base border-2 border-alert-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="titleHtml" [(target)]="titleHtml"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="descriptionHtml" [(target)]="descriptionHtml"> </app-input-text>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"></app-input-number>
        <app-input-number [nameComponent]="nameComponent" nameProperty="Número de items (autogenerados)"
                          description="Número de items autogenerados" [(target)]="numAutogeneratedItems"
                          (targetChange)="refreshItemList()"></app-input-number>
    </div>

    <app-accessibility-inputs
                [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [(ariaDescribedBy)]="ariaDescribedBy"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [(ariaErrorMessage)]="ariaErrorMessage"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros de item"></app-title-params>
        <app-input-text nameComponent="item" description="anchor (sin #)" nameProperty="fragment" [(target)]="item.fragment"> </app-input-text>
        <app-input-text nameComponent="item" nameProperty="html" [(target)]="item.html"> </app-input-text>
        <app-input-text nameComponent="item" nameProperty="id" [(target)]="item.id"> </app-input-text>
    </div>

    <app-accessibility-inputs title="Parámetros de accesibilidad del item" id="item"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"
                            [(tabindex)]="item.tabindex"></app-accessibility-inputs>

</div>
