<app-title-demo [name]="nameComponent"></app-title-demo>

<p>Para utilizar este componente correctamente, es necesario instalar e importar cally al proyecto
  <code>npm i cally</code> e <code>import 'cally'</code>
</p>

<p>Usa el parámetro <code>standalone = true</code> para mostrar solo el calendario sin el input.
  Usa la documentación de la librería
  <a href="https://wicky.nillia.ms/cally/"
     class="c-link"
     title="Se abre en ventana nueva"
     target="_blank">Cally<svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 16 16"
         height="0.8em"
         width="0.8em"
         class="inline-block mx-xs no-underline align-baseline"
         aria-hidden="true"
         focusable="false"
         role="img">
      <g>
        <path fill="currentcolor"
              fill-rule="evenodd"
              d="M7.428571428571428 0.5714285714285714c-0.6311885714285713 0 -1.1428571428571428 0.5116742857142856 -1.1428571428571428 1.1428571428571428 0 0.6311771428571428 0.5116685714285714 1.1428571428571428 1.1428571428571428 1.1428571428571428h4.098057142857143L0.9061634285714285 13.477599999999999c-0.4463131428571428 0.4462857142857143 -0.4463131428571428 1.1699428571428572 0 1.6162285714285711 0.4463165714285714 0.4462857142857143 1.1699279999999999 0.4462857142857143 1.616248 0L13.142857142857142 4.473382857142857V8.571428571428571c0 0.6311771428571428 0.5116571428571428 1.1428571428571428 1.1428571428571428 1.1428571428571428s1.1428571428571428 -0.51168 1.1428571428571428 -1.1428571428571428v-6.857142857142857c0 -0.6311828571428572 -0.5116571428571428 -1.1428571428571428 -1.1428571428571428 -1.1428571428571428h-6.857142857142857Z"
              clip-rule="evenodd"
              stroke-width="1"></path>
      </g>
    </svg></a> para añadir el calendario con content.
</p>

<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Standalone fecha única"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-datepicker [standalone]="true">
  <calendar-date min="2024-01-01"
                 max="2024-12-31"
                 locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-date>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Standalone fecha única y selector de año"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-datepicker [standalone]="true">
  <calendar-date value="2024-01-10"
                 min="2024-01-01"
                 max="2024-12-31"
                 locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="heading"
         class="order-first w-full flex justify-center">
      <!-- select -->
      <div class="c-form-group -mb-12">
        <!-- label -->
        <label class="block text-sm"
               for="select-years-datepicker-years">Selecciona año</label>
        <!-- /label -->
        <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-select--sm w-full"
                id="select-years-datepicker-years"
                name="select-years-datepicker-years">
          <option value="2024"
                  selected>2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
      <!-- /select -->
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-date>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Standalone fechas múltiples"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-datepicker [standalone]="true">
  <calendar-multi value="2024-01-10 2024-01-20"
                  min="2024-01-01"
                  max="2024-12-31"
                  locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-multi>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Standalone rango de fechas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-datepicker [standalone]="true">
  <calendar-range value="2024-01-10/2024-01-20"
                  min="2024-01-01"
                  max="2024-12-31"
                  locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-range>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Standalone rango de fechas 2 meses y selector de año"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-datepicker [standalone]="true">
  <calendar-range months="2"
                  value="2024-01-16/2024-02-04"
                  min="2024-01-01"
                  max="2024-12-31"
                  locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="heading"
         class="order-first w-full flex justify-center">
      <!-- select -->
      <div class="c-form-group -mb-12">
        <!-- label -->
        <label class="block text-sm"
               for="select-years-datepicker-range2">Selecciona año</label>
        <!-- /label -->
        <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-select--sm w-full"
                id="select-years-datepicker-range2"
                name="select-years-datepicker-range2">
          <option value="2024"
                  selected>2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
      <!-- /select -->
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
      <calendar-month offset="1"></calendar-month>
    </div>
  </calendar-range>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Datepicker simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml5" [codeTs]="mostrarCodigo.codigoTs5"></app-show-code>
<desy-datepicker [standalone]="false"
                 id="datepicker-default">

  <desy-label>Elige fecha de inicio</desy-label>
  <desy-hint>Usa el formato: <span aria-hidden="true">AAAA-MM-DD (año-mes-día)</span><span class="sr-only">año con 4
      dígitos, guión simple, mes con dos dígitos, guión simple y día con dos dígitos</span>
  </desy-hint>

  <calendar-date min="2024-01-01"
                 max="2024-12-31"
                 locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-date>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Fechas múltiples"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml6" [codeTs]="mostrarCodigo.codigoTs6"></app-show-code>
<desy-datepicker id="multiples" [(ngModel)]="valueMultiple">

  <desy-label>Elige tus días disponibles</desy-label>
  <desy-hint>Usa el formato: <span aria-hidden="true">AAAA-MM-DD (año-mes-día)</span><span class="sr-only">año con 4
      dígitos, guión simple, mes con dos dígitos, guión simple y día con dos dígitos</span>. Separa tus fechas con un
    espacio.
  </desy-hint>

  <calendar-multi value="2024-01-10 2024-01-20"
                  min="2024-01-01"
                  max="2024-12-31"
                  locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-multi>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Rango de fechas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml7" [codeTs]="mostrarCodigo.codigoTs7"></app-show-code>
<desy-datepicker id="ranges" [(ngModel)]="valueRange">

  <desy-label>Elige tus días disponibles</desy-label>
  <desy-hint>Usa el formato: <span aria-hidden="true">AAAA-MM-DD (año-mes-día)</span><span class="sr-only">año con 4
      dígitos, guión simple, mes con dos dígitos, guión simple y día con dos dígitos</span>. Separa la fecha inicial de
    la final con una barra /."</desy-hint>

  <calendar-range value="2024-01-10/2024-01-20"
                  min="2024-01-01"
                  max="2024-12-31"
                  locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
    </div>
  </calendar-range>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Rango de fechas 2 meses y selector de año"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml8" [codeTs]="mostrarCodigo.codigoTs8"></app-show-code>
<desy-datepicker id="ranges-selector" [(ngModel)]="valueRangeSelector">

  <desy-label>Elige tus días disponibles</desy-label>
  <desy-hint>Usa el formato: <span aria-hidden="true">AAAA-MM-DD (año-mes-día)</span><span class="sr-only">año con 4
      dígitos, guión simple, mes con dos dígitos, guión simple y día con dos dígitos</span>. Separa la fecha inicial de
    la final con una barra /."</desy-hint>

  <calendar-range months="2"
                  value="2024-01-16/2024-02-04"
                  min="2024-01-01"
                  max="2024-12-31"
                  locale="es-ES">
    <div slot="previous">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes anterior">
        <path d="M4.00001 7.97945C4.00001 7.63023 4.14967 7.3309 4.39911 7.13135L9.93669 2.19243C10.3358 1.8931 10.9345 1.94298 11.2338 2.34209C11.5331 2.74119 11.5331 3.28996 11.134 3.58929L6.24497 7.87967C6.19508 7.92956 6.19508 7.97945 6.24497 8.07922L11.134 12.3696C11.5331 12.7188 11.583 13.2676 11.2338 13.6667C10.8846 14.0658 10.3358 14.1157 9.93669 13.7665C9.93669 13.7665 9.93669 13.7665 9.8868 13.7166L4.34922 8.82754C4.14967 8.62799 4.00001 8.27877 4.00001 7.97945Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="next">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 16 16"
           height="1em"
           width="1em"
           class="self-center my-1"
           focusable="false"
           role="img"
           aria-label="Mes siguiente">
        <path d="M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z"
              fill="currentColor"></path>
      </svg>
    </div>

    <div slot="heading"
         class="order-first w-full flex justify-center">
      <!-- select -->
      <div class="c-form-group -mb-12">
        <!-- label -->
        <label class="block text-sm"
               for="select-years-datepicker-with-hint-text">Selecciona año</label>
        <!-- /label -->
        <select class="c-select block mt-sm transition duration-150 ease-in-out border-black rounded font-semibold focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-select--sm w-full"
                id="select-years-datepicker-with-hint-text"
                name="select-years-datepicker-with-hint-text">
          <option value="2024"
                  selected>2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
        </select>
      </div>
      <!-- /select -->
    </div>

    <div class="flex flex-wrap justify-center gap-lg">
      <calendar-month></calendar-month>
      <calendar-month offset="1"></calendar-month>
    </div>
  </calendar-range>
</desy-datepicker>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Datepicker configurable con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml9" [codeTs]="mostrarCodigo.codigoTs9"></app-show-code>
<desy-datepicker [id]="id + '-withNgModelContent'"
                 [(ngModel)]="value"
                 [standalone]="standalone"
                 [formGroupClasses]="formGroupClasses"
                 [classes]="classes"
                 [containerClasses]="containerClasses"
                 [inputmode]="inputmode"
                 [describedBy]="describedBy"
                 [errorId]="errorId"
                 [autocomplete]="autocomplete"
                 [pattern]="pattern"
                 [placeholder]="placeholder"
                 [attributes]="attributes"
                 [dropdownClasses]="dropdownClasses"
                 [name]="name"
                 [type]="type"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaDescribedBy]="ariaDescribedBy"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaErrorMessage]="ariaErrorMessage"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex">
  <desy-hint [classes]="hintData.classes">
    <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
  </desy-hint>
  <desy-error-message *ngIf="errorMessageData.html"
                      [classes]="errorMessageData.classes"
                      [visuallyHiddenText]="errorMessageData.visuallyHiddenText">
    <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
  </desy-error-message>
  <desy-label [classes]="labelData.classes">
    <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
  </desy-label>

  <ng-container *appCustomInnerContent="{ html: calendar }"></ng-container>

</desy-datepicker>
<p>Valor: {{ value | json }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<!-- Configuración -->
<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary
               class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-boolean [nameComponent]="nameComponent"
                           nameProperty="standalone"
                           [(target)]="standalone"></app-input-boolean>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="calendar"
                        [(target)]="calendar"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="name"
                        [(target)]="name"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="type"
                        [(target)]="type"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="inputmode"
                        [(target)]="inputmode"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="describedBy"
                        [(target)]="describedBy"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="errorId"
                        [(target)]="errorId"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="autocomplete"
                        [(target)]="autocomplete"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="pattern"
                        [(target)]="pattern"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="placeholder"
                        [(target)]="placeholder"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="attributes"
                        [(target)]="attributes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="dropdownClasses"
                        [(target)]="dropdownClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="formGroupClasses"
                        [(target)]="containerClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="formGroupClasses"
                        [(target)]="containerClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        placeholder="text-primary-base ..."
                        nameProperty="classes"
                        [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        placeholder="bg-warning-light ..."
                        nameProperty="formGroupClasses"
                        [(target)]="formGroupClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent"
                        nameProperty="id"
                        [(target)]="id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>
  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary
               class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint"
                        nameProperty="html"
                        [(target)]="hintData.html"></app-input-text>
        <app-input-text nameComponent="hint"
                        placeholder="text-primary-base uppercase ..."
                        nameProperty="classes"
                        [(target)]="hintData.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div></div>

  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary
               class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="label"
                        nameProperty="html"
                        [(target)]="labelData.html"></app-input-text>
        <app-input-text nameComponent="label"
                        placeholder="text-primary-base uppercase ..."
                        nameProperty="classes"
                        [(target)]="labelData.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div></div>

  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary
               class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="errorMessage"
                        nameProperty="html"
                        [(target)]="errorMessageData.html"></app-input-text>
        <app-input-text nameComponent="errorMessage"
                        nameProperty="visuallyHiddenText"
                        [(target)]="errorMessageData.visuallyHiddenText"></app-input-text>
        <app-input-text nameComponent="errorMessage"
                        placeholder="text-primary-base uppercase ..."
                        nameProperty="classes"
                        [(target)]="errorMessageData.classes"></app-input-text>
      </div>
    </details>
  </div>
  <div></div>

</div>