<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Description-list configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-description-list [classes]="classes"
                       [id]="id"
                       [role]="role"
                       [ariaLabel]="ariaLabel"
                       [ariaDescribedBy]="ariaDescribedBy"
                       [ariaLabelledBy]="ariaLabelledBy"
                       [ariaHidden]="ariaHidden"
                       [ariaDisabled]="ariaDisabled"
                       [ariaControls]="ariaControls"
                       [ariaCurrent]="ariaCurrent"
                       [ariaLive]="ariaLive"
                       [ariaExpanded]="ariaExpanded"
                       [ariaErrorMessage]="ariaErrorMessage"
                       [ariaHasPopup]="ariaHasPopup"
                       [tabindex]="tabindex">
  <desy-description-item [id]="item.id"
                         [classes]="item.classes">
    <desy-term [classes]="item.term.classes"
               [id]="item.term.id">
      <ng-container *appCustomInnerContent="{ html: item.term.html }"></ng-container>
    </desy-term>
    <desy-definition [classes]="item.definition.classes"
                     [id]="item.definition.id">
      <ng-container *appCustomInnerContent="{ html: item.definition.html }"></ng-container>
    </desy-definition>
  </desy-description-item>
</desy-description-list>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Description-list simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-description-list>
  <desy-description-item>
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
</desy-description-list>
<app-spaced [withBorder]="true"></app-spaced>


<app-implementation-info info="Description-list con icono"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-description-list classes="inline-block p-base border border-neutral-base rounded">
  <desy-description-item>
    <desy-term classes="mb-sm">Expedientes abiertos &darr;</desy-term>
    <desy-definition>
      <span class="font-bold text-4xl">45</span> 
      <svg class="inline-block align-baseline ml-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.6rem" height="1.6rem">
        <path d="M140 20a20 20 0 00-20-20H20A20 20 0 000 20v100a20 20 0 0020 20h70a10 10 0 007.07-2.93l40-40A10 10 0 00140 90zM20 22.5a2.5 2.5 0 012.5-2.5h95a2.5 2.5 0 012.5 2.5v55a2.5 2.5 0 01-2.5 2.5H95a15 15 0 00-15 15v22.5a2.5 2.5 0 01-2.5 2.5h-55a2.5 2.5 0 01-2.5-2.5z" />
      </svg>
      <a href="/" class="c-link block mt-sm font-normal text-sm">Ver todos</a>
    </desy-definition>
  </desy-description-item>
</desy-description-list>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Description-list horizontal"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-description-list classes="flex w-full">
  <desy-description-item classes="flex-1 pr-base">
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
  <desy-description-item classes="flex-1 pr-base">
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
  <desy-description-item classes="flex-1 pr-base">
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
</desy-description-list>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="flex w-full ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
  </div>
  <app-accessibility-inputs [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [hideAriaDescribedBy]="true"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [hideAriaErrorMessage]="true"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
      <app-title-params titleparams="Parámetros de item"></app-title-params>
      <app-input-text nameComponent="item" placeholder="mb-base ..." nameProperty="classes" [(target)]="item.classes"> </app-input-text>
      <app-input-text nameComponent="item" nameProperty="id" [(target)]="item.id"> </app-input-text>
  </div>

   <app-accessibility-inputs title="Parámetros de accesibilidad del item" id="item"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"
                            [(tabindex)]="item.tabindex"></app-accessibility-inputs>

  <div>
      <app-title-params titleparams="Parámetros de Term del item"></app-title-params>
      <app-input-text nameComponent="term" nameProperty="html" [(target)]="item.term.html"> </app-input-text>
      <app-input-text nameComponent="term" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="item.term.classes"> </app-input-text>
      <app-input-text nameComponent="term" nameProperty="id" [(target)]="item.term.id"> </app-input-text>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de term del item" id="term"
                        [(role)]="item.term.role"
                        [(ariaLabel)]="item.term.ariaLabel"
                        [(ariaDescribedBy)]="item.term.ariaDescribedBy"
                        [(ariaLabelledBy)]="item.term.ariaLabelledBy"
                        [(ariaHidden)]="item.term.ariaHidden"
                        [(ariaDisabled)]="item.term.ariaDisabled"
                        [(ariaControls)]="item.term.ariaControls"
                        [(ariaCurrent)]="item.term.ariaCurrent"
                        [(ariaLive)]="item.term.ariaLive"
                        [(ariaExpanded)]="item.term.ariaExpanded"
                        [(ariaErrorMessage)]="item.term.ariaErrorMessage"
                        [(ariaHasPopup)]="item.term.ariaHasPopup"
                        [(tabindex)]="item.term.tabindex"></app-accessibility-inputs>

  <div>
      <app-title-params titleparams="Parámetros de Definition del item"></app-title-params>
      <app-input-text nameComponent="definition" nameProperty="html" [(target)]="item.definition.html"> </app-input-text>
      <app-input-text nameComponent="definition" placeholder="font-bold text-xl ..." nameProperty="classes" [(target)]="item.definition.classes"> </app-input-text>
      <app-input-text nameComponent="definition" nameProperty="id" [(target)]="item.definition.id"> </app-input-text>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de definition del item" id="definition"
                        [(role)]="item.definition.role"
                        [(ariaLabel)]="item.definition.ariaLabel"
                        [(ariaDescribedBy)]="item.definition.ariaDescribedBy"
                        [(ariaLabelledBy)]="item.definition.ariaLabelledBy"
                        [(ariaHidden)]="item.definition.ariaHidden"
                        [(ariaDisabled)]="item.definition.ariaDisabled"
                        [(ariaControls)]="item.definition.ariaControls"
                        [(ariaCurrent)]="item.definition.ariaCurrent"
                        [(ariaLive)]="item.definition.ariaLive"
                        [(ariaExpanded)]="item.definition.ariaExpanded"
                        [(ariaErrorMessage)]="item.definition.ariaErrorMessage"
                        [(ariaHasPopup)]="item.definition.ariaHasPopup"
                        [(tabindex)]="item.definition.tabindex"></app-accessibility-inputs>
</div>
