<div [class]="classes ? classes : null"
  [desyAppAccessibility]="this">
  <div [class]="containerClasses">
    <!-- Super -->
    <div *ngIf="cardSuperComponent" 
     [class]="cardSuperComponent.classes ? cardSuperComponent.classes : 'h-32 bg-cover bg-center bg-no-repeat overflow-hidden'"
     [ngStyle]="getStyle(cardSuperComponent)"
     [desyAppAccessibility]="cardSuperComponent">
      <ng-container *desyCustomInnerContent="{ component: cardSuperComponent }"></ng-container>
    </div>

    <div class="flex">
    <!-- Left -->
        <div *ngIf="cardLeftComponent" 
        [class]="cardLeftComponent.classes ? cardLeftComponent.classes : 'w-1/2 bg-cover bg-center bg-no-repeat overflow-hidden'"
        [ngStyle]="getStyle(cardLeftComponent)"
        [desyAppAccessibility]="cardLeftComponent">
         <ng-container *desyCustomInnerContent="{ component: cardLeftComponent }"></ng-container>
       </div>
       
       <!--Caller equivalent-->
       <div [class.flex-1]="cardLeftComponent || cardRightComponent">
          <ng-content></ng-content>
       </div>

       <!-- Right -->
       <div *ngIf="cardRightComponent" 
       [class]="cardRightComponent.classes ? cardRightComponent.classes : 'w-1/2 bg-cover bg-center bg-no-repeat overflow-hidden'"
       [ngStyle]="getStyle(cardRightComponent)"
       [desyAppAccessibility]="cardRightComponent">
        <ng-container *desyCustomInnerContent="{ component: cardRightComponent }"></ng-container>
      </div>
    </div>
    <!-- Sub -->
    <div *ngIf="cardSubComponent" 
    [class]="cardSubComponent.classes ? cardSubComponent.classes : 'h-32 bg-cover bg-center bg-no-repeat overflow-hidden'"
    [ngStyle]="getStyle(cardSubComponent)"
    [desyAppAccessibility]="cardSubComponent">
     <ng-container *desyCustomInnerContent="{ component: cardSubComponent }"></ng-container>
   </div>
  </div>
</div>




