<div class="dialog-backdrop" [ngClass]="{'active': active}"
     [attr.id]="id ? id : null"
     [desyAppAccessibility]="this">

    <div #focusTrapWrapper [id]="id" [class]="classes"
        [desyClickOutside]="clickOutsideEnabled" (clickOutside)="handleClickOutside()" [desyClickOutsideElem]="childElem">
      <ng-template #container></ng-template>
      <ng-container *ngTemplateOutlet="caller"></ng-container>
      <ng-content></ng-content>
    </div>
</div>