<div [ngSwitch]="headingLevel" class="c-tabs__panel-heading">
  <h1 *ngSwitchCase="1">{{title ? title: 'Contenido'}}</h1>
  <h2 *ngSwitchCase="2">{{title ? title: 'Contenido'}}</h2>
  <h3 *ngSwitchCase="3">{{title ? title: 'Contenido'}}</h3>
  <h4 *ngSwitchCase="4">{{title ? title: 'Contenido'}}</h4>
  <h5 *ngSwitchCase="5">{{title ? title: 'Contenido'}}</h5>
  <h2 *ngSwitchDefault>{{title ? title: 'Contenido'}}</h2>
</div>

<ng-container *ngIf="getItems()">
  <div class="c-tabs__tabs" role="tablist" [attr.aria-label]=tablistAriaLabel>
      <ng-container *ngFor="let item of getItems(); index as i">
              <button #tabSelector
                      (click)="selectTab(i)"
                      (keydown.home)="focusFirstTab($event)"
                      (keydown.end)="focusLastTab($event)"
                      (keydown.arrowleft)="focusPreviousTab(i)"
                      (keydown.arrowright)="focusNextTab(i)"
                      class="group c-tabs__link"
                      [ngClass]="{'opacity-50 pointer-events-none': isDisabled(item)}"
                      [class.c-tabs__link--is-active]="currentTab === i ? true : false"
                      [desyAppAccessibility]="item"
                      [attr.id]="getItemId(i)"
                      [attr.role]="(item.role ? item.role : 'tab')"
                      [attr.aria-selected]="currentTab === i ? 'true' : 'false'"
                      [attr.aria-controls]="'tab-' + getItemId(i)"
                      [attr.tabindex]="(currentTab !== i || item.disabled ? '-1' : null)"
                      [attr.disabled]="isDisabled(item)"
                      [attr.aria-disabled]="isDisabled(item) ? 'true' : (ariaDisabled ? ariaDisabled : null)">
                  <span #tabSelectorContentWrapper class="flex items-center pointer-events-none group-focus:bg-warning-base group-focus:shadow-outline-focus group-focus:outline-none">
                    <ng-container *desyCustomInnerContent="{ component: item.contentComponent, html: item.html, text: item.text}"></ng-container>
                  </span>
              </button>
      </ng-container>
  </div>

  <div [class]="['c-tabs__panel', currentPanel?.classes] | makeHtmlList"
        [desyAppAccessibility]="currentPanel"
        [attr.id]="'tab-' + getItemId(currentTab)"
        [attr.role]="(currentPanel?.role ? currentPanel?.role : 'tabpanel')"
        [attr.aria-labelledby]="getItemId(currentTab)"
        [attr.tabindex]="(currentPanel?.tabindex ? currentPanel?.tabindex : '0')">
    <div [ngSwitch]="headingLevel" class="c-tabs__panel-heading">
      <h1 *ngSwitchCase="1" #tabSrOnly class="inline-flex items-center mb-base lg:mb-0 font-semibold"></h1>
      <h2 *ngSwitchCase="2" #tabSrOnly class="inline-flex items-center mb-base lg:mb-0 font-semibold"></h2>
      <h3 *ngSwitchCase="3" #tabSrOnly class="inline-flex items-center mb-base lg:mb-0 font-semibold"></h3>
      <h4 *ngSwitchCase="4" #tabSrOnly class="inline-flex items-center mb-base lg:mb-0 font-semibold"></h4>
      <h5 *ngSwitchCase="5" #tabSrOnly class="inline-flex items-center mb-base lg:mb-0 font-semibold"></h5>
      <h3 *ngSwitchDefault #tabSrOnly class="inline-flex items-center mb-base lg:mb-0 font-semibold"></h3>
    </div>
    <ng-container *desyCustomInnerContent="{ component: getItemPanel(currentTab), template: currentPanel?.html, html: getPanelContent(currentTab) }"></ng-container>
  </div>
</ng-container>