<div [ngClass]="classesContainer ? classesContainer : 'relative'" [attr.id]="id ? id : null">
  <div [id]="id + '-label'" [class]="['mb-sm', labelComponent?.classes, label?.classes] | makeHtmlList">
    <ng-container *desyCustomInnerContent="{ component: labelComponent, html: label ? getLabelContent(label) : null }"></ng-container>
  </div>
  <button #button [id]="id + '-button'"
          [class]="['c-listbox', classes] | makeHtmlList"
          ngxTippy [tippyProps]="tippyProperties"
          aria-haspopup="listbox"
          [attr.aria-labelledby]="[hasLabel() ? id + '-label' : null, id + '-button'] | makeHtmlList"
          [attr.disabled]="disabled ? 'disabled' : null"
          [attr.aria-disabled]="disabled ? 'true' : (ariaDisabled ? ariaDisabled : null)"
          [desyAppAccessibility]="this">
        <span class="inline-flex self-center max-w-xs align-middle truncate">
          <ng-container *ngIf="!buttonContentHtml">
            <ng-content></ng-content> 
          </ng-container>
          <ng-container *ngIf="buttonContentHtml||text">
            <ng-container *desyCustomInnerContent="{ html: buttonContentHtml, text: text }"></ng-container>
          </ng-container>
        </span>
    <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
  </button>
  <div #tooltip [class]="['c-listbox__tooltip -ml-sm mt-2 border border-neutral-base shadow-md bg-white', classesTooltip] | makeHtmlList">
    <ul *ngIf="itemList"
        #list [id]="id"
        (focus)="onListFocus()"
        (keydown.arrowUp)="moveFocus(currentFocusIndex - 1, $event)"
        (keydown.arrowDown)="moveFocus(currentFocusIndex + 1, $event)"
        (keydown.home)="moveFocus(0, $event)"
        (keydown.end)="moveFocus(items.length - 1, $event)"
        (keydown.space)="onSpace($event)"
        role="listbox"
        tabindex="-1"
        class="text-sm outline-none"
        [attr.aria-labelledby]="hasLabel() ? id : (ariaLabelledBy ? ariaLabelledBy : null)"
        [attr.aria-multiselectable]="isMultiselectable ? 'true' : null"
        [desyAppAccessibility]="this"
        [attr.aria-activedescendant]="lastActiveItems && lastActiveItems.length > 0 ? getItemId(lastActiveItems[0].item, lastActiveItems[0].index) : null">
      <ng-container *ngFor="let item of itemList; index as index">
        <li #option *ngIf="item" role="option" (click)="selectItem(index)"
            [class]="['flex items-center pr-base pl-lg py-sm hover:bg-primary-base hover:text-white focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black', item.classes] | makeHtmlList"
            [ngClass]="{'focused': index === currentFocusIndex}"
            [attr.aria-label]="item.active ? 'true' : (item.ariaLabel ? item.ariaLabel : null)"
            [id]="getItemId(item, index)"
            (desyAttributeChange)="onChangeItemChecked()" [attributesToCheck]="'aria-selected'" [desyAttributeChangeEnabled]="items && items.length > 0"
            [desyAppAccessibility]="item"
            [attr.aria-selected]="item.active">
          <ng-container *desyCustomInnerContent="{ template: item['content'], html: item.html, text: item.text }"></ng-container>
        </li>
      </ng-container>
    </ul>
  </div>
</div>