<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Implementación de input básico con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-input [id]="id"
            [(ngModel)]="value"
            [name]="name"
            [pattern]="pattern"
            [inputmode]="inputmode"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [type]="type"
            [errorId]="errorId"
            [classes]="classes"
            [formGroupClasses]="formGroupClasses"
            [autocomplete]="autocomplete"
            [describedBy]="describedBy"
            [disabled]="disabled"
            [role]="role"
            [ariaLabel]="ariaLabel"
            [ariaDescribedBy]="ariaDescribedBy"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaHidden]="ariaHidden"
            [ariaDisabled]="ariaDisabled"
            [ariaControls]="ariaControls"
            [ariaCurrent]="ariaCurrent"
            [ariaLive]="ariaLive"
            [ariaExpanded]="ariaExpanded"
            [ariaErrorMessage]="ariaErrorMessage"
            [ariaHasPopup]="ariaHasPopup"
            [tabindex]="tabindex">
  <desy-label>
    <ng-container *appCustomInnerContent="{ html: labelData.html}"></ng-container>
  </desy-label>
</desy-input>
<p> Valor: {{value}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación de hint en input"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-input [id]="id + '-hint'"
            [name]="name"
            [pattern]="pattern"
            [inputmode]="inputmode"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [type]="type"
            [errorId]="errorId"
            [classes]="classes"
            [formGroupClasses]="formGroupClasses"
            [autocomplete]="autocomplete"
            [describedBy]="describedBy"
            [disabled]="disabled"
            [role]="role"
            [ariaLabel]="ariaLabel"
            [ariaDescribedBy]="ariaDescribedBy"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaHidden]="ariaHidden"
            [ariaDisabled]="ariaDisabled"
            [ariaControls]="ariaControls"
            [ariaCurrent]="ariaCurrent"
            [ariaLive]="ariaLive"
            [ariaExpanded]="ariaExpanded"
            [ariaErrorMessage]="ariaErrorMessage"
            [ariaHasPopup]="ariaHasPopup"
            [tabindex]="tabindex">
  <desy-label>
    <ng-container *appCustomInnerContent="{ html: labelData.html}"></ng-container>
  </desy-label>
  <desy-hint *ngIf="hintData.html"
             [classes]="hintData.classes"
             [id]="hintData.id"
             [role]="hintData.role"
             [ariaLabel]="hintData.ariaLabel"
             [ariaDescribedBy]="hintData.ariaDescribedBy"
             [ariaLabelledBy]="hintData.ariaLabelledBy"
             [ariaHidden]="hintData.ariaHidden"
             [ariaDisabled]="hintData.ariaDisabled"
             [ariaControls]="hintData.ariaControls"
             [ariaCurrent]="hintData.ariaCurrent"
             [ariaLive]="hintData.ariaLive"
             [ariaExpanded]="hintData.ariaExpanded"
             [ariaErrorMessage]="hintData.ariaErrorMessage"
             [ariaHasPopup]="hintData.ariaHasPopup"
             [tabindex]="hintData.tabindex">
    <ng-container *appCustomInnerContent="{ html: hintData.html}"></ng-container>
  </desy-hint>
</desy-input>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Implementación de errorMessage en input"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-input [id]="id + '-error'"
            [name]="name"
            [pattern]="pattern"
            [inputmode]="inputmode"
            [placeholder]="placeholder"
            [maxlength]="maxlength"
            [type]="type"
            [errorId]="errorId"
            [classes]="classes"
            [formGroupClasses]="formGroupClasses"
            [autocomplete]="autocomplete"
            [describedBy]="describedBy"
            [disabled]="disabled"
            [role]="role"
            [ariaLabel]="ariaLabel"
            [ariaDescribedBy]="ariaDescribedBy"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaHidden]="ariaHidden"
            [ariaDisabled]="ariaDisabled"
            [ariaControls]="ariaControls"
            [ariaCurrent]="ariaCurrent"
            [ariaLive]="ariaLive"
            [ariaExpanded]="ariaExpanded"
            [ariaErrorMessage]="ariaErrorMessage"
            [ariaHasPopup]="ariaHasPopup"
            [tabindex]="tabindex">
  <desy-label>
      <ng-container *appCustomInnerContent="{ html: labelData.html}"></ng-container>
  </desy-label>
  <desy-error-message [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                      [id]="errorMessageData.id"
                      [classes]="errorMessageData.classes"
                      [role]="errorMessageData.role"
                      [ariaLabel]="errorMessageData.ariaLabel"
                      [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                      [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                      [ariaHidden]="errorMessageData.ariaHidden"
                      [ariaDisabled]="errorMessageData.ariaDisabled"
                      [ariaControls]="errorMessageData.ariaControls"
                      [ariaCurrent]="errorMessageData.ariaCurrent"
                      [ariaLive]="errorMessageData.ariaLive"
                      [ariaExpanded]="errorMessageData.ariaExpanded"
                      [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                      [ariaHasPopup]="errorMessageData.ariaHasPopup"
                      [tabindex]="errorMessageData.tabindex">
    <ng-container *appCustomInnerContent="{ html: errorMessageData.html}"></ng-container>
  </desy-error-message>
</desy-input>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Input configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<form [formGroup]="form">
  <desy-input [id]="id + '-full'"
              formControlName="valueFormControl"
              [name]="name"
              [pattern]="pattern"
              [inputmode]="inputmode"
              [placeholder]="placeholder"
              [maxlength]="maxlength"
              [type]="type"
              [errorId]="errorId"
              [classes]="classes"
              [formGroupClasses]="formGroupClasses"
              [autocomplete]="autocomplete"
              [describedBy]="describedBy"
              [disabled]="disabled"
              [role]="role"
              [ariaLabel]="ariaLabel"
              [ariaDescribedBy]="ariaDescribedBy"
              [ariaLabelledBy]="ariaLabelledBy"
              [ariaHidden]="ariaHidden"
              [ariaDisabled]="ariaDisabled"
              [ariaControls]="ariaControls"
              [ariaCurrent]="ariaCurrent"
              [ariaLive]="ariaLive"
              [ariaExpanded]="ariaExpanded"
              [ariaErrorMessage]="ariaErrorMessage"
              [ariaHasPopup]="ariaHasPopup"
              [tabindex]="tabindex">
    <desy-label>
      <ng-container *appCustomInnerContent="{ html: labelData.html}"></ng-container>
    </desy-label>
    <desy-hint *ngIf="hintData.html"
               [classes]="hintData.classes"
               [id]="hintData.id"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message *ngIf="!form.valid"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [id]="errorMessageData.id"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">Soy obligatorio</desy-error-message>
  </desy-input>
</form>
<p> touched: {{form.touched}}</p>
<p> untouched: {{form.untouched}}</p>
<p> dirty: {{form.dirty}}</p>
<p> Valor: {{form.value.valueFormControl}}</p>
<p> Valido: {{form.valid ? 'Sí' : 'No'}}</p>

<app-spaced [withBorder]="true"></app-spaced>

<!-- Configuración -->
<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="email" nameProperty="type" [(target)]="type"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="[0-9]+" nameProperty="pattern" [(target)]="pattern"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="decimal" nameProperty="inputmode" [(target)]="inputmode"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="placeholder" [(target)]="placeholder"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="maxlength" [(target)]="maxlength"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="w-100 ..." nameProperty="formGroupClasses" [(target)]="formGroupClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="autocomplete" [(target)]="autocomplete"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="disabled" [(target)]="disabled"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="errorId" [(target)]="errorId"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [hideAriaErrorMessage]="true"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="label" nameProperty="html" [(target)]="labelData.html"> </app-input-text>
        <app-input-text nameComponent="label" nameProperty="for" [(target)]="labelData.for"> </app-input-text>
        <app-input-text nameComponent="label" placeholder="inline-block bg-warning-light ..." nameProperty="classes" [(target)]="labelData.classes"> </app-input-text>
        <app-input-text nameComponent="label" nameProperty="Id" [(target)]="labelData.id"> </app-input-text>
        <app-input-boolean nameComponent="label" nameProperty="isPageHeading" [(target)]="labelData.isPageHeading"> </app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de label" id="label"
                            [(role)]="labelData.role"
                            [(ariaLabel)]="labelData.ariaLabel"
                            [(ariaDescribedBy)]="labelData.ariaDescribedBy"
                            [(ariaLabelledBy)]="labelData.ariaLabelledBy"
                            [(ariaHidden)]="labelData.ariaHidden"
                            [(ariaDisabled)]="labelData.ariaDisabled"
                            [(ariaControls)]="labelData.ariaControls"
                            [(ariaCurrent)]="labelData.ariaCurrent"
                            [(ariaLive)]="labelData.ariaLive"
                            [(ariaExpanded)]="labelData.ariaExpanded"
                            [(ariaErrorMessage)]="labelData.ariaErrorMessage"
                            [(ariaHasPopup)]="labelData.ariaHasPopup"
                            [(tabindex)]="labelData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint"  nameProperty="html" [(target)]="hintData.html"> </app-input-text>
        <app-input-text nameComponent="hint"  placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="hintData.classes"> </app-input-text>
        <app-input-text nameComponent="hint"  nameProperty="Id" [(target)]="hintData.id"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="hintData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">

        <app-input-text nameComponent="errorMessage" nameProperty="html" [(target)]="errorMessageData.html"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText" [(target)]="errorMessageData.visuallyHiddenText"> </app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="errorMessageData.classes"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="Id" [(target)]="id"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

</div>
