<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Textarea configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<form [formGroup]="form">
  <desy-textarea [id]="id + 'full'"
                 formControlName="valueFormControl"
                 [name]="name"
                 [rows]="rows"
                 [placeholder]="placeholder"
                 [maxlength]="maxlength"
                 [classes]="classes"
                 [formGroupClasses]="formGroupClasses"
                 [autocomplete]="autocomplete"
                 [describedBy]="describedBy"
                 [disabled]="disabled"
                 [role]="role"
                 [ariaLabel]="ariaLabel"
                 [ariaDescribedBy]="ariaDescribedBy"
                 [ariaLabelledBy]="ariaLabelledBy"
                 [ariaHidden]="ariaHidden"
                 [ariaDisabled]="ariaDisabled"
                 [ariaControls]="ariaControls"
                 [ariaCurrent]="ariaCurrent"
                 [ariaLive]="ariaLive"
                 [ariaExpanded]="ariaExpanded"
                 [ariaErrorMessage]="ariaErrorMessage"
                 [ariaHasPopup]="ariaHasPopup"
                 [tabindex]="tabindex">
    <desy-label [classes]="labelData.classes"
                [isPageHeading]="labelData.isPageHeading"
                [for]="labelData.for"
                [id]="labelData.id"
                [role]="labelData.role"
                [ariaLabel]="labelData.ariaLabel"
                [ariaDescribedBy]="labelData.ariaDescribedBy"
                [ariaLabelledBy]="labelData.ariaLabelledBy"
                [ariaHidden]="labelData.ariaHidden"
                [ariaDisabled]="labelData.ariaDisabled"
                [ariaControls]="labelData.ariaControls"
                [ariaCurrent]="labelData.ariaCurrent"
                [ariaLive]="labelData.ariaLive"
                [ariaExpanded]="labelData.ariaExpanded"
                [ariaErrorMessage]="labelData.ariaErrorMessage"
                [ariaHasPopup]="labelData.ariaHasPopup"
                [tabindex]="labelData.tabindex">
      <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
    </desy-label>
    <desy-hint *ngIf="hintData.html"
               [classes]="hintData.classes"
               [id]="hintData.id"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message *ngIf="!form.valid"
                        [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [id]="errorMessageData.id"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">Soy obligatorio</desy-error-message>
  </desy-textarea>
</form>
<p> Valor: {{form.value.valueFormControl}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Textarea simple con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-textarea [id]="id"
               [(ngModel)]="value"
               [name]="name"
               [rows]="rows"
               [placeholder]="placeholder"
               [maxlength]="maxlength"
               [classes]="classes"
               [formGroupClasses]="formGroupClasses"
               [autocomplete]="autocomplete"
               [describedBy]="describedBy"
               [disabled]="disabled"
               [role]="role"
               [ariaLabel]="ariaLabel"
               [ariaDescribedBy]="ariaDescribedBy"
               [ariaLabelledBy]="ariaLabelledBy"
               [ariaHidden]="ariaHidden"
               [ariaDisabled]="ariaDisabled"
               [ariaControls]="ariaControls"
               [ariaCurrent]="ariaCurrent"
               [ariaLive]="ariaLive"
               [ariaExpanded]="ariaExpanded"
               [ariaErrorMessage]="ariaErrorMessage"
               [ariaHasPopup]="ariaHasPopup"
               [tabindex]="tabindex">
  <desy-label [classes]="labelData.classes"
              [isPageHeading]="labelData.isPageHeading"
              [for]="labelData.for"
              [id]="labelData.id"
              [role]="labelData.role"
              [ariaLabel]="labelData.ariaLabel"
              [ariaDescribedBy]="labelData.ariaDescribedBy"
              [ariaLabelledBy]="labelData.ariaLabelledBy"
              [ariaHidden]="labelData.ariaHidden"
              [ariaDisabled]="labelData.ariaDisabled"
              [ariaControls]="labelData.ariaControls"
              [ariaCurrent]="labelData.ariaCurrent"
              [ariaLive]="labelData.ariaLive"
              [ariaExpanded]="labelData.ariaExpanded"
              [ariaErrorMessage]="labelData.ariaErrorMessage"
              [ariaHasPopup]="labelData.ariaHasPopup"
              [tabindex]="labelData.tabindex">
    <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
  </desy-label>
  </desy-textarea>
<p> Valor: {{value}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Textarea con hint"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-textarea [id]="id + '-hint'"
               [name]="name"
               [rows]="rows"
               [placeholder]="placeholder"
               [maxlength]="maxlength"
               [classes]="classes"
               [formGroupClasses]="formGroupClasses"
               [autocomplete]="autocomplete"
               [describedBy]="describedBy"
               [disabled]="disabled"
               [role]="role"
               [ariaLabel]="ariaLabel"
               [ariaDescribedBy]="ariaDescribedBy"
               [ariaLabelledBy]="ariaLabelledBy"
               [ariaHidden]="ariaHidden"
               [ariaDisabled]="ariaDisabled"
               [ariaControls]="ariaControls"
               [ariaCurrent]="ariaCurrent"
               [ariaLive]="ariaLive"
               [ariaExpanded]="ariaExpanded"
               [ariaErrorMessage]="ariaErrorMessage"
               [ariaHasPopup]="ariaHasPopup"
               [tabindex]="tabindex">
  <desy-label [classes]="labelData.classes"
              [isPageHeading]="labelData.isPageHeading"
              [for]="labelData.for"
              [id]="labelData.id"
              [role]="labelData.role"
              [ariaLabel]="labelData.ariaLabel"
              [ariaDescribedBy]="labelData.ariaDescribedBy"
              [ariaLabelledBy]="labelData.ariaLabelledBy"
              [ariaHidden]="labelData.ariaHidden"
              [ariaDisabled]="labelData.ariaDisabled"
              [ariaControls]="labelData.ariaControls"
              [ariaCurrent]="labelData.ariaCurrent"
              [ariaLive]="labelData.ariaLive"
              [ariaExpanded]="labelData.ariaExpanded"
              [ariaErrorMessage]="labelData.ariaErrorMessage"
              [ariaHasPopup]="labelData.ariaHasPopup"
              [tabindex]="labelData.tabindex">
    <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
  </desy-label>
  <desy-hint *ngIf="hintData.html"
             [classes]="hintData.classes"
             [id]="hintData.id"
             [role]="hintData.role"
             [ariaLabel]="hintData.ariaLabel"
             [ariaDescribedBy]="hintData.ariaDescribedBy"
             [ariaLabelledBy]="hintData.ariaLabelledBy"
             [ariaHidden]="hintData.ariaHidden"
             [ariaDisabled]="hintData.ariaDisabled"
             [ariaControls]="hintData.ariaControls"
             [ariaCurrent]="hintData.ariaCurrent"
             [ariaLive]="hintData.ariaLive"
             [ariaExpanded]="hintData.ariaExpanded"
             [ariaErrorMessage]="hintData.ariaErrorMessage"
             [ariaHasPopup]="hintData.ariaHasPopup"
             [tabindex]="hintData.tabindex">
    <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
  </desy-hint>
</desy-textarea>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Textarea con errormMessage"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-textarea [id]="id + '-error'"
               [name]="name"
               [rows]="rows"
               [placeholder]="placeholder"
               [maxlength]="maxlength"
               [classes]="classes"
               [formGroupClasses]="formGroupClasses"
               [autocomplete]="autocomplete"
               [describedBy]="describedBy"
               [disabled]="disabled"
               [role]="role"
               [ariaLabel]="ariaLabel"
               [ariaDescribedBy]="ariaDescribedBy"
               [ariaLabelledBy]="ariaLabelledBy"
               [ariaHidden]="ariaHidden"
               [ariaDisabled]="ariaDisabled"
               [ariaControls]="ariaControls"
               [ariaCurrent]="ariaCurrent"
               [ariaLive]="ariaLive"
               [ariaExpanded]="ariaExpanded"
               [ariaErrorMessage]="ariaErrorMessage"
               [ariaHasPopup]="ariaHasPopup"
               [tabindex]="tabindex">
  <desy-label [classes]="labelData.classes"
              [isPageHeading]="labelData.isPageHeading"
              [for]="labelData.for"
              [id]="labelData.id"
              [role]="labelData.role"
              [ariaLabel]="labelData.ariaLabel"
              [ariaDescribedBy]="labelData.ariaDescribedBy"
              [ariaLabelledBy]="labelData.ariaLabelledBy"
              [ariaHidden]="labelData.ariaHidden"
              [ariaDisabled]="labelData.ariaDisabled"
              [ariaControls]="labelData.ariaControls"
              [ariaCurrent]="labelData.ariaCurrent"
              [ariaLive]="labelData.ariaLive"
              [ariaExpanded]="labelData.ariaExpanded"
              [ariaErrorMessage]="labelData.ariaErrorMessage"
              [ariaHasPopup]="labelData.ariaHasPopup"
              [tabindex]="labelData.tabindex">
    <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
  </desy-label>
  <desy-error-message [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                      [id]="errorMessageData.id"
                      [classes]="errorMessageData.classes"
                      [role]="errorMessageData.role"
                      [ariaLabel]="errorMessageData.ariaLabel"
                      [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                      [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                      [ariaHidden]="errorMessageData.ariaHidden"
                      [ariaDisabled]="errorMessageData.ariaDisabled"
                      [ariaControls]="errorMessageData.ariaControls"
                      [ariaCurrent]="errorMessageData.ariaCurrent"
                      [ariaLive]="errorMessageData.ariaLive"
                      [ariaExpanded]="errorMessageData.ariaExpanded"
                      [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                      [ariaHasPopup]="errorMessageData.ariaHasPopup"
                      [tabindex]="errorMessageData.tabindex">
    <ng-container *appCustomInnerContent="{ html: errorMessageData.html}"></ng-container>
  </desy-error-message>
</desy-textarea>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Textarea con clases de css aplicadas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-textarea formGroupClasses="lg:flex lg:flex-wrap lg:items-start lg:gap-x-base"
               classes="lg:flex-1">
  <desy-label classes="lg:py-sm lg:mt-sm">
    Label inline:
  </desy-label>
  <desy-error-message class="order-1 w-full pt-sm">
    Error: Esto es un mensaje de error
  </desy-error-message>
</desy-textarea>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="rows" [(target)]="rows"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="placeholder" [(target)]="placeholder"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="formGroupClasses" [(target)]="formGroupClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="autocomplete" [(target)]="autocomplete"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="disabled" [(target)]="disabled"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id " [(target)]="id"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="label" nameProperty="html" [(target)]="labelData.html"> </app-input-text>
        <app-input-text nameComponent="label" nameProperty="for" [(target)]="labelData.for"> </app-input-text>
        <app-input-text nameComponent="label" placeholder="inline-block bg-warning-light ..." nameProperty="classes" [(target)]="labelData.classes"> </app-input-text>
        <app-input-text nameComponent="label" nameProperty="Id" [(target)]="labelData.id"> </app-input-text>
        <app-input-boolean nameComponent="label" nameProperty="isPageHeading" [(target)]="labelData.isPageHeading"> </app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de label" id="label"
                            [(role)]="labelData.role"
                            [(ariaLabel)]="labelData.ariaLabel"
                            [(ariaDescribedBy)]="labelData.ariaDescribedBy"
                            [(ariaLabelledBy)]="labelData.ariaLabelledBy"
                            [(ariaHidden)]="labelData.ariaHidden"
                            [(ariaDisabled)]="labelData.ariaDisabled"
                            [(ariaControls)]="labelData.ariaControls"
                            [(ariaCurrent)]="labelData.ariaCurrent"
                            [(ariaLive)]="labelData.ariaLive"
                            [(ariaExpanded)]="labelData.ariaExpanded"
                            [(ariaErrorMessage)]="labelData.ariaErrorMessage"
                            [(ariaHasPopup)]="labelData.ariaHasPopup"
                            [(tabindex)]="labelData.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint"  nameProperty="html" [(target)]="hintData.html"> </app-input-text>
        <app-input-text nameComponent="hint"  placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="hintData.classes"> </app-input-text>
        <app-input-text nameComponent="hint"  nameProperty="Id" [(target)]="hintData.id"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="hintData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">

        <app-input-text nameComponent="errorMessage" nameProperty="html" [(target)]="errorMessageData.html"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText" [(target)]="errorMessageData.visuallyHiddenText"> </app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="errorMessageData.classes"> </app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="Id" [(target)]="id"> </app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

</div>
