<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Modal configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-modal [id]="id"
            [classes]="classes"
            (closeModal)="setTextContent('click en cerrar modal')"
            [isDismissible]="isDismissible"
            [headingLevel]="headingLevel"
            [role]="role"
            [ariaLabel]="ariaLabel"
            [ariaDescribedBy]="ariaDescribedBy"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaHidden]="ariaHidden"
            [ariaDisabled]="ariaDisabled"
            [ariaControls]="ariaControls"
            [ariaCurrent]="ariaCurrent"
            [ariaLive]="ariaLive"
            [ariaExpanded]="ariaExpanded"
            [ariaErrorMessage]="ariaErrorMessage"
            [ariaHasPopup]="ariaHasPopup"
            [tabindex]="tabindex">
    <desy-title [classes]="titleModal.classes">
        <ng-container *appCustomInnerContent="{ html: titleModal.html }"></ng-container>
    </desy-title>
    <desy-description [classes]="description.classes">
        <ng-container *appCustomInnerContent="{ html: description.html }"></ng-container>
    </desy-description>
    <ng-container *ngIf="!activeItemsLoader">
        <ng-container *ngFor="let primaryItem of itemsPrimary">
            <desy-modal-button-primary [classes]="primaryItem.classes"
                                       (clickEvent)="setTextContent('click en botón primario')">
                <ng-container *appCustomInnerContent="{ html: primaryItem.html }"></ng-container>
            </desy-modal-button-primary>
        </ng-container>
        <ng-container *ngFor="let secondaryItem of itemsSecondary">
            <desy-modal-button-secondary [classes]="secondaryItem.classes"
                                         (clickEvent)="setTextContent('click en botón secundario')">
                <ng-container *appCustomInnerContent="{ html: secondaryItem.html }"></ng-container>
            </desy-modal-button-secondary>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="activeItemsLoader">
        <ng-container *ngFor="let primaryItem of itemsLoaderPrimary">
            <desy-modal-button-loader-primary [state]="primaryItem.state"
                                              [classes]="primaryItem.classes"
                                              (clickEvent)="setTextContent('click en botón loader primario')">
                <ng-container *appCustomInnerContent="{ html: primaryItem.html }"></ng-container>
            </desy-modal-button-loader-primary>
        </ng-container>
        <ng-container *ngFor="let secondaryItem of itemsLoaderSecondary">
            <desy-modal-button-loader-secondary [state]="secondaryItem.state"
                                                [classes]="secondaryItem.classes"
                                                (clickEvent)="setTextContent('click en botón loader secundario')">
                <ng-container *appCustomInnerContent="{ html: secondaryItem.html }"></ng-container>
            </desy-modal-button-loader-secondary>
        </ng-container>
    </ng-container>
    <desy-content><ng-container *appCustomInnerContent="{ html: callerContent }"></ng-container></desy-content>
    <desy-icon [type]="icon.type"><ng-container *appCustomInnerContent="{ html: icon.html }"></ng-container></desy-icon>
</desy-modal>
<p *ngIf="textEditableContent">{{textEditableContent}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Modal simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-modal [isDismissible]="true">
    <desy-title>Aviso</desy-title>
    <desy-description>
        Estamos realizando labores de mantenimiento en el sistema. Es posible que algunos procesos tarden más de lo
        esperado. Rogamos disculpas.
    </desy-description>
    <desy-modal-button-primary classes="c-button--primary">
        De acuerdo, continuar
    </desy-modal-button-primary>
</desy-modal>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Modal con button loader"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-modal [isDismissible]="true">
    <desy-title>Aviso</desy-title>
    <desy-description>
        Estamos realizando labores de mantenimiento en el sistema. Es posible que algunos procesos tarden más de lo
        esperado. Rogamos disculpas.
    </desy-description>
    <desy-modal-button-loader-primary state="is-loading"
                                      classes="c-button-loader--primary c-button-loader--is-loading">
        De acuerdo, continuar
    </desy-modal-button-loader-primary>
</desy-modal>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Modal con icono de tipo delete"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-modal [isDismissible]="true">
    <desy-title>Borrar servicio</desy-title>
    <desy-description>
        Esta acción no se puede deshacer ¿Estás seguro?
    </desy-description>
    <desy-modal-button-primary>
        Cancelar <span class="sr-only">y cerrar la ventana modal</span>
    </desy-modal-button-primary>
    <desy-modal-button-secondary classes="c-button--alert">
        Si, borrar servicio
    </desy-modal-button-secondary>
    <desy-icon type="delete"></desy-icon>
</desy-modal>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Modal con icono de tipo discard"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-modal [isDismissible]="true">
    <desy-title>Descartar cambios</desy-title>
    <desy-description>
        Si descartas los cambios, perderás el trabajo realizado en este servicio. ¿Estás seguro?
    </desy-description>
    <desy-modal-button-primary>
        Cancelar <span class="sr-only">y cerrar la ventana modal</span>
    </desy-modal-button-primary>
    <desy-modal-button-secondary classes="c-button--alert">
        Si, descartar cambios
    </desy-modal-button-secondary>
    <desy-icon type="discard"></desy-icon>
</desy-modal>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">

    <div>
      <app-title-params></app-title-params>
      <app-input-text [nameComponent]="nameComponent" placeholder="bg-warning-light..." nameProperty="classes" [(target)]="classes"> </app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
      <app-input-boolean [nameComponent]="nameComponent" description="Mostrar X on top right" nameProperty="isDismissible" [(target)]="isDismissible"> </app-input-boolean>
      <app-input-number [nameComponent]="nameComponent" nameProperty="Nivel de encabezado del título" [(target)]="headingLevel"> </app-input-number>
      <app-input-text [nameComponent]="'caller'" nameProperty="caller" description="Contenido HTML o angular a incluir dentro del modal" [(target)]="callerContent"> </app-input-text>
      <app-input-boolean [nameComponent]="nameComponent" nameProperty="Activar botones con loading" [(target)]="activeItemsLoader"></app-input-boolean>
    </div>

    <app-accessibility-inputs [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [(ariaDescribedBy)]="ariaDescribedBy"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [(ariaErrorMessage)]="ariaErrorMessage"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros de title"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
                <app-input-text nameComponent="title" [nameProperty]="'html'" [(target)]="titleModal.html"></app-input-text>
                <app-input-text nameComponent="title" [nameProperty]="'classes'" [(target)]="titleModal.classes"></app-input-text>
            </div>
        </details>
        <app-title-params titleparams="Parámetros de description"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
                <app-input-text nameComponent="description" [nameProperty]="'html'" [(target)]="description.html"></app-input-text>
                <app-input-text nameComponent="description" [nameProperty]="'classes'" [(target)]="description.classes"></app-input-text>
            </div>
        </details>
        <app-title-params titleparams="Parámetros de icon"></app-title-params>
        <details>
            <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                <span>Mostrar</span>
            </summary>
            <div class="py-sm">
                <app-input-text nameComponent="icon" [nameProperty]="'html'" [(target)]="icon.html"></app-input-text>
                <app-input-text nameComponent="icon" [nameProperty]="'type'" [(target)]="icon.type" placeholder="discard, delete, edit, changes and publish"></app-input-text>
                <i>discard, delete, edit, changes and publish</i>
            </div>
        </details>
        <app-title-params titleparams="Parámetros de itemsPrimary"></app-title-params>
            <details>
                <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                    <span>Mostrar</span>
                </summary>
                <div class="py-sm">
                    <app-input-text nameComponent="itemP" nameProperty="html" [(target)]="itemP.html"> </app-input-text>
                    <app-input-text nameComponent="itemP" nameProperty="classes" [(target)]="itemP.classes"> </app-input-text>
                    <app-input-boolean nameComponent="itemP" nameProperty="disabled" [(target)]="itemP.disabled"> </app-input-boolean>
                </div>
        </details>
        <app-title-params titleparams="Parámetros de itemsSecondary"></app-title-params>
            <details>
                <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                    <span>Mostrar</span>
                </summary>
                <div class="py-sm">
                    <app-input-text nameComponent="itemS" nameProperty="html" [(target)]="itemS.html"> </app-input-text>
                    <app-input-text nameComponent="itemS" nameProperty="classes" [(target)]="itemS.classes"> </app-input-text>
                    <app-input-boolean nameComponent="itemS" nameProperty="disabled" [(target)]="itemS.disabled"> </app-input-boolean>
                </div>
        </details>

        <app-title-params titleparams="Parámetros de itemsLoaderPrimary"></app-title-params>
            <details>
                <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                    <span>Mostrar</span>
                </summary>
                <div class="py-sm">
                    <app-input-text nameComponent="itemLoaderP" nameProperty="html" [(target)]="itemLoaderP.html"> </app-input-text>
                    <app-input-text nameComponent="itemLoaderP" nameProperty="classes" [(target)]="itemLoaderP.classes"> </app-input-text>
                    <app-input-text nameComponent="itemLoaderP" nameProperty="state" [(target)]="itemLoaderP.state"> </app-input-text>
                </div>
        </details>

        <app-title-params titleparams="Parámetros de itemsLoaderSecondary"></app-title-params>
            <details>
                <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                    <span>Mostrar</span>
                </summary>
                  <div class="py-sm">
                    <app-input-text nameComponent="itemLoaderS" nameProperty="html" [(target)]="itemLoaderS.html"> </app-input-text>
                    <app-input-text nameComponent="itemLoaderS" nameProperty="classes" [(target)]="itemLoaderS.classes"> </app-input-text>
                    <app-input-text nameComponent="itemLoaderS" nameProperty="state" [(target)]="itemLoaderS.state"> </app-input-text>
                  </div>
        </details>
    </div>

</div>


