<div [class]="classes" [ngClass]="{'border-t border-b border-neutral-base -mb-px': hasDividers}">
  <div class="relative flex items-start py-xs">
    <div class="flex items-center mx-sm">
      <input #input class="w-6 h-6 transition duration-150 ease-in-out border-black focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-offset-0 focus:ring-warning-base disabled:bg-neutral-base disabled:border-neutral-base text-primary-base"
             [id]="id + '-input'"
             [name]="name"
             [type]="type === 'checkbox' ? 'checkbox' : 'radio'"
             [value]="value"
             [checked]="checked"
             (change)="hasChanged()"
             [disabled]="disabled ? disabled : null"
             [attr.aria-invalid]="hasError ? 'true' : null"

             [attr.role]="role ? role : 'group'"
             [desyAppAccessibility]="this"
             [attr.aria-describedby]="itemDescribedBy"

             (keydown.home)="preventDefault($event)"
             (keydown.end)="preventDefault($event)"
             (keydown.arrowup)="preventDefault($event)"
             (keydown.arrowdown)="preventDefault($event)"
             (keydown.arrowright)="preventDefault($event)"
             (keydown.arrowleft)="preventDefault($event)">
    </div>
    <div #contentWrapper class="flex-1 pt-0.5 leading-5">
      <ng-content></ng-content>
    </div>
  </div>
</div>
