<!-- searchbar -->
<ng-content select="desy-label"></ng-content>
<ng-container *ngTemplateOutlet="labelRef"></ng-container>
<desy-label *ngIf="!labelRef && labelData"
            [text]="labelData.text"
            [html]="labelData.html"
            [classes]="['sr-only', labelData.classes] | makeHtmlList"
            [isPageHeading]="labelData.isPageHeading"
            [for]="id"
            [role]="labelData.role"
            [ariaLabel]="labelData.ariaLabel"
            [ariaDescribedBy]="labelData.ariaDescribedBy"
            [ariaLabelledBy]="labelData.ariaLabelledBy"
            [ariaHidden]="labelData.ariaHidden"
            [ariaDisabled]="labelData.ariaDisabled"
            [ariaControls]="labelData.ariaControls"
            [ariaCurrent]="labelData.ariaCurrent"
            [ariaLive]="labelData.ariaLive"
            [ariaExpanded]="labelData.ariaExpanded"
            [ariaErrorMessage]="labelData.ariaErrorMessage"
            [ariaHasPopup]="labelData.ariaHasPopup"
            [tabindex]="labelData.tabindex"></desy-label>
<desy-label *ngIf="!labelRef && !labelData && labelText" [text]="labelText" classes="sr-only" [for]="id"></desy-label>

<div class="relative" [ngClass]="{'flex flex-wrap items-end gap-sm': hasButton()}">
  <input type="search"
         [class]="['c-input block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base', classes] | makeHtmlList"
         [ngClass]="{'border-alert-base ring-2 ring-alert-base': hasErrorsMessage(),'pr-12 w-full': !hasButton()}"
         [value]="value" (input)="onInput($event)"
         [attr.id]="id ? id : null"
         [attr.name]="id ? id : null"
         [attr.aria-describedby]="[describedBy, getErrorId()] | makeHtmlList:null"
         [attr.aria-errormessage]="hasErrorsMessage() ? getErrorId() : null"
         [attr.aria-invalid]="hasErrorsMessage() ? true : null"
         [attr.disabled]="disabled ? true : null"
         [desyAppAccessibility]="this">
  <ng-container *ngIf="hasButton(); else defaultButton">
    <ng-content select="desy-button"></ng-content>
  </ng-container>
  <ng-template #defaultButton>
    <button type="submit" [attr.disabled]="disabled ? 'disabled' : null" [attr.aria-disabled]="disabled ? 'true' : null"
            (click)="onClick($event)"
            [class]="['absolute top-0 right-0 m-sm p-0.5 text-primary-base hover:text-primary-dark focus:bg-warning-base focus:outline-none focus:shadow-outline-focus', buttonClasses] | makeHtmlList">
      <span class="sr-only">Buscar</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.375em" height="1.375em" aria-hidden="true"><path d="M23.498 23.487a1.713 1.713 0 000-2.421l-4.572-4.575a.43.43 0 01-.062-.539 10.283 10.283 0 10-2.911 2.911.43.43 0 01.539.055l4.574 4.574a1.712 1.712 0 002.433-.005zM3.451 10.289a6.85 6.85 0 116.85 6.85 6.85 6.85 0 01-6.85-6.85z" fill="currentColor"/></svg>
    </button>
  </ng-template>
  <ng-content select="desy-error-message"></ng-content>
  <ng-container *ngTemplateOutlet="errorMessageRef"></ng-container>
  <desy-error-message *ngIf="!errorMessageRef && errorMessageData"
                      [id]="getErrorId()"
                      [text]="errorMessageData.text"
                      [html]="errorMessageData.html"
                      [classes]="errorMessageData.classes"
                      [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                      [role]="errorMessageData.role"
                      [ariaLabel]="errorMessageData.ariaLabel"
                      [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                      [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                      [ariaHidden]="errorMessageData.ariaHidden"
                      [ariaDisabled]="errorMessageData.ariaDisabled"
                      [ariaControls]="errorMessageData.ariaControls"
                      [ariaCurrent]="errorMessageData.ariaCurrent"
                      [ariaLive]="errorMessageData.ariaLive"
                      [ariaExpanded]="errorMessageData.ariaExpanded"
                      [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                      [ariaHasPopup]="errorMessageData.ariaHasPopup"
                      [tabindex]="errorMessageData.tabindex"></desy-error-message>
  <desy-error-message *ngIf="!errorMessageRef && !errorMessageData && errorMessageText"
                      [text]="errorMessageText" [id]="getErrorId()"></desy-error-message>
</div>
<!-- /searchbar -->
