<!-- menu-horizontal -->
<nav [class]="['c-menu-horizontal', classes] | makeHtmlList"
     [attr.id]="id ? id : null"
     [desyAppAccessibility]="this">
  <ul class="c-menu-horizontal__list lg:flex lg:flex-wrap">
    <ng-container *ngFor="let item of getItemList(); index as i">
      <li *ngIf="item">
          <a *ngIf="item.routerLink && !item.href" (click)="onClick($event, item)"
             [attr.id]="getItemId(item, i)"
             [routerLink]="item.routerLink"
             [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
             [fragment]="item.fragment"
             [class]="['c-menu-horizontal__link relative flex items-center px-base py-sm lg:py-base border border-transparent text-black hover:text-primary-base underline truncate focus:outline-none', item.classes] | makeHtmlList"
             [ngClass]="{'no-underline pointer-events-none': item.disabled, 'c-menu-horizontal__active': item.active}"
             [attr.disabled]="item.disabled ? 'disabled' : null"
             [attr.aria-disabled]="item.disabled ? item.disabled : null"
             [attr.tabindex]="item.disabled ? -1 : item.tabindex"
             [desyAppAccessibility]="item">
             <strong *ngIf="item.active" class="flex items-center pointer-events-none font-bold">
              <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
             </strong>
             <span *ngIf="!item.active" class="flex items-center pointer-events-none">
               <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
             </span>
          </a>
          <a *ngIf="!item.routerLink && item.href" (click)="onClick($event, item)"
             [attr.id]="getItemId(item, i)"
             [href]="item.href | externalHref"
             [attr.target]="item.target ? item.target : null"
             [class]="['c-menu-horizontal__link relative flex items-center px-base py-sm lg:py-base border border-transparent text-black hover:text-primary-base underline truncate focus:outline-none', item.classes] | makeHtmlList"
             [ngClass]="{'no-underline pointer-events-none': item.disabled, 'c-menu-horizontal__active': item.active}"
             [attr.disabled]="item.disabled ? 'disabled' : null"
             [attr.aria-disabled]="item.disabled ? item.disabled : null"
             [attr.tabindex]="item.disabled ? -1 : item.tabindex"
             [desyAppAccessibility]="item">
             <strong *ngIf="item.active" class="flex items-center pointer-events-none font-bold">
              <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
             </strong>
             <span *ngIf="!item.active" class="flex items-center pointer-events-none">
               <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text }"></ng-container>
             </span>
          </a>
      </li>
    </ng-container>
  </ul>
</nav>
<!-- /menu-horizontal -->
