<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Table advanced configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-table-advanced (rowsChecked)="rowsChecked2 = $event"
                     [classes]="classes"
                     [id]="id"
                     [idPrefix]="idPrefix"
                     [wrapper]="wrapper.classes ? wrapper : null"
                     [hasCheckboxes]="hasCheckboxes"
                     [firstCellIsHeader]="firstCellIsHeader"
                     [checkboxClasses]="checkboxClasses"
                     [role]="role"
                     [ariaLabel]="ariaLabel"
                     [ariaDescribedBy]="ariaDescribedBy"
                     [ariaLabelledBy]="ariaLabelledBy"
                     [ariaHidden]="ariaHidden"
                     [ariaDisabled]="ariaDisabled"
                     [ariaControls]="ariaControls"
                     [ariaCurrent]="ariaCurrent"
                     [ariaLive]="ariaLive"
                     [ariaExpanded]="ariaExpanded"
                     [ariaErrorMessage]="ariaErrorMessage"
                     [ariaHasPopup]="ariaHasPopup"
                     [tabindex]="tabindex">
  <desy-table-caption [classes]="captionClasses">{{caption}}</desy-table-caption>
  <desy-table-advanced-header>
    <desy-table-advanced-header-cell>
      <desy-content>Row number</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="hasFilter?true:false"
                                     [hasSelect]="hasSelect?true:false">
      <desy-content>Month you apply</desy-content>
      <desy-table-advanced-select *ngIf="hasSelect"
                                  [disabled]="selectObject.disabled"
                                  [classes]="selectObject.classes"
                                  [formGroupClasses]="selectObject.formGroupClasses">
        <desy-option *ngFor="let item of selectItems"
                     [value]="item.value">{{item.text}}</desy-option>
      </desy-table-advanced-select>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="hasFilter?true:false"
                                     [hasSelect]="hasSelect?true:false"
                                     classes="text-right">
      <desy-content>Rate for bicycles</desy-content>
      <desy-table-advanced-select *ngIf="hasSelect"
                                  [disabled]="selectObject.disabled"
                                  [classes]="selectObject.classes"
                                  [formGroupClasses]="selectObject.formGroupClasses">
        <desy-option *ngFor="let item of selectItemsContent"
                     [value]="item.value">{{item.text}}</desy-option>
      </desy-table-advanced-select>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [id]="itemHead.id"
                                     [orderBy]="itemHead.orderBy"
                                     [colspan]="itemHead.colspan"
                                     [rowspan]="itemHead.rowspan"
                                     [hasFilter]="itemHead.hasFilter"
                                     [hasSelect]="itemHead.hasSelect"
                                     [filterClasses]="itemHead.filterClasses"
                                     [classes]="itemHead.classes">
      <desy-content>
        <ng-container *appCustomInnerContent="{ html: itemHead.html }"></ng-container>
      </desy-content>
      <desy-table-advanced-select *ngIf="hasSelect"
                                  [disabled]="selectObject.disabled"
                                  [classes]="selectObject.classes"
                                  [formGroupClasses]="selectObject.formGroupClasses">
        <desy-option *ngFor="let item of selectItemsCol3"
                     [value]="item.value">{{item.text}}</desy-option>
      </desy-table-advanced-select>
    </desy-table-advanced-header-cell>
  </desy-table-advanced-header>
  <desy-table-advanced-row id="identificador1">
    <desy-table-advanced-row-cell>First row</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>January</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">85€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">95€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-row id="identificador2">
    <desy-table-advanced-row-cell>Second row</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>February</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">75€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">55€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-row [id]="itemRow.id"
                           [(checked)]="itemRow.checked">
    <desy-table-advanced-row-cell *ngFor="let cell of itemRow.cellsList"
                                  [classes]="cell.classes"
                                  [rowspan]="cell.rowspan"
                                  [colspan]="cell.colspan"
                                  [id]="cell.id"
                                  [role]="cell.role"
                                  [ariaLabel]="cell.ariaLabel"
                                  [ariaDescribedBy]="cell.ariaDescribedBy"
                                  [ariaLabelledBy]="cell.ariaLabelledBy"
                                  [ariaHidden]="cell.ariaHidden"
                                  [ariaDisabled]="cell.ariaDisabled"
                                  [ariaControls]="cell.ariaControls"
                                  [ariaCurrent]="cell.ariaCurrent"
                                  [ariaLive]="cell.ariaLive"
                                  [ariaExpanded]="cell.ariaExpanded"
                                  [ariaErrorMessage]="cell.ariaErrorMessage"
                                  [ariaHasPopup]="cell.ariaHasPopup"
                                  [tabindex]="cell.tabindex">
      <ng-container *appCustomInnerContent="{ html: cell.html }"></ng-container>
    </desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-footer [checked]="itemFoot.checked"
                              [id]="itemFoot.id">
    <desy-table-advanced-footer-cell *ngFor="let cell of itemFoot.cellsList"
                                     [classes]="cell.classes"
                                     [rowspan]="cell.rowspan"
                                     [colspan]="cell.colspan"
                                     [id]="cell.id"
                                     [role]="cell.role"
                                     [ariaLabel]="cell.ariaLabel"
                                     [ariaDescribedBy]="cell.ariaDescribedBy"
                                     [ariaLabelledBy]="cell.ariaLabelledBy"
                                     [ariaHidden]="cell.ariaHidden"
                                     [ariaDisabled]="cell.ariaDisabled"
                                     [ariaControls]="cell.ariaControls"
                                     [ariaCurrent]="cell.ariaCurrent"
                                     [ariaLive]="cell.ariaLive"
                                     [ariaExpanded]="cell.ariaExpanded"
                                     [ariaErrorMessage]="cell.ariaErrorMessage"
                                     [ariaHasPopup]="cell.ariaHasPopup"
                                     [tabindex]="cell.tabindex">
      <ng-container *appCustomInnerContent="{ html: cell.html }"></ng-container>
    </desy-table-advanced-footer-cell>
  </desy-table-advanced-footer>
</desy-table-advanced>
<p>{{rowsChecked2 | json}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Table simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-table-advanced classes="min-w-full"
                     [wrapper]="{ classes: 'overflow-x-auto' }">
  <desy-table-caption classes="sr-only mb-base font-bold text-left text-lg">Caption de la tabla</desy-table-caption>
  <desy-table-advanced-header>
    <desy-table-advanced-header-cell>
      <desy-content>Month you apply</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell classes="text-right">
      <desy-content>Rate for bicycles</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell classes="text-right">
      <desy-content>Rate for vehicles</desy-content>
    </desy-table-advanced-header-cell>
  </desy-table-advanced-header>
  <desy-table-advanced-row>
    <desy-table-advanced-row-cell>January</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">85€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">95€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-row>
    <desy-table-advanced-row-cell>February</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">75€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">55€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-row>
    <desy-table-advanced-row-cell>March</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">165€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">125€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-footer>
    <desy-table-advanced-footer-cell>
      Suma
    </desy-table-advanced-footer-cell>
    <desy-table-advanced-footer-cell classes="text-right">
      325€
    </desy-table-advanced-footer-cell>
    <desy-table-advanced-footer-cell classes="text-right">
      275€
    </desy-table-advanced-footer-cell>
  </desy-table-advanced-footer>
</desy-table-advanced>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Table completa"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-table-advanced classes="min-w-full"
                     idPrefix="table-with-all"
                     [hasCheckboxes]="true"
                     [firstCellIsHeader]="true"
                     (rowsChecked)="rowsChecked = $event"
                     [wrapper]="{ classes: 'overflow-x-auto' }">
  <desy-table-caption classes="mb-base font-bold text-left text-lg">Caption 1: Months and rates</desy-table-caption>
  <desy-table-advanced-header>
    <desy-table-advanced-header-cell>
      <desy-content>Row number</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="true">
      <desy-content>Month you apply</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="true"
                                     classes="text-right">
      <desy-content>Rate for bicycles</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="true"
                                     classes="text-right">
      <desy-content>Rate for vehicles</desy-content>
    </desy-table-advanced-header-cell>
  </desy-table-advanced-header>
  <desy-table-advanced-row id="id1">
    <desy-table-advanced-row-cell>First row</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>January</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">85€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">95€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-row id="id2">
    <desy-table-advanced-row-cell>Second row</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>February</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">75€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">55€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-row id="id3">
    <desy-table-advanced-row-cell>Third row</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>March</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">165€</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell classes="text-right">125€</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
  <desy-table-advanced-footer>
    <desy-table-advanced-footer-cell>
      First footer row
    </desy-table-advanced-footer-cell>
    <desy-table-advanced-footer-cell>
      Suma
    </desy-table-advanced-footer-cell>
    <desy-table-advanced-footer-cell classes="text-right">
      325€
    </desy-table-advanced-footer-cell>
    <desy-table-advanced-footer-cell classes="text-right">
      275€
    </desy-table-advanced-footer-cell>
  </desy-table-advanced-footer>
</desy-table-advanced>
<p>{{rowsChecked | json}}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Table con busqueda y ordenación personalizada" observations="Nota: La paginación no está incluida en el componente"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-table-advanced classes="min-w-full mb-base"
                     [wrapper]="{ classes: 'overflow-x-auto' }"
                     (recalculateTable)="handleRecalculateCompanyTable($event)"
                     [id]="id"
                     [idPrefix]="idPrefix"
                     [hasCheckboxes]="true">
  <desy-table-advanced-header>
    <desy-table-advanced-header-cell [orderBy]="orderBy.asc"
                                     [hasFilter]="true"
                                     identifier="Indice identifier">
      <desy-content>Indice</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="true"
                                     identifier="Nombre identifier">
      <desy-content>Nombre</desy-content>
    </desy-table-advanced-header-cell>
    <desy-table-advanced-header-cell [orderBy]="orderBy.none"
                                     [hasFilter]="true"
                                     identifier="Texto aleatorio identifier">
      <desy-content>Texto aleatorio</desy-content>
    </desy-table-advanced-header-cell>
  </desy-table-advanced-header>
  <desy-table-advanced-row *ngFor="let company of pageCompanyList">
    <desy-table-advanced-row-cell>{{ company.initialIndex }}</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>{{ company.name }}</desy-table-advanced-row-cell>
    <desy-table-advanced-row-cell>{{ company.randomText }}</desy-table-advanced-row-cell>
  </desy-table-advanced-row>
</desy-table-advanced>
<desy-pagination [itemsPerPage]="companyPageElems"
                 [totalItems]="visibleCompanyList ? visibleCompanyList.length : 0"
                 id="paginador"
                 [(currentPage)]="currentCompanyPage"
                 (currentPageChange)="handleCompanyPagChange($event)"></desy-pagination>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
    <div>
        <app-title-params></app-title-params>
        <app-input-text [nameComponent]="nameComponent" nameProperty="caption" [(target)]="caption"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="mb-base font-bold text-left text-lg ..." nameProperty="captionClasses" [(target)]="captionClasses"> </app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" description="Primera celda como TH" nameProperty="firstCellIsHeader" [(target)]="firstCellIsHeader"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" description="Incluir checkbox" nameProperty="hasCheckboxes" [(target)]="hasCheckboxes"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" description="Incuir select" nameProperty="hasSelect" [(target)]="hasSelect"> </app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" description="Incuir filter" nameProperty="hasFilter" [(target)]="hasFilter"> </app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="checkboxClasses" [(target)]="checkboxClasses"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" placeholder="min-w-full ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"> </app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"> </app-input-text>
        <app-input-text [nameComponent]="'wrapper'" nameProperty="wrapper.classes"
                        [description]="'Especificando esta propiedad se añadirá un wrapper a la tabla'"
                        [placeholder]="'overflow-x-auto'"
                        [(target)]="wrapper.classes"></app-input-text>
    </div>


    <app-accessibility-inputs [(role)]="role"
                [(ariaLabel)]="ariaLabel"
                [(ariaDescribedBy)]="ariaDescribedBy"
                [(ariaLabelledBy)]="ariaLabelledBy"
                [(ariaHidden)]="ariaHidden"
                [(ariaDisabled)]="ariaDisabled"
                [(ariaControls)]="ariaControls"
                [(ariaCurrent)]="ariaCurrent"
                [(ariaLive)]="ariaLive"
                [(ariaExpanded)]="ariaExpanded"
                [(ariaErrorMessage)]="ariaErrorMessage"
                [(ariaHasPopup)]="ariaHasPopup"
                [(tabindex)]="tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros de row"></app-title-params>
         <details>
        <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
        </summary>
        <div class="py-sm">
            <app-input-text nameComponent="itemRow" nameProperty="id" [(target)]="itemRow.id"> </app-input-text>
            <app-input-boolean nameComponent="itemRow" nameProperty="checked" [(target)]="itemRow.checked"> </app-input-boolean>
            <app-input-text nameComponent="itemCell" nameProperty="html" [(target)]="itemCell.html"> </app-input-text>
            <app-input-text nameComponent="itemCell" nameProperty="classes" [(target)]="itemCell.classes"> </app-input-text>
            <app-input-text nameComponent="itemCell" nameProperty="id" [(target)]="itemCell.id"> </app-input-text>
            <app-input-number nameComponent="itemCell" nameProperty="colspan" [(target)]="itemCell.colspan"></app-input-number>
            <app-input-number nameComponent="itemCell" nameProperty="rowspan" [(target)]="itemCell.rowspan"></app-input-number>
            </div>
        </details>
    </div>

    <app-accessibility-inputs title="Parámetros de accesibilidad del ultima cell" id="itemCell"
                            [(role)]="itemCell.role"
                            [(ariaLabel)]="itemCell.ariaLabel"
                            [(ariaDescribedBy)]="itemCell.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemCell.ariaLabelledBy"
                            [(ariaHidden)]="itemCell.ariaHidden"
                            [(ariaDisabled)]="itemCell.ariaDisabled"
                            [(ariaControls)]="itemCell.ariaControls"
                            [(ariaCurrent)]="itemCell.ariaCurrent"
                            [(ariaLive)]="itemCell.ariaLive"
                            [(ariaExpanded)]="itemCell.ariaExpanded"
                            [(ariaErrorMessage)]="itemCell.ariaErrorMessage"
                            [(ariaHasPopup)]="itemCell.ariaHasPopup"
                            [(tabindex)]="itemCell.tabindex"></app-accessibility-inputs>

    <div>
        <app-title-params titleparams="Parámetros de la ultima head"></app-title-params>
            <details>
                <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                    <span>Mostrar</span>
                </summary>
                <div class="py-sm">
                    <app-input-text nameComponent="itemHead" nameProperty="html" [(target)]="itemHead.html"> </app-input-text>
                    <app-input-text nameComponent="itemHead" nameProperty="classes" [(target)]="itemHead.classes"> </app-input-text>
                    <app-input-text nameComponent="itemHead" nameProperty="id" [(target)]="itemHead.id"> </app-input-text>
                    <app-input-number nameComponent="itemHead" nameProperty="colspan" [(target)]="itemHead.colspan"></app-input-number>
                    <app-input-number nameComponent="itemHead" nameProperty="rowspan" [(target)]="itemHead.rowspan"></app-input-number>
                    <app-input-boolean nameComponent="itemHead" description="Incluir filtro" nameProperty="hasFilter" [(target)]="itemHead.hasFilter"> </app-input-boolean>
                    <app-input-boolean nameComponent="itemHead" description="Incluir select" nameProperty="hasSelect" [(target)]="itemHead.hasSelect"> </app-input-boolean>
                    <app-input-text nameComponent="itemHead" nameProperty="filterClasses" [(target)]="itemHead.filterClasses"> </app-input-text>
                    <app-input-text nameComponent="itemHead" nameProperty="orderBy" [(target)]="itemHead.orderBy"> </app-input-text>
                    </div>
            </details>
    </div>

    <app-accessibility-inputs title="Parámetros de accesibilidad de la ultima head" id="itemHead"
                            [(role)]="itemHead.role"
                            [(ariaLabel)]="itemHead.ariaLabel"
                            [(ariaDescribedBy)]="itemHead.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemHead.ariaLabelledBy"
                            [(ariaHidden)]="itemHead.ariaHidden"
                            [(ariaDisabled)]="itemHead.ariaDisabled"
                            [(ariaControls)]="itemHead.ariaControls"
                            [(ariaCurrent)]="itemHead.ariaCurrent"
                            [(ariaLive)]="itemHead.ariaLive"
                            [(ariaExpanded)]="itemHead.ariaExpanded"
                            [(ariaErrorMessage)]="itemHead.ariaErrorMessage"
                            [(ariaHasPopup)]="itemHead.ariaHasPopup"
                            [(tabindex)]="itemHead.tabindex"></app-accessibility-inputs>
    
    <div>
      <app-title-params titleparams="Parámetros del último footer"></app-title-params>
       <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
          <span>Mostrar</span>
      </summary>
      <div class="py-sm">
          <app-input-text nameComponent="itemFoot" nameProperty="id" [(target)]="itemFoot.id"> </app-input-text>
          <app-input-boolean nameComponent="itemFoot" nameProperty="checked" [(target)]="itemFoot.checked"> </app-input-boolean>
          <app-input-text nameComponent="itemFooterCell" nameProperty="html" [(target)]="itemFooterCell.html"> </app-input-text>
          <app-input-text nameComponent="itemFooterCell" nameProperty="classes" [(target)]="itemFooterCell.classes"> </app-input-text>
          <app-input-text nameComponent="itemFooterCell" nameProperty="idFooterCell" [(target)]="itemFooterCell.id"> </app-input-text>
          <app-input-number nameComponent="itemFooterCell" nameProperty="colspan" [(target)]="itemFooterCell.colspan"></app-input-number>
          <app-input-number nameComponent="itemFooterCell" nameProperty="rowspan" [(target)]="itemFooterCell.rowspan"></app-input-number>
          </div>
      </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad del último footer" id="itemFooterCell"
                          [(role)]="itemFooterCell.role"
                          [(ariaLabel)]="itemFooterCell.ariaLabel"
                          [(ariaDescribedBy)]="itemFooterCell.ariaDescribedBy"
                          [(ariaLabelledBy)]="itemFooterCell.ariaLabelledBy"
                          [(ariaHidden)]="itemFooterCell.ariaHidden"
                          [(ariaDisabled)]="itemFooterCell.ariaDisabled"
                          [(ariaControls)]="itemFooterCell.ariaControls"
                          [(ariaCurrent)]="itemFooterCell.ariaCurrent"
                          [(ariaLive)]="itemFooterCell.ariaLive"
                          [(ariaExpanded)]="itemFooterCell.ariaExpanded"
                          [(ariaErrorMessage)]="itemFooterCell.ariaErrorMessage"
                          [(ariaHasPopup)]="itemFooterCell.ariaHasPopup"
                          [(tabindex)]="itemFooterCell.tabindex"></app-accessibility-inputs>    
 
   <div>
        <app-title-params titleparams="Parámetros de los select"></app-title-params>
            <details>
                <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
                    <span>Mostrar</span>
                </summary>
                <div class="py-sm">
                    <app-input-text nameComponent="selectObject" nameProperty="classes" [(target)]="selectObject.classes"> </app-input-text>
                    <app-input-text nameComponent="selectObject" nameProperty="formGroupClasses" [(target)]="selectObject.classes"> </app-input-text>
                    <app-input-boolean nameComponent="selectObject" nameProperty="disabled" [(target)]="selectObject.disabled"> </app-input-boolean>
                    </div>
            </details>
    </div>                          
</div>
