<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Tree configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-tree [name]="name"
           [id]="id" 
           [type]="type"
           [classes]="classes"
           [formGroupClasses]="formGroupClasses"
           [(ngModel)]="valueContent"
           (ngModelChange)="modelChange($event)"
           [(searchMatchValues)]="searchMatchValues"
           [idPrefix]="idPrefix"
           [describedBy]="describedBy"
           [expandedFirstLevel]="expandedFirstLevel"
           [decoupleChildFromParent]="decoupleChildFromParent"
           [disableDefaultSearch]="disableDefaultSearch"
           [role]="role"
           [ariaLabel]="ariaLabel"
           [ariaDescribedBy]="ariaDescribedBy"
           [ariaLabelledBy]="ariaLabelledBy"
           [ariaHidden]="ariaHidden"
           [ariaDisabled]="ariaDisabled"
           [ariaControls]="ariaControls"
           [ariaCurrent]="ariaCurrent"
           [ariaLive]="ariaLive"
           [ariaExpanded]="ariaExpanded"
           [ariaErrorMessage]="ariaErrorMessage"
           [ariaHasPopup]="ariaHasPopup"
           [ariaModal]="ariaModal"
           [tabindex]="tabindex">
  <desy-fieldset *ngIf="hasFieldset">
    <desy-legend>Soy un leyend en un fieldset</desy-legend>
  </desy-fieldset>
  <desy-hint *ngIf="hintText">{{ hintText }}</desy-hint>
  <desy-error-message *ngIf="errorText">{{ errorText }}</desy-error-message>
  <desy-search-bar id="search-bar-tree"
                   placeholder="Buscar organismo"
                   [(ngModel)]="searchValue"
                   (ngModelChange)="onSearchValueChange($event)">
    <desy-label>Buscar en el árbol</desy-label>
    <desy-error-message *ngIf="searchMatchValues && searchMatchValues.length === 0">
      <desy-label>No hay resultados</desy-label>
    </desy-error-message>
  </desy-search-bar>
  <desy-tree-items-generator [items]="autogeneratedItems"
                             [itemTemplate]="itemTemplate">
    <ng-template #itemTemplate
                 let-item="item">
      <desy-tree-item [value]="item.value"
                      [id]="idPrefix ? null : item.id"
                      [expanded]="item.expanded"
                      [disabled]="item.disabled">
        <desy-label>{{ item.label }}</desy-label>
        <desy-tree-sub *ngIf="item.sub && item.sub.items">
          <ng-container *ngFor="let subItem of item.sub.items">
            <ng-container *ngTemplateOutlet="itemTemplate; context: {item: subItem}"></ng-container>
          </ng-container>
        </desy-tree-sub>
      </desy-tree-item>
    </ng-template>
  </desy-tree-items-generator>

  <!-- Item parametrizado -->
  <desy-tree-item [id]="customItem.id"
                  [name]="customItem.name"
                  [value]="customItem.value"
                  [classes]="customItem.classes"
                  [active]="customItem.active"
                  [disabled]="customItem.disabled"
                  [title]="customItem.title"
                  [isIndeterminate]="customItem.isIndeterminate"
                  [hasDividers]="customItem.hasDividers"
                  [(checked)]="customItemChecked"
                  [(expanded)]="customItemExpanded"
                  [(indeterminateChecked)]="customItemIndeterminateChecked"
                  [role]="customItem.role"
                  [ariaLabel]="customItem.ariaLabel"
                  [ariaDescribedBy]="customItem.ariaDescribedBy"
                  [ariaLabelledBy]="customItem.ariaLabelledBy"
                  [ariaHidden]="customItem.ariaHidden"
                  [ariaDisabled]="customItem.ariaDisabled"
                  [ariaControls]="customItem.ariaControls"
                  [ariaCurrent]="customItem.ariaCurrent"
                  [ariaLive]="customItem.ariaLive"
                  [ariaExpanded]="customItem.ariaExpanded"
                  [ariaErrorMessage]="customItem.ariaErrorMessage"
                  [ariaHasPopup]="customItem.ariaHasPopup"
                  [ariaModal]="customItem.ariaModal"
                  [tabindex]="customItem.tabindex">
    <desy-label *ngIf="customItem.labelText">{{ customItem.labelText }}</desy-label>
    <desy-hint *ngIf="customItem.hintText">{{ customItem.hintText }}</desy-hint>
    <desy-tree-sub *ngIf="customItemHasSub"
                   [classes]="customItemSub.classes"
                   [role]="customItemSub.role"
                   [ariaLabel]="customItemSub.ariaLabel"
                   [ariaDescribedBy]="customItemSub.ariaDescribedBy"
                   [ariaLabelledBy]="customItemSub.ariaLabelledBy"
                   [ariaHidden]="customItemSub.ariaHidden"
                   [ariaDisabled]="customItemSub.ariaDisabled"
                   [ariaControls]="customItemSub.ariaControls"
                   [ariaCurrent]="customItemSub.ariaCurrent"
                   [ariaLive]="customItemSub.ariaLive"
                   [ariaExpanded]="customItemSub.ariaExpanded"
                   [ariaErrorMessage]="customItemSub.ariaErrorMessage"
                   [ariaHasPopup]="customItemSub.ariaHasPopup"
                   [ariaModal]="customItemSub.ariaModal"
                   [tabindex]="customItemSub.tabindex">
      <ng-container *ngFor="let subItem of customItem.sub.items">
        <ng-container *ngTemplateOutlet="itemTemplate; context: {item: subItem}"></ng-container>
      </ng-container>
    </desy-tree-sub>
  </desy-tree-item>
</desy-tree>
<p *ngIf="valueContent">Valores: {{ valueContent.join(', ') }}</p>
<p *ngIf="searchValue">Búsqueda realizada: {{ searchValue }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tree con Form"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<form [formGroup]="form">
  <desy-tree [name]="name + '-form'"
             [id]="id + '-form'"
             [type]="type"
             [classes]="classes"
             [formGroupClasses]="formGroupClasses"
             [(searchMatchValues)]="searchMatchValuesForm"
             formControlName="tree"
             [idPrefix]="idPrefix + '-form'"
             [describedBy]="describedBy"
             [expandedFirstLevel]="expandedFirstLevel"
             [decoupleChildFromParent]="decoupleChildFromParent"
             [disableDefaultSearch]="disableDefaultSearch"
             [role]="role"
             [ariaLabel]="ariaLabel"
             [ariaDescribedBy]="ariaDescribedBy"
             [ariaLabelledBy]="ariaLabelledBy"
             [ariaHidden]="ariaHidden"
             [ariaDisabled]="ariaDisabled"
             [ariaControls]="ariaControls"
             [ariaCurrent]="ariaCurrent"
             [ariaLive]="ariaLive"
             [ariaExpanded]="ariaExpanded"
             [ariaErrorMessage]="ariaErrorMessage"
             [ariaHasPopup]="ariaHasPopup"
             [ariaModal]="ariaModal"
             [tabindex]="tabindex">
    <desy-fieldset *ngIf="hasFieldset">
      <desy-legend>Soy un leyend en un fieldset</desy-legend>
    </desy-fieldset>
    <desy-hint *ngIf="hintText">{{ hintText }}</desy-hint>
    <desy-error-message *ngIf="errorText">{{ errorText }}</desy-error-message>
  <desy-search-bar id="search-bar-tree"
                   placeholder="Buscar organismo"
                   [(ngModel)]="searchValue"
                   [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="onSearchValueChange($event)">
    <desy-label>Buscar en el árbol</desy-label>
    <desy-error-message *ngIf="searchMatchValues && searchMatchValues.length === 0">
      <desy-label>No hay resultados</desy-label>
    </desy-error-message>
  </desy-search-bar>

    <desy-tree-items-generator [items]="autogeneratedItems"
                               [itemTemplate]="itemTemplateForm">
      <ng-template #itemTemplateForm
                   let-item="item">
        <desy-tree-item [value]="item.value"
                        [id]="idPrefix + '-form' ? null : item.idv"
                        [expanded]="item.expanded"
                        [disabled]="item.disabled">
          <desy-label>{{ item.label }}</desy-label>
          <desy-tree-sub *ngIf="item.sub && item.sub.items">
            <ng-container *ngFor="let subItem of item.sub.items">
              <ng-container *ngTemplateOutlet="itemTemplateForm; context: {item: subItem}"></ng-container>
            </ng-container>
          </desy-tree-sub>
        </desy-tree-item>
      </ng-template>
    </desy-tree-items-generator>

  </desy-tree>
</form>

<p *ngIf="form && form.value && form.value.tree">Valores: {{ form.value.tree.join(', ') }}</p>
<p *ngIf="form && form.value && form.value.search">Búsqueda realizada: {{ form.value.search }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Tree simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-tree name="por defecto"
           id="default-tree"
           classes="mt-base">
  <desy-fieldset>
    <desy-legend>Selecciona organismo</desy-legend>
  </desy-fieldset>
  <desy-tree-item>
    <desy-label>Item 1</desy-label>
    <desy-tree-sub>
      <desy-tree-item value="subitem-1">
        <desy-label>Subitem 1</desy-label>
      </desy-tree-item>
      <desy-tree-item value="subitem-2">
        <desy-label>Subitem 2</desy-label>
      </desy-tree-item>
      <desy-tree-item value="subitem-3">
        <desy-label>Subitem 3</desy-label>
      </desy-tree-item>
    </desy-tree-sub>
  </desy-tree-item>
  <desy-tree-item>
    <desy-label>Item 2</desy-label>
    <desy-tree-sub>
      <desy-tree-item value="subitem-1">
        <desy-label>Subitem 1</desy-label>
      </desy-tree-item>
      <desy-tree-item value="subitem-2">
        <desy-label>Subitem 2</desy-label>
      </desy-tree-item>
      <desy-tree-item value="subitem-3">
        <desy-label>Subitem 3</desy-label>
      </desy-tree-item>
    </desy-tree-sub>
  </desy-tree-item>
  <desy-tree-item>
    <desy-label>Item 3</desy-label>
    <desy-tree-sub>
      <desy-tree-item value="subitem-1">
        <desy-label>Subitem 1</desy-label>
      </desy-tree-item>
      <desy-tree-item value="subitem-2">
        <desy-label>Subitem 2</desy-label>
      </desy-tree-item>
      <desy-tree-item value="subitem-3">
        <desy-label>Subitem 3</desy-label>
      </desy-tree-item>
    </desy-tree-sub>
  </desy-tree-item>
</desy-tree>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="type" [(target)]="type" placeholder="checkbox | radio"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="classes" [(target)]="classes"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="formGroupClasses" [(target)]="formGroupClasses"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"></app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="expandedFirstLevel" [(target)]="expandedFirstLevel"
                       description="Expande el elemento al seleccionarlo"></app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="decoupleChildFromParent" [(target)]="decoupleChildFromParent"
                       description="Permite seleccionar los elementos en la jerarquía de forma independiente"></app-input-boolean>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="disableDefaultSearch" [(target)]="disableDefaultSearch"
                       description="Deshabilita la búsqueda por defecto y realiza una búsqueda personalizada de forma externa. En este caso de ejemplo, devolverá los X primeros resultados, donde X es el número de letras del texto de entrada."></app-input-boolean>
    <app-input-number [nameComponent]="nameComponent" nameProperty="Número de items autogenerados por nivel"
                      [(target)]="numAutogeneratedItems" (targetChange)="buildDynamicTree()"></app-input-number>
    <app-input-number [nameComponent]="nameComponent" nameProperty="Número de niveles"
                      [(target)]="numLevels" (targetChange)="buildDynamicTree()"></app-input-number>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Texto de hint" [(target)]="hintText"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Texto de error" [(target)]="errorText"></app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="Incluir fieldset" [(target)]="hasFieldset"></app-input-boolean>
  </div>

  <div>
    <app-accessibility-inputs  title="Parámetros de accesibilidad" id="accessibility-tree"
                               [(role)]="role"
                               [(ariaLabel)]="ariaLabel"
                               [(ariaDescribedBy)]="ariaDescribedBy"
                               [(ariaLabelledBy)]="ariaLabelledBy"
                               [(ariaHidden)]="ariaHidden"
                               [(ariaDisabled)]="ariaDisabled"
                               [(ariaControls)]="ariaControls"
                               [(ariaCurrent)]="ariaCurrent"
                               [(ariaLive)]="ariaLive"
                               [(ariaExpanded)]="ariaExpanded"
                               [(ariaErrorMessage)]="ariaErrorMessage"
                               [(ariaHasPopup)]="ariaHasPopup"
                               [(tabindex)]="tabindex"></app-accessibility-inputs>
  </div>

  <div>
    <app-title-params titleparams="Parámetros del item parametrizado"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <!-- Propiedades de entrada -->
        <app-input-text [nameComponent]="'item'" nameProperty="id" [(target)]="customItem.id"></app-input-text>
        <app-input-text [nameComponent]="'item'" nameProperty="name" [(target)]="customItem.name"></app-input-text>
        <app-input-text [nameComponent]="'item'" nameProperty="value" [(target)]="customItem.value"></app-input-text>
        <app-input-text [nameComponent]="'item'" nameProperty="classes" [(target)]="customItem.classes"></app-input-text>
        <app-input-text [nameComponent]="'item'" nameProperty="title" [(target)]="customItem.title"></app-input-text>
        <app-input-boolean [nameComponent]="'item'" nameProperty="active" [(target)]="customItem.active"></app-input-boolean>
        <app-input-boolean [nameComponent]="'item'" nameProperty="disabled" [(target)]="customItem.disabled"></app-input-boolean>
        <app-input-boolean [nameComponent]="'item'" nameProperty="isIndeterminate" [(target)]="customItem.isIndeterminate"></app-input-boolean>
        <app-input-boolean [nameComponent]="'item'" nameProperty="hasDividers" [(target)]="customItem.hasDividers"></app-input-boolean>

        <app-input-text [nameComponent]="'item'" nameProperty="Texto de label" [(target)]="customItem.labelText"
                        description="Contenido a insertar dentro del componente desy-label indicado como contenido"></app-input-text>
        <app-input-text [nameComponent]="'item'" nameProperty="Texto de hint" [(target)]="customItem.hintText"
                        description="Contenido a insertar dentro del componente desy-hint indicado como contenido"></app-input-text>
        <!-- Propiedades de entrada/salida -->
        <app-input-boolean [nameComponent]="'item'" nameProperty="checked" [(target)]="customItemChecked"></app-input-boolean>
        <app-input-boolean [nameComponent]="'item'" nameProperty="expanded" [(target)]="customItemExpanded"></app-input-boolean>
        <app-input-boolean [nameComponent]="'item'" nameProperty="indeterminateChecked" [(target)]="customItemIndeterminateChecked"></app-input-boolean>
      </div>
    </details>
  </div>

  <div>
    <app-accessibility-inputs  title="Parámetros de accesibilidad del item parametrizado" id="customItem"
                               [(role)]="customItem.role"
                               [(ariaLabel)]="customItem.ariaLabel"
                               [(ariaDescribedBy)]="customItem.ariaDescribedBy"
                               [(ariaLabelledBy)]="customItem.ariaLabelledBy"
                               [(ariaHidden)]="customItem.ariaHidden"
                               [(ariaDisabled)]="customItem.ariaDisabled"
                               [(ariaControls)]="customItem.ariaControls"
                               [(ariaCurrent)]="customItem.ariaCurrent"
                               [(ariaLive)]="customItem.ariaLive"
                               [(ariaExpanded)]="customItem.ariaExpanded"
                               [(ariaErrorMessage)]="customItem.ariaErrorMessage"
                               [(ariaHasPopup)]="customItem.ariaHasPopup"
                               [(tabindex)]="customItem.tabindex"></app-accessibility-inputs>
  </div>

  <div>
    <app-title-params titleparams="Parámetros del sub del item parametrizado"></app-title-params>
    <desy-checkboxes [name]="'itemElems'"
                     [(ngModel)]="includeSubVisible" (ngModelChange)="customItemSubChange($event)"
                     [items]="includeSub">
      <ng-template desyCondition [item]="includeSub[0]">
        <app-input-text [nameComponent]="'sub'" [nameProperty]="'classes'" [(target)]="customItemSub.classes"></app-input-text>
      </ng-template>
    </desy-checkboxes>
  </div>

  <div>
    <app-accessibility-inputs  title="Parámetros de accesibilidad del sub del item parametrizado" id="customItemSub"
                               [(role)]="customItemSub.role"
                               [(ariaLabel)]="customItemSub.ariaLabel"
                               [(ariaDescribedBy)]="customItemSub.ariaDescribedBy"
                               [(ariaLabelledBy)]="customItemSub.ariaLabelledBy"
                               [(ariaHidden)]="customItemSub.ariaHidden"
                               [(ariaDisabled)]="customItemSub.ariaDisabled"
                               [(ariaControls)]="customItemSub.ariaControls"
                               [(ariaCurrent)]="customItemSub.ariaCurrent"
                               [(ariaLive)]="customItemSub.ariaLive"
                               [(ariaExpanded)]="customItemSub.ariaExpanded"
                               [(ariaErrorMessage)]="customItemSub.ariaErrorMessage"
                               [(ariaHasPopup)]="customItemSub.ariaHasPopup"
                               [(tabindex)]="customItemSub.tabindex"></app-accessibility-inputs>
  </div>
</div>
