<ng-container *ngIf="!(classes||backgroundFullColor||backgroundFullUrl);else noContent">
  <ng-content></ng-content>
</ng-container>
<ng-template #noContent>
  <div [ngClass]="classes ? classes :'h-32 bg-cover bg-center bg-no-repeat overflow-hidden'"
       [ngStyle]="{'background-color': backgroundFullColor, 'background-image': backgroundFullUrl ? 'url(' + backgroundFullUrl + ')' : ''}">
    <div class="container h-full mx-auto px-base">
      <div class="relative h-full bg-cover bg-no-repeat"
           [ngStyle]="{'background-image': backgroundContainerUrl ? 'url(' + backgroundContainerUrl + ')' : ''}">
        <desy-header-advanced-logo *ngIf="logoUrl"
                                   [url]="logoUrl"
                                   [alt]="logoAlt"
                                   [href]="logoHref"
                                   [routerLink]="logoRouterLink"
                                   [routerLinkActiveClasses]="logoRouterLinkActiveClasses"
                                   [target]="logoTarget"
                                   [fragment]="logoFragment"
                                   [classes]="logoClasses"
                                   [type]="super" />
        <ng-content select="desy-header-advanced-custom-navigation"></ng-content>
      </div>
    </div>
  </div>
</ng-template>