<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Status-item configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-status-item [id]="id + '-content'"
                  [classes]='classes'
                  [role]="role"
                  [ariaLabel]="ariaLabel"
                  [ariaDescribedBy]="ariaDescribedBy"
                  [ariaLabelledBy]="ariaLabelledBy"
                  [ariaHidden]="ariaHidden"
                  [ariaDisabled]="ariaDisabled"
                  [ariaControls]="ariaControls"
                  [ariaCurrent]="ariaCurrent"
                  [ariaLive]="ariaLive"
                  [ariaExpanded]="ariaExpanded"
                  [ariaErrorMessage]="ariaErrorMessage"
                  [ariaHasPopup]="ariaHasPopup"
                  [tabindex]="tabindex">
  <desy-title [classes]="title.classes">
    <ng-container *appCustomInnerContent="{ html: title.html }"></ng-container>
  </desy-title>
  <desy-hint [classes]="hint.classes"
             [id]="hint.id"
             [role]="hint.role"
             [ariaLabel]="hint.ariaLabel"
             [ariaDescribedBy]="hint.ariaDescribedBy"
             [ariaLabelledBy]="hint.ariaLabelledBy"
             [ariaHidden]="hint.ariaHidden"
             [ariaDisabled]="hint.ariaDisabled"
             [ariaControls]="hint.ariaControls"
             [ariaCurrent]="hint.ariaCurrent"
             [ariaLive]="hint.ariaLive"
             [ariaExpanded]="hint.ariaExpanded"
             [ariaErrorMessage]="hint.ariaErrorMessage"
             [ariaHasPopup]="hint.ariaHasPopup"
             [tabindex]="hint.tabindex">
    <ng-container *appCustomInnerContent="{ html: hint.html }"></ng-container>
  </desy-hint>
  <desy-error-message [visuallyHiddenText]="errorMessage.visuallyHiddenText"
                      [id]="(errorId ? errorId : id + '-error')"
                      [classes]="errorMessage.classes"
                      [role]="errorMessage.role"
                      [ariaLabel]="errorMessage.ariaLabel"
                      [ariaDescribedBy]="(errorMessage.ariaDescribedBy ? errorMessage.ariaDescribedBy + '' + errorId : errorId)"
                      [ariaLabelledBy]="errorMessage.ariaLabelledBy"
                      [ariaHidden]="errorMessage.ariaHidden"
                      [ariaDisabled]="errorMessage.ariaDisabled"
                      [ariaControls]="errorMessage.ariaControls"
                      [ariaCurrent]="errorMessage.ariaCurrent"
                      [ariaLive]="errorMessage.ariaLive"
                      [ariaExpanded]="errorMessage.ariaExpanded"
                      [ariaErrorMessage]="errorMessage.ariaErrorMessage"
                      [ariaHasPopup]="errorMessage.ariaHasPopup"
                      [tabindex]="errorMessage.tabindex">
    <ng-container *appCustomInnerContent="{ html: errorMessage.html }"></ng-container>
  </desy-error-message>
  <desy-description-item *ngFor="let item of items"
                         [id]="item.id"
                         [classes]="item.classes">
    <desy-term [classes]="item.term.classes"
               [id]="item.term.id">
      <ng-container *appCustomInnerContent="{ html: item.term.html }"></ng-container>
    </desy-term>
    <desy-definition [classes]="item.definition.classes"
                     [id]="item.definition.id">
      <ng-container *appCustomInnerContent="{ html: item.definition.html }"></ng-container>
    </desy-definition>
  </desy-description-item>
  <desy-content>
    <button class="c-button c-button--transparent">Modificar</button>
  </desy-content>
  <desy-status [icon]="status.icon"
               [classes]="status.classes"
               [id]="status.id"
               [role]="status.role"
               [ariaLabel]="status.ariaLabel"
               [ariaDescribedBy]="status.ariaDescribedBy"
               [ariaLabelledBy]="status.ariaLabelledBy"
               [ariaHidden]="status.ariaHidden"
               [ariaDisabled]="status.ariaDisabled"
               [ariaControls]="status.ariaControls"
               [ariaCurrent]="status.ariaCurrent"
               [ariaLive]="status.ariaLive"
               [ariaExpanded]="status.ariaExpanded"
               [ariaErrorMessage]="status.ariaErrorMessage"
               [ariaHasPopup]="status.ariaHasPopup"
               [tabindex]="status.tabindex">
    {{status.text}}
    <desy-icon [type]="status.icon.type">
      <ng-container *appCustomInnerContent="{ html: status.icon.html}"></ng-container>
    </desy-icon>
  </desy-status>
</desy-status-item>

<app-implementation-info info="Status-item simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-status-item id="default">
  <desy-title>
    Title
  </desy-title>
  <desy-content>
    <button class="c-button c-button--transparent">Modificar</button>
  </desy-content>
</desy-status-item>
<app-spaced></app-spaced>

<app-implementation-info info="Status-item sólo items"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-status-item id="only-items">
  <desy-description-item>
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
  <desy-description-item>
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
  <desy-description-item>
    <desy-term>término</desy-term>
    <desy-definition>definición</desy-definition>
  </desy-description-item>
  <desy-status>
    Estado
    <desy-icon type="success"></desy-icon>
  </desy-status>
  <desy-content>
    <button class="c-button c-button--transparent">Modificar</button>
  </desy-content>
</desy-status-item>
<app-spaced></app-spaced>

<app-implementation-info info="Status-item con hint"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-status-item id="with-hint">
  <desy-title>Personas de la unidad familiar</desy-title>
  <desy-status>
    Aportado
    <desy-icon type="success"></desy-icon>
  </desy-status>
  <desy-hint>
    <a href="#" class="c-link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="inline-block self-center w-4 h-4 mr-sm no-underline" role="img" aria-hidden="true">
      <path d="M100.3 52.2a7.49 7.49 0 00-10.6 0L77.5 64.39V7.5a7.5 7.5 0 00-15 0v56.89L50.3 52.2a7.5 7.5 0 10-10.6 10.6l25 25a7.49 7.49 0 0010.6 0l25-25a7.49 7.49 0 000-10.6zM130 95a10 10 0 00-10 10v12.5a2.5 2.5 0 01-2.5 2.5h-95a2.5 2.5 0 01-2.5-2.5V105a10 10 0 00-20 0v15a20 20 0 0020 20h100a20 20 0 0020-20v-15a10 10 0 00-10-10z" fill="currentColor" />
    </svg>Descargar modelo</a>
  </desy-hint>
</desy-status-item>
<app-spaced></app-spaced>

<app-implementation-info info="Status-item con errorMessage"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml4" [codeTs]="mostrarCodigo.codigoTs4"></app-show-code>
<desy-status-item id="with-status-alert"
                  classes="border-l-4 border-alert-base">
  <desy-title>Datos adicionales del solicitante</desy-title>
  <desy-status classes="text-alert-base">
    Error
    <desy-icon type="error"></desy-icon>
  </desy-status>
  <desy-error-message classes="my-sm text-alert-base">
    Es necesario aportar este documento para enviar el trámite
  </desy-error-message>
</desy-status-item>
<app-spaced></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-alert-base..." nameProperty="classes" [(target)]="classes"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="errorId" [(target)]="errorId"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy" [(target)]="describedBy"></app-input-text>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de title"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent + '.title'" [nameProperty]="'html'" [(target)]="title.html"></app-input-text>
        <app-input-text [nameComponent]="nameComponent + '.title'" [nameProperty]="'classes'" [(target)]="title.classes" placeholder="bg-warning-light..."></app-input-text>
      </div>
    </details>
  </div>
  <div></div> <!-- Sin atributos de accesibilidad -->

  <div>
    <app-title-params titleparams="Parámetros de status"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="status" [nameProperty]="'text'" [(target)]="status.text"></app-input-text>
        <app-input-text nameComponent="status" [nameProperty]="'id'" [(target)]="status.id"></app-input-text>
        <app-input-text nameComponent="status" [nameProperty]="'classes'" [(target)]="status.classes" placeholder="text-alert-base..."></app-input-text>
        <app-input-text nameComponent="status" [nameProperty]="'icon html'" [(target)]="status.icon.html"></app-input-text>
        <app-input-text nameComponent="status" [nameProperty]="'icon type'" [(target)]="status.icon.type" placeholder="success, alert, loading and error"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [id]="'status-id'" title="Parámetros de accesibilidad de Status" id="status"
                            [(role)]="status.role"
                            [(ariaLabel)]="status.ariaLabel"
                            [(ariaDescribedBy)]="status.ariaDescribedBy"
                            [(ariaLabelledBy)]="status.ariaLabelledBy"
                            [(ariaHidden)]="status.ariaHidden"
                            [(ariaDisabled)]="status.ariaDisabled"
                            [(ariaControls)]="status.ariaControls"
                            [(ariaCurrent)]="status.ariaCurrent"
                            [(ariaLive)]="status.ariaLive"
                            [(ariaExpanded)]="status.ariaExpanded"
                            [(ariaErrorMessage)]="status.ariaErrorMessage"
                            [(ariaHasPopup)]="status.ariaHasPopup"
                            [(tabindex)]="status.tabindex"></app-accessibility-inputs>
  <div>
    <app-title-params titleparams="Parámetros de Hint"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint" [nameProperty]="'html'" [(target)]="hint.html"></app-input-text>
        <app-input-text nameComponent="hint" [nameProperty]="'id'" [(target)]="hint.id"></app-input-text>
        <app-input-text nameComponent="hint" [nameProperty]="'classes'" [(target)]="hint.classes" placeholder="text-alert-base..."></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [id]="'hint-id'" title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hint.role"
                            [(ariaLabel)]="hint.ariaLabel"
                            [(ariaDescribedBy)]="hint.ariaDescribedBy"
                            [(ariaLabelledBy)]="hint.ariaLabelledBy"
                            [(ariaHidden)]="hint.ariaHidden"
                            [(ariaDisabled)]="hint.ariaDisabled"
                            [(ariaControls)]="hint.ariaControls"
                            [(ariaCurrent)]="hint.ariaCurrent"
                            [(ariaLive)]="hint.ariaLive"
                            [(ariaExpanded)]="hint.ariaExpanded"
                            [(ariaErrorMessage)]="hint.ariaErrorMessage"
                            [(ariaHasPopup)]="hint.ariaHasPopup"
                            [(tabindex)]="hint.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de ErrorMessage"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="Error message" [nameProperty]="'html'" [(target)]="errorMessage.html"></app-input-text>
        <app-input-text nameComponent="Error message" [nameProperty]="'id'" [(target)]="errorMessage.id"></app-input-text>
        <app-input-text nameComponent="Error message" [nameProperty]="'classes'" [(target)]="errorMessage.classes" placeholder="my-sm text-alert-base..."></app-input-text>
        <app-input-text nameComponent="Error message" [nameProperty]="'visuallyHiddenText'" [(target)]="errorMessage.visuallyHiddenText"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [id]="'error-message-id'" title="Parámetros de accesibilidad de errorMessage" id="errorMessage"
                            [(role)]="errorMessage.role"
                            [(ariaLabel)]="errorMessage.ariaLabel"
                            [(ariaDescribedBy)]="errorMessage.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessage.ariaLabelledBy"
                            [(ariaHidden)]="errorMessage.ariaHidden"
                            [(ariaDisabled)]="errorMessage.ariaDisabled"
                            [(ariaControls)]="errorMessage.ariaControls"
                            [(ariaCurrent)]="errorMessage.ariaCurrent"
                            [(ariaLive)]="errorMessage.ariaLive"
                            [(ariaExpanded)]="errorMessage.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessage.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessage.ariaHasPopup"
                            [(tabindex)]="errorMessage.tabindex"></app-accessibility-inputs>
  <div>
    <app-title-params titleparams="Parámetros de item"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="item" placeholder="mb-base ..." nameProperty="classes"
                        [(target)]="item.classes"></app-input-text>
        <app-input-text nameComponent="item" nameProperty="id" [(target)]="item.id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [id]="'item-id'" title="Parámetros de accesibilidad del item" id="item"
                            [(role)]="item.role"
                            [(ariaLabel)]="item.ariaLabel"
                            [(ariaDescribedBy)]="item.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.ariaLabelledBy"
                            [(ariaHidden)]="item.ariaHidden"
                            [(ariaDisabled)]="item.ariaDisabled"
                            [(ariaControls)]="item.ariaControls"
                            [(ariaCurrent)]="item.ariaCurrent"
                            [(ariaLive)]="item.ariaLive"
                            [(ariaExpanded)]="item.ariaExpanded"
                            [(ariaErrorMessage)]="item.ariaErrorMessage"
                            [(ariaHasPopup)]="item.ariaHasPopup"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de Term del item"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="term" nameProperty="html" [(target)]="item.term.html"></app-input-text>
        <app-input-text nameComponent="term" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="item.term.classes"></app-input-text>
        <app-input-text nameComponent="term" nameProperty="id" [(target)]="item.term.id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [id]="'term-item-id'" title="Parámetros de accesibilidad de term del item" id="term"
                            [(role)]="item.term.role"
                            [(ariaLabel)]="item.term.ariaLabel"
                            [(ariaDescribedBy)]="item.term.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.term.ariaLabelledBy"
                            [(ariaHidden)]="item.term.ariaHidden"
                            [(ariaDisabled)]="item.term.ariaDisabled"
                            [(ariaControls)]="item.term.ariaControls"
                            [(ariaCurrent)]="item.term.ariaCurrent"
                            [(ariaLive)]="item.term.ariaLive"
                            [(ariaExpanded)]="item.term.ariaExpanded"
                            [(ariaErrorMessage)]="item.term.ariaErrorMessage"
                            [(ariaHasPopup)]="item.term.ariaHasPopup"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de Definition del item"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="definition" nameProperty="html" [(target)]="item.definition.html"></app-input-text>
        <app-input-text nameComponent="definition" placeholder="font-bold text-xl ..." nameProperty="classes" [(target)]="item.definition.classes"></app-input-text>
        <app-input-text nameComponent="definition" nameProperty="id" [(target)]="item.definition.id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [id]="'definition-item-id'" title="Parámetros de accesibilidad de definition del item" id="definition"
                            [(role)]="item.definition.role"
                            [(ariaLabel)]="item.definition.ariaLabel"
                            [(ariaDescribedBy)]="item.definition.ariaDescribedBy"
                            [(ariaLabelledBy)]="item.definition.ariaLabelledBy"
                            [(ariaHidden)]="item.definition.ariaHidden"
                            [(ariaDisabled)]="item.definition.ariaDisabled"
                            [(ariaControls)]="item.definition.ariaControls"
                            [(ariaCurrent)]="item.definition.ariaCurrent"
                            [(ariaLive)]="item.definition.ariaLive"
                            [(ariaExpanded)]="item.definition.ariaExpanded"
                            [(ariaErrorMessage)]="item.definition.ariaErrorMessage"
                            [(ariaHasPopup)]="item.definition.ariaHasPopup"></app-accessibility-inputs>

</div>


