<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Header configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-header [id]="id"
             [classes]="classes"
             [containerClasses]="containerClasses"
             [homepageUrl]="homepageUrl"
             [homepageRouterLink]="homepageRouterLink"
             [homepageFragment]="homepageFragment"
             [expandedLogo]="expandedLogo"
             [noLogo]="noLogo"
             [customLogoHtml]="customLogoHtml"
             [role]="role"
             [ariaLabel]="ariaLabel"
             [ariaDescribedBy]="ariaDescribedBy"
             [ariaLabelledBy]="ariaLabelledBy"
             [ariaHidden]="ariaHidden"
             [ariaDisabled]="ariaDisabled"
             [ariaControls]="ariaControls"
             [ariaCurrent]="ariaCurrent"
             [ariaLive]="ariaLive"
             [ariaExpanded]="ariaExpanded"
             [ariaErrorMessage]="ariaErrorMessage"
             [ariaHasPopup]="ariaHasPopup"
             [tabindex]="tabindex">
  <desy-header-custom-navigation>
    <ng-container *ngIf="isHeaderElemVisible('customNavigation')">
      <desy-menu-navigation *ngIf="contentCustomNavigation === 'nav-menu'"
                            id="with-all-parent-items-1"
                            idPrefix="parent-example"
                            ariaLabel="Menubar description"
                            classes="bg-neutral-lighter c-menu-navigation--last-right w-full">
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}">
          Menuitem
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}"
                                   [active]="true">
          Item activo 2
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}"
                                   [disabled]="true">
          Item deshabilitado 3
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
        <desy-menu-navigation-item classes="c-menu-navigation__button--header -mr-base"
                                   [sub]="{}"
                                   [disabled]="true">
          Item 4 right
          <desy-menu-navigation-subitem>Subitem 1</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 2</desy-menu-navigation-subitem>
          <desy-menu-navigation-subitem>Subitem 3</desy-menu-navigation-subitem>
        </desy-menu-navigation-item>
      </desy-menu-navigation>
      <ng-container *ngIf="contentCustomNavigation === 'nav-custom'">
        <ng-container *appCustomInnerContent="{ html: customNavigationHtml }"></ng-container>
      </ng-container>
    </ng-container>
  </desy-header-custom-navigation>
  <desy-skip-link *ngIf="isHeaderElemVisible('skipLink')"
                  [fragment]="skipLinkData.fragment"
                  [classes]="skipLinkData.classes"
                  [id]="skipLinkData.id">
    <ng-container *appCustomInnerContent="{ html: skipLinkData.html }"></ng-container>
  </desy-skip-link>
  <desy-header-subnav *ngIf="isHeaderElemVisible('subnav') && headerSubnavItems"
                      [classes]="subnavData.classes"
                      [classesContainer]="subnavData.classesContainer"
                      [hiddenText]="subnavData.hiddenText"
                      [classesTooltip]="subnavData.classesTooltip"
                      [role]="subnavData.role"
                      [ariaLabel]="subnavData.ariaLabel"
                      [ariaDescribedBy]="subnavData.ariaDescribedBy"
                      [ariaLabelledBy]="subnavData.ariaLabelledBy"
                      [ariaHidden]="subnavData.ariaHidden"
                      [ariaDisabled]="subnavData.ariaDisabled"
                      [ariaControls]="subnavData.ariaControls"
                      [ariaCurrent]="subnavData.ariaCurrent"
                      [ariaLive]="subnavData.ariaLive"
                      [ariaExpanded]="subnavData.ariaExpanded"
                      [ariaErrorMessage]="subnavData.ariaErrorMessage"
                      [ariaHasPopup]="subnavData.ariaHasPopup"
                      [tabindex]="subnavData.tabindex">
    <ng-container *appCustomInnerContent="{ html: subnavData.html }"></ng-container>
    <desy-nav>
      <ng-container *ngFor="let item of subnavData.items; index as i">
        <desy-nav-item [id]="item.id ? item.id + '-content' : null"
                       [classes]="item.classes"
                       [title]="item.title"
                       [(active)]="item.active"
                       [href]="item.href"
                       [routerLink]="item.routerLink"
                       [fragment]="item.fragment"
                       [target]="item.target"
                       [disabled]="item.disabled"
                       [divider]="item.divider"
                       [role]="item.role"
                       [ariaLabel]="item.ariaLabel"
                       [ariaDescribedBy]="item.ariaDescribedBy"
                       [ariaLabelledBy]="item.ariaLabelledBy"
                       [ariaHidden]="item.ariaHidden"
                       [ariaDisabled]="item.ariaDisabled"
                       [ariaControls]="item.ariaControls"
                       [ariaCurrent]="item.ariaCurrent"
                       [ariaLive]="item.ariaLive"
                       [ariaErrorMessage]="item.ariaErrorMessage"
                       [tabindex]="item.tabindex">
          <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
        </desy-nav-item>
      </ng-container>
    </desy-nav>
  </desy-header-subnav>

  <desy-header-subnav *ngIf="isHeaderElemVisible('subnav') && !headerSubnavItems"
                      [classes]="subnavDataWithoutItems.classes"
                      [classesContainer]="subnavDataWithoutItems.classesContainer"
                      [hiddenText]="subnavDataWithoutItems.hiddenText"
                      [classesTooltip]="subnavDataWithoutItems.classesTooltip"
                      [role]="subnavDataWithoutItems.role"
                      [ariaLabel]="subnavDataWithoutItems.ariaLabel"
                      [ariaDescribedBy]="subnavDataWithoutItems.ariaDescribedBy"
                      [ariaLabelledBy]="subnavDataWithoutItems.ariaLabelledBy"
                      [ariaHidden]="subnavDataWithoutItems.ariaHidden"
                      [ariaDisabled]="subnavDataWithoutItems.ariaDisabled"
                      [ariaControls]="subnavDataWithoutItems.ariaControls"
                      [ariaCurrent]="subnavDataWithoutItems.ariaCurrent"
                      [ariaLive]="subnavDataWithoutItems.ariaLive"
                      [ariaExpanded]="subnavDataWithoutItems.ariaExpanded"
                      [ariaErrorMessage]="subnavDataWithoutItems.ariaErrorMessage"
                      [ariaHasPopup]="subnavDataWithoutItems.ariaHasPopup"
                      [tabindex]="subnavDataWithoutItems.tabindex">
    <ng-container *appCustomInnerContent="{ text: subnavDataWithoutItems.text }"></ng-container>
  </desy-header-subnav>

  <desy-header-dropdown *ngIf="isHeaderElemVisible('dropdown')"
                        [classes]="dropdownData.classes"
                        [classesContainer]="dropdownData.classesContainer"
                        [hiddenText]="dropdownData.hiddenText"
                        [classesTooltip]="dropdownData.classesTooltip"
                        [role]="dropdownData.role"
                        [ariaLabel]="dropdownData.ariaLabel"
                        [ariaDescribedBy]="dropdownData.ariaDescribedBy"
                        [ariaLabelledBy]="dropdownData.ariaLabelledBy"
                        [ariaHidden]="dropdownData.ariaHidden"
                        [ariaDisabled]="dropdownData.ariaDisabled"
                        [ariaControls]="dropdownData.ariaControls"
                        [ariaCurrent]="dropdownData.ariaCurrent"
                        [ariaLive]="dropdownData.ariaLive"
                        [ariaExpanded]="dropdownData.ariaExpanded"
                        [ariaErrorMessage]="dropdownData.ariaErrorMessage"
                        [ariaHasPopup]="dropdownData.ariaHasPopup"
                        [tabindex]="dropdownData.tabindex">
    <ng-container *appCustomInnerContent="{ html: dropdownData.html }"></ng-container>
    <desy-content *ngIf="headerDropdownCustom">
      <ng-container *appCustomInnerContent="{ html: headerDropdownCustomHtml }"></ng-container>
    </desy-content>
    <desy-nav>
      <ng-container *ngFor="let item of dropdownData.items; index as i">
        <desy-nav-item [id]="item.id ? item.id + '-content-dropdown' : null"
                       [classes]="item.classes"
                       [title]="item.title"
                       [(active)]="item.active"
                       [href]="item.href"
                       [routerLink]="item.routerLink"
                       [fragment]="item.fragment"
                       [target]="item.target"
                       [disabled]="item.disabled"
                       [divider]="item.divider"
                       [role]="item.role"
                       [ariaLabel]="item.ariaLabel"
                       [ariaDescribedBy]="item.ariaDescribedBy"
                       [ariaLabelledBy]="item.ariaLabelledBy"
                       [ariaHidden]="item.ariaHidden"
                       [ariaDisabled]="item.ariaDisabled"
                       [ariaControls]="item.ariaControls"
                       [ariaCurrent]="item.ariaCurrent"
                       [ariaLive]="item.ariaLive"
                       [ariaErrorMessage]="item.ariaErrorMessage"
                       [tabindex]="item.tabindex">
          <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
        </desy-nav-item>
      </ng-container>
    </desy-nav>
  </desy-header-dropdown>

  <desy-mobile-text *ngIf="isHeaderElemVisible('mobileText')"
                    [classes]="mobileTextData.classes"
                    [role]="mobileTextData.role"
                    [ariaLabel]="mobileTextData.ariaLabel"
                    [ariaDescribedBy]="mobileTextData.ariaDescribedBy"
                    [ariaLabelledBy]="mobileTextData.ariaLabelledBy"
                    [ariaHidden]="mobileTextData.ariaHidden"
                    [ariaDisabled]="mobileTextData.ariaDisabled"
                    [ariaControls]="mobileTextData.ariaControls"
                    [ariaCurrent]="mobileTextData.ariaCurrent"
                    [ariaLive]="mobileTextData.ariaLive"
                    [ariaExpanded]="mobileTextData.ariaExpanded"
                    [ariaErrorMessage]="mobileTextData.ariaErrorMessage"
                    [ariaHasPopup]="mobileTextData.ariaHasPopup"
                    [tabindex]="mobileTextData.tabindex">
    <ng-container *appCustomInnerContent="{ html: mobileTextData.html }"></ng-container>
  </desy-mobile-text>

  <desy-header-navigation *ngIf="isHeaderElemVisible('navigation')"
                          [classes]="navigationData.classes">
    <ng-container *ngFor="let item of navigationData.items">
      <desy-header-navigation-item [href]="item.href"
                                   [routerLink]="item.routerLink"
                                   [fragment]="item.fragment"
                                   [id]="item.id"
                                   [active]="item.active"
                                   [disabled]="item.disabled">
        <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
      </desy-header-navigation-item>
    </ng-container>
  </desy-header-navigation>

  <desy-header-offcanvas *ngIf="isHeaderElemVisible('offcanvas')"
                         [classes]="offsetcanvasData.classes">
    <desy-header-offcanvas-button>
      <ng-container *appCustomInnerContent="{ html: offsetcanvasData.html }"></ng-container>
    </desy-header-offcanvas-button>
    <desy-header-offcanvas-close-button>
      <ng-container *appCustomInnerContent="{ html: offsetcanvasData.textClose }"></ng-container>
    </desy-header-offcanvas-close-button>
    <desy-content>
      <ul>
        <li>
          <h3 class="p-base text-base font-bold"
              id="caller-id">Páginas</h3>
          <desy-nav idPrefix="pages">
            <desy-nav-item [routerLink]="[]">
              Opción 1 (sin url)
            </desy-nav-item>
            <desy-nav-item routerLink="/">
              Opción 2 (componentes)
            </desy-nav-item>
            <desy-nav-item href="http://google.es">
              Opción 3 (externa)
            </desy-nav-item>
          </desy-nav>
        </li>
        <li>
          <h3 class="p-base pt-xl text-base font-bold">Información adicional</h3>
          <desy-nav classes="bg-warning-light"
                    idPrefix="aditionalinfo">
            <desy-nav-item routerLink="/">
              Opción 1
            </desy-nav-item>
            <desy-nav-item routerLink="/">
              Opción 2
            </desy-nav-item>
            <desy-nav-item routerLink="/">
              Opción 3
            </desy-nav-item>
          </desy-nav>
        </li>
      </ul>
    </desy-content>
  </desy-header-offcanvas>
</desy-header>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Header simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-header homepageUrl="/">
  <desy-header-subnav>
    Gestor de expedientes
  </desy-header-subnav>
  <desy-mobile-text>
    Gestor de expedientes
  </desy-mobile-text>
  <desy-header-navigation>
    <desy-header-navigation-item href="#1">
      Navigation item 1
    </desy-header-navigation-item>
    <desy-header-navigation-item href="#2"
                                 [active]="true">
      Navigation item 2
    </desy-header-navigation-item>
    <desy-header-navigation-item href="#3">
      Navigation item 3
    </desy-header-navigation-item>
    <desy-header-navigation-item href="#4">
      Navigation item 4
    </desy-header-navigation-item>
  </desy-header-navigation>
</desy-header>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Header con logo expandido"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-header homepageUrl="/" [expandedLogo]="true">
</desy-header>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Header con contenido personalizado en dropdown"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-header homepageUrl="/">
  <desy-mobile-text>
    Gestor de expedientes
  </desy-mobile-text>
  <desy-header-dropdown classesTooltip="w-64 max-h-48 overflow-y-auto">
   <span class="block text-right">Marta Pérez <br>(Administración)</span>
    <desy-content>
      <div class="p-base">
        <dl>
          <dt class="text-base">Marta Pérez</dt>
          <dd class="text-sm text-neutral-dark">Departamento de Ciencia, Universidad y Sociedad del Conocimiento</dd>
        </dl>
      </div>
    </desy-content>
  </desy-header-dropdown>
</desy-header>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params titleparams="Parámetros de header"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="classes" placeholder="p-20" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="containerClasses" placeholder="p-20" [(target)]="containerClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="homepageUrl" [(target)]="homepageUrl"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="homepageRouterLink" [(target)]="homepageRouterLink"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="homepageFragment" [(target)]="homepageFragment"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="expandedLogo" [(target)]="expandedLogo"></app-input-boolean>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="noLogo" [(target)]="noLogo"></app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" nameProperty="customLogoHtml" [(target)]="customLogoHtml"></app-input-text>
      </div>
    </details>
  </div>
  <app-accessibility-inputs [id]="'input-header-id'"
                            [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>
</div>


<desy-checkboxes legendText="Configuración de los elementos del header" [name]="'headerElems'"
                 hintText="Selecciona un elemento para incluirlo al header y configurarlo"
                 [(ngModel)]="headerVisibleElems" (ngModelChange)="detectChanges()" [items]="headerElements">
  <ng-template #subnavInputs desyCondition [item]="headerElements[0]">
    <app-input-boolean nameComponent="subnav" nameProperty="Mostrar items" [(target)]="headerSubnavItems"
                       [description]="'Mostrar items en el subnav'"></app-input-boolean>
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de subnav"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="subnav" nameProperty="html" [(target)]="subnavData.html"></app-input-text>
            <app-input-text nameComponent="subnav" nameProperty="classes" placeholder="p-20" [(target)]="subnavData.classes"></app-input-text>
            <app-input-text nameComponent="subnav" nameProperty="classesContainer" [(target)]="subnavData.classesContainer"></app-input-text>
            <app-input-text nameComponent="subnav" nameProperty="classesTooltip" [(target)]="subnavData.classesTooltip"></app-input-text>
            <app-input-text nameComponent="subnav" nameProperty="hiddenText" [(target)]="subnavData.hiddenText"></app-input-text>
          </div>
        </details>
      </div>
      <app-accessibility-inputs [id]="'input-subnav-id'"
                                title="Parámetros de accesibilidad de subnav"
                                [(role)]="subnavData.role"
                                [(ariaLabel)]="subnavData.ariaLabel"
                                [(ariaDescribedBy)]="subnavData.ariaDescribedBy"
                                [(ariaLabelledBy)]="subnavData.ariaLabelledBy"
                                [(ariaHidden)]="subnavData.ariaHidden"
                                [(ariaDisabled)]="subnavData.ariaDisabled"
                                [(ariaControls)]="subnavData.ariaControls"
                                [(ariaCurrent)]="subnavData.ariaCurrent"
                                [(ariaLive)]="subnavData.ariaLive"
                                [(ariaExpanded)]="subnavData.ariaExpanded"
                                [(ariaErrorMessage)]="subnavData.ariaErrorMessage"
                                [(ariaHasPopup)]="subnavData.ariaHasPopup"
                                [(tabindex)]="subnavData.tabindex"></app-accessibility-inputs>

      <div>
        <app-title-params titleparams="Parámetros de Subnav-item"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="subnav-item" nameProperty="id" [(target)]="subnavItemData.id"></app-input-text>
            <app-input-text nameComponent="subnav-item" nameProperty="classes" placeholder="p-20" [(target)]="subnavItemData.classes"></app-input-text>
            <app-input-text nameComponent="subnav-item" nameProperty="html" [(target)]="subnavItemData.html"></app-input-text>
            <app-input-text nameComponent="subnav-item" nameProperty="href" [(target)]="subnavItemData.href"></app-input-text>
            <app-input-text nameComponent="subnav-item" nameProperty="routerLink" [(target)]="subnavItemData.routerLink"></app-input-text>
            <app-input-text nameComponent="subnav-item" nameProperty="fragment" [(target)]="subnavItemData.fragment"></app-input-text>
            <app-input-boolean nameComponent="subnav-item" nameProperty="active" [(target)]="subnavItemData.active"></app-input-boolean>
            <app-input-boolean nameComponent="subnav-item" nameProperty="disabled" [(target)]="subnavItemData.disabled"></app-input-boolean>
            <app-input-text nameComponent="subnav-item" nameProperty="divider" [(target)]="subnavItemData.divider"></app-input-text>
          </div>
        </details>
      </div>
      <app-accessibility-inputs [id]="'input-subnav-item-id'"
                                title="Parámetros de accesibilidad de subnav item"
                                [(role)]="subnavItemData.role"
                                [(ariaLabel)]="subnavItemData.ariaLabel"
                                [(ariaDescribedBy)]="subnavItemData.ariaDescribedBy"
                                [(ariaLabelledBy)]="subnavItemData.ariaLabelledBy"
                                [(ariaHidden)]="subnavItemData.ariaHidden"
                                [(ariaDisabled)]="subnavItemData.ariaDisabled"
                                [(ariaControls)]="subnavItemData.ariaControls"
                                [(ariaCurrent)]="subnavItemData.ariaCurrent"
                                [(ariaLive)]="subnavItemData.ariaLive"
                                [(ariaExpanded)]="subnavItemData.ariaExpanded"
                                [(ariaErrorMessage)]="subnavItemData.ariaErrorMessage"
                                [(ariaHasPopup)]="subnavItemData.ariaHasPopup"
                                [(tabindex)]="subnavItemData.tabindex"></app-accessibility-inputs>
    </div>
  </ng-template>
  <ng-template #subnavInputs desyCondition [item]="headerElements[1]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de navigation"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="navigation" nameProperty="classes" [(target)]="navigationData.classes"></app-input-text>
          </div>
        </details>
      </div>
      <div></div><!-- Navigation no tiene parámetros de accesibilidad -->

      <div>
        <app-title-params titleparams="Parámetros de Navigation-item"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="navigation-item" nameProperty="id" [(target)]="navigationItemData.id"></app-input-text>
            <app-input-text nameComponent="navigation-item" nameProperty="html" [(target)]="navigationItemData.html"></app-input-text>
            <app-input-text nameComponent="navigation-item" nameProperty="href" [(target)]="navigationItemData.href"></app-input-text>
            <app-input-text nameComponent="navigation-item" nameProperty="routerLink" [(target)]="navigationItemData.routerLink"></app-input-text>
            <app-input-text nameComponent="navigation-item" nameProperty="fragment" [(target)]="navigationItemData.fragment"></app-input-text>
            <app-input-boolean nameComponent="navigation-item" nameProperty="active" [(target)]="navigationItemData.active"></app-input-boolean>
            <app-input-boolean nameComponent="navigation-item" nameProperty="disabled" [(target)]="navigationItemData.disabled"></app-input-boolean>
          </div>
        </details>
      </div>
      <app-accessibility-inputs [id]="'input-navigation-item-id'"
                                title="Parámetros de accesibilidad de navigation item"
                                [(role)]="role"
                                [(ariaLabel)]="navigationItemData.ariaLabel"
                                [(ariaDescribedBy)]="navigationItemData.ariaDescribedBy"
                                [(ariaLabelledBy)]="navigationItemData.ariaLabelledBy"
                                [(ariaHidden)]="navigationItemData.ariaHidden"
                                [(ariaDisabled)]="navigationItemData.ariaDisabled"
                                [(ariaControls)]="navigationItemData.ariaControls"
                                [(ariaCurrent)]="navigationItemData.ariaCurrent"
                                [(ariaLive)]="navigationItemData.ariaLive"
                                [(ariaExpanded)]="navigationItemData.ariaExpanded"
                                [(ariaErrorMessage)]="navigationItemData.ariaErrorMessage"
                                [(ariaHasPopup)]="navigationItemData.ariaHasPopup"
                                [(tabindex)]="navigationItemData.tabindex"></app-accessibility-inputs>
    </div>
  </ng-template>
  <ng-template #subnavInputs desyCondition [item]="headerElements[2]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de dropdown"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="dropdown" nameProperty="html" [(target)]="dropdownData.html"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="classes" [(target)]="dropdownData.classes"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="classesContainer" [(target)]="dropdownData.classesContainer"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="classesTooltip" [(target)]="dropdownData.classesTooltip"></app-input-text>
            <app-input-text nameComponent="dropdown" nameProperty="hiddenText" [(target)]="dropdownData.hiddenText"></app-input-text>
            <app-input-boolean nameComponent="dropdown" nameProperty="Incluir contenido personalizado" [(target)]="headerDropdownCustom"
                               description="Sólo disponible para el ejemplo con contenido."></app-input-boolean>
            <app-input-text nameComponent="dropdown" nameProperty="Conenido personalizado" [(target)]="headerDropdownCustomHtml"
                            description="Para visualizarse debe marcarse la opción 'Incluir contenido personalizado'"></app-input-text>
          </div>
        </details>
      </div>

      <app-accessibility-inputs [id]="'input-dropdown-id'"
                                title="Parámetros de accesibilidad de dropdown"
                                [(role)]="dropdownData.role"
                                [(ariaLabel)]="dropdownData.ariaLabel"
                                [(ariaDescribedBy)]="dropdownData.ariaDescribedBy"
                                [(ariaLabelledBy)]="dropdownData.ariaLabelledBy"
                                [(ariaHidden)]="dropdownData.ariaHidden"
                                [(ariaDisabled)]="dropdownData.ariaDisabled"
                                [(ariaControls)]="dropdownData.ariaControls"
                                [(ariaCurrent)]="dropdownData.ariaCurrent"
                                [(ariaLive)]="dropdownData.ariaLive"
                                [(ariaExpanded)]="dropdownData.ariaExpanded"
                                [(ariaErrorMessage)]="dropdownData.ariaErrorMessage"
                                [(ariaHasPopup)]="dropdownData.ariaHasPopup"
                                [(tabindex)]="dropdownData.tabindex"></app-accessibility-inputs>

      <div>
        <app-title-params titleparams="Parámetros de Dropdown-item"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="dropdown-item" nameProperty="id" [(target)]="dropdownItemData.id"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="classes" placeholder="p-20" [(target)]="dropdownItemData.classes"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="html" [(target)]="dropdownItemData.html"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="href" [(target)]="dropdownItemData.href"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="routerLink" [(target)]="dropdownItemData.routerLink"></app-input-text>
            <app-input-text nameComponent="dropdown-item" nameProperty="fragment" [(target)]="dropdownItemData.fragment"></app-input-text>
            <app-input-boolean nameComponent="dropdown-item" nameProperty="active" [(target)]="dropdownItemData.active"></app-input-boolean>
            <app-input-boolean nameComponent="dropdown-item" nameProperty="disabled" [(target)]="dropdownItemData.disabled"></app-input-boolean>
            <app-input-text nameComponent="dropdown-item" nameProperty="divider" [(target)]="dropdownItemData.divider"></app-input-text>
          </div>
        </details>
      </div>

      <app-accessibility-inputs [id]="'input-dropdown-item-id'"
                                title="Parámetros de accesibilidad de dropdown item"
                                [(role)]="dropdownItemData.role"
                                [(ariaLabel)]="dropdownItemData.ariaLabel"
                                [(ariaDescribedBy)]="dropdownItemData.ariaDescribedBy"
                                [(ariaLabelledBy)]="dropdownItemData.ariaLabelledBy"
                                [(ariaHidden)]="dropdownItemData.ariaHidden"
                                [(ariaDisabled)]="dropdownItemData.ariaDisabled"
                                [(ariaControls)]="dropdownItemData.ariaControls"
                                [(ariaCurrent)]="dropdownItemData.ariaCurrent"
                                [(ariaLive)]="dropdownItemData.ariaLive"
                                [(ariaExpanded)]="dropdownItemData.ariaExpanded"
                                [(ariaErrorMessage)]="dropdownItemData.ariaErrorMessage"
                                [(ariaHasPopup)]="dropdownItemData.ariaHasPopup"
                                [(tabindex)]="dropdownItemData.tabindex"></app-accessibility-inputs>
    </div>
  </ng-template>
  <ng-template #subnavInputs desyCondition [item]="headerElements[3]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de offsetcanvas"></app-title-params>
        <details>
          <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
            <span>Mostrar</span>
          </summary>
          <div class="py-sm">
            <app-input-text nameComponent="offsetcanvas" nameProperty="html" [(target)]="offsetcanvasData.html"></app-input-text>
            <app-input-text nameComponent="offsetcanvas" nameProperty="classes" [(target)]="offsetcanvasData.classes"></app-input-text>
            <app-input-text nameComponent="offsetcanvas" nameProperty="textClose" [(target)]="offsetcanvasData.textClose"></app-input-text>
          </div>
        </details>
      </div>
      <div></div><!-- Offsetcanvas no tiene parámetros de accesibilidad -->
    </div>
  </ng-template>
  <ng-template #subnavInputs desyCondition [item]="headerElements[4]">
    <app-input-text nameComponent="skipLink"
                    nameProperty="html" [(target)]="skipLinkData.html"></app-input-text>
    <app-input-text nameComponent="skipLink" nameProperty="classes" [(target)]="skipLinkData.classes"></app-input-text>
    <app-input-text nameComponent="skipLink" nameProperty="id" [(target)]="skipLinkData.id"></app-input-text>
    <app-input-text nameComponent="skipLink" nameProperty="fragment" [(target)]="skipLinkData.fragment"></app-input-text>
  </ng-template>
  <ng-template #subnavInputs desyCondition [item]="headerElements[5]">
    <desy-radios name="customNavigation" [(ngModel)]="contentCustomNavigation">
      <desy-radio-item value="nav-menu">
        <desy-label>Con menu navigation</desy-label>
      </desy-radio-item>
      <desy-radio-item value="nav-custom"  [conditional]="true">
        <desy-label>Con HTML personalizado</desy-label>
        <desy-content>
          <app-input-text [nameComponent]="nameComponent" nameProperty="customNavigationHtml" [(target)]="customNavigationHtml"></app-input-text>
        </desy-content>
      </desy-radio-item>
    </desy-radios>
  </ng-template>

  <ng-template desyCondition [item]="headerElements[6]">
    <div class="c-form-group grid grid-cols-2 gap-base">
      <div>
        <app-title-params titleparams="Parámetros de Mobile Text"></app-title-params>
        <div class="py-sm">
          <app-input-text nameComponent="mobileText" nameProperty="html" [(target)]="mobileTextData.html"></app-input-text>
          <app-input-text nameComponent="mobileText" nameProperty="classes" placeholder="p-20" [(target)]="mobileTextData.classes"></app-input-text>
        </div>
      </div>
      <div>
        <app-accessibility-inputs [id]="'input-mobileText-id'"
                              title="Parámetros de accesibilidad de mobileText"
                              [(role)]="mobileTextData.role"
                              [(ariaLabel)]="mobileTextData.ariaLabel"
                              [(ariaDescribedBy)]="mobileTextData.ariaDescribedBy"
                              [(ariaLabelledBy)]="mobileTextData.ariaLabelledBy"
                              [(ariaHidden)]="mobileTextData.ariaHidden"
                              [(ariaDisabled)]="mobileTextData.ariaDisabled"
                              [(ariaControls)]="mobileTextData.ariaControls"
                              [(ariaCurrent)]="mobileTextData.ariaCurrent"
                              [(ariaLive)]="mobileTextData.ariaLive"
                              [(ariaExpanded)]="mobileTextData.ariaExpanded"
                              [(ariaErrorMessage)]="mobileTextData.ariaErrorMessage"
                              [(ariaHasPopup)]="mobileTextData.ariaHasPopup"
                              [(tabindex)]="mobileTextData.tabindex"></app-accessibility-inputs>
      </div>
    </div>
  </ng-template>
</desy-checkboxes>
