<ng-template #contentTemplate>
   <ng-content></ng-content>
</ng-template>

<ng-container [ngSwitch]="getType()">
    <ng-container *ngSwitchCase="staticElementTypeA">
      <!-- routerLink modifica href, por eso se duplica para que no convivan en un mismo html -->
      <a *ngIf="routerLink" data-module="c-pill"  (click)="onClick($event)"
         [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
         [routerLink]="routerLink" [routerLinkActive]="routerLinkActiveClasses ? routerLinkActiveClasses : []" [fragment]="fragment"
         [class]="getClassNames()"
         [attr.id]="id ? id : null"
         [desyAppAccessibility]="this">
         <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </a>

      <a *ngIf="!routerLink" data-module="c-pill"  (click)="onClick($event)"
         [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
         [href]="href | externalHref"
         [class]="getClassNames()"
         [attr.target]="target ? target : null"
         [attr.id]="id ? id : null"
         [desyAppAccessibility]="this">
         <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </a>
    </ng-container>

    <button *ngSwitchCase="staticElementTypeButton" data-module="c-pill" (click)="onClick($event)"
            [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
            [class]="getClassNames()"
            [attr.id]="id ? id : null"
            [desyAppAccessibility]="this">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
         </button>

    <span *ngSwitchCase="staticElementTypeSpan" data-module="c-pill" (click)="onClick($event)"
          [desyInnerContent]="html ? html : text" [isHtml]="isHtml" [deleteContentIfEmpty]="false"
          [class]="getClassNames()"
          [attr.id]="id ? id : null"
          [desyAppAccessibility]="this">
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
         </span>
</ng-container>
