<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Label configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-label [classes]="classes"
            [for]="for"
            [isPageHeading]="isPageHeading"
            [id]="id"
            [role]="role"
            [headingLevel]="headingLevel"
            [ariaLabel]="ariaLabel"
            [ariaDescribedBy]="ariaDescribedBy"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaHidden]="ariaHidden"
            [ariaDisabled]="ariaDisabled"
            [ariaControls]="ariaControls"
            [ariaCurrent]="ariaCurrent"
            [ariaLive]="ariaLive"
            [ariaExpanded]="ariaExpanded"
            [ariaErrorMessage]="ariaErrorMessage"
            [ariaHasPopup]="ariaHasPopup"
            [tabindex]="tabindex">
  <ng-container *appCustomInnerContent="{ html: html }"></ng-container>
</desy-label>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Label simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-label>
  Esto es un label
</desy-label>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Label con clases de css aplicadas"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-label classes="inline-block p-base bg-primary-light">
  Esto es un label
</desy-label>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Label como encabezado"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml3" [codeTs]="mostrarCodigo.codigoTs3"></app-show-code>
<desy-label classes="c-h1" [isPageHeading]="true">
  Esto es un label
</desy-label>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <app-input-text [nameComponent]="nameComponent" nameProperty="html" [(target)]="html"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="for" [(target)]="for"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="inline-block bg-warning-light ..." nameProperty="classes" [(target)]="classes"> </app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"> </app-input-text>
    <app-input-boolean [nameComponent]="nameComponent" nameProperty="isPageHeading" [(target)]="isPageHeading"> </app-input-boolean>
    <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="headingLevel"> </app-input-number>
    
  </div>

  <app-accessibility-inputs [(role)]="role"
           [(ariaLabel)]="ariaLabel"
           [(ariaDescribedBy)]="ariaDescribedBy"
           [(ariaLabelledBy)]="ariaLabelledBy"
           [(ariaHidden)]="ariaHidden"
           [(ariaDisabled)]="ariaDisabled"
           [(ariaControls)]="ariaControls"
           [(ariaCurrent)]="ariaCurrent"
           [(ariaLive)]="ariaLive"
           [(ariaExpanded)]="ariaExpanded"
           [(ariaErrorMessage)]="ariaErrorMessage"
           [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>

</div>


