<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Table configurable" observations="A partir de 3x3 celdas, la primera ocupa 2x2"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-table [firstCellIsHeader]="firstCellIsHeader"
            [classes]="classes"
            [id]="id"
            [wrapper]="wrapper.classes ? wrapper : null"
            [role]="role"
            [ariaLabel]="ariaLabel"
            [ariaDescribedBy]="ariaDescribedBy"
            [ariaLabelledBy]="ariaLabelledBy"
            [ariaHidden]="ariaHidden"
            [ariaDisabled]="ariaDisabled"
            [ariaControls]="ariaControls"
            [ariaCurrent]="ariaCurrent"
            [ariaLive]="ariaLive"
            [ariaExpanded]="ariaExpanded"
            [ariaErrorMessage]="ariaErrorMessage"
            [ariaHasPopup]="ariaHasPopup"
            [tabindex]="tabindex">
  <desy-table-caption [classes]="captionClasses">{{ caption }}</desy-table-caption>
  <desy-table-header *ngIf="hasHeader">
    <desy-table-cell *ngFor="let cell of head"
                     [id]="cell.id"
                     [classes]="cell.classes"
                     [colspan]="cell.colspan"
                     [rowspan]="cell.rowspan">
      <ng-container *appCustomInnerContent="{ html: cell.html }"></ng-container>
    </desy-table-cell>
  </desy-table-header>
  <desy-table-row *ngFor="let row of rows">
    <desy-table-cell *ngFor="let cell of row"
                     [id]="cell.id"
                     [classes]="cell.classes"
                     [colspan]="cell.colspan"
                     [rowspan]="cell.rowspan">
      <ng-container *appCustomInnerContent="{ html: cell.html }"></ng-container>
    </desy-table-cell>
  </desy-table-row>
  <desy-table-footer *ngIf="hasFooter">
    <desy-table-cell *ngFor="let cell of foot"
                     [id]="cell.id"
                     [classes]="cell.classes"
                     [colspan]="cell.colspan"
                     [rowspan]="cell.rowspan">
      <ng-container *appCustomInnerContent="{ html: cell.html }"></ng-container>
    </desy-table-cell>
  </desy-table-footer>
</desy-table>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Table simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<desy-table>
  <desy-table-row>
    <desy-table-cell>January</desy-table-cell>
    <desy-table-cell classes="text-right">85€</desy-table-cell>
    <desy-table-cell classes="text-right">95€</desy-table-cell>
  </desy-table-row>
  <desy-table-row>
    <desy-table-cell>February</desy-table-cell>
    <desy-table-cell classes="text-right">75€</desy-table-cell>
    <desy-table-cell classes="text-right">55€</desy-table-cell>
  </desy-table-row>
  <desy-table-row>
    <desy-table-cell>March</desy-table-cell>
    <desy-table-cell classes="text-right">165€</desy-table-cell>
    <desy-table-cell classes="text-right">125€</desy-table-cell>
  </desy-table-row>
</desy-table>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="Table con Head, Foot y Caption"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-table>
  <desy-table-caption classes="mb-base font-bold text-left text-lg">Caption 1: Months and rates</desy-table-caption>
  <desy-table-header>
    <desy-table-cell>Month you apply</desy-table-cell>
    <desy-table-cell classes="text-right">Rate for bicycles</desy-table-cell>
    <desy-table-cell classes="text-right">Rate for vehicles</desy-table-cell>
  </desy-table-header>
  <desy-table-row>
    <desy-table-cell>January</desy-table-cell>
    <desy-table-cell classes="text-right">85€</desy-table-cell>
    <desy-table-cell classes="text-right">95€</desy-table-cell>
  </desy-table-row>
  <desy-table-row>
    <desy-table-cell>February</desy-table-cell>
    <desy-table-cell classes="text-right">75€</desy-table-cell>
    <desy-table-cell classes="text-right">55€</desy-table-cell>
  </desy-table-row>
  <desy-table-row>
    <desy-table-cell>March</desy-table-cell>
    <desy-table-cell classes="text-right">165€</desy-table-cell>
    <desy-table-cell classes="text-right">125€</desy-table-cell>
  </desy-table-row>
  <desy-table-footer>
    <desy-table-cell>Suma</desy-table-cell>
    <desy-table-cell classes="text-right">325€</desy-table-cell>
    <desy-table-cell classes="text-right">275€</desy-table-cell>
  </desy-table-footer>
</desy-table>
<app-spaced [withBorder]="true"></app-spaced>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <app-input-text [nameComponent]="nameComponent" placeholder="c-table ..." nameProperty="classes"
                      [(target)]="classes"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" nameProperty="caption" [(target)]="caption"></app-input-text>
      <app-input-text [nameComponent]="nameComponent" placeholder="mb-base font-bold text-left text-lg ..."
                      nameProperty="captionClasses" [(target)]="captionClasses"></app-input-text>
      <app-input-boolean [nameComponent]="nameComponent" description="Primera celda como TH"
                         nameProperty="firstCellIsHeader" [(target)]="firstCellIsHeader"></app-input-boolean>

      <app-input-boolean [nameComponent]="nameComponent"
                         nameProperty="Incluir header" [(target)]="hasHeader" (targetChange)="refreshTable()"></app-input-boolean>
                         
      <app-input-boolean [nameComponent]="nameComponent"
                         nameProperty="Incluir footer" [(target)]="hasFooter" (targetChange)="refreshTable()"></app-input-boolean>
                         
      <app-input-number [nameComponent]="nameComponent" nameProperty="Número de filas"
                        [(target)]="numRows"
                        (targetChange)="refreshTable()"></app-input-number>
      <app-input-number [nameComponent]="nameComponent" nameProperty="Número de columnas"
                        [(target)]="numColumns"
                        (targetChange)="refreshTable()"></app-input-number>
      <app-input-text [nameComponent]="'wrapper'" nameProperty="wrapper classes"
                      [description]="'Especificando esta propiedad se añadirá un wrapper(div) a la tabla'"
                      [placeholder]="'overflow-x-auto'"
                      [(target)]="wrapper.classes"></app-input-text>
    </details>
  </div>
  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de la celda editable de la cabecera"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="itemHead" nameProperty="html" [(target)]="itemHead.html"></app-input-text>
        <app-input-text nameComponent="itemHead" nameProperty="classes" [(target)]="itemHead.classes"></app-input-text>
        <app-input-text nameComponent="itemHead" nameProperty="id" [(target)]="itemHead.id"></app-input-text>
        <app-input-number nameComponent="itemHead" nameProperty="colspan"
                          [(target)]="itemHead.colspan"></app-input-number>
        <app-input-number nameComponent="itemHead" nameProperty="rowspan"
                          [(target)]="itemHead.rowspan"></app-input-number>
      </div>
    </details>
  </div>
  <app-accessibility-inputs title="Parámetros de accesibilidad de la ultima head" id="itemHead"
                            [(role)]="itemHead.role"
                            [(ariaLabel)]="itemHead.ariaLabel"
                            [(ariaDescribedBy)]="itemHead.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemHead.ariaLabelledBy"
                            [(ariaHidden)]="itemHead.ariaHidden"
                            [(ariaDisabled)]="itemHead.ariaDisabled"
                            [(ariaControls)]="itemHead.ariaControls"
                            [(ariaCurrent)]="itemHead.ariaCurrent"
                            [(ariaLive)]="itemHead.ariaLive"
                            [(ariaExpanded)]="itemHead.ariaExpanded"
                            [(ariaErrorMessage)]="itemHead.ariaErrorMessage"
                            [(ariaHasPopup)]="itemHead.ariaHasPopup"
                            [(tabindex)]="itemHead.tabindex"></app-accessibility-inputs>
                            
  <div>
    <app-title-params titleparams="Parámetros de la celda editable del footer"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="itemFoot" nameProperty="html" [(target)]="itemFoot.html"></app-input-text>
        <app-input-text nameComponent="itemFoot" nameProperty="classes" [(target)]="itemFoot.classes"></app-input-text>
        <app-input-text nameComponent="itemFoot" nameProperty="id" [(target)]="itemFoot.id"></app-input-text>
        <app-input-number nameComponent="itemFoot" nameProperty="colspan"
                          [(target)]="itemFoot.colspan"></app-input-number>
        <app-input-number nameComponent="itemFoot" nameProperty="rowspan"
                          [(target)]="itemFoot.rowspan"></app-input-number>
      </div>
    </details>
  </div>
  <app-accessibility-inputs title="Parámetros de accesibilidad del último footer" id="itemFoot"
                            [(role)]="itemFoot.role"
                            [(ariaLabel)]="itemFoot.ariaLabel"
                            [(ariaDescribedBy)]="itemFoot.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemFoot.ariaLabelledBy"
                            [(ariaHidden)]="itemFoot.ariaHidden"
                            [(ariaDisabled)]="itemFoot.ariaDisabled"
                            [(ariaControls)]="itemFoot.ariaControls"
                            [(ariaCurrent)]="itemFoot.ariaCurrent"
                            [(ariaLive)]="itemFoot.ariaLive"
                            [(ariaExpanded)]="itemFoot.ariaExpanded"
                            [(ariaErrorMessage)]="itemFoot.ariaErrorMessage"
                            [(ariaHasPopup)]="itemFoot.ariaHasPopup"
                            [(tabindex)]="itemFoot.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de la celda editable"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="itemRow" nameProperty="html" [(target)]="itemRow.html"></app-input-text>
        <app-input-text nameComponent="itemRow" nameProperty="classes" [(target)]="itemRow.classes"></app-input-text>
        <app-input-text nameComponent="itemRow" nameProperty="id" [(target)]="itemRow.id"></app-input-text>
        <app-input-number nameComponent="itemRow" nameProperty="colspan"
                          [(target)]="itemRow.colspan"></app-input-number>
        <app-input-number nameComponent="itemRow" nameProperty="rowspan"
                          [(target)]="itemRow.rowspan"></app-input-number>
      </div>
    </details>
  </div>
  <app-accessibility-inputs title="Parámetros de accesibilidad del ultimo row" id="itemRow"
                            [(role)]="itemRow.role"
                            [(ariaLabel)]="itemRow.ariaLabel"
                            [(ariaDescribedBy)]="itemRow.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemRow.ariaLabelledBy"
                            [(ariaHidden)]="itemRow.ariaHidden"
                            [(ariaDisabled)]="itemRow.ariaDisabled"
                            [(ariaControls)]="itemRow.ariaControls"
                            [(ariaCurrent)]="itemRow.ariaCurrent"
                            [(ariaLive)]="itemRow.ariaLive"
                            [(ariaExpanded)]="itemRow.ariaExpanded"
                            [(ariaErrorMessage)]="itemRow.ariaErrorMessage"
                            [(ariaHasPopup)]="itemRow.ariaHasPopup"
                            [(tabindex)]="itemRow.tabindex"></app-accessibility-inputs>
</div>
