<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="Radios configurable"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-radios name="main"
             idPrefix="main"
             [(ngModel)]="mainValue">
  <desy-legend>Ejemplos principales</desy-legend>

  <desy-radio-item value="content"
                   [conditional]="true">
    Ejemplo con contenido y ngModel
    <desy-hint>El tercer item es configurable. Al id e idprefix se le añade '-content'</desy-hint>
    <desy-content>
      <desy-radios [(ngModel)]="valueContent"
                   [idPrefix]="idPrefix ? idPrefix + '-content' : null"
                   [hasDividers]="hasDividers"
                   [formGroupClasses]="formGroupClasses"
                   [id]="id ? id + '-content' : null"
                   [describedBy]="describedBy"
                   [name]="name"
                   [classes]="classes"
                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
        <desy-fieldset *ngIf="fieldsetData.legend.html"
                       [id]="fieldsetData.id"
                       [classes]="fieldsetData.classes">
          <desy-legend>
            <ng-container *appCustomInnerContent="{ html: fieldsetData.legend.html }"></ng-container>
          </desy-legend>
        </desy-fieldset>
        <desy-hint *ngIf="hintData.html"
                   [classes]="hintData.classes"
                   [id]="hintData.id"
                   [role]="hintData.role"
                   [ariaLabel]="hintData.ariaLabel"
                   [ariaDescribedBy]="hintData.ariaDescribedBy"
                   [ariaLabelledBy]="hintData.ariaLabelledBy"
                   [ariaHidden]="hintData.ariaHidden"
                   [ariaDisabled]="hintData.ariaDisabled"
                   [ariaControls]="hintData.ariaControls"
                   [ariaCurrent]="hintData.ariaCurrent"
                   [ariaLive]="hintData.ariaLive"
                   [ariaExpanded]="hintData.ariaExpanded"
                   [ariaErrorMessage]="hintData.ariaErrorMessage"
                   [ariaHasPopup]="hintData.ariaHasPopup"
                   [tabindex]="hintData.tabindex">
          <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
        </desy-hint>
        <desy-error-message *ngIf="errorMessageData.html"
                            [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                            [id]="errorMessageData.id"
                            [classes]="errorMessageData.classes"
                            [role]="errorMessageData.role"
                            [ariaLabel]="errorMessageData.ariaLabel"
                            [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                            [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                            [ariaHidden]="errorMessageData.ariaHidden"
                            [ariaDisabled]="errorMessageData.ariaDisabled"
                            [ariaControls]="errorMessageData.ariaControls"
                            [ariaCurrent]="errorMessageData.ariaCurrent"
                            [ariaLive]="errorMessageData.ariaLive"
                            [ariaExpanded]="errorMessageData.ariaExpanded"
                            [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                            [ariaHasPopup]="errorMessageData.ariaHasPopup"
                            [tabindex]="errorMessageData.tabindex">
          <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
        </desy-error-message>
        <desy-radio-item value="opcion1"
                         [conditional]="true">
          <desy-label>Opción 1</desy-label>
          <desy-hint>Tiene contenido condicional</desy-hint>
          <desy-content>Contenido condicional</desy-content>
        </desy-radio-item>
        <desy-radio-item value="opcion2">
          Opcion 2
          <desy-hint>No se especifica label</desy-hint>
        </desy-radio-item>
        <desy-radio-item [id]="itemRadioDataCustom.id"
                         [classes]="itemRadioDataCustom.classes"
                         [name]="itemRadioDataCustom.name"
                         [conditional]="itemRadioDataCustom.conditional"
                         [disabled]="itemRadioDataCustom.disabled"
                         [value]="itemRadioDataCustom.value"
                         [(checked)]="itemChecked"
                         (checkedChange)="detectChanges($event)"
                         [divider]="itemRadioDataCustom.divider"
                         [role]="role"
                         [ariaLabel]="ariaLabel"
                         [ariaLabelledBy]="ariaLabelledBy"
                         [ariaHidden]="ariaHidden"
                         [ariaDisabled]="ariaDisabled"
                         [ariaControls]="ariaControls"
                         [ariaCurrent]="ariaCurrent"
                         [ariaLive]="ariaLive"
                         [ariaExpanded]="ariaExpanded"
                         [ariaErrorMessage]="ariaErrorMessage"
                         [ariaHasPopup]="ariaHasPopup"
                         [tabindex]="tabindex">
          <desy-label [classes]="itemRadioDataCustom.labelData.classes">
            <ng-container *appCustomInnerContent="{ html: itemRadioDataCustom.html }"></ng-container>
          </desy-label>
          <desy-hint [classes]="itemRadioDataCustom.hintData.classes">
            <ng-container *appCustomInnerContent="{ html: itemRadioDataCustom.hintData.html }"></ng-container>
          </desy-hint>
          <desy-content>Contenido condicional</desy-content>
        </desy-radio-item>
      </desy-radios>
      <p *ngIf="valueContent">Valores: {{valueContent}}</p>
    </desy-content>
  </desy-radio-item>

  <desy-radio-item value="form"
                   [conditional]="true">
    <desy-label>Ejemplo con formulario y condicionales con desyCondition</desy-label>
    <desy-content>
      <form [formGroup]="form">
        <desy-radios formControlName="valueFormControl"
                     [formGroupClasses]="formGroupContactClasses"
                     idPrefix="how-contacted"
                     name="how-contacted">
          <desy-legend>How do you want to be contacted?</desy-legend>

          <desy-radio-item *ngFor="let item of itemsContact"
                           [value]="item.value"
                           [conditional]="item.conditional">
            <desy-label>
              <ng-container *appCustomInnerContent="{ html: item.html }"></ng-container>
            </desy-label>
            <desy-content>
              <ng-container *ngTemplateOutlet="item.conditionalHtml"></ng-container>
            </desy-content>
          </desy-radio-item>

          <ng-template desyCondition
                       value="email"
                       [items]="itemsContact">
            <desy-input id="context-email"
                        name="context-email"
                        placeholder="ejemplo@email.es"
                        formControlName="email">
                        <desy-label>E-mail</desy-label>
              <desy-error-message *ngIf="email.invalid">No es un email</desy-error-message>
            </desy-input>
          </ng-template>

          <ng-template desyCondition
                       value="phone"
                       [items]="itemsContact">
            <desy-input id="context-phone"
                        name="contact-phone"
                        formControlName="phone">
                        <desy-label>Phone number</desy-label>
              <desy-error-message *ngIf="phone.invalid">Longitud minima 9</desy-error-message>
            </desy-input>
          </ng-template>

          <ng-template desyCondition
                       value="text"
                       [items]="itemsContact">
            <desy-input id="contact-text-message"
                        name="contact-text-message"
                        formControlName="phoneTxt">
                        <desy-label>Mobile phone number</desy-label>
              <desy-error-message *ngIf="phoneTxt.invalid">Longitud minima 9</desy-error-message>
            </desy-input>
          </ng-template>

        </desy-radios>
      </form>
      <p> Contacto: {{form.value.valueFormControl}}</p>
      <p> email: {{form.value.email}}</p>
      <p> telefono: {{form.value.phone}}</p>
      <p> telefono movil: {{form.value.phoneTxt}}</p>
      <p> Valido: {{form.valid ? 'Sí' : 'No'}}</p>
      <p> Touched Form: {{form.touched}}</p>
      <p> Dirty: {{form.dirty}}</p>
    </desy-content>
  </desy-radio-item>
</desy-radios>
<p *ngIf="mainValue">Value: {{ mainValue }}</p>

<app-spaced [withBorder]="true"></app-spaced>

<!-- Configuración -->
<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text [nameComponent]="nameComponent" placeholder="w-100 ..." nameProperty="formGroupClasses" [(target)]="formGroupClasses"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="idPrefix" [(target)]="idPrefix"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"></app-input-text>
        <app-input-boolean [nameComponent]="nameComponent" nameProperty="hasDividers" [(target)]="hasDividers"></app-input-boolean>
        <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="classes"></app-input-text>
        <app-input-text [nameComponent]="nameComponent" nameProperty="id" [(target)]="id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [(ariaDescribedBy)]="ariaDescribedBy"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [(ariaErrorMessage)]="ariaErrorMessage"
                            [(ariaHasPopup)]="ariaHasPopup"
           [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
      <app-title-params  titleparams="Parámetros de un radio"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="itemRadio" nameProperty="html" [(target)]="itemRadioDataCustom.html"></app-input-text>
        <app-input-text nameComponent="itemRadio" nameProperty="id" [(target)]="itemRadioDataCustom.id"></app-input-text>
        <app-input-text nameComponent="itemRadio" nameProperty="value" [(target)]="itemRadioDataCustom.value"></app-input-text>
        <app-input-text nameComponent="labelData" nameProperty="labelData.classes" [(target)]="itemRadioDataCustom.labelData.classes"></app-input-text>
        <app-input-text nameComponent="hintData"  nameProperty="hintData.html" [(target)]="itemRadioDataCustom.hintData.html"></app-input-text>
        <app-input-text nameComponent="hintData"  placeholder="text-primary-base uppercase ..." nameProperty="hintData.classes" [(target)]="itemRadioDataCustom.hintData.classes"></app-input-text>
        <app-input-text nameComponent="itemRadio" nameProperty="divider" [(target)]="itemRadioDataCustom.divider"></app-input-text>
        <app-input-boolean nameComponent="itemRadio" nameProperty="checked" [(target)]="itemChecked"></app-input-boolean>
        <app-input-boolean nameComponent="itemRadio" nameProperty="conditional" [(target)]="itemRadioDataCustom.conditional"></app-input-boolean>
        <app-input-boolean nameComponent="itemRadio" nameProperty="disabled" [(target)]="itemRadioDataCustom.disabled"></app-input-boolean>
        <app-input-text nameComponent="itemRadio" nameProperty="classes" [(target)]="itemRadioDataCustom.classes"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de un radio" id="itemRadio"
                            [(role)]="itemRadioDataCustom.role"
                            [(ariaLabel)]="itemRadioDataCustom.ariaLabel"
                            [(ariaDescribedBy)]="itemRadioDataCustom.ariaDescribedBy"
                            [(ariaLabelledBy)]="itemRadioDataCustom.ariaLabelledBy"
                            [(ariaHidden)]="itemRadioDataCustom.ariaHidden"
                            [(ariaDisabled)]="itemRadioDataCustom.ariaDisabled"
                            [(ariaControls)]="itemRadioDataCustom.ariaControls"
                            [(ariaCurrent)]="itemRadioDataCustom.ariaCurrent"
                            [(ariaLive)]="itemRadioDataCustom.ariaLive"
                            [(ariaExpanded)]="itemRadioDataCustom.ariaExpanded"
                            [(ariaErrorMessage)]="itemRadioDataCustom.ariaErrorMessage"
                            [(ariaHasPopup)]="itemRadioDataCustom.ariaHasPopup"
           [(tabindex)]="itemRadioDataCustom.tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de fieldset"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="fieldset" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="fieldsetData.classes"></app-input-text>
        <app-input-text nameComponent="fieldset" nameProperty="id" [(target)]="fieldsetData.id"></app-input-text>

        <app-title-params titleparams="Parámetros de legend"></app-title-params>
        <app-input-text nameComponent="legend" nameProperty="html" [(target)]="fieldsetData.legend.html"></app-input-text>
        <app-input-text nameComponent="legend" placeholder="text-primary-base ..." nameProperty="classes" [(target)]="fieldsetData.legend.classes"></app-input-text>
        <app-input-boolean nameComponent="legend" nameProperty="isPageHeading" [(target)]="fieldsetData.legend.isPageHeading"></app-input-boolean>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de fieldset" id="fieldset"
                            [(role)]="fieldsetData.role"
                            [(ariaLabel)]="fieldsetData.ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="fieldsetData.ariaLabelledBy"
                            [(ariaHidden)]="fieldsetData.ariaHidden"
                            [(ariaDisabled)]="fieldsetData.ariaDisabled"
                            [(ariaControls)]="fieldsetData.ariaControls"
                            [(ariaCurrent)]="fieldsetData.ariaCurrent"
                            [(ariaLive)]="fieldsetData.ariaLive"
                            [(ariaExpanded)]="fieldsetData.ariaExpanded"
                            [hideAriaErrorMessage]="true"
                            [(ariaHasPopup)]="fieldsetData.ariaHasPopup"
                            [(tabindex)]="fieldsetData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint" nameProperty="html" [(target)]="hintData.html"></app-input-text>
        <app-input-text nameComponent="hint" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="hintData.classes"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="hintData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="errorMessage" nameProperty="html" [(target)]="errorMessageData.html"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText" [(target)]="errorMessageData.visuallyHiddenText"></app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..." nameProperty="classes" [(target)]="errorMessageData.classes"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>
</div>


