<ng-template #content>
  <ng-container *ngIf="items && itemTemplate">
    <ng-container *ngFor="let item of items">
      <ng-container *ngTemplateOutlet="itemTemplate; context: {item: item}"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
