<ng-template #commonHtml>
  <p *ngIf="titleComponent || titleStatus" [class]="titleStatus ?  titleStatus.classes : 'my-sm'">
     <ng-container *desyCustomInnerContent="{
        component: titleComponent,
        html: titleStatus ? titleStatus.html : null,
        text: titleStatus ? titleStatus.text : null
      }"></ng-container>
  </p>

  <ng-container *ngIf="hintComponent">
      <ng-content select="desy-hint"></ng-content>
  </ng-container>
  <ng-container *ngIf="!hintComponent && hint">
    <desy-hint [text]="hint.text" [html]="hint.html" [classes]="hint.classes" [id]="hint.id"
               [role]="hint.role"
               [ariaLabel]="hint.ariaLabel"
               [ariaDescribedBy]="(hint.ariaDescribedBy ? hint.ariaDescribedBy + '' + hint.id : hint.id)"
               [ariaLabelledBy]="hint.ariaLabelledBy"
               [ariaHidden]="hint.ariaHidden"
               [ariaDisabled]="hint.ariaDisabled"
               [ariaControls]="hint.ariaControls"
               [ariaCurrent]="hint.ariaCurrent"
               [ariaLive]="hint.ariaLive"
               [ariaExpanded]="hint.ariaExpanded"
               [ariaErrorMessage]="hint.ariaErrorMessage"
               [ariaHasPopup]="hint.ariaHasPopup"
               [tabindex]="hint.tabindex"></desy-hint>
  </ng-container>

  <ng-container *ngIf="errorMessageComponent">
    <ng-content select="desy-error-message"></ng-content>
  </ng-container>
  <ng-container *ngIf="!errorMessageComponent && errorMessage">
    <desy-error-message [text]="errorMessage.text" [html]="errorMessage.html"
                        [visuallyHiddenText]="errorMessage.visuallyHiddenText"
                        [id]="(errorId ? errorId : id + '-error')" [classes]="errorMessage.classes"
                        [role]="errorMessage.role"
                        [ariaLabel]="errorMessage.ariaLabel"
                        [ariaDescribedBy]="(errorMessage.ariaDescribedBy ? errorMessage.ariaDescribedBy + '' + errorId : errorId)"
                        [ariaLabelledBy]="errorMessage.ariaLabelledBy"
                        [ariaHidden]="errorMessage.ariaHidden"
                        [ariaDisabled]="errorMessage.ariaDisabled"
                        [ariaControls]="errorMessage.ariaControls"
                        [ariaCurrent]="errorMessage.ariaCurrent"
                        [ariaLive]="errorMessage.ariaLive"
                        [ariaExpanded]="errorMessage.ariaExpanded"
                        [ariaErrorMessage]="errorMessage.ariaErrorMessage"
                        [ariaHasPopup]="errorMessage.ariaHasPopup"
                        [tabindex]="errorMessage.tabindex"></desy-error-message>
  </ng-container>
</ng-template>

<div class="lg:flex lg:justify-between lg:items-start -my-px px-base py-sm border-t border-b border-neutral-base">
  <ng-container *ngIf="getItems(); else noItems">
    <div class="lg:w-2/3">
      <ng-container *ngTemplateOutlet="commonHtml"></ng-container>
      <dl>
        <div *ngFor="let item of getItems()"
            [class]="(item.classes ? 'flex lg-flex-wrap ' + item.classes : 'flex lg-flex-wrap')"
            [attr.id]="item.id ? item.id : null"
            [desyAppAccessibility]="item">
          <dt [class]="(item.term.classes ?  item.term.classes : 'w-1/2 my-sm')"
              [attr.id]="item.term.id ? item.term.id : null"
              [desyAppAccessibility]="item.term">
              <ng-container *desyCustomInnerContent="{ component: item.term, html: item.term.html, text: item.term.text}"></ng-container>
          </dt>
          <dd [class]="(item.definition.classes ?  item.definition.classes : 'w-1/2 my-sm font-semibold')"
              [attr.id]="item.definition.id ? item.definition.id : null"
              [desyAppAccessibility]="item.definition">
              <ng-container *desyCustomInnerContent="{ component: item.definition, html: item.definition.html, text: item.definition.text}"></ng-container>
          </dd>
        </div>
      </dl>
    </div>
  </ng-container>
  <ng-template #noItems>
    <div class="lg:w-2/3">
      <ng-container *ngTemplateOutlet="commonHtml"></ng-container>
    </div>
  </ng-template>

  <div class="lg:flex lg:flex-wrap lg:items-center lg:1/3">

    <div *ngIf="contentComponent || caller" [id]="id + '-status-item'"
          [class]="'w-full lg:w-auto lg:text-right mt-base lg:mt-0 mb-base lg:mb-0'">
      <ng-container *desyCustomInnerContent="{ component: contentComponent, template: caller }"></ng-container>
    </div>

    <div *ngIf="statusComponent || status" class="mb-base lg:mb-0 ml-base py-sm">
      <ng-container *ngIf="statusComponent">
        <ng-content select="desy-status"></ng-content>
      </ng-container>
      <desy-status *ngIf="!statusComponent && status"
                    [text]="status.text" [icon]="status.icon" [classes]="status.classes" [id]="status.id"
                    [role]="status.role"
                    [ariaLabel]="status.ariaLabel"
                    [ariaDescribedBy]="status.ariaDescribedBy"
                    [ariaLabelledBy]="status.ariaLabelledBy"
                    [ariaHidden]="status.ariaHidden"
                    [ariaDisabled]="status.ariaDisabled"
                    [ariaControls]="status.ariaControls"
                    [ariaCurrent]="status.ariaCurrent"
                    [ariaLive]="status.ariaLive"
                    [ariaExpanded]="status.ariaExpanded"
                    [ariaErrorMessage]="status.ariaErrorMessage"
                    [ariaHasPopup]="status.ariaHasPopup"
                    [tabindex]="status.tabindex"></desy-status>
    </div>
  </div>
</div>