<button #dropdownBtn (click)="onClick($event)"
      ngxTippy [tippyProps]="tippyProperties"
      [class]="['c-dropdown', classes] | makeHtmlList"
      [disabled]="isDisabled() ? true : null"
      aria-haspopup="true"
      [attr.aria-disabled]="isDisabled() ? 'true' : (ariaDisabled ? ariaDisabled : null)"
      [attr.aria-expanded]="isOpen"
      [attr.id]="id ? id : null"
      [desyAppAccessibility]="this"
      [attr.tabIndex]="isDisabled() ? '-1' : tabindex">
  <span class="inline-flex self-center max-w-xs align-middle truncate">
    <ng-container *desyCustomInnerContent="{ html: html, text: text }"></ng-container>
    <ng-content></ng-content>
  </span>
  <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
</button>
<span *ngIf="hiddenText" class="sr-only">{{ hiddenText }}</span>
<div #dropdownContent [class]="['-ml-sm mt-2 border border-neutral-base shadow-md bg-white', classesTooltip] | makeHtmlList">
  <ng-container *ngTemplateOutlet="caller"></ng-container>
  <ng-container *desyCustomInnerContent="{ component: contentComponent }"></ng-container>
</div>