<app-title-demo [name]="nameComponent"></app-title-demo>

<app-implementation-info info="File-upload configurable con ngModel"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml0" [codeTs]="mostrarCodigo.codigoTs0"></app-show-code>
<desy-file-upload [id]="id + '-withNgModelContent'"
                  [classes]="classes"
                  [name]="name"
                  [(ngModel)]="value"
                  [describedBy]="describedBy"
                  [formGroupClasses]="formGroupClasses"
                  [role]="role"
                  [ariaLabel]="ariaLabel"
                  [ariaLabelledBy]="ariaLabelledBy"
                  [ariaHidden]="ariaHidden"
                  [ariaDisabled]="ariaDisabled"
                  [ariaControls]="ariaControls"
                  [ariaCurrent]="ariaCurrent"
                  [ariaLive]="ariaLive"
                  [ariaExpanded]="ariaExpanded"
                  [ariaHasPopup]="ariaHasPopup"
                  [tabindex]="tabindex"
                  [accept]="accept">
  <desy-label [classes]="labelData.classes"
              [isPageHeading]="labelData.isPageHeading"
              [headingLevel]="labelData.headingLevel"
              [for]="labelData.for"
              [id]="labelData.id"
              [role]="labelData.role"
              [ariaLabel]="labelData.ariaLabel"
              [ariaDescribedBy]="labelData.ariaDescribedBy"
              [ariaLabelledBy]="labelData.ariaLabelledBy"
              [ariaHidden]="labelData.ariaHidden"
              [ariaDisabled]="labelData.ariaDisabled"
              [ariaControls]="labelData.ariaControls"
              [ariaCurrent]="labelData.ariaCurrent"
              [ariaLive]="labelData.ariaLive"
              [ariaExpanded]="labelData.ariaExpanded"
              [ariaErrorMessage]="labelData.ariaErrorMessage"
              [ariaHasPopup]="labelData.ariaHasPopup"
              [tabindex]="labelData.tabindex">
    <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
  </desy-label>
  <desy-hint [classes]="hintData.classes"
             [id]="hintData.id"
             [role]="hintData.role"
             [ariaLabel]="hintData.ariaLabel"
             [ariaDescribedBy]="hintData.ariaDescribedBy"
             [ariaLabelledBy]="hintData.ariaLabelledBy"
             [ariaHidden]="hintData.ariaHidden"
             [ariaDisabled]="hintData.ariaDisabled"
             [ariaControls]="hintData.ariaControls"
             [ariaCurrent]="hintData.ariaCurrent"
             [ariaLive]="hintData.ariaLive"
             [ariaExpanded]="hintData.ariaExpanded"
             [ariaErrorMessage]="hintData.ariaErrorMessage"
             [ariaHasPopup]="hintData.ariaHasPopup"
             [tabindex]="hintData.tabindex">
    <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
  </desy-hint>
  <desy-error-message [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                      [id]="errorMessageData.id"
                      [classes]="errorMessageData.classes"
                      [role]="errorMessageData.role"
                      [ariaLabel]="errorMessageData.ariaLabel"
                      [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                      [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                      [ariaHidden]="errorMessageData.ariaHidden"
                      [ariaDisabled]="errorMessageData.ariaDisabled"
                      [ariaControls]="errorMessageData.ariaControls"
                      [ariaCurrent]="errorMessageData.ariaCurrent"
                      [ariaLive]="errorMessageData.ariaLive"
                      [ariaExpanded]="errorMessageData.ariaExpanded"
                      [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                      [ariaHasPopup]="errorMessageData.ariaHasPopup"
                      [tabindex]="errorMessageData.tabindex">
    <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
  </desy-error-message>
</desy-file-upload>
<p *ngIf="!value">Sin archivo</p>
<p *ngIf="value"> Nombre del archivo: {{ value.name }}</p>
<p *ngIf="value"> Tamaño del archivo: {{ value.size }}</p>
<p *ngIf="value"> Tipo de archivo: {{ value.type }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="File-upload configurable con reactiveForm"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml1" [codeTs]="mostrarCodigo.codigoTs1"></app-show-code>
<form [formGroup]="form">
  <desy-file-upload formControlName="valueFormControl"
                    [id]="id + '-withReactiveFormContent'"
                    [classes]="classes"
                    [name]="name"
                    [formGroupClasses]="formGroupClasses"
                    [describedBy]="describedBy"
                    [role]="role"
                    [ariaLabel]="ariaLabel"
                    [ariaLabelledBy]="ariaLabelledBy"
                    [ariaHidden]="ariaHidden"
                    [ariaDisabled]="ariaDisabled"
                    [ariaControls]="ariaControls"
                    [ariaCurrent]="ariaCurrent"
                    [ariaLive]="ariaLive"
                    [ariaExpanded]="ariaExpanded"
                    [ariaHasPopup]="ariaHasPopup"
                    [tabindex]="tabindex"
                    [accept]="accept">
    <desy-label [classes]="labelData.classes"
                [isPageHeading]="labelData.isPageHeading"
                [headingLevel]="labelData.headingLevel"
                [for]="labelData.for"
                [id]="labelData.id"
                [role]="labelData.role"
                [ariaLabel]="labelData.ariaLabel"
                [ariaDescribedBy]="labelData.ariaDescribedBy"
                [ariaLabelledBy]="labelData.ariaLabelledBy"
                [ariaHidden]="labelData.ariaHidden"
                [ariaDisabled]="labelData.ariaDisabled"
                [ariaControls]="labelData.ariaControls"
                [ariaCurrent]="labelData.ariaCurrent"
                [ariaLive]="labelData.ariaLive"
                [ariaExpanded]="labelData.ariaExpanded"
                [ariaErrorMessage]="labelData.ariaErrorMessage"
                [ariaHasPopup]="labelData.ariaHasPopup"
                [tabindex]="labelData.tabindex">
      <ng-container *appCustomInnerContent="{ html: labelData.html }"></ng-container>
    </desy-label>
    <desy-hint [classes]="hintData.classes"
               [id]="hintData.id"
               [role]="hintData.role"
               [ariaLabel]="hintData.ariaLabel"
               [ariaDescribedBy]="hintData.ariaDescribedBy"
               [ariaLabelledBy]="hintData.ariaLabelledBy"
               [ariaHidden]="hintData.ariaHidden"
               [ariaDisabled]="hintData.ariaDisabled"
               [ariaControls]="hintData.ariaControls"
               [ariaCurrent]="hintData.ariaCurrent"
               [ariaLive]="hintData.ariaLive"
               [ariaExpanded]="hintData.ariaExpanded"
               [ariaErrorMessage]="hintData.ariaErrorMessage"
               [ariaHasPopup]="hintData.ariaHasPopup"
               [tabindex]="hintData.tabindex">
      <ng-container *appCustomInnerContent="{ html: hintData.html }"></ng-container>
    </desy-hint>
    <desy-error-message [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
                        [id]="errorMessageData.id"
                        [classes]="errorMessageData.classes"
                        [role]="errorMessageData.role"
                        [ariaLabel]="errorMessageData.ariaLabel"
                        [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
                        [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
                        [ariaHidden]="errorMessageData.ariaHidden"
                        [ariaDisabled]="errorMessageData.ariaDisabled"
                        [ariaControls]="errorMessageData.ariaControls"
                        [ariaCurrent]="errorMessageData.ariaCurrent"
                        [ariaLive]="errorMessageData.ariaLive"
                        [ariaExpanded]="errorMessageData.ariaExpanded"
                        [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
                        [ariaHasPopup]="errorMessageData.ariaHasPopup"
                        [tabindex]="errorMessageData.tabindex">
      <ng-container *appCustomInnerContent="{ html: errorMessageData.html }"></ng-container>
    </desy-error-message>
  </desy-file-upload>
</form>
<p *ngIf="!form.value.valueFormControl">Sin archivo</p>
<p *ngIf="form.value.valueFormControl"> Nombre del archivo: {{ form.value.valueFormControl.name }}</p>
<p *ngIf="form.value.valueFormControl"> Tamaño del archivo: {{ form.value.valueFormControl.size }}</p>
<p *ngIf="form.value.valueFormControl"> Tipo de archivo: {{ form.value.valueFormControl.type }}</p>
<app-spaced [withBorder]="true"></app-spaced>

<app-implementation-info info="File-upload simple"></app-implementation-info>
<app-show-code [codeHtml]="mostrarCodigo.codigoHtml2" [codeTs]="mostrarCodigo.codigoTs2"></app-show-code>
<desy-file-upload [(ngModel)]="value"></desy-file-upload>

<div class="c-form-group grid grid-cols-2 gap-base">
  <div>
    <app-title-params></app-title-params>

    <app-input-text [nameComponent]="nameComponent" nameProperty="name" [(target)]="name"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..."
                    nameProperty="formGroupClasses" [(target)]="formGroupClasses"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" placeholder="text-primary-base uppercase ..."
                    nameProperty="classes" [(target)]="classes"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="Id" [(target)]="id"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="describedBy"
                    [(target)]="describedBy"></app-input-text>
    <app-input-text [nameComponent]="nameComponent" nameProperty="accept"
                    [(target)]="accept"></app-input-text>

  </div>

  <app-accessibility-inputs [(role)]="role"
                            [(ariaLabel)]="ariaLabel"
                            [hideAriaDescribedBy]="true"
                            [(ariaLabelledBy)]="ariaLabelledBy"
                            [(ariaHidden)]="ariaHidden"
                            [(ariaDisabled)]="ariaDisabled"
                            [(ariaControls)]="ariaControls"
                            [(ariaCurrent)]="ariaCurrent"
                            [(ariaLive)]="ariaLive"
                            [(ariaExpanded)]="ariaExpanded"
                            [hideAriaErrorMessage]="true"
                            [(ariaHasPopup)]="ariaHasPopup"
                            [(tabindex)]="tabindex"></app-accessibility-inputs>

  <div>
    <app-title-params titleparams="Parámetros de label"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="label" nameProperty="html" [(target)]="labelData.html"></app-input-text>
        <app-input-text nameComponent="label" nameProperty="for" [(target)]="labelData.for"></app-input-text>
        <app-input-text nameComponent="label" placeholder="inline-block bg-warning-light ..." nameProperty="classes" [(target)]="labelData.classes"></app-input-text>
        <app-input-text nameComponent="label" nameProperty="Id" [(target)]="labelData.id"></app-input-text>
        <app-input-boolean nameComponent="label" nameProperty="isPageHeading" [(target)]="labelData.isPageHeading"></app-input-boolean>
        <app-input-number [nameComponent]="nameComponent" nameProperty="headingLevel" [(target)]="labelData.headingLevel"> </app-input-number>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de label" id="label"
                            [(role)]="labelData.role"
                            [(ariaLabel)]="labelData.ariaLabel"
                            [(ariaDescribedBy)]="labelData.ariaDescribedBy"
                            [(ariaLabelledBy)]="labelData.ariaLabelledBy"
                            [(ariaHidden)]="labelData.ariaHidden"
                            [(ariaDisabled)]="labelData.ariaDisabled"
                            [(ariaControls)]="labelData.ariaControls"
                            [(ariaCurrent)]="labelData.ariaCurrent"
                            [(ariaLive)]="labelData.ariaLive"
                            [(ariaExpanded)]="labelData.ariaExpanded"
                            [(ariaErrorMessage)]="labelData.ariaErrorMessage"
                            [(ariaHasPopup)]="labelData.ariaHasPopup"
                            [(tabindex)]="labelData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de hint"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <app-input-text nameComponent="hint" nameProperty="html" [(target)]="hintData.html"></app-input-text>
        <app-input-text nameComponent="hint" placeholder="text-primary-base uppercase ..." nameProperty="classes"
                        [(target)]="hintData.classes"></app-input-text>
        <app-input-text nameComponent="hint" nameProperty="Id" [(target)]="hintData.id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de hint" id="hint"
                            [(role)]="hintData.role"
                            [(ariaLabel)]="hintData.ariaLabel"
                            [(ariaDescribedBy)]="labelData.ariaDescribedBy"
                            [(ariaLabelledBy)]="hintData.ariaLabelledBy"
                            [(ariaHidden)]="hintData.ariaHidden"
                            [(ariaDisabled)]="hintData.ariaDisabled"
                            [(ariaControls)]="hintData.ariaControls"
                            [(ariaCurrent)]="hintData.ariaCurrent"
                            [(ariaLive)]="hintData.ariaLive"
                            [(ariaExpanded)]="hintData.ariaExpanded"
                            [(ariaErrorMessage)]="hintData.ariaErrorMessage"
                            [(ariaHasPopup)]="hintData.ariaHasPopup"
                            [(tabindex)]="hintData.tabindex"></app-accessibility-inputs>


  <div>
    <app-title-params titleparams="Parámetros de error"></app-title-params>
    <details>
      <summary
        class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">

        <app-input-text nameComponent="errorMessage" nameProperty="html"
                        [(target)]="errorMessageData.html"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="visuallyHiddenText"
                        [(target)]="errorMessageData.visuallyHiddenText"></app-input-text>
        <app-input-text nameComponent="errorMessage" placeholder="text-primary-base uppercase ..."
                        nameProperty="classes" [(target)]="errorMessageData.classes"></app-input-text>
        <app-input-text nameComponent="errorMessage" nameProperty="Id" [(target)]="id"></app-input-text>
      </div>
    </details>
  </div>

  <app-accessibility-inputs title="Parámetros de accesibilidad de errorMessage" id="error"
                            [(role)]="errorMessageData.role"
                            [(ariaLabel)]="errorMessageData.ariaLabel"
                            [(ariaDescribedBy)]="errorMessageData.ariaDescribedBy"
                            [(ariaLabelledBy)]="errorMessageData.ariaLabelledBy"
                            [(ariaHidden)]="errorMessageData.ariaHidden"
                            [(ariaDisabled)]="errorMessageData.ariaDisabled"
                            [(ariaControls)]="errorMessageData.ariaControls"
                            [(ariaCurrent)]="errorMessageData.ariaCurrent"
                            [(ariaLive)]="errorMessageData.ariaLive"
                            [(ariaExpanded)]="errorMessageData.ariaExpanded"
                            [(ariaErrorMessage)]="errorMessageData.ariaErrorMessage"
                            [(ariaHasPopup)]="errorMessageData.ariaHasPopup"
                            [(tabindex)]="errorMessageData.tabindex"></app-accessibility-inputs>

</div>
