<div>
  <app-title-params [titleparams]="title"></app-title-params>
   <details>
      <summary class="inline-block py-sm cursor-pointer focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black">
        <span>Mostrar</span>
      </summary>
      <div class="py-sm">
        <div class="c-form-group">
          <label *ngIf="!hideRole" class="block text-sm" for="{{id}}-role">role</label>
          <input *ngIf="!hideRole" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-role" name="role-name" [ngModel]="role" (ngModelChange)="roleChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaLabel" class="block text-sm" for="{{id}}-ariaLabel">aria-label</label>
          <input *ngIf="!hideAriaLabel" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaLabel" name="label-name" [ngModel]="ariaLabel" (ngModelChange)="ariaLabelChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaDescribedBy" class="block text-sm" for="{{id}}-ariaDescribedBy">aria-describedby</label>
          <input *ngIf="!hideAriaDescribedBy" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaDescribedBy" name="describedby-name" [ngModel]="ariaDescribedBy" (ngModelChange)="ariaDescribedByChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaLabelledBy" class="block text-sm" for="{{id}}-ariaLabelledBy">aria-labelledby</label>
          <input *ngIf="!hideAriaLabelledBy" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaLabelledBy" name="labelledby-name" [ngModel]="ariaLabelledBy" (ngModelChange)="ariaLabelledByChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaHidden" class="block text-sm" for="{{id}}-ariaHidden">aria-hidden</label>
          <input *ngIf="!hideAriaHidden" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaHidden" name="hidden-name" [ngModel]="ariaHidden" (ngModelChange)="ariaHiddenChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaDisabled" class="block text-sm" for="{{id}}-ariaDisabled">aria-disabled</label>
          <input *ngIf="!hideAriaDisabled" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaDisabled" name="disabled-name" [ngModel]="ariaDisabled" (ngModelChange)="ariaDisabledChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaControls" class="block text-sm" for="{{id}}-ariaControls">aria-controls</label>
          <input *ngIf="!hideAriaControls" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaControls" name="controls-name" [ngModel]="ariaControls" (ngModelChange)="ariaControlsChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaCurrent" class="block text-sm" for="{{id}}-ariaCurrent">aria-current</label>
          <input *ngIf="!hideAriaCurrent" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaCurrent" name="current-name" [ngModel]="ariaCurrent" (ngModelChange)="ariaCurrentChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaLive" class="block text-sm" for="{{id}}-ariaLive">aria-live</label>
          <input *ngIf="!hideAriaLive" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaLive" name="live-name" [ngModel]="ariaLive" (ngModelChange)="ariaLiveChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaExpanded" class="block text-sm" for="{{id}}-ariaExpanded">aria-expanded</label>
          <input *ngIf="!hideAriaExpanded" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaExpanded" name="expanded-name" [ngModel]="ariaExpanded" (ngModelChange)="ariaExpandedChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaErrorMessage" class="block text-sm" for="{{id}}-ariaErrorMessage">aria-errormessage</label>
          <input *ngIf="!hideAriaErrorMessage" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaErrorMessage" name="errormssage-name" [ngModel]="ariaErrorMessage" (ngModelChange)="ariaErrorMessageChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideAriaHasPopup" class="block text-sm" for="{{id}}-ariaHasPopup">aria-haspopup</label>
          <input *ngIf="!hideAriaHasPopup" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-ariaHasPopup" name="haspopup-name" [ngModel]="ariaHasPopup" (ngModelChange)="ariaHasPopupChange.emit($event)" type="text">
        </div>
        <div class="c-form-group">
          <label *ngIf="!hideTabindex" class="block text-sm" for="{{id}}-tabindex">tabindex</label>
          <input *ngIf="!hideTabindex" class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base c-input--sm w-full" id="{{id}}-tabindex" name="tabindex-name" [ngModel]="tabindex" (ngModelChange)="tabindexChange.emit($event)" type="text">
        </div>
      </div>
    </details>
</div>
