<ng-content select="desy-label"></ng-content>
<ng-container *ngTemplateOutlet="labelRef"></ng-container>
<desy-label *ngIf="!labelRef && labelData"
            [text]="labelData.text"
            [html]="labelData.html"
            [classes]="labelData.classes"
            [isPageHeading]="labelData.isPageHeading"
            [for]="id"
            [role]="labelData.role"
            [ariaLabel]="labelData.ariaLabel"
            [ariaDescribedBy]="labelData.ariaDescribedBy"
            [ariaLabelledBy]="labelData.ariaLabelledBy"
            [ariaHidden]="labelData.ariaHidden"
            [ariaDisabled]="labelData.ariaDisabled"
            [ariaControls]="labelData.ariaControls"
            [ariaCurrent]="labelData.ariaCurrent"
            [ariaLive]="labelData.ariaLive"
            [ariaExpanded]="labelData.ariaExpanded"
            [ariaErrorMessage]="labelData.ariaErrorMessage"
            [ariaHasPopup]="labelData.ariaHasPopup"
            [tabindex]="labelData.tabindex"></desy-label>
<desy-label *ngIf="!labelRef && !labelData && labelText" [text]="labelText" [for]="id"></desy-label>
<ng-content select="desy-hint"></ng-content>
<ng-container *ngTemplateOutlet="hintRef"></ng-container>
<desy-hint *ngIf="!hintRef && hintData"
            [id]="getHintId()"
            [text]="hintData.text"
            [html]="hintData.html"
            [classes]="hintData.classes"
            [role]="hintData.role"
            [ariaLabel]="hintData.ariaLabel"
            [ariaDescribedBy]="hintData.ariaDescribedBy"
            [ariaLabelledBy]="hintData.ariaLabelledBy"
            [ariaHidden]="hintData.ariaHidden"
            [ariaDisabled]="hintData.ariaDisabled"
            [ariaControls]="hintData.ariaControls"
            [ariaCurrent]="hintData.ariaCurrent"
            [ariaLive]="hintData.ariaLive"
            [ariaExpanded]="hintData.ariaExpanded"
            [ariaErrorMessage]="hintData.ariaErrorMessage"
            [ariaHasPopup]="hintData.ariaHasPopup"
            [tabindex]="hintData.tabindex"></desy-hint>
<desy-hint *ngIf="!hintRef && !hintData && hintText" [text]="hintText" [id]="getHintId()"></desy-hint>
<ng-content select="desy-error-message"></ng-content>
<ng-container *ngTemplateOutlet="errorMessageRef"></ng-container>
<desy-error-message *ngIf="!errorMessageRef && errorMessageData"
            [id]="getErrorId()"
            [text]="errorMessageData.text"
            [html]="errorMessageData.html"
            [classes]="errorMessageData.classes"
            [visuallyHiddenText]="errorMessageData.visuallyHiddenText"
            [role]="errorMessageData.role"
            [ariaLabel]="errorMessageData.ariaLabel"
            [ariaDescribedBy]="errorMessageData.ariaDescribedBy"
            [ariaLabelledBy]="errorMessageData.ariaLabelledBy"
            [ariaHidden]="errorMessageData.ariaHidden"
            [ariaDisabled]="errorMessageData.ariaDisabled"
            [ariaControls]="errorMessageData.ariaControls"
            [ariaCurrent]="errorMessageData.ariaCurrent"
            [ariaLive]="errorMessageData.ariaLive"
            [ariaExpanded]="errorMessageData.ariaExpanded"
            [ariaErrorMessage]="errorMessageData.ariaErrorMessage"
            [ariaHasPopup]="errorMessageData.ariaHasPopup"
            [tabindex]="errorMessageData.tabindex"></desy-error-message>
<desy-error-message *ngIf="!errorMessageRef && !errorMessageData && errorMessageText"
                    [text]="errorMessageText" [id]="getErrorId()"></desy-error-message>


<textarea #textarea
          [class]="['block mt-sm px-base py-sm border-black rounded font-semibold leading-normal placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base', classes] | makeHtmlList"
          [value]="value ? value : ''" (input)="onInput($event)"
          [ngClass]="{'border-alert-base ring-2 ring-alert-base' : hasErrorsMessage()}"
          [rows]="getRows()"
          [attr.id]="id ? id : null"
          [attr.name]="name ? name : null"
          [attr.aria-describedby]="[describedBy, getHintId(), getErrorId()] | makeHtmlList:null"
          [attr.aria-errormessage]="hasErrorsMessage() ? getErrorId() : null"
          [attr.aria-invalid]="hasErrorsMessage() ? true : null"
          [attr.disabled]="disabled ? true : null"
          [attr.maxlength]="maxlength"

          [desyAppAccessibility]="this"></textarea>

