<ng-template #templateNav>
  <ng-content select="desy-nav"></ng-content>
</ng-template>

<ng-template #templateContent>
  <ng-content></ng-content>
</ng-template>

<div class="hidden lg:flex items-center" *ngIf="hasSubnavItems(); else noItems">
  <div class="py-2 relative border-r border-l border-neutral-base">
    <p class="sr-only">Aplicación actual: </p>
    <desy-dropdown [hiddenText]="hiddenText"
                   [classesContainer]="classesContainer"
                   [classesTooltip]="classesTooltip"
                   [classes]="classes ? classes : 'c-dropdown--header'"
                   [caller]="caller"

                   [role]="role"
                   [ariaLabel]="ariaLabel"
                   [ariaDescribedBy]="ariaDescribedBy"
                   [ariaLabelledBy]="ariaLabelledBy"
                   [ariaHidden]="ariaHidden"
                   [ariaDisabled]="ariaDisabled"
                   [ariaControls]="ariaControls"
                   [ariaCurrent]="ariaCurrent"
                   [ariaLive]="ariaLive"
                   [ariaExpanded]="ariaExpanded"
                   [ariaErrorMessage]="ariaErrorMessage"
                   [ariaHasPopup]="ariaHasPopup"
                   [tabindex]="tabindex">
      <ng-container *ngTemplateOutlet="templateContent"></ng-container>
      <ng-template #caller>
        <ng-container *ngTemplateOutlet="templateNav"></ng-container>
      </ng-template>
    </desy-dropdown>
  </div>
</div>
<ng-template #noItems>
  <p class="hidden lg:inline-block align-middle px-3 py-4 border-r border-l border-neutral-base text-sm text-black">
    <span class="sr-only">Aplicación actual: </span>
    <ng-container *ngTemplateOutlet="templateContent"></ng-container>
  </p>
</ng-template>

