  <ng-container *ngIf="getLabelRef()">
    <div [id]="id + '-label'" [class]="['mb-sm', labelComponent ? labelComponent.classes : (labelData ? labelData.classes : null)] | makeHtmlList">
      <ng-container *ngTemplateOutlet="getLabelRef()"></ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!getLabelRef() && (labelData || labelText)">
    <div [id]="id + '-label'" [class]="['mb-sm', labelData ? labelData.classes : null] | makeHtmlList">
      <ng-container *desyCustomInnerContent="{ html: getLabelContent() }"></ng-container>
    </div>
  </ng-container>
  <ul #menubar [id]="id + '-menubar'" class="lg:flex lg:flex-wrap" role="menubar"
      (focusin)="handleMenuFocusIn()"
      (focusout)="handleMenuFocusOut($event)"
      [ngClass]="{ 'focus': isFocused }"
      [attr.aria-label]="ariaLabel ? ariaLabel : null"
      [attr.aria-describedby]="getLabelRef() || labelData || labelText ? id + '-label' : null">
    <ng-container *ngFor="let item of getItems(); index as itemIndex">
      <li class="relative" role="none" desyMenubaritem (contentChanged)="checkChanges()">
        <a *ngIf="item.sub" #link
           role="menuitem" aria-haspopup="true" 
           [attr.aria-expanded]="menuData && menuData[itemIndex] ? menuData[itemIndex].open ? 'true' : 'false' : 'false'"
           (click)="handleMenuItemClick($event, itemIndex)"
           (keydown)="handleMenuItemKeydown($event, itemIndex)"
           (mouseover)="handleMenuItemMouseOver(itemIndex)"
           (desyAttributeChange)="checkChanges()" [attributesToCheck]="'disabled'"
           [id]="getItemId(item, itemIndex)"
           [class]="['c-menubar__button', item.classes] | makeHtmlList"
           [ngClass]="{'c-menubar__button--disabled': item.disabled, 'c-menubar__button--has-selection': item.active}"           
           [attr.aria-disabled]="item.disabled ? item.disabled : (item.ariaDisabled ? item.ariaDisabled : null)"
           [desyAppAccessibility]="item"
           [attr.tabindex]="item.disabled ? -1 : (itemIndex === currentFocusItemIndex ? 0 : -1)">
          <span class="inline-flex self-center max-w-xs align-middle truncate" #itemContentWrapper>
            <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text}"></ng-container>
          </span>
          <svg class="inline-block -mr-2  align-middle -my-px" viewBox="0 0 96 96" aria-hidden="true" fill="currentColor" focusable="false" width="1.5em" height="1.5em"><g><path d="M46.71 58.037a1.823 1.823 0 002.581 0L62.048 45.28a1.823 1.823 0 00-1.29-3.113H35.243a1.823 1.823 0 00-1.291 3.113z"/></g></svg>
        </a>
        <a *ngIf="item.routerLink && !item.sub" #link #itemContentWrapper
           role="menuitem"
           (click)="handleMenuItemClick($event, itemIndex)"
           (keydown)="handleMenuItemKeydown($event, itemIndex)"
           (mouseover)="handleMenuItemMouseOver(itemIndex)"
           (desyAttributeChange)="checkChanges()" [attributesToCheck]="'disabled'"
           [id]="getItemId(item, itemIndex)"
           [routerLink]="item.routerLink"
           [routerLinkActive]="item.routerLinkActiveClasses ? item.routerLinkActiveClasses : []"
           [fragment]="item.fragment"
           [class]="['c-menubar__button', item.classes] | makeHtmlList"
           [ngClass]="{'c-menubar__button--disabled': item.disabled, 'c-menubar__button--has-selection': item.active}"
           [attr.disabled]="item.disabled ? item.disabled : null"
           [attr.aria-disabled]="item.disabled ? item.disabled : (item.ariaDisabled ? item.ariaDisabled : null)"
           [attr.tabindex]="item.disabled ? -1 : (itemIndex === currentFocusItemIndex ? 0 : -1)"
           [attr.target]="item.target ? item.target : null"
           [desyAppAccessibility]="item">
          <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text}"></ng-container>
        </a>
        <a *ngIf="!item.routerLink && item.href && !item.sub" #link #itemContentWrapper
           role="menuitem"
           (click)="handleMenuItemClick($event, itemIndex)"
           (keydown)="handleMenuItemKeydown($event, itemIndex)"
           (mouseover)="handleMenuItemMouseOver(itemIndex)"
           (desyAttributeChange)="checkChanges()" [attributesToCheck]="'disabled'"
           [id]="getItemId(item, itemIndex)"
           [href]="item.href | externalHref"
           [class]="['c-menubar__button', item.classes] | makeHtmlList"
           [ngClass]="{'c-menubar__button--disabled': item.disabled, 'c-menubar__button--has-selection': item.active}"
           [attr.disabled]="item.disabled ? item.disabled : null"
           [attr.aria-disabled]="item.disabled ? item.disabled : (item.ariaDisabled ? item.ariaDisabled : null)"
           [attr.tabindex]="item.disabled ? -1 : (itemIndex === currentFocusItemIndex ? 0 : -1)"
           [attr.target]="item.target ? item.target : null"
           [desyAppAccessibility]="item">
          <ng-container *desyCustomInnerContent="{ component: item, html: item.html, text: item.text}"></ng-container>
        </a>

        <ul *ngIf="item.sub && getItemSubitems(item)" #popupMenu role="menu" tabindex="-1"
            [ngStyle]="getPopupStyle(itemIndex)"
            [class]="['c-menubar__tooltip w-max max-w-64 hidden border border-neutral-base shadow-md bg-white text-sm', item.sub.classes] | makeHtmlList"
            [attr.aria-label]="item.ariaLabel ? item.ariaLabel : (item.sub.ariaLabel ? item.sub.ariaLabel : null)"
            [desyAppAccessibility]="item.sub"
            [attr.aria-expanded]="!!(menuData && menuData[itemIndex].open)">
          <ng-container *ngFor="let subItem of getItemSubitems(item); index as subItemIndex">
            <ng-container [ngSwitch]="subItem.role">
              <li #popupMenuItem *ngSwitchCase="'none'" role="none" tabindex="-1"
                  [id]="getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex))"
                  (click)="handlePopupMenuItemClick(itemIndex, subItemIndex)"
                  (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex)"
                  (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex)">
                <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
              </li>
              <li *ngSwitchCase="'group'" role="none">
                <ul role="group" [id]="getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex))"
                    [attr.aria-label]="subItem.ariaLabel ? subItem.ariaLabel : null">
                  <ng-container *ngFor="let subsubitem of getSubItemSubitems(subItem); index as subsubIndex">
                    <ng-container *ngIf="subsubitem">
                      <li #popupMenuItem [attr.role]="subsubitem.role ? subsubitem.role : null"  tabindex="-1"
                          [id]="getSubItemId(subsubitem, subsubIndex, getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex)))"
                          (click)="handlePopupMenuItemClick(itemIndex, subItemIndex, subsubIndex)"
                          (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex, subsubIndex)"
                          (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex, subsubIndex)"
                          [attr.aria-checked]="getSubSubItemAriaChecked(subsubitem)"
                          class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white">
                        <ng-container *desyCustomInnerContent="{ component: subsubitem, html: subsubitem.html, text: subsubitem.text}"></ng-container>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
              </li>
              <li #popupMenuItem *ngSwitchCase="'menuitem'" role="menuitem" tabindex="-1"
                  (click)="handlePopupMenuItemClick(itemIndex, subItemIndex)"
                  (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex)"
                  (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex)"
                  [id]="getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex))"
                  class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white focus:bg-primary-base focus:text-white focus:outline-none">
                <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
              </li>
              <li #popupMenuItem *ngSwitchCase="'menuitemcheckbox'" role="menuitemcheckbox" tabindex="-1"
                  (click)="handlePopupMenuItemClick(itemIndex, subItemIndex)"
                  (mouseover)="handlePopupMenuItemMouseOver(itemIndex, subItemIndex)"
                  (keydown)="handlePopupMenuItemKeydown($event, itemIndex, subItemIndex)"
                  [id]="getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex))"
                  [attr.aria-checked]="!!subItem.checked"
                  class="flex items-center pr-base pl-lg py-sm cursor-pointer hover:bg-primary-base hover:text-white">
                <ng-container *desyCustomInnerContent="{ component: subItem, html: subItem.html, text: subItem.text}"></ng-container>
              </li>
              <li #popupMenuItem *ngSwitchCase="'separator'" role="separator"
                  [id]="getSubItemId(subItem, subItemIndex, getItemId(item, itemIndex))"
                  class="my-sm border-b border-neutral-base">
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
